﻿@charset "utf-8";
/* CSS Document */

body,div,h1,h2,h3,h4,h5,span,a,dl,dt,dd,ul,ol,li,input,p,select,option,img{padding:0px; margin:0px; border:0px;list-style:none;}
body{
	min-width:1100px;
	}
body{font-size:12px; /* color:#d6cb9c; */ background-color:#f2f2f2; }
a:link,a:visited{text-decoration:none;}
a:hover{ color:#fff; text-decoration:none;}

.header_in{ width:1100px; margin:0 auto; height:66px; position: relative; /* z-index: 10; */ }
.header_in .logo{ margin-top:10px; float:left;}
.header_in_r{ float:right; position:relative; z-index:0; }
.header_in_r li{ float:left; margin-left:-27px;}
.header_in_r li a img{ float:left !important;}
.header_in_r li span{ color:#fff;}
.header_in_r .account_top{padding: 0 25px 0 10px;}
.header_in_r .account_top #top-nav-game{background: url(/images/main-img.png) -682px 0; width: 126px; height: 40px;}
.header_in_r .account_top #top-nav-game:hover{background-position: -682px -70px; margin-top:0px;}

.header_in_r .a01{background: url(/images/main-img.png) -843px 0; width: 80px; height: 40px;    margin-left: 2px;}
.header_in_r .a01:hover{background-position: -843px -70px; margin-top:0px;}

.header_in_r .a02{background: url(/images/main-img.png) -957px 0; width: 80px; height: 40px;}
.header_in_r .a02:hover{background-position: -957px -70px; margin-top:-1px;}

.header_in_r #a03{background: url(/images/main-img.png) -683px -141px; width: 107px; height: 40px;}
.header_in_r #a03:hover{background-position: -683px -212px; margin-top: 0px; }

.header_in_r .account{ position: relative !important; margin-left: -12px;}
.header_in_r .account1{ position: relative !important; margin-left: -12px;}
/*header_in_rightleft*/
.header_in_rightleft{float:right;height: 66px;}
.header_in_rightleft div{
	float:left; 
	background: url(/images/main-img.png);
	height: 66px;
    width: 80px;
    margin-top: 2px;
    }
.header_in_rightleft div.b01{
	background-position: 0 0;
}
.header_in_rightleft div.b01:hover{
	background-position: 0px -91px;
}
.header_in_rightleft div.b02{
	background-position: -117px 0;
}
.header_in_rightleft div.b02:hover{
	background-position: -117px -91px;
}
.header_in_rightleft div.b03{
	background-position: -228px 0;
}
.header_in_rightleft div.b03:hover{
	background-position: -228px -91px;
}
.header_in_rightleft div.b04{
	background-position: -342px 0;
}
.header_in_rightleft div.b04:hover{
	background-position: -342px -91px;
}
.header_in_rightleft div.b05{
	background-position: -456px 0;
}
.header_in_rightleft div.b05:hover{
	background-position: -456px -91px;
}
.header_in_rightleft div.b06{
	background-position: -570px 0;
}
.header_in_rightleft div.b06:hover{
	background-position: -570px -91px;
}
/* .account:hover .account_sub{display:block;} */
.account_sub{ width:540px; height:250px; background:#3c3c3c; border-radius:5px; position:absolute; right:0px; top:47px; z-index:1000; padding:20px; display: none;}
.account_dl01{color:#AD9C73; height:42px; border-bottom:1px solid #585858;  line-height:42px;}
.account_dl01 dt{ font-size:16px;  height:32px; float:left; width:57px; border-right:1px solid #585858; padding-bottom:10px; background:no-repeat left center; padding-left:25px;}
.account_dl02 dt{ background-image:url(/images/index/ico01_r28_c3.png);}
.account_dl03 dt{ background-image:url(/images/index/ico01_r30_c3.png);}
.account_dl04 dt{ background-image:url(/images/index/ico01_r33_c3.png);}
.account_dl05 dt{ background-image:url(/images/index/ico01_r35_c3.png);}
.account_dl01 dd{height:32px; float:left; padding-bottom:10px; padding-left:10px;}
.account_dl01 dd a{ padding:0 10px; background:url(/images/index/ico02-1.jpg) no-repeat right center;}
.account_dl01 dd a:link,.account_dl01 dd a:visited{ color:#fff;}
.account_dl01 dd a:hover{ color:#AD9C73;}
.account_dl06{ border:0px; margin-top:10px; }
.account_dl06 dt{ background:none; padding:0px; width:82px ; border:0px;}
.account_dl06 dd a{ background:url(/images/index/ico03.png) no-repeat left center; padding-left:18px; margin-right:10px;}
.account_dl06 dd .recharge{ background-image:url(/images/index/ico01_r38_c2.png); padding-left:22px; }
.account_dl06 dd .withdraw_deposit{ background-image:url(/images/index/ico01_r41_c3.png); padding-left:22px; }

.account_sub1{ width:960px; height:325px; background:#3c3c3c; border-radius:5px; position:absolute; right:-136px; top:47px; z-index:1000; /* padding:20px; */ display: none;}
/* .account_dl01-1{color:#AD9C73; height:42px; border-bottom:1px solid #585858;  line-height:42px;padding-left: 100px;} */

.account_sub1 .headdp{height: 42px; font-weight: bold; border-radius:5px 5px 0 0;/* float:left; */ line-height: 40px;  border-bottom:1px solid #1d1e1f; background: #333333; border-radius: }
.account_sub1 .headdp p{display: inline-block;}
.account_sub1 .headdp p#head1{width:69%; text-align:center;}
.account_sub1 .headdp p#head1{text-align:center;}

.account_sub1 .leftdp {width: 157px; height:74%; padding:20px; background: #333333; float:left; border-radius: 0 0 0 5px;}
.account_sub1 .leftdp h3{font-size:16px; padding-left:15px;}
.account_sub1 .leftdp .leftdp-down{text-align: center; padding-top:10px;}

.account_sub1 .rightdp{float:left; padding:20px;}
.account_sub1 .rightdp .rightdp-1{color:#AD9C73; height:23px; float:left;/* border-bottom:1px solid #585858; */  line-height:23px;}
.account_sub1 .rightdp .rightdp-1 dt{ font-size:16px;/*   height:32px; width:57px; padding-bottom:10px; */ ; background:url(/images/index/ico01_r25_c4_2.png) no-repeat left center; padding-left:15px;}
.account_sub1 .rightdp .rightdp-1 dd{height:32px; padding-bottom:10px; border-bottom: 1px dotted #585858;}
.account_sub1 .rightdp .rightdp-1 dd a{ padding:0 0; color: #fff;}
.account_sub1 .rightdp .rightdp-1 dd a:link,.account_dl01 dd a:visited{ color:#fff;}
.account_sub1 .rightdp .rightdp-1 dd a:hover{ color:#AD9C73;}
.account_sub1 .rightdp .rightdp-1 dd#row1{padding-top:10px;}

.account_sub1 .rightdp .rightdp-2{color:#AD9C73; height:23px; padding: 32px 0 0 110px;/* border-bottom:1px solid #585858; */  line-height:23px;}
.account_sub1 .rightdp .rightdp-2 dt{ font-size:16px;/*   height:32px; width:57px; padding-bottom:10px; */ background:url(/images/index/ico01_r25_c4_2.png) no-repeat left center; padding-left:15px;}
.account_sub1 .rightdp .rightdp-2 dd{height:32px; padding-bottom:10px; border-bottom: 1px dotted #585858;}
.account_sub1 .rightdp .rightdp-2 dd a{ padding:0 0; color: #fff;}
.account_sub1 .rightdp .rightdp-2 dd a:link,.account_dl01 dd a:visited{ color:#fff;}
.account_sub1 .rightdp .rightdp-2 dd a:hover{ color:#AD9C73;}
.account_sub1 .rightdp .rightdp-2 dd#row1{padding-top:10px;}

.account_sub1 .rightdp1{float:left; padding:20px;}
.account_sub1 .rightdp1 .rightdp1-1{color:#AD9C73; height:23px; float:left;/* border-bottom:1px solid #585858; */  line-height:23px;}
.account_sub1 .rightdp1 .rightdp1-1 dt{ font-size:16px;/*   height:32px; width:57px; padding-bottom:10px; */ background:url(/images/index/ico01_r25_c4_2.png) no-repeat left center; padding-left:15px;}
.account_sub1 .rightdp1 .rightdp1-1 dd{height:32px; padding-bottom:10px; border-bottom: 1px dotted #585858;}
.account_sub1 .rightdp1 .rightdp1-1 dd a{ padding:0 0; color: #fff;}
.account_sub1 .rightdp1 .rightdp1-1 dd a:link,.account_dl01 dd a:visited{ color:#fff;}
.account_sub1 .rightdp1 .rightdp1-1 dd a:hover{ color:#AD9C73;}
.account_sub1 .rightdp1 .rightdp1-1 dd#row1{padding-top:10px;}

.account_sub1 .rightdp2{float:left; padding:20px;}
.account_sub1 .rightdp2 .rightdp2-1{color:#AD9C73; height:23px; float:left;/* border-bottom:1px solid #585858; */  line-height:23px;}
.account_sub1 .rightdp2 .rightdp2-1 dt{ font-size:16px;/*   height:32px; width:57px; padding-bottom:10px; */ background:url(/images/index/ico01_r25_c4_2.png) no-repeat left center; padding-left:15px;}
.account_sub1 .rightdp2 .rightdp2-1 dd{height:32px; padding-bottom:10px; border-bottom: 1px dotted #585858;}
.account_sub1 .rightdp2 .rightdp2-1 dd a{ padding:0 0; color: #fff;}
.account_sub1 .rightdp2 .rightdp2-1 dd a:link,.account_dl01 dd a:visited{ color:#fff;}
.account_sub1 .rightdp2 .rightdp2-1 dd a:hover{ color:#AD9C73;}
.account_sub1 .rightdp2 .rightdp2-1 dd#row1{padding-top:10px;}

.account_sub1 .rightdp3{float:left; padding:20px;}
.account_sub1 .rightdp3 .rightdp3-1{color:#AD9C73; height:23px; float:left;/* border-bottom:1px solid #585858; */  line-height:23px;}
.account_sub1 .rightdp3 .rightdp3-1 dt{ font-size:16px;/*   height:32px; width:57px; padding-bottom:10px; */ background:url(/images/index/ico01_r25_c4_2.png) no-repeat left center; padding-left:15px;}
.account_sub1 .rightdp3 .rightdp3-1 dd{height:32px; padding-bottom:10px; border-bottom: 1px dotted #585858;}
.account_sub1 .rightdp3 .rightdp3-1 dd a{ padding:0 0; color: #fff;}
.account_sub1 .rightdp3 .rightdp3-1 dd a:link,.account_dl01 dd a:visited{ color:#fff;}
.account_sub1 .rightdp3 .rightdp3-1 dd a:hover{ color:#AD9C73;}
.account_sub1 .rightdp3 .rightdp3-1 dd#row1{padding-top:10px;}

.account_sub1 .rightdp4{float:left; padding:20px;}
.account_sub1 .rightdp4 .rightdp4-1{color:#AD9C73; height:23px; float:left;/* border-bottom:1px solid #585858; */  line-height:23px;}
.account_sub1 .rightdp4 .rightdp4-1 dt{ font-size:16px;/*   height:32px; width:57px; padding-bottom:10px; */ background:url(/images/index/ico01_r25_c4_2.png) no-repeat left center; padding-left:15px;}
.account_sub1 .rightdp4 .rightdp4-1 dd{height:32px; padding-bottom:10px; border-bottom: 1px dotted #585858;}
.account_sub1 .rightdp4 .rightdp4-1 dd a{ padding:0 0; color: #fff;}
.account_sub1 .rightdp4 .rightdp4-1 dd a:link,.account_dl01 dd a:visited{ color:#fff;}
.account_sub1 .rightdp4 .rightdp4-1 dd a:hover{ color:#AD9C73;}
.account_sub1 .rightdp4 .rightdp4-1 dd#row1{padding-top:10px;}

.nav{width:1150px; margin:0 auto;  position:relative; z-index:9; height:40px; z-index: 10;}
.nav_l {font-size: 14px;}

.nav_l li{ float:left;}
.nav_l li a{ display:block; margin-right:15px; float:left; line-height:40px; width: 100px; text-align: center; }
.nav_l li a.a00:hover{background-color:#9b9175;}
.nav_l li#user01{ padding-top:12px;}
.nav_l li#amt01{padding-top: 10px; float:left; line-height:30px;}
.nav_l li#amt01 span{color: #f3e3af; padding-right: 7px; }


.nav_r{ float:right;}
.nav_r a{ display:block; float:left; line-height: 40px;}
/* .nav_r .a02{ background-image:url(/images/index/ico05.png);}
.nav_r .a03{ background-image:url(/images/index/ico06.png);} */

.equipment_sub{ display: none; position: absolute; z-index: 8;  top: 49px;width: 240px; height: 170px; background: #ebebeb; right:0;}
.equipment_sub_l{ width: 110px; float: left; padding:10px 5px 0;}
.equipment_sub_l p{ line-height: 20px; color: #252535; text-align: center;}
.equipment_sub_l p span{ color: #515575;}



.footer01 hr#footer-line{ 
	color: #5e5e5e;
	height: 1px;
	margin-bottom: 20px;
}
div#footer{background-color:#f2f2f2;
}
.footer01{height:115px; width:1155px; margin:0 auto; font-weight:bold; text-align:center;}
.footer01_dl01{ width:225px; color:#262626; display: inline-block; }
.footer01_dl01 .p01{ color:#262626; font-size:14px;}
.footer01_dl01 dd a{ display:block; height:40px;text-align:center; line-height:30px; color:#bbbbbb; padding-left:25px; }
.footer01_dl01 dd a:hover{color:#e2e0e0;}

.footer02{ background:#1d1e1f;}
.footer02_in{ width:1160px; margin:0 auto; overflow:hidden;}


.btna input {
    display: block;
    width: 132px;
    height: 49px;
    text-align: center;
    line-height: 32px;
    margin: 0 auto;
    border-width:1px;
    border-style: solid;
    border-color: -webkit-linear-gradient(#fefede, #b1a57a); /* Safari 5.1 - 6.0 */
	  border-color: -o-linear-gradient(#fefede, #b1a57a  ); /* Opera 11.1 - 12.0 */
	  border-color: -moz-linear-gradient(#fefede, #b1a57a  ); /* Firefox 3.6 - 15 */
	  border-color: linear-gradient(#fefede, #b1a57a  ); /* 标准的语法 */
    color: #f3e3af;
    margin-top: 20px;
    cursor: pointer;
     box-shadow: 0px 3px 2px #cccccc;
	  background: -webkit-linear-gradient(#48494a, #202122); /* Safari 5.1 - 6.0 */
	  background: -o-linear-gradient(#48494a, #202122  ); /* Opera 11.1 - 12.0 */
	  background: -moz-linear-gradient(#48494a, #202122  ); /* Firefox 3.6 - 15 */
	  background: linear-gradient(#48494a, #202122  ); /* 标准的语法 */
}


.btna input:hover{
	color:#ffffff;
	background: -webkit-linear-gradient(#9d8e60, #403a24); /* Safari 5.1 - 6.0 */
	  background: -o-linear-gradient(#9d8e60, #403a24  ); /* Opera 11.1 - 12.0 */
	  background: -moz-linear-gradient(#9d8e60, #403a24  ); /* Firefox 3.6 - 15 */
	  background: linear-gradient(#9d8e60, #403a24  ); /* 标准的语法 */
	text-decoration:none;
}
.search_btna { padding-top:0px; padding-left:15px;}
.search_btna input {
    display: block;
    width: 132px;
    height: 42px;
    border-width:1px;
    border-style: solid;
    border-color: -webkit-linear-gradient(#fefede, #b1a57a); /* Safari 5.1 - 6.0 */
	  border-color: -o-linear-gradient(#fefede, #b1a57a  ); /* Opera 11.1 - 12.0 */
	  border-color: -moz-linear-gradient(#fefede, #b1a57a  ); /* Firefox 3.6 - 15 */
	  border-color: linear-gradient(#fefede, #b1a57a  ); /* 标准的语法 */
    
    /* border-radius: 3px; */
    text-align: center;
    line-height: 32px;
    margin: 0 0 0 30px;
    color: #f3e3af;
    cursor: pointer;
    box-shadow: 0px 3px 2px #cccccc;
	background: -webkit-linear-gradient(#48494a, #202122); /* Safari 5.1 - 6.0 */
	  background: -o-linear-gradient(#48494a, #202122  ); /* Opera 11.1 - 12.0 */
	  background: -moz-linear-gradient(#48494a, #202122  ); /* Firefox 3.6 - 15 */
	  background: linear-gradient(#48494a, #202122  ); /* 标准的语法 */
}
.search_btna input:hover{
	color:#ffffff;;
	background: -webkit-linear-gradient(#9d8e60, #403a24); /* Safari 5.1 - 6.0 */
	  background: -o-linear-gradient(#9d8e60, #403a24  ); /* Opera 11.1 - 12.0 */
	  background: -moz-linear-gradient(#9d8e60, #403a24  ); /* Firefox 3.6 - 15 */
	  background: linear-gradient(#9d8e60, #403a24  ); /* 标准的语法 */
	text-decoration:none;
}
/* .search_btna #btn-acnt{padding-left:5px;} */


.mobieimg{
	position:relative;
	
	height:150px;
	
}

.mobieimg:hover .equipment_sub{
	display:block;
	    left: 131px;
    top: -55px;
}
.kongbai{
	position:absolute;
	top: -7px;
	content: "";
    bottom: 100%;
    right: 145px;
    border-width: 0 80px 20px 80px;
    border-style: solid;
    border-color: #333333 transparent;  
}
.kongbai1{
	position:absolute;
	top: -7px;
	content: "";
    bottom: 100%;
    right: 0px;
    border-width: 0 80px 20px 80px;
    border-style: solid;
    border-color: #3c3c3c transparent;  
}
.showcodebox-three {
    padding-left: 46px;
}
.game_page_div{
	color: #211F1F;
    width: 1025px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 20px;
}
.game_page_div1{
	color: #211F1F;
    width: 760px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 20px;
}
.game_page_r_base{
	float: right;
}
.page_list_base{
	margin-bottom: 10px;
    height: 35px;
    line-height: 30px;
    margin: 0;
    padding: 0 5px;
    border-radius: 3px;
    vertical-align: middle;
}
.page_list_base li{
		display: inline-block;
		*zoom: 1;
		*display: inline;
		height: 25px;
		line-height: 25px;
		padding: 0 10px;
		font-size: 12px;
		}
.page_list_base li#bdr{
	    border-radius: 3px;
		box-shadow: 0 2px 2px rgba(0,0,0,0.3), inset 0 2px 0px rgba(255,255,255, 0.8);
		background: rgb(247,247,247); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(225,225,225,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(225,225,225,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(225,225,225,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(225,225,225,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(225,225,225,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(225,225,225,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-8 */
	}
	
	.page_list_base li#bdr:hover{
	    border-radius: 3px;
	    color: white;
		background:#797a7b;
	}
.page_list_base a{
	color:#171735;
}

/* .page_list_base li#bdr-hv{
		border-radius: 3px;
		box-shadow: 0 2px 2px rgba(0,0,0,0.3), inset 0 2px 0px rgba(255,255,255, 0.8);
		height: 25px;
		line-height: 25px;
		padding: 0 10px;
		font-size: 12px;
		opacity:0;
		background: #797a7b;
		
		} */
/* .page_list_base li a#bdr-hv{color:white;}
.page_list_base li#bdr-hv:hover{
		opacity:1;
	} */	
/* 旋转 */
.transition {
	-moz-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.transition:hover{
	 -moz-transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
     -o-transform: rotate(360deg);
     -ms-transform: rotate(360deg);
     transform: rotate(360deg);
}
