.chip,
.global-chip,
.move-chip {
  width: 57px;
  height: 55px;
  opacity: 1; }

.chip-1000_00 {
  background-position: top left; }

.chip-2000_00 {
  background-position: 0 -55px; }

.chip-5000_00 {
  background-position: 0 -110px; }

.chip-10000_00 {
  background-position: 0 -165px; }

.chip-20000_00 {
  background-position: 0 -220px; }

.chip-50000_00 {
  background-position: 0 -275px; }

.chip-100000_00 {
  background-position: 0 -330px; }

.chip-200000_00 {
  background-position: 0 -385px; }

.chip-500000_00 {
  background-position: 0 -440px; }

.chip-1000000_00 {
  background-position: 0 -495px; }

.chip-2000000_00 {
  background-position: 0 -550px; }

.chip-5000000_00 {
  background-position: 0 -605px; }

body .modal-game {
  right: inherit;
  bottom: inherit; }

body #J-tpl-modal-bet-many {
  width: 500px; }

.chips-cont {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .chips-cont #J-chipgroup-cont {
    display: inline-block;
    width: 342px; }
  .chips-cont .btnGroupLeft,
  .chips-cont .btnGroupRight {
    display: inline-block; }
    .chips-cont .btnGroupLeft button,
    .chips-cont .btnGroupRight button {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
  .chips-cont #J-chipgroup-other {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../images/mdice/chipgroup_others_bg.png) repeat top left; }
    .chips-cont #J-chipgroup-other .chip-selected {
      margin-top: 0;
      background-color: #b52d24;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
    .chips-cont #J-chipgroup-other #chipgroup_closeBtn {
      background: url(../images/mdice/chipgroup_closeBtn.png) no-repeat;
      width: 20px;
      height: 20px;
      position: absolute;
      right: -20px;
      top: 0;
      cursor: pointer; }
  .chips-cont .chipRender {
    display: inline-block;
    position: relative;
    margin: 0 5px; }
  .chips-cont .money {
    text-align: left;
    margin-left: 10px; }
  .chips-cont .statics .num {
    font-size: 18px; }
  .chips-cont .moneyBetting {
    margin-bottom: 4px; }
  .chips-cont #J-tpl-modal-max-tip {
    text-align: center; }

.game-table-bg {
  background: url(../images/mdice/table-bg.jpg) center -20px no-repeat; }

#hisResult {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%; }
  #hisResult .history {
    width: 890px;
    margin: 0 auto;
    padding: 0 0 10px 0; }
    #hisResult .history .his-inner {
      border: 1px solid rgba(193, 193, 193, 0.16);
      padding: 10px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.27) inset;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.19); }
    #hisResult .history .cell {
      width: 16px;
      float: left;
      margin-right: 2px; }
    #hisResult .history .cell .sdice {
      display: block;
      width: 16px;
      height: 16px;
      background: url(../images/dice-small.png?v=2) no-repeat;
      margin-bottom: 1px; }
    #hisResult .history .cell .sign {
      display: block;
      width: 16px;
      height: 16px;
      font-style: normal;
      text-align: center;
      line-height: 16px;
      overflow: hidden;
      color: #FFF;
      font-size: 12px;
      margin-top: 2px;
      background: #007042;
      border-radius: 2px; }
    #hisResult .history .cell .sign-baozi {
      background: #333; }
    #hisResult .history .cell .sign-big {
      background: #BA1717; }
    #hisResult .history .cell .sign-small {
      background: #209022; }
    #hisResult .history .cell .sign-odd {
      background: #BA1717; }
    #hisResult .history .cell .sign-even {
      background: #209022; }
    #hisResult .history .cell i.dice-s-1 {
      background-position: 0 0; }
    #hisResult .history .cell i.dice-s-2 {
      background-position: -17px 0; }
    #hisResult .history .cell i.dice-s-3 {
      background-position: -34px 0; }
    #hisResult .history .cell i.dice-s-4 {
      background-position: 0 -17px; }
    #hisResult .history .cell i.dice-s-5 {
      background-position: -17px -17px; }
    #hisResult .history .cell i.dice-s-6 {
      background-position: -34px -17px; }

.game-table {
  margin-top: -85px; }

/*# sourceMappingURL=dice-custom.css.map */
