@import "variables.scss";
@-webkit-keyframes gifbox {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
@-moz-keyframes gifbox {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
@-o-keyframes gifbox {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
@keyframes gifbox {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
#event-tet {
    position: fixed;
    top: 135px;
    left: 1%;
    background: url("../events/src/assets/images/GiftBox.png") no-repeat top left;
    width: 200px;
    height: 183px;
    background-size: contain;
    z-index: 999;
    -webkit-animation: gifbox 2s infinite cubic-bezier(0.18, 0.89, 0.32, 1.28); /* Safari 4+ */
    -moz-animation:    gifbox 2s infinite cubic-bezier(0.18, 0.89, 0.32, 1.28); /* Fx 5+ */
    -o-animation:      gifbox 2s infinite cubic-bezier(0.18, 0.89, 0.32, 1.28); /* Opera 12+ */
    animation:         gifbox 2s infinite cubic-bezier(0.18, 0.89, 0.32, 1.28); /* IE 10+, Fx 29+ */
    &:hover {
        opacity: .8;
    }
}


.homepage {
    background-image: url("#{$appImagePath}events/newyear-2019/bg-homepage.jpg?#{$valTimeStamp}");
    background-position: center -2px;
    background-size: contain;
    .homepage__slide {
        .homepage__slide--inner {
            .sologan__block {
                height: 320px;
                width: 45%;
                background-image: url("#{$appImagePath}events/newyear-2019/sologan.png?#{$valTimeStamp}");
                background-position: top left;
                background-repeat: no-repeat;
                background-size: cover;
                img {
                    display: none;
                }
            }
        }
    }
    .block__items {
        .block__items--inner {
            .box {
                background-color: #027075;
            }
        }
    }
    &.promotionsPage {
        background-size: cover;
    }
}

#footer {
    .bank__demo {
        padding-top: 58px;
        .bg-gooter-bank {
            background-image: url("#{$appImagePath}events/newyear-2019/footer.png?#{$valTimeStamp}");
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 185px;
        }
        img {
            margin: 0 25px 0;
        }
    }
    .footer__bottom {
        background: rgba(18,48,52,1);
        background: -moz-linear-gradient(top, rgba(18,48,52,1) 0%, rgba(12,46,51,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(18,48,52,1)), color-stop(100%, rgba(12,46,51,1)));
        background: -webkit-linear-gradient(top, rgba(18,48,52,1) 0%, rgba(12,46,51,1) 100%);
        background: -o-linear-gradient(top, rgba(18,48,52,1) 0%, rgba(12,46,51,1) 100%);
        background: -ms-linear-gradient(top, rgba(18,48,52,1) 0%, rgba(12,46,51,1) 100%);
        background: linear-gradient(to bottom, rgba(18,48,52,1) 0%, rgba(12,46,51,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#123034', endColorstr='#0c2e33', GradientType=0 );
        color: #a5a5a5;
    }
    .email__footer {
        color: #a5a5a5;
    }
}

#header {
    background-image: url("#{$appImagePath}events/newyear-2019/bg-topheader.jpg?#{$valTimeStamp}");
    background-position: top center;
    background-size: cover;
    height: 58px;
    background-repeat: no-repeat;
    &:before {
        content: "";
        position: absolute;
        top: 47px;
        left: 0;
        width: 191px;
        height: 51px;
        background: url("#{$appImagePath}events/newyear-2019/header-left.png?#{$valTimeStamp}") no-repeat top left;
        background-size: contain;
    }
    &:after {
        content: "";
        position: absolute;
        top: 47px;
        right: 0;
        width: 191px;
        height: 51px;
        background: url("#{$appImagePath}events/newyear-2019/header-right.png?#{$valTimeStamp}") no-repeat top left;
        background-size: contain;
    }
    .logo {
        a {
            width: 175px;
            height: 54px;
            background: url("#{$appImagePath}events/newyear-2019/logo.png?#{$valTimeStamp}") no-repeat center 5px;
            background-size: contain;
            img {
                display: none;
            }
        }
    }
}
#menu {
    .nav__result {
        background: rgba(254,205,99,1);
        background: -moz-linear-gradient(top, rgba(254,205,99,1) 0%, rgba(254,177,11,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,205,99,1)), color-stop(100%, rgba(254,177,11,1)));
        background: -webkit-linear-gradient(top, rgba(254,205,99,1) 0%, rgba(254,177,11,1) 100%);
        background: -o-linear-gradient(top, rgba(254,205,99,1) 0%, rgba(254,177,11,1) 100%);
        background: -ms-linear-gradient(top, rgba(254,205,99,1) 0%, rgba(254,177,11,1) 100%);
        background: linear-gradient(to bottom, rgba(254,205,99,1) 0%, rgba(254,177,11,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fecd63', endColorstr='#feb10b', GradientType=0 );
        li {
            &:hover {
                >a {
                    color: #fff;
                }
            }
            a {
                color: #131313;
                text-shadow: 1px 1px 1px rgba(206, 206, 206, 0.35);
            }
        }
        .hover__faceIn {
            .hover__faceIn--content {
                .tbl__col {
                    &:first-child {
                        background: rgba(254,205,99,1);
                        border-bottom-color: #e2b146;
                        color: #000;
                    }
                }
                .tbl__row {
                    &:hover {
                        .tbl__col {
                            &:first-child {
                                background-color: #ecad23;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}

.btn__login {
    background: rgba(254,205,99,1);
    background: -moz-linear-gradient(top, rgba(254,205,99,1) 0%, rgba(254,177,11,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,205,99,1)), color-stop(100%, rgba(254,177,11,1)));
    background: -webkit-linear-gradient(top, rgba(254,205,99,1) 0%, rgba(254,177,11,1) 100%);
    background: -o-linear-gradient(top, rgba(254,205,99,1) 0%, rgba(254,177,11,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,205,99,1) 0%, rgba(254,177,11,1) 100%);
    background: linear-gradient(to bottom, rgba(254,205,99,1) 0%, rgba(254,177,11,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fecd63', endColorstr='#feb10b', GradientType=0 );
    color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    &:hover {

    }
    &:active {
        background: rgba(255,182,92,.7);
    }
}

@media (max-width: 1600px) {
    #header {
        &:after,
        &:before {
            top: 66px;
            width: 120px;
            height: 33px;
        }
    }
}
@media (min-width: 1900px) {
    #footer {
        .bank__demo {
            .bg-gooter-bank {
                background-size: cover;
                height: 185px;
                background-position: top center;
            }
        }
    }
}

@media (max-width: 1500px) and (min-width: 1366px) {
    .bank__demo .bg-gooter-bank {
        height: 135px;
        background-position: bottom center;
    }
}

@media (max-width: 1366px) {
    #event-tet {
        width: 150px;
        height: 130px;
    }
    #footer .bank__demo .bg-gooter-bank {
        height: 128px;
        background-position: top center;
    }
    .homepage {
        .homepage__slide {
            .swiper-slide {
                .wrap__img {
                    left: 9%;
                }
                &.slide__daily {
                    .wrap__img {
                        left: 12%;
                    }
                }
                &.slide__morebool {
                    .wrap__img {
                        left: 12%;
                    }
                }
            }
        }
    }
    #header {
        &:after,
        &:before {
            display: none;
        }
    }
}

@media (max-height: 900px) {
    .homepage {
        background-position: center -2px;
    }
}