@-webkit-keyframes gifbox {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-10px); } }
@-moz-keyframes gifbox {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-10px); } }
@-o-keyframes gifbox {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-10px); } }
@keyframes gifbox {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-10px); } }
#event-tet {
  position: fixed;
  top: 135px;
  left: 1%;
  background: url("../events/src/assets/images/GiftBox.png") no-repeat top left;
  width: 200px;
  height: 183px;
  background-size: contain;
  z-index: 999;
  -webkit-animation: gifbox 2s infinite cubic-bezier(0.18, 0.89, 0.32, 1.28);
  /* Safari 4+ */
  -moz-animation: gifbox 2s infinite cubic-bezier(0.18, 0.89, 0.32, 1.28);
  /* Fx 5+ */
  -o-animation: gifbox 2s infinite cubic-bezier(0.18, 0.89, 0.32, 1.28);
  /* Opera 12+ */
  animation: gifbox 2s infinite cubic-bezier(0.18, 0.89, 0.32, 1.28);
  /* IE 10+, Fx 29+ */ }
  #event-tet:hover {
    opacity: .8; }

.homepage {
  background-image: url("../images/events/newyear-2019/bg-homepage.jpg?2");
  background-position: center -2px;
  background-size: contain; }
  .homepage .homepage__slide .homepage__slide--inner .sologan__block {
    height: 320px;
    width: 45%;
    background-image: url("../images/events/newyear-2019/sologan.png?2");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover; }
    .homepage .homepage__slide .homepage__slide--inner .sologan__block img {
      display: none; }
  .homepage .block__items .block__items--inner .box {
    background-color: #027075; }
  .homepage.promotionsPage {
    background-size: cover; }

#footer .bank__demo {
  padding-top: 58px; }
  #footer .bank__demo .bg-gooter-bank {
    background-image: url("../images/events/newyear-2019/footer.png?2");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 185px; }
  #footer .bank__demo img {
    margin: 0 25px 0; }
#footer .footer__bottom {
  background: #123034;
  background: -moz-linear-gradient(top, #123034 0%, #0c2e33 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #123034), color-stop(100%, #0c2e33));
  background: -webkit-linear-gradient(top, #123034 0%, #0c2e33 100%);
  background: -o-linear-gradient(top, #123034 0%, #0c2e33 100%);
  background: -ms-linear-gradient(top, #123034 0%, #0c2e33 100%);
  background: linear-gradient(to bottom, #123034 0%, #0c2e33 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#123034', endColorstr='#0c2e33', GradientType=0 );
  color: #a5a5a5; }
#footer .email__footer {
  color: #a5a5a5; }

#header {
  background-image: url("../images/events/newyear-2019/bg-topheader.jpg?2");
  background-position: top center;
  background-size: cover;
  height: 58px;
  background-repeat: no-repeat; }
  #header:before {
    content: "";
    position: absolute;
    top: 47px;
    left: 0;
    width: 191px;
    height: 51px;
    background: url("../images/events/newyear-2019/header-left.png?2") no-repeat top left;
    background-size: contain; }
  #header:after {
    content: "";
    position: absolute;
    top: 47px;
    right: 0;
    width: 191px;
    height: 51px;
    background: url("../images/events/newyear-2019/header-right.png?2") no-repeat top left;
    background-size: contain; }
  #header .logo a {
    width: 175px;
    height: 54px;
    background: url("../images/events/newyear-2019/logo.png?2") no-repeat center 5px;
    background-size: contain; }
    #header .logo a img {
      display: none; }

#menu .nav__result {
  background: #fecd63;
  background: -moz-linear-gradient(top, #fecd63 0%, #feb10b 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fecd63), color-stop(100%, #feb10b));
  background: -webkit-linear-gradient(top, #fecd63 0%, #feb10b 100%);
  background: -o-linear-gradient(top, #fecd63 0%, #feb10b 100%);
  background: -ms-linear-gradient(top, #fecd63 0%, #feb10b 100%);
  background: linear-gradient(to bottom, #fecd63 0%, #feb10b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fecd63', endColorstr='#feb10b', GradientType=0 ); }
  #menu .nav__result li:hover > a {
    color: #fff; }
  #menu .nav__result li a {
    color: #131313;
    text-shadow: 1px 1px 1px rgba(206, 206, 206, 0.35); }
  #menu .nav__result .hover__faceIn .hover__faceIn--content .tbl__col:first-child {
    background: #fecd63;
    border-bottom-color: #e2b146;
    color: #000; }
  #menu .nav__result .hover__faceIn .hover__faceIn--content .tbl__row:hover .tbl__col:first-child {
    background-color: #ecad23;
    color: #000; }

.btn__login {
  background: #fecd63;
  background: -moz-linear-gradient(top, #fecd63 0%, #feb10b 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fecd63), color-stop(100%, #feb10b));
  background: -webkit-linear-gradient(top, #fecd63 0%, #feb10b 100%);
  background: -o-linear-gradient(top, #fecd63 0%, #feb10b 100%);
  background: -ms-linear-gradient(top, #fecd63 0%, #feb10b 100%);
  background: linear-gradient(to bottom, #fecd63 0%, #feb10b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fecd63', endColorstr='#feb10b', GradientType=0 );
  color: #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .btn__login:active {
    background: rgba(255, 182, 92, 0.7); }

@media (max-width: 1600px) {
  #header:after, #header:before {
    top: 66px;
    width: 120px;
    height: 33px; } }
@media (min-width: 1900px) {
  #footer .bank__demo .bg-gooter-bank {
    background-size: cover;
    height: 185px;
    background-position: top center; } }
@media (max-width: 1500px) and (min-width: 1366px) {
  .bank__demo .bg-gooter-bank {
    height: 135px;
    background-position: bottom center; } }
@media (max-width: 1366px) {
  #event-tet {
    width: 150px;
    height: 130px; }

  #footer .bank__demo .bg-gooter-bank {
    height: 128px;
    background-position: top center; }

  .homepage .homepage__slide .swiper-slide .wrap__img {
    left: 9%; }
  .homepage .homepage__slide .swiper-slide.slide__daily .wrap__img {
    left: 12%; }
  .homepage .homepage__slide .swiper-slide.slide__morebool .wrap__img {
    left: 12%; }

  #header:after, #header:before {
    display: none; } }
@media (max-height: 900px) {
  .homepage {
    background-position: center -2px; } }

/*# sourceMappingURL=events.css.map */
