.icons {
    display: inline-block;
    background: url("#{$appImagePath}icons.png?#{$valTimeStamp}") no-repeat top left;
}
.icon__soud {
    width: 20px;
    height: 20px;
    background-position: -24px -2px;
}
.icon__user {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-position: -95px 0px;
}
.icon__eye {
    width: 16px;
    height: 11px;
    background-position: -74px -1px;
}
.icon__logout {
    width: 16px;
    height: 16px;
    position: relative;
    top: -1px;
    background-position: -53px 0px;
    vertical-align: middle;
    margin-right: 5px;
}
.icon__user--1 {
    width: 13px;
    height: 15px;
    background-position: -118px -1px;
}
.icon__app {
    width: 50px;
    height: 50px;
    background-position: -16px -50px;
}



.icons2 {
    display: inline-block;
    background: url("#{$appImagePath}icons2.png?#{$valTimeStamp}") no-repeat top left;
    vertical-align: middle;
}
.icon__report {
    width: 26px;
    height: 27px;
    background-position: top left;
}
.icon__edit {
    width: 28px;
    height: 28px;
    background-position: -1px -128px;
}
.icon__nt {
    width: 28px;
    height: 28px;
    background-position: 0 -32px;
}
.icon__hisbet {
    width: 26px;
    height: 27px;
    background-position: -1px -64px;
}
.icon__chart {
    width: 28px;
    height: 28px;
    background-position: -1px -159px;
}
.icon__reportgroup {
    width: 28px;
    height: 28px;
    background-position: -1px -96px;
}
.icon__gotit {
    width: 22px;
    height: 18px;
    background-position: -58px -1px;
}
.icon__live {
    width: 22px;
    height: 22px;
    background-position: -33px -1px;
}
.icon__qr {
    width: 28px;
    height: 28px;
    background-position: -33px -107px;
}
.icon__chat {
    width: 24px;
    height: 24px;
    background-position: -31px -28px;
}
.icon__download {
    width: 28px;
    height: 26px;
    background-position: -33px -60px;
}
.icon__top {
    width: 23px;
    height: 12px;
    background-position: -35px -91px;
}
.icon-see-balance {
    width: 18px;
    height: 13px;
    background-position: -55px -140px;
}
.icon__cash {
    width: 19px;
    height: 19px;
    background-position: -33px -140px;
}
.icon__letter-2 {
    width: 28px;
    height: 23px;
    background-position: -83px -2px;
}
.icon__withdraw {
    width: 19px;
    height: 19px;
    background-position: -55px -156px;
}
.icon__eye {
    width: 23px;
    height: 23px;
    background-position: -97px -28px;
}
.icon__speedtest {
    width: 29px;
    height: 23px;
    background-position: -96px -102px;
}
.icon__zalo {
    width: 32px;
    height: 31px;
    background-position: -99px -129px;
}
.icon__down--desktop {
    width: 52px;
    height: 52px;
    background-position: -1px -189px;
}
.icon__down--app {
    width: 52px;
    height: 52px;
    background-position: -57px -196px;
}
.icon__down {
    width: 24px;
    height: 24px;
    background-position: -113px -196px;
}



.icon-star:before {
    content: "\e838";
}
.icon-volume_off:before {
    content: "\e04f";
}
.icon-volume_up:before {
    content: "\e050";
}
.icon-error_outline:before {
    content: "\e001";
}
.icon-play_circle_filled:before {
    content: "\e038";
}
.icon-phonelink_setup:before {
    content: "\e0de";
}
.icon-add:before {
    content: "\e145";
}
.icon-remove:before {
    content: "\e15b";
}
.icon-attach_money:before {
    content: "\e227";
}
.icon-keyboard_arrow_down:before {
    content: "\e313";
}
.icon-keyboard_arrow_up:before {
    content: "\e316";
}
.icon-phone_android:before {
    content: "\e324";
}
.icon-navigate_before:before {
    content: "\e408";
}
.icon-navigate_next:before {
    content: "\e409";
}
.icon-portrait:before {
    content: "\e416";
}
.icon-arrow_back:before {
    content: "\e5c4";
}
.icon-arrow_drop_down:before {
    content: "\e5c5";
}
.icon-arrow_drop_up:before {
    content: "\e5c7";
}
.icon-arrow_forward:before {
    content: "\e5c8";
}
.icon-cancel:before {
    content: "\e5c9";
}
.icon-check:before {
    content: "\e5ca";
}
.icon-close:before {
    content: "\e5cd";
}
.icon-refresh:before {
    content: "\e5d5";
}
.icon-arrow_upward:before {
    content: "\e5d8";
}
.icon-arrow_downward:before {
    content: "\e5db";
}
.icon-personal_video:before {
    content: "\e63b";
}
.icon-group_add:before {
    content: "\e7f0";
}
.icon-notifications:before {
    content: "\e7f4";
}
.icon-notifications_none:before {
    content: "\e7f5";
}
.icon-person:before {
    content: "\e7fd";
}
.icon-person_add:before {
    content: "\e7fe";
}
.icon-person_outline:before {
    content: "\e7ff";
}
.icon-share:before {
    content: "\e80d";
}
.icon-android:before {
    content: "\e859";
}
.icon-help:before {
    content: "\e887";
}
.icon-highlight_off:before {
    content: "\e888";
}
.icon-home:before {
    content: "\e88a";
}
.icon-hourglass_empty:before {
    content: "\e88b";
}
.icon-lock_open:before {
    content: "\e898";
}
.icon-lock_outline:before {
    content: "\e899";
}
.icon-schedule:before {
    content: "\e8b5";
}
.icon-search:before {
    content: "\e8b6";
}
.icon-visibility:before {
    content: "\e8f4";
}
.icon-help_outline:before {
    content: "\e8fd";
}
.icon-qa:before {
    content: "\e900";
}
.icon-pictures:before {
    content: "\e901";
}
.icon-chat:before {
    content: "\e902";
}
.icon-funds:before {
    content: "\e903";
}
.icon-funds2:before {
    content: "\e904";
}
.icon-qr-code:before {
    content: "\e905";
}
.icon-recharge:before {
    content: "\e906";
}
.icon-withdrawal:before {
    content: "\e907";
}
.icon-game:before {
    content: "\e908";
}
.icon-warning2:before {
    content: "\e909";
}
.icon-new-message:before {
    content: "\e90a";
}
.icon-calendar:before {
    content: "\e90b";
}
.icon-sitemap:before {
    content: "\e90c";
}
.icon-envelope:before {
    content: "\e90d";
}
.icon-add2:before {
    content: "\e90e";
}
.icon-minus:before {
    content: "\e90f";
}
.icon-pictures2:before {
    content: "\e910";
}
.icon-creditcard:before {
    content: "\e911";
}
.icon-history:before {
    content: "\e912";
}
.icon-group-fulctuation:before {
    content: "\e913";
}
.icon-balance-fulctuations:before {
    content: "\e914";
}
.icon-shuffle:before {
    content: "\e915";
}
.icon-lightning:before {
    content: "\e916";
}
.icon-list:before {
    content: "\e917";
}
.icon-locked:before {
    content: "\e918";
}
.icon-triangle-left:before {
    content: "\e919";
}
.icon-triangle-right:before {
    content: "\e91a";
}
.icon-transfer-money:before {
    content: "\e91b";
}
.icon-qrcode:before {
    content: "\e938";
}
.icon-credit-card:before {
    content: "\e93f";
}
.icon-floppy-disk:before {
    content: "\e962";
}
.icon-pie-chart:before {
    content: "\e99a";
}
.icon-stats-dots:before {
    content: "\e99b";
}
.icon-stats-bars:before {
    content: "\e99c";
}
.icon-bin:before {
    content: "\e9ac";
}
.icon-link:before {
    content: "\e9cb";
}
.icon-warning:before {
    content: "\ea07";
}
.icon-blocked:before {
    content: "\ea0e";
}
.icon-arrow-down:before {
    content: "\ea36";
}
.icon-group:before {
    content: "\f0c0";
}