﻿@charset "utf-8";
/* CSS Document */

body,div,h1,h2,h3,h4,h5,span,a,dl,dt,dd,ul,ol,li,input,p,select,option,img{padding:0px; margin:0px; border:0px;list-style:none;}
body{font-size:14px; color:#dddddd; }
/* body.main-page{background-color: #f2f2f2; height: 100%;} */
a:link,a:visited{text-decoration:none;}
a:hover{ color:#fff; text-decoration:none;}
/*------------首页开始------------------*/
#header{ background:url(/images/index/bg001.jpg) repeat-x ;}
.header_in{ width:100%; background-color: #1e1e1e;}
.wrap-head{ margin:0 auto; width:1130px;}
.header_in .logo{ margin-top:8px; float:left;}
.header_in_r{ float:right;    margin-right: 15px; position:relative; z-index:0; }
.header_in_r li{ float:left;}
.header_in_r li .a01{ display:block;float:left;}
.header_in_r li .a02{ display:block;float:left;}
.header_in_r li span{ color:#fff;}
/* .account_top{ background:url(/images/index/ico01_r5_c3.png) no-repeat right center; padding-right:18px;} */

/* .account_sub{ width:520px; height:250px; background:#f9f9f9; border-radius:3px; position:absolute; right:14px; top:66px; z-index:99;  border:1px solid #535776; padding:20px;}
 */.account_dl01{color:#AD9C73; height:42px; border-bottom:1px solid #585858;  line-height:42px;}
.account_dl01 dt{ font-size:16px;  height:32px; float:left; width:57px; border-right:1px solid #585858; padding-bottom:10px; padding-left:25px;}
.account_dl02 dt{ background-image:url(/images/index/ico01_r28_c3.png);}
.account_dl03 dt{ background-image:url(/images/index/ico01_r30_c3.png);}
.account_dl04 dt{ background-image:url(/images/index/ico01_r33_c3.png);}
.account_dl05 dt{ background-image:url(/images/index/ico01_r35_c3.png);}
.account_dl01 dd{height:32px; float:left; padding-bottom:10px; padding-left:10px;}
.account_dl01 dd a{ padding:0 10px; background:url(/images/index/ico02-1.jpg) no-repeat right center;}
.account_dl01 dd a:link,.account_dl01 dd a:visited{ color:#fff;text-decoration: none;}
.account_dl01 dd a:hover{ color:#AD9C73;}
.account_dl06{ border:0px; margin-top:10px; }
.account_dl06 dt{ background:none; padding:0px; width:82px ; border:0px;}
.account_dl06 dd a{ background:url(/images/index/ico03.png) no-repeat left center; padding-left:18px; margin-right:10px;}
.account_dl06 dd .recharge{ background-image:url(/images/index/ico01_r38_c2.png); padding-left:22px; }
.account_dl06 dd .withdraw_deposit{ background-image:url(/images/index/ico01_r41_c3.png); padding-left:22px; }

.account_dl01-1{color:#AD9C73; height:42px; /* border-bottom:1px solid #585858; */  line-height:42px; padding-left: 100px;}
/* .account_dl01-1 dt{ font-size:16px;  height:32px; display: inline-block; width:57px; border-right:1px solid #585858; padding-bottom:10px; background:url(/images/index/ico01_r25_c4_1.png) no-repeat left center; padding-left:12px;}
.account_dl02-1 dt{ background-image:url(/images/index/ico01_r28_c3.png);}
.account_dl03-1 dt{ background-image:url(/images/index/ico01_r30_c3.png);}
.account_dl04-1 dt{ background-image:url(/images/index/ico01_r33_c3.png);}
.account_dl05-1 dt{ background-image:url(/images/index/ico01_r35_c3.png);}
.account_dl01-1 dd{height:32px; float:left; padding-bottom:10px;}
.account_dl01-1 dd a{ padding:0 10px; background:url(/images/index/ico02-1.jpg) no-repeat right center;}
.account_dl01-1 dd a:link,.account_dl01-1 dd a:visited{ color:#fff;text-decoration: none;}
.account_dl01-1 dd a:hover{ color:#AD9C73;} */
/* .account_dl06-1{ border:0px; margin-top:10px; }
.account_dl06-1 dt{ background:none; padding:0px; width:82px ; border:0px;}
.account_dl06-1 dd a{ background:url(/images/index/ico03.png) no-repeat left center; padding-left:18px; margin-right:10px;}
.account_dl06-1 dd .recharge{ background-image:url(/images/index/ico01_r38_c2.png); padding-left:22px; }
.account_dl06-1 dd .withdraw_deposit{ background-image:url(/images/index/ico01_r41_c3.png); padding-left:22px; }
 */
/* .nav{width:1100px; margin:0 auto;  position:relative; z-index:9; height:40px;}
.nav_l{ float:left;}
.nav_l .all{ width:144px; height:40px;background:#3d4475 url(/images/index/ico01_r2_c3.png) no-repeat 20px center; line-height:41px; padding-left:56px; font-size:14px; }
.nav_l .all a{ background:url(/images/index/ico01_r5_c3.png) no-repeat right center; padding-right:35px;}
.nav_l .all:hover{background:#35395e  url(/images/index/ico01_r2_c3.png) no-repeat 20px center; border-left:1px solid #535776;  border-right:1px solid #535776; width:142px; height:40px}
.all_sub{ border:1px solid #535776; background:#35395e; position:absolute; z-index:999;}
.nav_dl01{ width:198px; height:100px; background:url(/images/index/ico04.png) no-repeat 180px center; cursor:pointer; border-bottom:1px solid #535776;}
.nav_dl01 dt{ float:left; width:52px; height:51px; margin-top:25px; margin-left:10px;}
.nav_dl01 dd{ float:left; margin-top:25px; margin-left:10px;   }
.nav_dl01 dd h4{ font-size:18px; font-weight:100;}
.nav_dl01 dd p{ font-size:13px; line-height:28px;}
.nav_dl01:hover{ background:#404775 url(/images/index/ico04.png) no-repeat 180px center; border:1px solid #868aaf; border-left:3px solid #d6cb9c; width:194px;  border-right:0px;}
.lottery_sub{ width:900px; height:302px; border:1px solid #868aaf; position:absolute; left:198px; top:0px; background:#404775;}
.lottery_ul01{ height:50px; border-bottom:1px solid #868aaf; line-height:50px;}
.lottery_ul01 li{ float:left; margin-right:20px; background:url(/images/index/ico01_r6_c22.png) no-repeat left center; padding-left:25px; color:#fff;}
.lottery_ul01 .li01{ background-image:url(/images/index/ico01_r3_c21.png); padding-left:30px; margin-left:10px;}
.lottery_ul01 li span{ color:#7a81ae; padding:0 5px;}
.lottery_div01{ height:140px; border-bottom:1px solid #868aaf; padding-top:30px;}
.lotter_dl01{ overflow:hidden; width:280px; padding:0 10px; float:left; }
.lotter_dl01 dt{ width:75px; height:110px; text-align:center; font-size:18px; color:#fff; float:left;}
.lotter_dl01 dd{ width:200px; height:110px; float:right; }
.lotter_dl01 dd p{ float:left; line-height:32px; font-size:14px; background:url(/images/index/ico01_r19_c6.png) no-repeat left center; padding-left:10px; margin-left:10px;}
.lotter_dl01 dd p a{ background:url(/images/index/ico07.png) no-repeat right center; padding-right:10px; }
.lotter_dl01 dd p:hover{ background:url(/images/index/ico08.png) no-repeat left center;}
.lotter_dl02{ width:320px;}
.lotter_dl02 dd{ width:240px;}
.lotter_dl03{ width:260px; padding:0px;}
.lotter_dl03 dd{ width:180px;}
.lottery_div02{ height:79px;  background:#171735 url(/images/index/ico01_r22_c1.png) no-repeat 20px center; padding-left:70px;}
.lotter_dl04{ padding-top:22px; float:left; margin-right:20px;}
.lotter_dl04 dt{ width:38px; height:38px; float:left;}
.lotter_dl04 dd{ float:left; margin-left:10px; font-size:14px;  }
.lotter_dl04 dd .p02{ font-size:12px; color:#7981AD;}
.boardgame_sub{ top:100px;}
.boardgame_div01{ padding-top:35px; padding-left:20px;}
.boardgame_dl01{ height:100px; border-right:1px solid #31355d; float:left; margin-right:15px; padding-right:15px;}
.dl_last{ border-right:0px; margin-right:0px;}
.boardgame_dl01 dt{ width:65px; height:65px; float:left;}
.boardgame_dl01 dd{ float:left; font-size:14px; margin-left:17px; padding-top:20px;}
.boardgame_dl01 dd a{ background:url(/images/index/ico01_r19_c6.png) no-repeat left center; padding-left:12px;}
.boardgame_dl01 dd a:hover{background:url(/images/index/ico08.png) no-repeat left center;}
.boardgame_dl01 dd span{ display:block;} */


/* .nav_r{ float:right;}
.nav_r a{ display:block; height:40px; margin-right:30px; float:left; line-height:40px; background:url(/images/index/ico01_r16_c1.png) no-repeat left center; padding-left:30px; }
.nav_r .a02{ background-image:url(/images/index/ico05.png);}
.nav_r .a03{ background-image:url(/images/index/ico06.png);}

.footer01{ height:170px; width:1005px; margin:0 auto; padding-top:30px;}
.footer01_dl01{ width:200px; color:#262626; float:left; }
.footer01_dl01 .p01{ color:#262626; font-size:14px;}
.footer01_dl01 .p02{color:#9F9F9F;}
.footer01_dl01 dt{ padding-left:20px; margin-bottom:10px;}
.footer01_dl01 dd a{ display:block; height:30px; background:url(/images/index/ico01_r44_c3.png) no-repeat left center; line-height:30px; color:#575757; padding-left:25px; }
.footer01 .wechat dd a{ background:none;}
.footer01 .mobile dd a{ background:none;}

.footer02{ background:#32365E;}
.footer02_in{ width:1100px; margin:0 auto; overflow:hidden;}
.footer02_in_l{ float:left; }
.footer02_in h4{ font-size:14px; color:#ECECEC; font-weight:100; margin-top:20px;}
.footer02_in h4 span{ color:#9F9F9F; font-size:12px; padding-left:10px;}
.footer02_ul01{ float:left; width:520px; border-right:1px solid #3d4375; padding-top:30px;}
.footer02_ul01 li{ float:left; margin-right:12px; margin-bottom:10px;}
.footer02_in_r{ float: right; }
.footer02_in_r .footer02_ul01{ border:0px;}
 .footer02 .p01{ background:#31365d; color:#9193AF; line-height:50px; height:50px;}
 .footer02 p{ background:#171735; height:30px; text-align:center; color:#515575; line-height:30px;} */
  
/*------------首页结束------------------*/
#banner{ height:370px; margin: 3px auto;}





#content{ background-color:f2f2f2; }
.content_in{ width:1155px; height:100%; margin:0 auto; padding-top:60px; padding-bottom: 50px;}
/* .con_ul01{ text-align: center;}
.con_ul01 li{ width:180px; color:#515575; line-height:24px; float:left; margin:0 46px; } */

#cnt-in{margin: -60px 0 0 0;}
#tips, #tips li{
	margin:0;
	padding:0;
	list-style:none;
	}
#tips{
	background:url(/images/index/speaker.png) no-repeat left center;
	text-align: center;
	height:50px;
	color: #bbbbbb;
	width:100%;
	font-size:14px;
	line-height:120%;
	}
#tips li{
	padding:15px;
	/* background:#e1e1e1; */
	display:none; /* hide the items at first only */
	}

.caption__overlay__content li{padding: 15px;}
.caption_overlay_content a{}
span.caption_overlay_content {float:left;text-decoration:none;color:black;}
.container22 {
    margin: 0 auto;
    max-width: 539px;
    
}


.container22 {
	clear:both;
    margin: 0 auto;
    max-width: 539px;
}
.container22 h1 {
    margin: 0;
    padding: 0 0 .5em;
}
/*
 * Caption component
 */
.caption22 {
    position: relative;
    overflow: hidden;

    /* Only the -webkit- prefix is required these days */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

.caption22::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}

.caption22:hover::before {
    background: rgba(0, 0, 0, .5);
}

.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: 200px;
}

.caption__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;

    -webkit-transform: translateX(100%);
            transform: translateX(100%);

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.caption22:hover .caption__overlay {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}

.caption__overlay__title {
  padding-top: 50px;
    -webkit-transform: translateX( -webkit-calc(-60% -10px) );
            transform: translateX( calc(-60% - 10px) );

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.caption22:hover .caption__overlay__title {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
}
.caption__overlay__content {
 -webkit-transform: translateX(0);
            transform: translateX(0);
    }
.caption22:hover .caption__overlay__content {
   -webkit-transform: translateX(150px);
            transform: translateX(150px);
}

div#foot_id{
	/* position: fixed;
	right:0;
	left:0; */
	/* bottom:0; */
}










