@-webkit-keyframes fx {
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fx {
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes ballboonMove {
  0% {
    right: -250px; }
  100% {
    right: 100%; }
  0% {
    right: -250px; } }
@-o-keyframes ballboonMove {
  0% {
    right: -250px; }
  100% {
    right: 100%; }
  0% {
    right: -250px; } }
@-webkit-keyframes ballboonMove {
  0% {
    right: -250px; }
  100% {
    right: 100%; }
  0% {
    right: -250px; } }
@keyframes ballboonMove {
  0% {
    right: -250px; }
  100% {
    right: 100%; }
  0% {
    right: -250px; } }
@-moz-keyframes ballVibrate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  30% {
    -webkit-transform: rotate(-14deg);
    -moz-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    transform: rotate(-14deg); }
  60% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  80% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); } }
@-ms-keyframes ballVibrate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  30% {
    -webkit-transform: rotate(-14deg);
    -moz-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    transform: rotate(-14deg); }
  60% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  80% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); } }
@-o-keyframes ballVibrate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  30% {
    -webkit-transform: rotate(-14deg);
    -moz-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    transform: rotate(-14deg); }
  60% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  80% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); } }
@-webkit-keyframes ballVibrate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  30% {
    -webkit-transform: rotate(-14deg);
    -moz-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    transform: rotate(-14deg); }
  60% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  80% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); } }
@keyframes ballVibrate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  30% {
    -webkit-transform: rotate(-14deg);
    -moz-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    transform: rotate(-14deg); }
  60% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  80% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); } }
@-webkit-keyframes opacityFade {
  0% {
    opacity: .5; }
  25% {
    opacity: 1; }
  50% {
    opacity: .5; }
  51% {
    opacity: .5; }
  75% {
    opacity: 1; }
  100% {
    opacity: .5; } }
@-moz-keyframes opacityFade {
  0% {
    opacity: .5; }
  25% {
    opacity: 1; }
  50% {
    opacity: .5; }
  51% {
    opacity: .5; }
  75% {
    opacity: 1; }
  100% {
    opacity: .5; } }
@-ms-keyframes opacityFade {
  0% {
    opacity: .5; }
  25% {
    opacity: 1; }
  50% {
    opacity: .5; }
  51% {
    opacity: .5; }
  75% {
    opacity: 1; }
  100% {
    opacity: .5; } }
@keyframes opacityFade {
  0% {
    opacity: .5; }
  25% {
    opacity: 1; }
  50% {
    opacity: .5; }
  51% {
    opacity: .5; }
  75% {
    opacity: 1; }
  100% {
    opacity: .5; } }
@-moz-keyframes refreshLoad {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-o-keyframes refreshLoad {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-webkit-keyframes refreshLoad {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes refreshLoad {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*# sourceMappingURL=keyframe-ani.css.map */
