i.chip-2_00 {
    background-position: 0 -55px, 0 0;
}

i.chip-5_00 {
    background-position: 0 -110px, 0 0;
}

i.chip-10_00 {
    background-position: 0 -165px, 0 0;
}

i.chip-20_00 {
    background-position: 0 -220px, 0 0;
}

i.chip-2000_00 {
    background-position: 0 -550px, 0 0;
}

i.chip-5000_00 {
    background-position: 0 -605px, 0 0;
}

i.chip-10000_00 {
    background-position: 0 -660px, 0 0;
}

i.chip-20000_00 {
    background-position: 0 -715px, 0 0;
}

i.chip-50000_00 {
    background-position: 0 -769px, 0 0;
}

i.chip-50_00 {
    background-position: 0 -275px, 0 0;
}

i.chip-100_00 {
    background-position: 0 -330px, 0 0;
}

i.chip-200_00 {
    background-position: 0 -385px, 0 0;
}

i.chip-500_00 {
    background-position: 0 -440px, 0 0;
}

i.chip-1000_00 {
    background-position: 0 -495px, 0 0;
}

.game-side {
    .money {
        .moneyWrap {
            margin-top: 9px;
        }
        .balanceWrap {
            margin-top: 5px;
        }
    }
}

body {
    #J-tpl-modal-first-tip {
        width: 100%;
        .gotitBtn {
            margin: 15px 0 0;
        }
        .row {
            padding: 0;
        }
        p {
            padding: 0;
            margin-bottom: 5px;
            line-height: 20px;
            text-align: left;
        }
        div {
            &:first-child {
                padding: 20px 10px 0 15px;
                text-align: center;
            }
        }
    }
}

.game-side {
    #J-chipgroup-cont {
        width: 305px;
    }
    .money {
        margin: 5px 0 0 0;
    }
}

.game_record_table {
    tr {
        .state.status_1,
        .state.status_6,
        .state.status_0,
        .state.status_3,
        .state.status_2{
            line-height: 18px;
        }
    }
}

.game_record_messageBox {
    table {
        td {
            padding: 5px 5px 2px;
        }
    }
    .title {
        padding: 10px 0;
    }
    .option {
        margin-top: 10px;
    }
}

.maxBonus {
    position: absolute;
    right: 115px;
    top: 134px;
    .maxReward {
        position: static;
        display: inline-block;
        margin-left: 5px;
    }
    .maxTxt {
        color: #cedcd5;
    }
}

.cancel_btn {
    background: url(../images/mdice/cancel_btn.png) no-repeat;
}

#game_record_info {
    p {
        margin-bottom: 5px;
    }
}

.cancelBetBtn {
    background: url(../images/mdice/cancel_btn.png) no-repeat;
    &:hover {
        background: url(../images/mdice/cancel_btn_active.png) no-repeat;
    }
}

.game_head {
    .game_record_time {
        .drawLet {
            .issueno {
                margin-right: 5px;
            }
        }
    }
}

#chipgroup_others {
    background: url(../images/mdice/chipgroup_others_bg.png) repeat;
}