@media (min-width: 1200px) {
  .dashboard__wrapper,
  .container {
    width: auto;
    max-width: 1200px; } }
@media (min-width: 1360px) {
  .dashboard__wrapper,
  .container {
    width: auto;
    max-width: 1300px; } }
@media (min-width: 1440px) {
  .dashboard__wrapper,
  .container {
    width: auto;
    max-width: 1400px; } }
@media (max-width: 1440px) {
  .dashboard__menu {
    width: 20%; }

  .dashboard__mana {
    width: 80%; }

  .tabs__sub--payment .payment__colright {
    width: 75%; }

  .homepage .homepage__slide .swiper-slide.slide__dktk60k .wrap__img {
    width: 57%; }
  .homepage .homepage__slide .swiper-slide.slide__100percent .wrap__img {
    width: 57%; }

  #menu .nav__result li.home__link a {
    padding: 0 5px; }
  #menu .nav__result li a {
    padding: 0 10px; } }
@media (max-width: 1366px) {
  .header__tet {
    left: 235px; }

  .homepage .block__items .block__items--inner .box__2 .bg {
    width: 63%;
    background-size: contain;
    margin-top: 5px; }
  .homepage .block__items .block__items--inner .box__2 .box__inner {
    right: 3%; }
  .homepage .block__items .block__items--inner .box__3 .bg {
    background-size: contain;
    width: 57%;
    bottom: 11px; }
  .homepage .block__items .block__items--inner .box__3 .items__box3 {
    left: 45%; }

  #footer .bank__demo .bg-gooter-bank {
    height: 220px;
    background-position: top center; } }
@media (max-width: 1280px) {
  .dashboard__menu {
    width: 18%; }

  .dashboard__mana {
    width: 82%; } }
@media (max-width: 1200px) {
  #container,
  #menu,
  #header {
    min-width: 1150px; }

  .container {
    width: 100%; }

  .layui-layer {
    max-width: 98% !important; }

  .tabs__sub--payment .payment__colright {
    width: 68%; }

  .accessRestricPage {
    background-position: 130% bottom; } }
@media (max-width: 1024px) {
  .regPage #container,
  .regPage #menu,
  .regPage #header {
    min-width: initial;
    border-bottom: 1px solid #073d41; }
    .regPage #container .user__auth,
    .regPage #menu .user__auth,
    .regPage #header .user__auth {
      display: none; }
    .regPage #container .logo,
    .regPage #menu .logo,
    .regPage #header .logo {
      float: none;
      width: 100%;
      text-align: center; }
      .regPage #container .logo a,
      .regPage #menu .logo a,
      .regPage #header .logo a {
        display: inline-block;
        width: 140px;
        padding: 5px 0; }
  .regPage .bottom__right--page,
  .regPage .header__tet,
  .regPage #menu {
    display: none; }

  .register__page h2 {
    margin-bottom: 25px;
    font-size: 22px;
    width: 100%;
    float: none; }
  .register__page .inner {
    padding-top: 20px;
    min-height: calc(100vh - 56.19px);
    padding-bottom: 30px;
    padding: 20px 15px 30px;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .register__page .inner > div {
      width: 100%; }
  .register__page .frm__item {
    margin-bottom: 10px; }
    .register__page .frm__item label {
      width: 100%;
      text-align: left;
      margin: 0 0 5px 0;
      display: block;
      font-weight: 400;
      font-size: 15px; }
    .register__page .frm__item .iput {
      display: block; }
    .register__page .frm__item input {
      height: 35px;
      width: 100%; }
    .register__page .frm__item.frm__btn {
      margin-bottom: 0;
      margin-top: 20px; }
      .register__page .frm__item.frm__btn input {
        padding-top: 10px;
        padding-bottom: 10px; } }
@media (max-width: 992px) {
  .result__top .tbl__result {
    width: 70%; }
  .result__top .result__dai {
    width: 55%; }
    .result__top .result__dai td {
      line-height: 22px; }
  .result__top .result__date,
  .result__top .result__dauduoi {
    width: 22.5%; }

  .accessRestricPage {
    padding-bottom: 100px; }
    .accessRestricPage .access__restric {
      max-width: initial; }
    .accessRestricPage h2 {
      margin-bottom: 10px; }
    .accessRestricPage .tbl {
      display: block; }
      .accessRestricPage .tbl .tbl__row {
        display: block; }
        .accessRestricPage .tbl .tbl__row .tbl__col {
          display: block;
          padding-left: 0;
          padding-right: 0;
          border-bottom: 1px solid #ccc; } }
@media (max-width: 350px) {
  .register__page .inner {
    padding-left: 25px;
    padding-right: 25px; } }
@media (min-width: 1366px) and (max-width: 1500px) {
  #footer .bank__demo .bg-gooter-bank {
    height: 250px;
    background-position: bottom center; }

  #menu .nav__result li a {
    padding: 0 8px;
    font-size: 14px; }
  #menu .nav__result li.btnTryPlay a {
    padding: 3px 5px 2px;
    font-size: 12px;
    height: auto;
    line-height: 1;
    display: flex;
    display: -ms-flex;
    align-items: center; }
    #menu .nav__result li.btnTryPlay a .icon-refresh {
      top: 0; } }
@media (max-height: 900px) {
  .homepage {
    background-position: center -160px; }
    .homepage .block__items {
      bottom: 100px; }
      .homepage .block__items .block__items--inner {
        padding: 10px; }
        .homepage .block__items .block__items--inner .box {
          height: 200px;
          padding-top: 10px;
          padding-bottom: 0; }
        .homepage .block__items .block__items--inner .box__1 .bg__1 {
          width: 255px;
          height: 205px; }
        .homepage .block__items .block__items--inner .box__2 .bg {
          top: 20px; } }
@media (max-height: 680px) {
  .homepage {
    background-position: center -175px; } }

/*# sourceMappingURL=responsive.css.map */
