$valTimeStamp: 2;
// Named Color Variables
$mainColor: #282c35;
$lineColor: #3c3f46;
$textColor: #adb0b6;
$colorRed: #d90500;
$colorYellow: #fff79a;
$colorWhite: #fff;
$colorPrimary: #14805e;
$color239e7e: #239e7e;
$colorPrimaryHover: #0d6f50;
$color398568: #398568;
$color045750: #045750;
$color74b9a6: #74b9a6;
$color333: #333;
$colorErin: #53bf12;
$color896345: #896345;
$color5c5146: #5c5146;
$color8e8071: #8e8071;
$colore5d4c2: #e5d4c2;
$colord6c0a9: #d6c0a9;
$colorf6f0ec: #f6f0ec;
$colorf49e1d: #f49e1d;
$colorfcb448: #fcb448;
$colordedede: #dedede;
$colorf5f5f5: #f5f5f5;
$colorWarning: #b8daff;
$colord4d4d4: #d4d4d4;
$colorccc: #ccc;
$color4f86c1: #4f86c1;
$coloreaeaea: #eaeaea;
$color3c3c3c: #3c3c3c;
$colorf9f9f9: #f9f9f9;
$colore0e0e0: #e0e0e0;

$colorWaitCalcuBonus: #c15c54;
$colorWaitOpenBonus: #5489c1;
$colorTruot: #c19e54;
$colorTrung: #D90A2D;
$colorHuy: #ab54c1;

// Image Path
$appImagePath: '../images/';

@mixin borderRadius($val) {
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    -o-border-radius: $val;
    -ms-border-radius: $val;
    border-radius: $val;
}

@mixin textShadow($val) {
    -webkit-text-shadow: $val;
    -moz-text-shadow: $val;
    -o-text-shadow: $val;
    -ms-text-shadow: $val;
    text-shadow: $val;
}

@mixin boxShadow($val) {
    -webkit-box-shadow: $val;
    -moz-box-shadow: $val;
    -o-box-shadow: $val;
    -ms-box-shadow: $val;
    box-shadow: $val;
}

@mixin transitionAni($val) {
    -webkit-transition: $val;
    -moz-transition: $val;
    -o-transition: $val;
    -ms-transition: $val;
    transition: $val;
}

@mixin transformAni($val) {
	-webkit-transform: $val;
	-moz-transform: $val;
	-o-transform: $val;
	-ms-transform: $val;
	transform: $val;
}

@mixin displayFlex() {
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin textOver() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}