<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
	<ui:composition>
		<!-- Forgot password -->
		<div class="popup" id="popupForgetPwd">
			<div class="popup__content">
				<f:view>
					<h:form id="AgentForm">
						<a4j:region>
							<h:panelGroup id="inputMain">
								<div class="mgB-25">
									<p class="mgB-10 font-500 fs-18">Thông tin khác hàng.</p>
									<p class="fs-16"></p>
								</div>
								<a4j:region>
									<div>
										<div class="frm__item">
											<label class="text-right w-30 font-400"><span class="color-red">*</span>Tên đăng nhập：</label>
											<h:inputText value="#{LoginBean.updateuser.loginname}" maxlength="30" styleClass="input_Game w-40 h-35" />
										</div>
										<div class="frm__item">
											<label class="text-right w-30 font-400"><span class="color-red">*</span>Địa chỉ mail：</label>
											<h:inputText value="#{LoginBean.updateuser.email}" maxlength="30" styleClass="input_Game  w-40 h-35" />
											<span class="d-ib mgL-5 fs-13 fst-i text-color">( mail khi đăng ký )</span>
										</div>
										<div class="frm__item">
											<label class="text-right w-30 font-400"><span class="color-red">*</span>Mật khẩu thanh toán：</label>
											<h:inputSecret value="#{LoginBean.updateuser.checkpwd}" styleClass="input_Game  w-40 h-35" maxlength="30" />
										</div>
										<div class="frm__item">
											<label class="text-right w-30 font-400"><span class="color-red">*</span>Mật khẩu mới：</label>
											<h:inputSecret value="#{LoginBean.updateuser.pwd}" styleClass="input_Game  w-40 h-35" maxlength="30" />
										</div>
										<div class="frm__btn frm__item">
											<label class="text-right w-30 font-400"></label>
											<a4j:commandButton value="Cập nhật" styleClass="input_btn_ btn__primary pdT-10 pdB-10 w-40" action="#{LoginBean.forgetPwd}" data="#{LoginBean.msg}" oncomplete="savefinish(data)" />
										</div>
									</div>
								</a4j:region>
							</h:panelGroup>
						</a4j:region>
					</h:form>
				</f:view>
			</div>
		</div>
		<script type="text/javascript">
			function savefinish(data) {
				if (data == "0") {
					layer.msg("Thay đổi mật khẩu thành công", {
	                    shade: 0.3,
	                    closeBtn: true,
	                    icon: 1,
	                    time: 2000
	                });
					return;
				}

				layer.msg(data, {
                    shade: 0.3,
                    closeBtn: true,
                    icon: 2,
                    time: 2500
                });
			}
		</script>
	</ui:composition>
</body>
</html>