<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" lang="en">
	<head>
		<title>HEADER</title>
	</head>

	<body>
		<ui:composition>
			<!-- Start lottery result -->
			<div class="result__top">
				<div class="container">
					<div class="tbl">
						<div class="tbl__row">
							<div class="tbl__result tbl__col">
								<div class="clearfix tbl__result--inner">
									<div class="result__dai pull-left">
										<table id="lotteryResult">
											<tbody>
												<tr class="result__title">
													<td colspan="2">
														Kết quả  
														<span id="issueResult"></span> 
														<div class="pull-right" id="timeLoadingCountDown">00:00:00</div>
													</td>
												</tr>
												
												<tr class="result__special">
													<td class="w-15">Giải ĐB</td>
													<td></td>
												</tr>
												<tr>
													<td>Giải nhất</td>
													<td></td>
												</tr>
												<tr>
													<td>Giải nhì</td>
													<td></td>
												</tr>
												<tr>
													<td>Giải ba</td>
													<td></td>
												</tr>
												<tr>
													<td>Giải tư</td>
													<td></td>
												</tr>
												<tr>
													<td>Giải năm</td>
													<td></td>
												</tr>
												<tr>
													<td>Giải sáu</td>
													<td></td>
												</tr>
												<tr>
													<td>Giải bảy</td>
													<td></td>
												</tr>
												<tr>
													<td>Giải tám</td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
									<div id="firstLast" class="result__dauduoi pull-left">
										<table>
											<tr class="result__title">
												<td>Đầu</td>
												<td>Đuôi</td>
											</tr>
											<tr>
												<td class="first__num"><span>0</span></td>
												<td class="last__num"></td>
											</tr>
											<tr>
												<td class="first__num"><span>1</span></td>
												<td class="last__num"></td>
											</tr>
											<tr>
												<td class="first__num"><span>2</span></td>
												<td class="last__num"></td>
											</tr>
											<tr>
												<td class="first__num"><span>3</span></td>
												<td class="last__num"></td>
											</tr>
											<tr>
												<td class="first__num"><span>4</span></td>
												<td class="last__num"></td>
											</tr>
											<tr>
												<td class="first__num"><span>5</span></td>
												<td class="last__num"></td>
											</tr>
											<tr>
												<td class="first__num"><span>6</span></td>
												<td class="last__num"></td>
											</tr>
											<tr>
												<td class="first__num"><span>7</span></td>
												<td class="last__num"></td>
											</tr>
											<tr>
												<td class="first__num"><span>8</span></td>
												<td class="last__num"></td>
											</tr>
											<tr>
												<td class="first__num"><span>9</span></td>
												<td class="last__num"></td>
											</tr>
										</table>
									</div>
									<div class="result__date pull-left">
										<div id="lotteryIssue" class="emu__scroll">
											<ul>
												
												
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="tbl__time tbl__col">
								<div class="tbl__time--inner">
									<div class="time__title" id="time__title">
										<p>Xổ số siêu tốc 1 giây</p>
									</div>
									<div class="time__inner">
										<p class="time__location">Thời gian đặt cược</p>
										<div class="time__count timeCountBet">00:00:00</div>
										<p class="bout__txt">Lượt Xổ <span id="open__issue"></span></p>
										<div class="clearfix">
											<a class="btn__act--money" href="/page/DWDeposit.shtml">Nạp Tiền</a>
											<a class="btn__act--money mgL-5" href="/page/DWWithDrawl.shtml">Rút Tiền</a>
										</div>
										<div class="clearfix">
											<a class="btn__act--play" href="/page/BetRecord.shtml">Lịch Sử Cược</a>
											<a class="btn__act--play mgL-5" href="/page/question.shtml">Câu hỏi</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End lottery result -->
		</ui:composition>
	</body>
</html>