@import "theme";
*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body , html {
    font-size: 14px;
    font-weight: 400;
    color: #282c35;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto",sans-serif;
    line-height: 1.2;
    min-height: 100vh;
}

@mixin getScaleBgSpriteWH($wReal, $hReal, $wDesire, $psXReal, $psYReal) {
    $realBgSpriteW: 1000;
    $realBgSpriteH: 1000;
    $hDesire: ($wDesire*$hReal)/$wReal;
    $bgSizeW: ($wDesire*$realBgSpriteW)/$wReal;
    $bgSizeH: ($hDesire*$realBgSpriteH)/$hReal;
    $psXDesire: ($psXReal*$bgSizeW)/$realBgSpriteW;
    $psYDesire: ($psYReal*$bgSizeH)/$realBgSpriteH;
    width: $wDesire+px;
    height: $hDesire+px;
    background-size: $bgSizeW+px $bgSizeH+px;
    background-position: -$psXDesire+px +" "+ -$psYDesire+px;
}

@mixin flexNormal() {
    display: flex;
    display: -ms-flex;
}

@mixin flexCenterAlign() {
    @include flexNormal();
    align-items: center;
}

@mixin flexCenterCenter() {
    @include flexNormal();
    align-items: center;
    justify-content: center;
}

@mixin flexBetween() {
    @include flexNormal();
    justify-content: space-between;
}
@mixin borderRadius($val) {
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    -o-border-radius: $val;
    -ms-border-radius: $val;
    border-radius: $val;
}
@mixin boxShadow($val) {
    -webkit-box-shadow: $val;
    -moz-box-shadow: $val;
    -o-box-shadow: $val;
    -ms-box-shadow: $val;
    box-shadow: $val;
}
@mixin transformAni($val) {
    -webkit-transform: $val;
    -moz-transform: $val;
    -o-transform: $val;
    -ms-transform: $val;
    transform: $val;
}

// args: $wReal, $hReal, $wDesire, $psXReal, $psYReal
@mixin getScaleBgSpriteWH($realBgSpriteW, $realBgSpriteH, $wReal, $hReal, $wDesire, $psXReal, $psYReal) {
    $hDesire: ($wDesire*$hReal)/$wReal;
    $bgSizeW: ($wDesire*$realBgSpriteW)/$wReal;
    $bgSizeH: ($hDesire*$realBgSpriteH)/$hReal;
    $psXDesire: ($psXReal*$bgSizeW)/$realBgSpriteW;
    $psYDesire: ($psYReal*$bgSizeH)/$realBgSpriteH;
    width: $wDesire+px;
    height: $hDesire+px;
    background-size: $bgSizeW+px $bgSizeH+px;
    background-position: -$psXDesire+px +" "+ -$psYDesire+px;
}
$srcImg: "../images/";
.icon {
    background-image: url("#{$srcImg}icons.png");
    background-repeat: no-repeat;
    display: inline-block;
}
.plate {
    background-image: url("#{$srcImg}plate.png");
    background-repeat: no-repeat;
    display: inline-block;
}
.iconlogo {
    @include getScaleBgSpriteWH(1000, 1400, 346, 145, 260, 275, 295);
}
.iconbalance {
    @include getScaleBgSpriteWH(1000, 1400, 399, 96, 300, 0, 571);
}
.iconquestion {
    @include getScaleBgSpriteWH(1000, 1400, 81, 83, 50, 861, 182);
}
.iconhistory {
    @include getScaleBgSpriteWH(1000, 1400, 81, 84, 50, 861, 94);
}
.iconrebet {
    @include getScaleBgSpriteWH(1000, 1400, 81, 85, 50, 861, 3);
}
.iconclearBet {
    @include getScaleBgSpriteWH(1000, 1400, 81, 85, 50, 714, 161);
}
.iconplate {
    @include getScaleBgSpriteWH(400, 456, 400, 198, 350, 0, 258);
}
.iconplateUp {
    @include getScaleBgSpriteWH(400, 456, 313, 246, 300, 43, 0);
}
.typebet-nai {
    @include getScaleBgSpriteWH(1000, 1400, 220, 220, 220, 242, 968);
}
.typebet-cua {
    @include getScaleBgSpriteWH(1000, 1400, 220, 220, 220, 776, 800);
}
.typebet-ga {
    @include getScaleBgSpriteWH(1000, 1400, 220, 220, 220, 533, 1177);
}
.typebet-ca {
    @include getScaleBgSpriteWH(1000, 1400, 220, 220, 220, 532, 941);
}
.typebet-bau {
    @include getScaleBgSpriteWH(1000, 1400, 220, 220, 220, 776, 1042);
}
.typebet-tom {
    @include getScaleBgSpriteWH(1000, 1400, 220, 220, 220, 6, 966);
}
.chip-5 {
    @include getScaleBgSpriteWH(1000, 1400, 100, 100, 100, 625, 523);
}
.chip-10 {
    @include getScaleBgSpriteWH(1000, 1400, 100, 100, 100, 407, 556);
}
.chip-25 {
    @include getScaleBgSpriteWH(1000, 1400, 100, 100, 100, 323, 676);
}
.chip-50 {
    @include getScaleBgSpriteWH(1000, 1400, 100, 100, 100, 215, 676);
}
.chip-100 {
    @include getScaleBgSpriteWH(1000, 1400, 100, 100, 100, 108, 676);
}
.chip-200 {
    @include getScaleBgSpriteWH(1000, 1400, 100, 100, 100, 2, 676);
}
.chip-300 {
    @include getScaleBgSpriteWH(1000, 1400, 100, 100, 100, 834, 523);
}
.chip-400 {
    @include getScaleBgSpriteWH(1000, 1400, 100, 100, 100, 519, 556);
}
.chip-500 {
    @include getScaleBgSpriteWH(1000, 1400, 100, 100, 100, 729, 523);
}
.light-around {
    @include getScaleBgSpriteWH(1000, 1400, 150, 150, 150, 660, 650);
}
.result-nai {
    @include getScaleBgSpriteWH(1000, 1400, 119, 119, 32, 874, 275);
}
.result-bau {
    @include getScaleBgSpriteWH(1000, 1400, 119, 119, 32, 633, 279);
}
.result-cua {
    @include getScaleBgSpriteWH(1000, 1400, 119, 119, 32, 750, 394);
}
.result-ga {
    @include getScaleBgSpriteWH(1000, 1400, 119, 119, 32, 750, 275);
}
.result-tom {
    @include getScaleBgSpriteWH(1000, 1400, 119, 119, 32, 874, 394);
}
.result-ca {
    @include getScaleBgSpriteWH(1000, 1400, 119, 119, 32, 633, 397);
}
.txtXoc {
    @include getScaleBgSpriteWH(1000, 1400, 155, 53, 100, 840, 640);
}
.dice-bau {
    @include getScaleBgSpriteWH(1000, 1400, 100, 111, 60, 586, 160);
}
.dice-cua {
    @include getScaleBgSpriteWH(1000, 1400, 100, 111, 60, 348, 160);
}
.dice-tom {
    @include getScaleBgSpriteWH(1000, 1400, 101, 110, 60, 0, 161);
}
.dice-ca {
    @include getScaleBgSpriteWH(1000, 1400, 100, 111, 60, 470, 160);
}
.dice-nai {
    @include getScaleBgSpriteWH(1000, 1400, 100, 111, 60, 115, 160);
}
.dice-ga {
    @include getScaleBgSpriteWH(1000, 1400, 100, 111, 60, 231, 160);
}
.iconreload {
    @include getScaleBgSpriteWH(1000, 1400, 28, 30, 20, 811, 178);
}
.iconTitleHis {
    @include getScaleBgSpriteWH(1000, 1400, 239, 94, 250, 331, 790);
}
.iconTitleGuider {
    @include getScaleBgSpriteWH(1000, 1400, 320, 74, 300, 7, 884);
}

#wrapper {
    background: url("#{$srcImg}BgTile.jpg") repeat center;
    min-height: 100vh;
}
@-webkit-keyframes effectMoneyStatusLoss {
    0% {@include transformAni(translateY(-100px));opacity:1;}
    50% {@include transformAni(translateY(-50px));opacity:1;}
    100% {@include transformAni(translateY(0px));opacity:0;}
}
@-ms-keyframes effectMoneyStatusLoss {
    0% {@include transformAni(translateY(-100px));opacity:1;}
    50% {@include transformAni(translateY(-50px));opacity:1;}
    100% {@include transformAni(translateY(0px));opacity:0;}
}
@keyframes effectMoneyStatusLoss {
    0% {@include transformAni(translateY(-100px));opacity:1;}
    50% {@include transformAni(translateY(-50px));opacity:1;}
    100% {@include transformAni(translateY(0px));opacity:0;}
}
@-webkit-keyframes effectMoneyStatusWin {
    0% {@include transformAni(translateY(0px));opacity:1;}
    50% {@include transformAni(translateY(-50px));opacity:1;}
    100% {@include transformAni(translateY(-100px));opacity:0;}
}
@-ms-keyframes effectMoneyStatusWin {
    0% {@include transformAni(translateY(0px));opacity:1;}
    50% {@include transformAni(translateY(-50px));opacity:1;}
    100% {@include transformAni(translateY(-100px));opacity:0;}
}
@keyframes effectMoneyStatusWin {
    0% {@include transformAni(translateY(0px));opacity:1;}
    50% {@include transformAni(translateY(-50px));opacity:1;}
    100% {@include transformAni(translateY(-100px));opacity:0;}
}
#effectMoneyBet {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -999;
    display: flex;
    display: -ms-flex;
    align-items: center;
    justify-content: center;
    &.showMoneyEffectBet {
        z-index: 999999;
    }
    &.lossMoney {
        .moneyStatusBet {
            color: $colorLossMoney;
            -webkit-animation: effectMoneyStatusLoss 1s ease-out;
            animation: effectMoneyStatusLoss 1s  ease-out;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }
    }
    &.winMoney {
        .moneyStatusBet {
            color: #00ff2d;
            -webkit-animation: effectMoneyStatusWin 1.5s ease-out;
            animation: effectMoneyStatusWin 1.5s ease-out;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }
    }
    .moneyStatusBet {
        font-weight: 700;
        opacity: 0;
        position: relative;
        font-size: 115px;
        line-height: 1;
        white-space: nowrap;
    }
}
#container {
    max-width: 1200px;
    margin: 0 auto 0;
}
#top-page {
    @include flexBetween();
    margin-bottom: 15px;
}
#balance {
    position: relative;
    .txtbalance {
        display: block;
        height: 100%;
        font-weight: 600;
        font-size: 17px;
        color: #fff;
        @include flexCenterAlign();
        padding-left: 89px;
        padding-top: 5px;
    }
}

@keyframes loadingBalance {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#reloadBalance {
    position: absolute;
    top: 28px;
    right: 19px;
    cursor: pointer;
    &:hover {
        opacity: .8;
    }
    &.loaddingBalance {
        -webkit-animation: loadingBalance 2s infinite; /* Safari 4+ */
        -moz-animation:    loadingBalance 2s infinite; /* Fx 5+ */
        -o-animation:      loadingBalance 2s infinite; /* Opera 12+ */
        animation:         loadingBalance 2s infinite; /* IE 10+, Fx 29+ */
    }
}
.inter-games-top {
    @include flexCenterAlign();
}
#clearBet,
#rebet,
#tbl-history,
#infor-question {
    margin-left: 15px;
    cursor: pointer;
    &:hover {
        .tooltip {
            display: block;
        }
    }
    .icon {
        cursor: pointer;
        &:hover {
            opacity: .9;
        }
        &:active {
            -webkit-transform: scale(.95);
            -moz-transform: scale(.95);
            -ms-transform: scale(.95);
            -o-transform: scale(.95);
            transform: scale(.95);
        }
    }
}
#area-player {
    border: 5px solid #fadb98;
    @include borderRadius(20px);
    @include boxShadow(1px 6px 8px #333);
    min-height: calc(100vh - 345px);
    @include BGGradient();
    @include flexNormal();
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
    margin-bottom: 20px;
}
.plate-ring {
    @include flexCenterCenter();
    padding: 0 15px;
    position: relative;
    z-index: 2;
    .ring-inner {
        padding-top: 130px;
        position: relative;
        z-index: 3;
    }
    .bgtrongdong {
        background: url("#{$srcImg}BgDecor.png") no-repeat center right;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 380px;
    }
}
@keyframes xocAction {
    0%, 100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}
#plate {
    display: block;
    position: relative;
    &.xocPlate {
        -webkit-animation: xocAction .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation: xocAction .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-iteration-count: 1;
    }
}
@keyframes zoomInZoomOut {
    0%, 100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}
#plateup {
    position: absolute;
    left: 50%;
    top: -60px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;
    cursor: pointer;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    &.openPlate {
        top: -100%;
    }
    .txtXoc {
        position: absolute;
        top: 75px;
        left: 50%;
        margin-left: -50px;
        -webkit-animation: zoomInZoomOut 1s infinite linear;
        animation: zoomInZoomOut 1s infinite linear;
    }
    &.statusOpenPlate {
        .txtXoc {
            @include getScaleBgSpriteWH(1000, 1400, 233, 87, 80, 9, 295);
            margin-left: -40px;
        }
    }
}
.baucua1phut {
    #plateup {
        &.statusOpenPlate {
            .txtXoc {
                @include getScaleBgSpriteWH(1000, 1400, 182, 84, 120, 382, 10);
                margin-left: -60px;
                top: 62px;
            }
        }
    }
}
#counttime {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    .issue {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .timer {
        letter-spacing: 1.5px;
        font-size: 40px;
        font-weight: 300;
        color: #FFEB3B;
    }
}

.btnConfirmBet {
    text-align: center;
    margin-top: 25px;
    #btnConfirmBet {
        display: inline-block;
        font-weight: 600;
        font-size: 18px;
        min-width: 200px;
        height: 40px;
        line-height: 40px;
        @include borderRadius(5px);
        text-decoration: none;
        position: relative;
        @include btnBet();
        &.btnBetDisabel {
            @include btnDisable();
            cursor: not-allowed;
        }
        &:hover {
            opacity: .8;
        }
        &:active {
            opacity: 1;
        }
    }
}

@-webkit-keyframes color-change {
    0% { color: #aa7dff; }
    50% { color: #55ff58; }
    100% { color: #fff14f; }
}
@-moz-keyframes color-change {
    0% { color: #aa7dff; }
    50% { color: #55ff58; }
    100% { color: #fff14f; }
}
@-ms-keyframes color-change {
    0% { color: #aa7dff; }
    50% { color: #55ff58; }
    100% { color: #fff14f; }
}
@-o-keyframes color-change {
    0% { color: #aa7dff; }
    50% { color: #55ff58; }
    100% { color: #fff14f; }
}
@keyframes color-change {
    0% { color: #ff5d2d; }
    50% { color: #ffce1d; }
    100% { color: #ff5d2d; }
}

@keyframes growUp {
    0%, 100%   { transform: scale(1); }
    50% { transform: scale(5); }
}
@keyframes effectBgOpenWin {
    0%, 100% {
        background-color: #35666a;
    }
    50% {
        background-color: #56a3a7;
    }
}
.choose-bet {
    z-index: 2;
    width: 100%;
    @include flexNormal();
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    flex-wrap: wrap;
    flex: 1;
    padding: 10px 0;
    >div {
        width: 33.3333%;
        @include flexCenterCenter();
        padding: 15px;
    }
    .wraptype {
        border: 1px solid #fadb98;
        @include borderRadius(5px);
        @include boxShadow(1px 6px 8px #333);
        padding: 10px;
        cursor: pointer;
        height: 100%;
        @include flexCenterCenter();
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
        .typebet {
            position: relative;
            overflow: hidden;
            user-select: none; /* supported by Chrome and Opera */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
        }
        &:active,
        &:hover {
            background-color: $colorPrimary01;
        }
        &.effectOpenWin {
            -webkit-animation: effectBgOpenWin .5s infinite;
            -moz-animation: effectBgOpenWin .5s infinite;
            -o-animation: effectBgOpenWin .5s infinite;
            -ms-animation: effectBgOpenWin .5s infinite;
            animation: effectBgOpenWin .5s infinite;
        }
        .effectNumWinMore {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            @include flexCenterCenter();
            font-size: 40px;
            font-weight: 700;
            -webkit-animation: growUp 1s infinite;
            -moz-animation: growUp 1s infinite;
            -o-animation: growUp 1s infinite;
            -ms-animation: growUp 1s infinite;
            animation: growUp 1s infinite;
            span {
                -webkit-animation: color-change 1s infinite;
                -moz-animation: color-change 1s infinite;
                -o-animation: color-change 1s infinite;
                -ms-animation: color-change 1s infinite;
                animation: color-change 1s infinite;
            }
        }
    }
}
#bottom-page {
    border: 3px solid #fadb98;
    @include borderRadius(20px);
    overflow: hidden;
    position: relative;
    padding-left: 260px;
}
#history-result {
    width: 260px;
    border-right: 1px solid #fadb98;
    background-color: rgba(0, 0, 0, 0.60);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    .history-wrap {
        height: 100%;
        padding: 0 24px;
        position: relative;
    }
    .swiper-container {
        height: 100%;
    }
    .swiper-slide {
        @include flexNormal();
        &.no-data {
            @include flexCenterCenter();
            color: #fff;
            font-size: 15px;
        }
    }
    .history-button-prev,
    .history-button-next {
        position: absolute;
        top: 50%;
        margin-top: -50px;
        height: 100%;
        width: 30px;
        cursor: pointer;
    }
    .history-button-prev {
        left: 5px;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-right: 20px solid #92e59d;
        &.swiper-button-disabled {
            border-right-color: #8a9da1;
        }
    }
    .history-button-next {
        right: 5px;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 20px solid #92e59d;
        &.swiper-button-disabled {
            border-left-color: #8a9da1;
        }
    }
}
#select-chip {
    background-color: rgba(0, 0, 0, 0.85);
    position: relative;
    padding-left: 20%;
    height: 120px;
    .swiper-slide {
        text-align: center;
    }
    .money-bet {
        color: #feb521;
        font-size: 26px;
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        @include flexCenterCenter();
        text-align: center;
        width: 20%;
        .txtTienCuoc {
            color: #adffca;
            font-size: 21px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 5px;
        }
        p {
            line-height: 1;
        }
    }
    .inner-select-chip {
        @include borderRadius(100px 0 0 100px);
        overflow: hidden;
        height: 100%;
        padding-right: 55px;
        position: relative;
        .swiper-container {
            overflow: visible;
        }
        .swiper-wrapper {
            padding: 10px 0;
        }
    }
}

@-webkit-keyframes spinChip {
    0%,100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spinChip {
    0%,100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes spinChipHide {
    0%,100% {
        -webkit-transform: scale(1.05) rotate(0);
        transform: scale(1.05) rotate(0);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(0.9) rotate(360deg);
        transform: scale(0.9) rotate(360deg);
        opacity: 0
    }
}

@-ms-keyframes spinChipHide {
    0%,100% {
        -webkit-transform: scale(1.05) rotate(0);
        transform: scale(1.05) rotate(0);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(0.9) rotate(360deg);
        transform: scale(0.9) rotate(360deg);
        opacity: 0
    }
}

@keyframes spinChipHide {
    0%,100% {
        -webkit-transform: scale(1.05) rotate(0);
        transform: scale(1.05) rotate(0);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(0.9) rotate(360deg);
        transform: scale(0.9) rotate(360deg);
        opacity: 0
    }
}
.chip {
    display: inline-block;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #383838;
    position: relative;
    &:hover,
    &.active {
        .light-around {
            opacity: 1;
        }
    }
    &:hover {
        .item {
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            transform: scale(1.05);
        }
    }
    &:active {
        .item {
            -webkit-transform: scale(.98);
            -moz-transform: scale(.98);
            -ms-transform: scale(.98);
            -o-transform: scale(.98);
            transform: scale(.98);
        }
        .light-around {
            opacity: 1;
        }
    }
    .item {
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        display: block;
        position: relative;
        z-index: 2;
        margin: 0 auto;
    }
    .numchip {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        @include flexCenterCenter();
        height: 100%;
        z-index: 3;
    }
    .light-around {
        position: absolute;
        z-index: 1;
        top: -25px;
        left: -24px;
        -webkit-animation: spinChip 5s infinite linear;
        animation: spinChip 5s infinite linear;
        opacity: 0;
    }
    &.hideEffect {
        .light-around {
            -webkit-animation: spinChipHide 2s infinite linear;
            animation: spinChipHide 2s infinite linear;
        }
    }
}
.chipEmbed {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 1;
    font-size: 23px;
    @include boxShadow(2px 2px 2px black);
    @include borderRadius(50%);
    &.chipEmbedHideGroup {
        opacity: 0;
    }
    &:hover {

    }
}
@keyframes slideAppendHis {
    0%, 100% {
        -webkit-transform: scale(.95);
        -moz-transform: scale(.95);
        -ms-transform: scale(.95);
        -o-transform: scale(.95);
        transform: scale(.95);
        opacity: .5;
    }
    50% {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1;
    }
}
.typebet-results {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5px;
    height: 100%;
    border-right: 1px solid #fadb98;
    &:last-child {
        border-right: none;
    }
    .icon {
        display: block;
        margin: 5px auto;
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.49);
    }
    &.appendEffect {
        -webkit-animation: slideAppendHis .2s linear;
        animation: slideAppendHis .2s linear;
        -webkit-animation-iteration-count: 3;
        animation-iteration-count: 3;
    }
}
#items-dice {
    position: absolute;
    bottom: 17px;
    left: 60px;
    width: 233px;
    height: 110px;
    border-radius: 100px/50px;
    overflow: hidden;
    z-index: 1;
    @include flexCenterCenter();
    .icon {
        position: absolute;
        top: 0;
        left: 0;
    }
}
.tooltipWrap {
    position: relative;
    .tooltip {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #000;
        padding: 5px 10px;
        @include borderRadius(4px);
        color: #fff;
        font-size: 13px;
        line-height: 1;
        white-space: nowrap;
        display: none;
        &:after {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(136,183,213,0);
            border-bottom-color: #000000;
            border-width: 5px;
            margin-left: -2px;
        }
    }
}
.bgoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
}
.lds-spinner {
    color: #000;
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 110px;
    left: 50%;
    margin-left: -32px;
}
.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #848484;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.commonPopupBauCua {
    padding-bottom: 0;
    position: relative;
    padding-top: 81px;
    height: 100%;
    >.icon {
        position: absolute;
        top: -60px;
        left: 50%;
        margin-left: -100px;
    }
    .status_0 {

    }
    .status_1 {

    }
    .status_2 {

    }
    .status_3 {
        color: #fff;
    }
    .status_4 {
        color: yellow;
    }
    .status_5 {

    }
    &#guiderBauCua {
        padding-top: 50px;
        >.icon {
            position: absolute;
            top: -45px;
            margin-left: -150px;
        }
        .inner {
            overflow-y: visible;
        }
        .content {
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 1px;
            padding: 0 20px;
            ul {
                padding-left: 20px;
                margin-bottom: 20px;
                li {
                    list-style: decimal;
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .example {
                font-style: italic;
                padding: 15px;
                border: 1px dashed #FFC107;
                border-radius: 5px;
                p {
                    margin-bottom: 5px;
                }
                .icon {
                    vertical-align: middle;
                }
            }
        }
    }
    .inner {
        overflow-y: scroll;
        height: 100%;
    }
    .content {
        padding: 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        tr {
            th {
                font-weight: 700;
                padding: 10px;
                background-color: $colorPrimary;
                font-size: 16px;
            }
            &:hover {
                td {
                    background-color: rgba(0, 0, 0, 0.23);
                }
            }
            td, th {
                &:nth-child(1) {
                    width: 22%;
                }
                &:nth-child(2) {
                    width: 20%;
                }
                &:nth-child(3) {
                    width: 25%;
                }
                &:nth-child(4) {
                    width: 20%;
                }
                &:nth-child(5) {
                    width: 13%;
                }
            }
            td {
                padding: 5px;
                font-size: 15px;
                &.oneLineVi {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .status_0 {

            }
            .status_1 {

            }
            .status_2 {

            }
            .status_3 {
                color: #fff;
            }
            .status_4 {
                color: yellow;
            }
            .status_5 {

            }
            .vi {
                margin: 0 3px;
            }
        }
        .detailBetUser {
            line-height: 1;
            margin: 5px 0;
            text-align: left;
            display: flex;
            display: -ms-flex;
            justify-content: space-between;
            .winMoney {
                color: #d1ff23;
                font-weight: 900;
            }
        }
    }
    table, tr, td, th {
        color: #fff;
        text-align: center;
        border: 1px solid $colorTableBorder;
    }
    .titleTbl {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        padding-right: 18px;
        background-color: $colorPrimary;
        border-top: 1px solid $colorTableBorder;
        table, tr {
            border: none;
        }
        th {
            border: none;
            border-right: 1px solid $colorTableBorder;
            &:last-child {
                border: none;
            }
        }
    }
    .typebet-results {
        @include flexNormal();
        flex-direction: initial;
        justify-content: center;
        .icon {
            margin: 0 5px;
        }
        &:hover {
            background-color: transparent;
        }
    }
}
.baucua1phut {
    .cancelBetItem {
        display: inline-block;
        text-decoration: none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-size: 14px;
        line-height: 1;
        background-color: #99140d;
        color: #fff;
        padding: 5px 15px;
        border: 1px solid #8e8e8e;
        &:hover {
            background-color: #990c23;
            border-color: #fff;
        }
    }
    .commonPopupBauCua {
        padding-top: 78px;
        table {
            table-layout: fixed;
            tr {
                th {
                    padding: 10px 5px;
                }
                td {
                    padding: 5px;
                }
                td, th {
                    font-size: 14px;
                    /* These are technically the same, but use both */
                    overflow-wrap: break-word;
                    word-wrap: break-word;

                    -ms-word-break: break-all;
                    /* This is the dangerous one in WebKit, as it breaks things wherever */
                    word-break: break-all;
                    /* Instead use this non-standard one: */
                    word-break: break-word;

                    /* Adds a hyphen where the word breaks, if supported (No Blink) */
                    -ms-hyphens: auto;
                    -moz-hyphens: auto;
                    -webkit-hyphens: auto;
                    hyphens: auto;
                    &:nth-child(1) {
                        width: 20%;
                    }
                    &:nth-child(2) {
                        width: 13%;
                    }
                    &:nth-child(3) {
                        width: 13%;
                    }
                    &:nth-child(4) {
                        width: 10%;
                    }
                    &:nth-child(5) {
                        width: 10%;
                    }
                    &:nth-child(6) {
                        width: 16%;
                    }
                    &:nth-child(7) {
                        width: 10%;
                    }
                    &:nth-child(8) {
                        width: 8%;
                    }
                }
            }
        }
    }
}
.confirmBetting,
.inforQuestion,
.hisUserBet {
    @include BGGradient();
    @include borderRadius(10px);
    border: 5px solid #fadb98;
    &.layui-layer {
        background-color: inherit;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        overflow: visible;
    }
    .layui-layer-title {
        display: none;
    }
    .layui-layer-content {

    }
    &.layui-layer-page {
        .layui-layer-content {
            overflow: visible;
            height: 100% !important;
        }
        .layui-layer-btn {

        }
    }
    .layui-layer-setwin {
        background-color: #fff;
        padding: 10px 8px 8px 10px;
        @include borderRadius(50%);
        top: -16px;
        right: -16px;
        .layui-layer-close1 {
            margin: 0;
        }
    }
}
.confirmBetting {
    .commonPopupBauCua {
        padding-top: 0;
        .inner {
            overflow-y: visible;
        }
        .content {
            height: 100%;
            position: relative;
            @include flexCenterCenter();
            color: #fff;
            font-size: 17px;
            text-align: center;
            padding-bottom: 60px;
            .contentWrap {
                width: 100%;
            }
            .detailConfirm {
                min-height: 100px;
                margin: 20px 0;
                padding: 20px 0 10px;
                border-top: 1px solid #fadb98;
                border-bottom: 1px solid #fadb98;
                background-color: $colorPrimary01;
                @include flexCenterCenter();
                flex-wrap: wrap;
                p {
                    margin-bottom: 10px;
                    width: 100%;
                }
            }
            .title {
                font-size: 20px;
                .issueConfirm {
                    color: #FF9800;
                    font-weight: 700;
                }
            }
            .totalMoneyBetNum {
                color: #FF9800;
                font-weight: 700;
            }
            .btns {
                position: absolute;
                bottom: 0;
                width: 100%;
                left: 0;
                padding: 10px 0;
                text-align: center;
                a {
                    text-decoration: none;
                    display: inline-block;
                    margin: 0 10px;
                    height: 35px;
                    line-height: 35px;
                    text-align: center;
                    min-width: 120px;
                    @include borderRadius(4px);
                    background-color: #fff;
                    &#submitBetBauCua1M {
                        background-color: #FF9800;
                        color: #fff;
                    }
                    &#closePoupConfirm {
                        background-color: #929292;
                        color: #fff;
                    }
                    &:hover {
                        opacity: .8;
                    }
                    &:active {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.ratioTypeBet {
    color: #e0e0e0;
    font-size: 15px;
    font-weight: 400;
    text-align: right;
    padding-right: 5px;
}
/*
#clearBet,
#rebet,
#tbl-history,
#infor-question,
#balance,
.iconlogo {
    position: relative;
    top: -20px;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &.animate {
        opacity: 1;
        top: 0px;
    }
}
#area-player {
    position: relative;
    top: 20px;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &.animate {
        opacity: 1;
        top: 0px;
    }
}
#bottom-page {
    position: relative;
    top: 50px;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    &.animate {
        opacity: 1;
        top: 0px;
    }
}
#balance {
    &.animate {
        transition-delay: .25s;
    }
}
#infor-question {
    &.animate {
        transition-delay: .3s;
    }
}
#tbl-history {
    &.animate {
        transition-delay: .35s;
    }
}
#rebet {
    &.animate {
        transition-delay: .4s;
    }
}
#clearBet {
    &.animate {
        transition-delay: .45s;
    }
}*/

@media (max-height: 885px) {
    .iconlogo {
        @include getScaleBgSpriteWH(1000, 1400, 346, 145, 200, 275, 295);
    }
    #top-page {
        margin-bottom: 5px;
    }
    .typebet-nai {
        @include getScaleBgSpriteWH(1000, 1400, 220, 220, 160, 242, 968);
    }
    .typebet-cua {
        @include getScaleBgSpriteWH(1000, 1400, 220, 220, 160, 776, 800);
    }
    .typebet-ga {
        @include getScaleBgSpriteWH(1000, 1400, 220, 220, 160, 533, 1177);
    }
    .typebet-ca {
        @include getScaleBgSpriteWH(1000, 1400, 220, 220, 160, 532, 941);
    }
    .typebet-bau {
        @include getScaleBgSpriteWH(1000, 1400, 220, 220, 160, 776, 1042);
    }
    .typebet-tom {
        @include getScaleBgSpriteWH(1000, 1400, 220, 220, 160, 6, 966);
    }
    .chip-5 {
        @include getScaleBgSpriteWH(1000, 1400, 100, 100, 80, 625, 523);
    }
    .chip-10 {
        @include getScaleBgSpriteWH(1000, 1400, 100, 100, 80, 407, 556);
    }
    .chip-25 {
        @include getScaleBgSpriteWH(1000, 1400, 100, 100, 80, 323, 676);
    }
    .chip-50 {
        @include getScaleBgSpriteWH(1000, 1400, 100, 100, 80, 215, 676);
    }
    .chip-100 {
        @include getScaleBgSpriteWH(1000, 1400, 100, 100, 80, 108, 676);
    }
    .chip-200 {
        @include getScaleBgSpriteWH(1000, 1400, 100, 100, 80, 2, 676);
    }
    .chip-300 {
        @include getScaleBgSpriteWH(1000, 1400, 100, 100, 80, 834, 523);
    }
    .chip-400 {
        @include getScaleBgSpriteWH(1000, 1400, 100, 100, 80, 519, 556);
    }
    .chip-500 {
        @include getScaleBgSpriteWH(1000, 1400, 100, 100, 80, 729, 523);
    }
    .light-around {
        @include getScaleBgSpriteWH(1000, 1400, 150, 150, 120, 660, 650);
    }
    .result-nai {
        @include getScaleBgSpriteWH(1000, 1400, 119, 119, 26, 874, 275);
    }
    .result-bau {
        @include getScaleBgSpriteWH(1000, 1400, 119, 119, 26, 633, 279);
    }
    .result-cua {
        @include getScaleBgSpriteWH(1000, 1400, 119, 119, 26, 750, 394);
    }
    .result-ga {
        @include getScaleBgSpriteWH(1000, 1400, 119, 119, 26, 750, 275);
    }
    .result-tom {
        @include getScaleBgSpriteWH(1000, 1400, 119, 119, 26, 874, 394);
    }
    .result-ca {
        @include getScaleBgSpriteWH(1000, 1400, 119, 119, 26, 633, 397);
    }
    .chip {
        font-size: 22px;
        .light-around {
            top: -20px;
            left: -20px;
        }
    }
    #select-chip{
        height: 99px;
    }

    .choose-bet {
        .wraptype {
            width: 100%;
        }
    }
}

@import "responsive";