$colorPrimary: #1b393b;
$colorPrimary01: #35666a;
$colorTableBorder: #fff;
$colorLossMoney: red;
@mixin popupBGGradient() {
    background: #35666a;
    background: -moz-linear-gradient(top,#35666a 0%,#285052 50%,#1b393b 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,#35666a),color-stop(50%,#285052),color-stop(100%,#1b393b));
    background: -webkit-linear-gradient(top,#35666a 0%,#285052 50%,#1b393b 100%);
    background: -o-linear-gradient(top,#35666a 0%,#285052 50%,#1b393b 100%);
    background: -ms-linear-gradient(top,#35666a 0%,#285052 50%,#1b393b 100%);
    background: linear-gradient(to bottom,#35666a 0%,#285052 50%,#1b393b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#35666a",endColorstr="#1b393b",GradientType=0 );
}
@mixin BGGradient() {
    background: #35666a;
    background: -moz-linear-gradient(top,#35666a 0%,#285052 50%,#1b393b 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,#35666a),color-stop(50%,#285052),color-stop(100%,#1b393b));
    background: -webkit-linear-gradient(top,#35666a 0%,#285052 50%,#1b393b 100%);
    background: -o-linear-gradient(top,#35666a 0%,#285052 50%,#1b393b 100%);
    background: -ms-linear-gradient(top,#35666a 0%,#285052 50%,#1b393b 100%);
    background: linear-gradient(to bottom,#35666a 0%,#285052 50%,#1b393b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#35666a",endColorstr="#1b393b",GradientType=0 );
}
@mixin btnBet() {
    background-color: #15f2ff;
    color: #000;
    border: 1px solid #ffffff;
}
@mixin btnDisable() {
    background-color: #128f9a;
    color: #000;
    border: 1px solid #020202;
}