<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
	<ui:composition template="/templates/common/layout.xhtml">
		<ui:define name="headCss">
			<link rel="stylesheet" type="text/css" href="images/game-base.css?#{startup.time}" />
			<link rel="stylesheet" type="text/css" href="images/jquery.modal.css?#{startup.time}" />
			<link rel="stylesheet" href="/css/font-awesome.min.css?#{startup.time}"/>
			<link rel="stylesheet" type="text/css" href="/css/base.css?#{startup.time}"/>
			<link type="text/css" rel="stylesheet" href="/css/index.css?#{startup.time}" />
			<style>
				.item-info-tip .text {
				  position: absolute;
				  background: rgba(0, 0, 0, 0.6);
				  background/*\**/:url(black-50.png)\9;
				  padding: 10px;
				  left: -10000px;
				  top: 100%;
				  width: 220px;
				  text-align: left;
				  border-radius: 5px;
				  font-size: 12px;
				  color: #79ff92;
				  opacity: 0,
				  transition: opacity .5s;
				}
			</style>

			<link type="text/css" rel="stylesheet" href="/css/dice-custom.css" />
		</ui:define>
		<ui:define name="content">
			<div id="container">
				<!-- InstanceBeginEditable name="EditRegion2" -->
					<div class="game-table">
						<div class="game-table-bg">
							<div id="hisResult">
								<div class="history">
									<div class="his-inner">
										<ul class="list clearfix" id="J-history">
										</ul>
									</div>
								</div>
							</div>
							<div class="desktop" id="J-table-desktop">
								<div id="J-lottery-stage" class="lottery-stage">
									<div class="classes">
										<i class="dice dice-1"></i>
										<i class="dice dice-2"></i>
										<i class="dice dice-3"></i>
									</div>
								</div>
							    <div class="item-info-tip item-info-tip-0">
							    	<div class="text">
							    		<font color="#e0ea74">【Tài】：</font>Tổng số điểm của 3 viên xúc xắc là 11 đến 17 điểm。<br/><font color="#e0ea74">【Ví dụ】：</font>Cược ( tài), kết quả là 256, tổng điểm là 13 ( tài), sẽ trúng thưởng ( không bao gồm các số lặp lại)
									</div>
							    </div>
							    <div class="item-info-tip item-info-tip-1">
							    	<div class="text"><font color="#e0ea74">【Lẻ】：</font>Tổng số điểm của 3 viên xúc xắc là số lẻ。<br/><font color="#e0ea74">【Ví dụ】：</font>Cược (lẻ), kết quả mở thưởng là 335, tổng điểm là 11 ( số lẻ), sẽ trúng thưởng ( không bao gồm các số lặp lại)
							    	</div>
							    </div>
							    <div class="item-info-tip item-info-tip-2">
							    	<div class="text">
							    		<font color="#e0ea74">【Bộ đôi đồng nhất】：</font>Chọn ít nhất 1 cặp số giống nhau từ 11 ~ 66, nếu kết quả xuất hiện cặp số đã chọn, không phân biệt thứ tự của xúc xắc。<br/><font color="#e0ea74">【Ví dụ】：</font>Đặt cược 11, mở thưởng 112, 121, 211 ( không phân biệt thứ tự), tức là trúng thưởng ( bao gồm 3 số lặp lại)
							    	</div>
							    </div>
							    <div class="item-info-tip item-info-tip-5">
							    	<div class="text">
							    		<font color="#e0ea74">【Bộ 3 cụ thể】：</font>Đặt cược kết quả là bộ 3 đồng nhất cụ thể 111,222,333,444,555, 666, nếu kết quả ra số đã chọn tức là trúng thưởng。<br/><font color="#e0ea74">【Ví dụ】：</font>Đặt cươc 111, mở thưởng 111,tức là trúng thưởng
									</div>
							    </div>
							    <div class="item-info-tip item-info-tip-11">
							    	<div class="text">
							    		<font color="#e0ea74">【Bộ 3 bất kỳ】：</font>Đặt cược tất cả nhưng bộ 3 đồng nhất giống nhau (111,222,333,444,555,666), mở thưởng bất cứ 3 số nào cũng là trúng thưởng.。<br/><font color="#e0ea74">【Ví dụ】：</font>Đặt cươc 111, mở thưởng 111,tức là trúng thưởng
							    	</div>
							    </div>
							    <div class="item-info-tip item-info-tip-17">
							    	<div class="text"><font color="#e0ea74">【Cược tổng】：</font>Chọn 1 số cụ thể ( tổng điểm của 3 viên xúc xắc) để đặt cược, tổng điểm bằng với số đã chọn sẽ trúng thưởng。<br/><font color="#e0ea74">【Ví dụ】：</font>Đặt cươc 5, kết quả mở thưởng là 113, tổng điểm là 5 sẽ trúng thưởng ( bao gồm 3 số lặp lại)
							    	</div>
							    </div>
							    <div class="item-info-tip item-info-tip-31">
							    	<div class="text"><font color="#e0ea74">【Cược cặp】：</font>Từ 15 tổ hợp số chọn ra ít nhất 1 cặp số, kết quả mở thưởng bao gồm cặp số đã chọn thì trúng thưởng。<br/><font color="#e0ea74">【Ví dụ】：</font>Đặt cươc 12, kết quả mở thưởng là 124 ( không phân biệt thứ tự), tức là trúng thưởng
							    	</div>
							    </div>
							    <div class="item-info-tip item-info-tip-46">
							    	<div class="text"><font color="#e0ea74">【Dự đoán 1 số】：</font>Chọn ít nhất 1 số từ 1~6, số đã chọn xuất hiện 1 lần sau mở thưởng, tỷ lệ trúng thưởng sẽ phụ thuộc vào số lần xuất hiện của số đó trong kết quả quay.
							    	<br/><font color="#e0ea74">【Ví dụ】：</font>Đặt cươc số 1, kết quả mở thưởng là 123 sẽ trúng thưởng 1 lần, kết quả mở thưởng là 112 sẽ trúng thưởng 2 lần, kết quả mở thưởng là 111 sẽ trúng thưởng 3 lần.
							    	</div>
							    </div>
							</div>
						</div>
					</div>



					<div id="J-panel-game-side" class="game-side">
						<div class="inner">
							<div class="chips-cont clearfix">
                                <div class="btnGroupLeft">
                                    <button id="J-button-clear" class="btn btn-disabled" disabled="disabled">Hủy toàn bộ</button>
                                    <button id="J-button-goback" class="btn btn-disabled" disabled="disabled">Hủy</button>
                                </div>

                                <div class="chipRender">
								    <div id="J-chipgroup-cont"></div>
                                    <div id="J-chipgroup-other"></div>
                                </div>

                                <div class="btnGroupRight">
                                    <button id="changeChip" class="btn btn-primary">Mệnh giá</button>
                                    <button id="J-button-submit" class="btn btn-primary">Cược</button>
                                    <button id="J-button-rebet" class="btn btn-disabled" disabled="disabled">Lặp lại</button>
                                    <button id="J-button-bet-many" class="btn btn-disabled" disabled="disabled">Nuôi</button>
                                </div>

								<div class="money">
                                    <div class="moneyBetting">
                                        Tiền cược:
                                        <span class="statics"><span id="J-num-money" class="num">0</span></span>
                                    </div>
									<div class="amount">
                                        Số dư:
                                        <span id="J-user-balance" class="num"><h:outputText value="#{LoginBean.user.balance}" converter="MoneyConverter"/></span>
                                        <span id="J-money-tip" class="money-tip">+ 120.00</span>
                                    </div>
								</div>

							</div>

						</div>
					</div>


					<!-- 连投提示 -->
					<div id="J-bet-many-tip" class="bet-many-tip">
						Tự động đặt cược, số lần cược tự động còn lại <span id="J-bet-many-tip-times" class="num">0</span>lần
						&nbsp;
						<button id="J-bet-many-tip-stop" class="btn" style="padding-left:30px;padding-right:30px;">Dừng</button>
					</div>

					<!--
					modal
					-->
					<div id="J-tpl-modal-bet-many" style="display:none;">
						<div class="inner">
							<div class="title">Cài đặt số lần đặt cược</div>
							<div>
								<input id="J-num-bet-many-num" class="input-times" type="text" value="5" maxlength="3" />
							</div>
							<div id="J-bet-many-iswinstop-cont" class="row-winstop">
								Dừng khi trúng thưởng
								<label for="J-game-win-stop-n"><input id="J-game-win-stop-n" name="game-win-stop" type="radio" value="0" checked="checked" />Không</label>
								<label for="J-game-win-stop-y"><input id="J-game-win-stop-y" name="game-win-stop" type="radio" value="1" />Dừng</label>
							</div>
							<div class="buttons">
								<a href="#" id="J-button-comfirm-bet-many" class="btn btn-primary" style="padding-left:20px;padding-right:20px;" rel="modal:close">Cược</a>
								<a href="#" class="btn" rel="modal:close">Hủy</a>
							</div>
						</div>
					</div>

					<div id="J-tpl-modal-first-tip" style="display:none;">
						<div class="text" style="font-family:'微软雅黑'">
							<p class="row">1. Nhấp chuột vào nút <span class="hl">【Cược】</span> để đặt cược</p>
							<p class="row">2. Nhấp chuột vào nút <span class="hl">【Hủy】</span> hoặc <span class="hl">【Hủy toàn bộ】</span> để hủy cược</p>
							<p class="row">3. Xuất hiện 3 số lặp lại，【tài xỉu chẵn lẻ】 đều không trúng thưởng</p>
							<p class="row">4. Trong thời gian mở thưởng không được hủy cược</p>
							<p class="row">
								5. Quy định giới hạn cược，hãy xem <a target="_blank" class="link" href="/new_help/new_help_kstb.html">hướng dẫn chơi tài xỉu</a>
							</p>
							<p class="row" style="text-align:center;">
								<a href="#" class="btn" style="padding-left:40px;padding-right:40px;" rel="modal:close">Biết rồi</a>
							</p>
						</div>
					</div>

					<div id="J-tpl-modal-max-tip" style="display:none;">
						<div class="text">
							<p class="row">Giới hạn tiền cược, số tiền cược cao nhất  <span id="J-tip-text-max-money-tip" class="hl" style="font-size:20px;">0.00</span></p>
							<p class="row" style="text-align:center;">
								<a href="#" class="btn" style="padding-left:40px;padding-right:40px;" rel="modal:close">Bỏ qua</a>
							</p>
						</div>
					</div>
				<!-- InstanceEndEditable -->
			</div>
		</ui:define>
		<ui:define name="headJs">
			<script type="text/javascript" src="js/jquery.js?#{startup.time}"></script>
			<script src="/js/main.js?#{startup.time}" type="text/javascript" charset="utf-8"></script>
			<script type="text/javascript">
				//<![CDATA[
				function exitLogin01(){
					window.top.location='/login.shtml';
				}
				//]]>
			</script>
			<script type="text/javascript">
				//<![CDATA[
				try {
                    var global_game_config = {
                        gameid: #{K31Bean.lotteryid},
                        beturl: 'GameService.aspx',
                        chips: #{K31Bean.chips},
                        methods: #{K31Bean.methodstr},
                        history: #{K31Bean.history},
                        poscfg: [{
                            'name': 'da',
                            'left': 38,
                            'top': 0,
                            'width': 184,
                            'height': 98
                        }, {
                            'name': 'xiao',
                            'left': 742,
                            'top': 0,
                            'width': 184,
                            'height': 97
                        }, {
                            'name': 'dan',
                            'left': 32,
                            'top': 100,
                            'width': 184,
                            'height': 48
                        }, {
                            'name': 'shuang',
                            'left': 752,
                            'top': 100,
                            'width': 184,
                            'height': 47
                        }, {
                            'name': 'duizi_66',
                            'left': 225,
                            'top': 25,
                            'width': 86,
                            'height': 36
                        }, {
                            'name': 'duizi_55',
                            'left': 222,
                            'top': 65,
                            'width': 87,
                            'height': 37
                        }, {
                            'name': 'duizi_44',
                            'left': 219,
                            'top': 105,
                            'width': 88,
                            'height': 38
                        }, {
                            'name': 'duizi_33',
                            'left': 652,
                            'top': 25,
                            'width': 86,
                            'height': 36
                        }, {
                            'name': 'duizi_22',
                            'left': 654,
                            'top': 64,
                            'width': 87,
                            'height': 37
                        }, {
                            'name': 'duizi_11',
                            'left': 656,
                            'top': 105,
                            'width': 88,
                            'height': 37
                        }, {
                            'name': 'baozi_666',
                            'left': 323,
                            'top': 17,
                            'width': 53,
                            'height': 47
                        }, {
                            'name': 'baozi_555',
                            'left': 376,
                            'top': 17,
                            'width': 53,
                            'height': 47
                        }, {
                            'name': 'baozi_444',
                            'left': 429,
                            'top': 17,
                            'width': 53,
                            'height': 47
                        }, {
                            'name': 'baozi_333',
                            'left': 482,
                            'top': 17,
                            'width': 53,
                            'height': 47
                        }, {
                            'name': 'baozi_222',
                            'left': 535,
                            'top': 17,
                            'width': 53,
                            'height': 47
                        }, {
                            'name': 'baozi_111',
                            'left': 588,
                            'top': 17,
                            'width': 53,
                            'height': 47
                        }, {
                            'name': 'baozi_nnn',
                            'left': 314,
                            'top': 73,
                            'width': 336,
                            'height': 74
                        }, {
                            'name': 'hezhi_17',
                            'left': 22,
                            'top': 151,
                            'width': 70,
                            'height': 78
                        }, {
                            'name': 'hezhi_16',
                            'left': 88,
                            'top': 151,
                            'width': 68,
                            'height': 78
                        }, {
                            'name': 'hezhi_15',
                            'left': 153,
                            'top': 151,
                            'width': 68,
                            'height': 78
                        }, {
                            'name': 'hezhi_14',
                            'left': 219,
                            'top': 151,
                            'width': 66,
                            'height': 78
                        }, {
                            'name': 'hezhi_13',
                            'left': 285,
                            'top': 151,
                            'width': 66,
                            'height': 78
                        }, {
                            'name': 'hezhi_12',
                            'left': 351,
                            'top': 151,
                            'width': 64,
                            'height': 78
                        }, {
                            'name': 'hezhi_11',
                            'left': 416,
                            'top': 151,
                            'width': 64,
                            'height': 78
                        }, {
                            'name': 'hezhi_10',
                            'left': 482,
                            'top': 151,
                            'width': 64,
                            'height': 78
                        }, {
                            'name': 'hezhi_9',
                            'left': 548,
                            'top': 151,
                            'width': 64,
                            'height': 78
                        }, {
                            'name': 'hezhi_8',
                            'left': 611,
                            'top': 151,
                            'width': 66,
                            'height': 78
                        }, {
                            'name': 'hezhi_7',
                            'left': 677,
                            'top': 151,
                            'width': 66,
                            'height': 78
                        }, {
                            'name': 'hezhi_6',
                            'left': 741,
                            'top': 151,
                            'width': 68,
                            'height': 78
                        }, {
                            'name': 'hezhi_5',
                            'left': 806,
                            'top': 151,
                            'width': 68,
                            'height': 78
                        }, {
                            'name': 'hezhi_4',
                            'left': 870,
                            'top': 151,
                            'width': 70,
                            'height': 78
                        }, {
                            'name': 'erma_56',
                            'left': 59,
                            'top': 238,
                            'width': 64,
                            'height': 92
                        }, {
                            'name': 'erma_46',
                            'left': 119,
                            'top': 238,
                            'width': 64,
                            'height': 92
                        }, {
                            'name': 'erma_45',
                            'left': 179,
                            'top': 238,
                            'width': 62,
                            'height': 92
                        }, {
                            'name': 'erma_36',
                            'left': 238,
                            'top': 238,
                            'width': 62,
                            'height': 92
                        }, {
                            'name': 'erma_35',
                            'left': 298,
                            'top': 238,
                            'width': 60,
                            'height': 92
                        }, {
                            'name': 'erma_34',
                            'left': 358,
                            'top': 238,
                            'width': 60,
                            'height': 92
                        }, {
                            'name': 'erma_26',
                            'left': 417,
                            'top': 238,
                            'width': 58,
                            'height': 92
                        }, {
                            'name': 'erma_25',
                            'left': 477,
                            'top': 238,
                            'width': 58,
                            'height': 92
                        }, {
                            'name': 'erma_24',
                            'left': 536,
                            'top': 238,
                            'width': 58,
                            'height': 92
                        }, {
                            'name': 'erma_23',
                            'left': 595,
                            'top': 238,
                            'width': 58,
                            'height': 92
                        }, {
                            'name': 'erma_16',
                            'left': 653,
                            'top': 238,
                            'width': 60,
                            'height': 92
                        }, {
                            'name': 'erma_15',
                            'left': 711,
                            'top': 238,
                            'width': 62,
                            'height': 92
                        }, {
                            'name': 'erma_14',
                            'left': 770,
                            'top': 238,
                            'width': 63,
                            'height': 92
                        }, {
                            'name': 'erma_13',
                            'left': 829,
                            'top': 238,
                            'width': 63,
                            'height': 92
                        }, {
                            'name': 'erma_12',
                            'left': 887,
                            'top': 238,
                            'width': 66,
                            'height': 92
                        }, {
                            'name': 'yima_6',
                            'left': 128,
                            'top': 346,
                            'width': 96,
                            'height': 62
                        }, {
                            'name': 'yima_5',
                            'left': 266,
                            'top': 346,
                            'width': 96,
                            'height': 62
                        }, {
                            'name': 'yima_4',
                            'left': 407,
                            'top': 346,
                            'width': 94,
                            'height': 62
                        }, {
                            'name': 'yima_3',
                            'left': 546,
                            'top': 346,
                            'width': 94,
                            'height': 62
                        }, {
                            'name': 'yima_2',
                            'left': 684,
                            'top': 346,
                            'width': 96,
                            'height': 62
                        }, {
                            'name': 'yima_1',
                            'left': 822,
                            'top': 346,
                            'width': 98,
                            'height': 62
                        }]

                    };
                    $(document).ready(function() {
                        var s = document.createElement("script");
                        s.type = "text/javascript";
                        s.src = "/buildjs/game-dice-all.js?#{startup.time}";
                        document.querySelector('body').appendChild(s);
					});
				}catch (error) {
				    alert("Lỗi, vui lòng Refresh hoặc nhấn F5 để làm mới trang.");
				}
				//]]>
			</script>
		</ui:define>
	</ui:composition>
</body>
</html>
