<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:c="http://java.sun.com/jsp/jstl/core" 
xmlns:ui="http://java.sun.com/jsf/facelets" 
xmlns:h="http://java.sun.com/jsf/html" 
xmlns:f="http://java.sun.com/jsf/core" 
xmlns:a4j="http://richfaces.org/a4j" 
xmlns:rich="http://richfaces.org/rich" lang="en">
<head>
	<title>Trò chơi</title>
	<link rel="shortcut icon" href="../images/ico.ico?#{startup.time}" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,900&amp;subset=vietnamese" rel="stylesheet" />
	<link rel="stylesheet" href="../css/style.css?#{startup.time}" />
	<link rel="stylesheet" href="haba/css/haba.css?#{startup.time}" />
	<script type="text/javascript" src="../js/build/lib.min.js?#{startup.time}" charset="utf-8"></script>
	<script type="text/javascript" src="../js/build/common.min.js?#{startup.time}"></script>
</head>
<body>
	<div class="habaPage">
	
		<header>
		    <div class="topbar">
		        <a class="logoHaba" href="/"><img alt=""  src="images/events/newyear-2019/logo.png"/></a>
		        <h:panelGroup rendered="#{!HabaLoginBean.flagUserMode}">
			        <div class="userInfor">
			        	<span class="loginname">#{HabaLoginBean.loginName}</span>
			            <a href="javascript:void(0)" id="refresh" title="Làm mới">
							<span id="moneyHaba">#{HabaLoginBean.realBalance}</span> vnđ
							<span class="icon-refresh"></span>
						</a>
						<a href="javascript:confirmLogoutHaba();" class="logoutHaba" title="Đăng xuất Game"><span class="icons icon__logout"></span>Đăng Xuất</a>
						<f:view>
							<h:form id="logoutHabaLink">
								<a4j:region>
									<a4j:jsFunction name="userLogOutHaba" limitToList="true" ajaxSingle="true" status="normalStatus" action="#{HabaLoginBean.logoutHaba}" data="#{HabaLoginBean.msg}" oncomplete="logoutComplete(data)"></a4j:jsFunction>
								</a4j:region>
							</h:form>
						</f:view>
			        </div>
		        </h:panelGroup>
		        <h:panelGroup rendered="#{HabaLoginBean.flagUserMode}">
			        <p class="color-fff">Bạn đang ở tài khoản chơi thử</p>
		        </h:panelGroup>
		        <h:inputHidden value="#{HabaLoginBean.flagUserMode}" id ="userMode" /> 
		    </div>
		</header> 
		<div class="bannerHaba">
			<img alt=""  src="haba/images/banner.jpg?#{startup.time}"/>
		</div>
		<div class="wrapper">
			<div class="wrapItemsGame clearfix">
				<h:panelGroup rendered="#{HabaLoginBean.errorHas}">
					<div class="errorShow">Hệ thống đang bảo trì.</div>
					<script type="text/javascript">
						var msg = 'Hệ thống đang bảo trì, vui lòng quay lại sau!';
						$(document).ready(function() {
							showErrorAlert(msg, 2500, function() {
								window.close();
							});
						});
					</script>
				</h:panelGroup>
			    <a4j:repeat value="#{HabaLoginBean.listGame}" var="item" id="dblistGame" rowKeyVar="keys">
					<h:panelGroup rendered="#{item.gameTypeId eq 'SlotGame'}">
						<div class="itemsGame">
							<div class="itemsInner">
								<h:outputLink value="/gamesPlay.shtml" target="_blank" styleClass="gameTitle linkPlay">
									<h:outputText value="#{item.gameTitle}" />
									<f:param name="urlPlay" value="#{item.gameLink}" />
									<f:param name="titleGame" value="#{item.gameTitle}" />
								</h:outputLink>
								
								<div class="gamePic">
									<h:outputLink value="/gamesPlay.shtml" target="_blank" styleClass="linkPlay">
										<h:graphicImage value = "haba/images/games/#{item.keyName}.png"/>
										<f:param name="urlPlay" value="#{item.gameLink}" />
										<f:param name="titleGame" value="#{item.gameTitle}" />
									</h:outputLink>
								</div>
								<div class="gameBtn">
									<h:outputLink value="/gamesPlay.shtml" target="_blank" styleClass="linkPlay">
										<h:outputText value="Bắt đầu" />
										<f:param name="urlPlay" value="#{item.gameLink}" />
										<f:param name="titleGame" value="#{item.gameTitle}" />
									</h:outputLink>
									<h:outputLink value="/gamesHelp.shtml" target="_blank">
										<h:outputText value="Quy tắc" />
										<f:param name="urlPlayHelp" value="#{item.helpLink}" />
									</h:outputLink>
								</div>
							</div>
						</div>
					</h:panelGroup>
				</a4j:repeat>
			</div>
			<a href="javascript:void(0)" id="goTop"><span class="icon-arrow_upward"></span></a>
		</div>
	
	</div>

	<script type="text/javascript" src="../js/build/haba.min.js"></script>
</body>
</html>
