<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich" lang="en">

<body>
    <ui:composition template="/templates/common/layout.xhtml">
        <!-- Add css for login page -->
        <ui:define name="headCss">
            <link rel="stylesheet" href="css/swiper.min.css" />
        </ui:define>
        <!-- End of css -->
        <!-- Start content page login -->
        <ui:define name="content">
            <div id="container">
                <div class="homepage bg__full">
                    <div class="homepage__slide">
                        <div class="container">
                            <div class="homepage__slide--inner">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide baucua-slide">
                                            <div class="wrap__img">
                                                <img src="images/banners/game-12-con-giap.png?#{startup.time}" alt="" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide baucua-slide">
                                            <div class="wrap__img">
                                                <img src="images/banners/slide-daga.png?#{startup.time}" alt="" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide baucua-slide">
                                            <div class="wrap__img">
                                                <img src="images/banners/live-casino.png?#{startup.time}" alt="" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide baucua-slide">
                                            <div class="wrap__img">
                                                <img src="images/banners/baucua-slide.png?#{startup.time}" alt="" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wrap__img">
                                                <img src="images/banners/banca-slide.png?#{startup.time}" alt="" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wrap__img">
                                                <img src="images/banners/xocdia.png?#{startup.time}" alt="" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wrap__img">
                                                <img src="images/banners/slide-ebet.png?#{startup.time}" alt="" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wrap__img">
                                                <img src="images/banners/slide-1.png?#{startup.time}" alt="" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide slide__daily">
                                            <div class="wrap__img">
                                                <img src="images/banners/slide-taixiu.png?#{startup.time}" alt="" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide slide__daily">
                                            <div class="wrap__img">
                                                <img src="images/banners/slide-3.png?#{startup.time}" alt="" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide slide__morebool">
                                            <div class="wrap__img">
                                                <img src="images/banners/slide-2.png?#{startup.time}" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                                <div class="sologan__block">
                                    <img src="../images/sologan.png?#{startup.time}" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block__items">
                        <div class="container">
                            <div class="block__items--inner">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="box__1 box">
                                            <div class="bg"></div>
                                            <div class="bg__1"></div>
                                            <div class="box__inner">
                                                <div class="mgB-10">
                                                    <img src="images/icon-box-1.png?#{startup.time}" alt=""
                                                        class="d-ib ver-c" /> <span
                                                        class="d-ib ver-c mgL-10 fs-40 font-600 color-fff">Đề
                                                        xuất</span>
                                                </div>
                                                <div class="game__suggest">
                                                    <p class="fs-15 txt-uper lh-23 font-500">Trò chơi<br />được đề xuất
                                                    </p>
                                                    <p>
                                                        <a href="/main.shtml?xoso=50" class="check__link">1. Xổ số 1
                                                            giây</a>
                                                    </p>
                                                    <p>
                                                        <a href="/main.shtml?xoso=100" class="check__link">2. Xổ số 45
                                                            giây</a>
                                                    </p>
                                                    <p>
                                                        <a href="/main.shtml?xoso=200" class="check__link">3. Xổ số miền
                                                            bắc</a>
                                                    </p>
                                                    <p>
                                                        <a href="/oantuti/index.html" class="check__link">4. Oẳn tù
                                                            tì</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="box__2 box">
                                            <div class="bg"></div>
                                            <div class="box__inner">
                                                <a href="/loto188.zip" class="down__app">
                                                    <span class="icons2 icon__down--desktop"></span>
                                                </a>
                                                <a href="javascript:void(0);" onclick="modalDown()"
                                                    class="down__appmobile">
                                                    <span class="icons2 icon__down--app"></span>
                                                </a>
                                                <p>Tải xuống</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="box__3 box">
                                            <div class="bg"></div>
                                            <div class="box__inner">
                                                <div class="items__box3">
                                                    <a href="/page/question.shtml" class="check__link">Câu hỏi thường
                                                        gặp</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ui:include src="/templates/common/footer.xhtml" />
                </div>
            </div>

            <div id="qr__download" class="hide">
                <div class="popup__content">
                    <div class="down__inner">
                        <div class="mgB-20"><img src="images/qr-android.png?#{startup.time}" alt="" /></div>
                        <div><img src="images/icon__android.png?#{startup.time}" alt="" /></div>
                        <span class="icons2 icon__down"></span>
                    </div>
                    <div class="down__inner">
                        <div class="mgB-20"><img src="images/qr-ios.png?#{startup.time}" alt="" /></div>
                        <div><img src="images/icon__ios.png?#{startup.time}" alt="" /></div>
                        <span class="icons2 icon__down"></span>
                    </div>
                    <div class="down__inner">
                        <div class="mgB-20"><img src="images/qr-wap.png?#{startup.time}" alt="" /></div>
                        <div><img src="images/icon__wap.png?#{startup.time}" alt="" /></div>
                        <span class="icons2 icon__down"></span>
                    </div>
                </div>
            </div>
        </ui:define>
        <!-- End content page login -->

        <!-- Start script for login page -->
        <ui:define name="headJs">
            <script type="text/javascript" src="/js/lib/swiper-3.3.1.js" charset="utf-8"></script>
            <script type="text/javascript">
                //<![CDATA[
                function modalDown() {
                    layer.open({
                        type: 1,
                        title: 'Di Động App',
                        content: $('#qr__download'),
                        btn: ['OK'],
                        area: ['835px']
                    });
                }
                $(document).ready(function () {
                    var swiper = new Swiper('.homepage__slide .swiper-container', {
                        pagination: '.homepage__slide .swiper-pagination',
                        paginationClickable: true,
                        effect: 'fade',
                        speed: 1500,
                        autoplay: 2000,
                        autoplayDisableOnInteraction: false
                    });
                });
                $(document).ready(function () {
                    var checkuser = $("#checkuser").val();
                    if (checkuser == "-1") {
                        setTimeout(function () {
                            checkUser();
                        }, 500);
                    }
                });

                function checkUser() {
                    _SCROLLINGJXF = "auto";

                    layer.open({
                        type: 2,
                        title: 'Cập nhật tài khoản',
                        shadeClose: true,
                        shade: 0.5,
                        area: ['900px', '560px'],
                        content: '../loginReg.shtml' //iframe的url
                    });
                }

            //]]>
            </script>
            <h:panelGroup rendered="#{LoginBean.user.id==0?'false':'true'}">
                <script type="text/javascript">
                    //<![CDATA[
                    $(document).ready(function () {
                        var checkuser = $("#checkuser").val();
                        if (checkuser != "-1") {
                            var msgTitle = $("#sysMsg").val();
                            if (msgTitle != "") {
                                setTimeout(function () {
                                    systemMsg();
                                }, 1000);
                            }
                        }
                    });

                    function systemMsg() {
                        layer.open({
                            type: 2,
                            btn: ['Thoát'],
                            btnAlign: 'c',
                            area: ['650px', '450px'],
                            title: 'Thông báo',
                            content: '/page/IndexMsgDefSub.shtml'
                        });
                    }

                //]]>
                </script>
            </h:panelGroup>
        </ui:define>
        <!-- End script for login page -->

    </ui:composition>
</body>

</html>