<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:rich="http://richfaces.org/rich">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css?#{startup.time}"/>
</head>
<body>
<f:view>
    <h:form id="AgentForm">
        <a4j:region>
            <h:panelGroup id="inputMain">
                <div id="improveInfor">
                    <div class="bg-eaeaea pd-15 fs-15 pdL-20">
                        <p class="mgB-5">
                            Xin chào, <span class="font-500 color-f49e1d">#{LoginBean.user.nickname}</span> !
                        </p>
                        <p>Cảm ơn bạn đã tham gia hệ thống, để phục vụ bạn tốt hơn, vui lòng cập nhật thông tin và thay
                            đổi mật khẩu.</p>
                    </div>
                    <div class="popup__content">
                        <div class="frm__item">
                            <label for="" class="d-ib font-500 w-25 pdR-15 ver-c text-right"> <span
                                    class="color-red">*</span> Biệt danh:
                            </label>
                            <div class="iput w-40">
                                <h:inputText id="nickname" value="#{LoginBean.updateuser.nickname}" maxlength="30"
                                             styleClass="w-100 h-35"/>
                            </div>
                            <span class="d-ib ver-c mgL-10 fs-13"></span>
                        </div>
                        <div class="frm__item">
                            <label for="" class="d-ib font-500 w-25 pdR-15 ver-c text-right"> <span
                                    class="color-red">*</span> E-mail:
                            </label>
                            <div class="iput w-40">
                                <h:inputText id="email" value="#{LoginBean.updateuser.email}" maxlength="30"
                                             styleClass="w-100 h-35"/>
                            </div>
                        </div>
                        <div class="frm__item">
                            <label for="" class="d-ib font-500 w-25 pdR-15 ver-c text-right"> <span
                                    class="color-red">*</span> Số điện thoại:
                            </label>
                            <div class="iput w-40">
                                <h:inputText id="phone" value="#{LoginBean.updateuser.phone}" maxlength="30" styleClass="w-100 h-35"/>
                            </div>
                        </div>
                        <div class="frm__item">
                            <label for="" class="d-ib font-500 w-25 pdR-15 ver-c text-right"> <span
                                    class="color-red">*</span> Mật khẩu đăng nhập mới:
                            </label>
                            <div class="iput w-40">
                                <h:inputSecret id="password" value="#{LoginBean.updateuser.pwd}" styleClass="w-100 h-35"
                                               maxlength="30"/>
                            </div>
                            <span class="d-ib ver-c mgL-10 fs-13">( Không được giống mật khẩu thanh toán )</span>
                        </div>
                        <div class="frm__item">
                            <label for="" class="d-ib font-500 w-25 pdR-15 ver-c text-right"> <span
                                    class="color-red">*</span> Mật khẩu thanh toán:
                            </label>
                            <div class="iput w-40">
                                <h:inputSecret id="checkPassword" value="#{LoginBean.updateuser.checkpwd}"
                                               styleClass="w-100 h-35" maxlength="30"/>
                            </div>
                            <span class="d-ib ver-c mgL-10 fs-13">( Không được giống mật khẩu đăng nhập )</span>
                        </div>

                        <div class="mgT-40 mgB-30 pdL-30">
                            <label class="r__c--emu r__c--emu13x13">
                                <div class="r__c--ui">
                                    <input type="checkbox" id="eAccept"/><span class="check"></span> <span
                                        class="checked"></span>
                                </div>
                                Vui lòng đọc kỹ <a href="javascript:showAccept();" class="color-f49e1d">Điều khoản sử
                                dụng</a>, chấp thuận và tuân thủ các điều khoản đó.
                            </label>
                        </div>

                        <div class="frm__item frm__btn text-center">
                            <a4j:commandButton value="Cập nhật" status="normalStatus"
                                               onclick="if(!checkSubmit())return false;"
                                               styleClass="btn__primary d-ib mgR-15 pdT-15 pdB-15 w--150 fs-15"
                                               action="#{LoginBean.updateUserInfo}" data="#{LoginBean.msg}"
                                               oncomplete="savefinish(data)"/>
                        </div>
                    </div>
                </div>

                <script type="text/javascript" src="../js/build/lib.min.js" charset="utf-8"></script>
                <script type="text/javascript" src="../js/build/common.min.js"></script>
                <script type="text/javascript" src="../js/jquery.validate.js?#{startup.time}"></script>

                <script type="text/javascript">
                    function savefinish(data) {
                        if (data) {
                            if (data == "-1") {
                            	layer.msg("Bạn vừa cập nhật thông tin, vui lòng không không cập nhật! \r\n Hoặc bạn đang đăng nhập bằng tài khoản khác, vui lòng thoát ra", {
                            		icon: 2, // 1: icon success, 2: icon error, 3: warning question, 4: lock, 5: face sad, 6: face funny, 7: warning
                            		time: 2000
                            	}, function(){
                            		window.top.location.href = "/home.shtml";
                                    return;
                            	})
                            } else {
                                showErrorAlert(data);
                                return;
                            }
                        } else {
                        	layer.msg("Thành công", {
                        		icon: 1, // 1: icon success, 2: icon error, 3: warning question, 4: lock, 5: face sad, 6: face funny, 7: warning
                        		time: 2000
                        	}, function(){
                        		window.top.location.href = "/main.shtml?xoso=50";
                        	})
                        }
                    }

                    function showAccept() {
                        parent.layer.open({
                            type: 2,
                            title: 'Điều khoản',
                            btn: ["Thoát"],
                            btnAlign: 'c',
                            shadeClose: true,
                            shade: 0.5,
                            area: ['900px', '600px'],
                            content: '/page/useraccept.html' //iframe的url
                        });
                    }

                    function checkSubmit() {
                        var p = document.getElementById("eAccept").checked;
                        if (!p) {
                            showErrorAlert("Xin hãy đọc và chấp thuật điều khoản");
                            return false;
                        }
                        var obj = {};
                        obj.email = $('input[id="AgentForm:email"]').val();
                        obj.phone = $('input[id="AgentForm:phone"]').val();
                        obj.nickname = $('input[id="AgentForm:nickname"]').val();
                        obj.password = $('input[id="AgentForm:password"]').val();
                        obj.checkPassword = $('input[id="AgentForm:checkPassword"]').val();
                        return validate(obj);
                    }
                </script>
            </h:panelGroup>
        </a4j:region>
    </h:form>
</f:view>
</body>
</html>
