<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">

<body>
    <ui:composition template="/templates/common/layout.xhtml">
        <!-- Add css for login page -->
        <ui:define name="headCss">
            <link rel="stylesheet" href="css/swiper.min.css" />
        </ui:define>
        <!-- End of css -->
        <!-- Start content page main -->
        <ui:define name="content">
            <f:view>
                <h:form id="topForm">
                    <h:inputHidden value="#{SysMsgBean.showitem.title}" id="userstatus" />
                    <a4j:region>
                        <a4j:jsFunction name="SysOp" action="#{LoginBean.Online}">
                        </a4j:jsFunction>
                        <a4j:jsFunction name="LoadMsg" action="#{LoginBean.Online}" reRender="emsgs">
                        </a4j:jsFunction>
                        <a4j:jsFunction name="noticeClick" action="#{SysMsgBean.showmsg}" oncomplete="showMsgs();">
                            <f:param name="id"></f:param>
                        </a4j:jsFunction>
                    </a4j:region>
                </h:form>
            </f:view>
            <div id="container">
                <div class="result__lottery">
                    <!-- Start lottery result component -->
                    <ui:include src="/shares/lotteryResult.xhtml" />
                    <!-- End lottery result component -->
                    <div class="place__bet">
                        <div class="container">
                        	<form id="frmBet">
                        		<input type="hidden" name="lotteryid" id="lotteryid" value="50" />
                        		<input type="hidden" name="flag" id="flag" value="save" />
                        		<input type="hidden" name="lotteryname" id="lotteryname" value="Lottery VN" />
                        		<input type="hidden" name="lt_sel_modes" value="1" />
                        		<input type="hidden" name="lt_sel_times" value="1" />

	                            <div class="place__bet--inner">
	                                <div class="place__bet--lottery">
	                                    <div class="nav__bet">
	                                        <ul class="clearfix" id="nav__game"></ul>
	                                    </div>
	                                    <div class="clearfix top__sub">
	                                        <div class="sub__nav pull-left">
	                                            <ul class="clearfix" id="sub__navgame"></ul>
	                                        </div>
	                                        <div class="pull-right tab__options">
	                                            <ul class="clearfix" id="selectTabFastNum">
	                                                <li><a href="" class="active" data-tab="digital">Chọn Số</a></li>
													<li><a href="" data-tab="input-digital">Nhập Số</a></li>
	                                                <li><a href="" data-tab="f-digital">Chọn số nhanh</a></li>
	                                            </ul>
	                                        </div>
	                                    </div>
	                                    <div class="place__bet--exam hide" id="bet__exam"></div>
	                                    
	                                    <div class="mgB-10 pdL-20">
                                            <p>Đã chọn <span class="color-red" id="count__number--combination">0</span> số，Số tiền <span class="color-red" id="amount__total">0</span> VNĐ</p>
                                        	<input type="hidden" name="lt_total_nums" id="lt_total_nums" value="0" />
											<input type="hidden" name="lt_total_money" id="lt_total_money" value="0" />
                                        </div>

	                                    <div class="num__bet">
	                                        <div class="unit__number" id="lottery__selector"></div>
	                                    </div>

	                                    <div class="ratio__odds">
	                                        <div class="clearfix mgB-10">
	                                            <div class="pull-left ratio__num" id="ratio__lottery"></div>

	                                            <div class="pull-right">
	                                            	<div class="frm__item d-ib ver-c mgR-10" id="buy__continuously"></div>

	                                                <div class="num__multiple d-ib ver-c mgR-15">
	                                                    <span class="d-ib-ver-c mgR-5">Cấp Số Nhân</span>
	                                                    <div class="point d-ib ver-c" id="num__multiple">
	                                                        <a href="" class="num__down">
																<span class="icon-remove"></span>
															</a>
	                                                        <input type="text" />
	                                                        <a href="" class="num__up">
																<span class="icon-add"></span>
															</a>
	                                                    </div>
	                                                </div>
	                                                <button id="bet__now"><span class="icon-lightning mgR-10"></span>Cược ngay</button>
	                                                <button class="btn__add--ticket" id="btnAddTicket"><span class="icon-arrow-down mgR-10 ver-c fs-15"></span>Thêm vé cược</button>
	                                            </div>
	                                        </div>
	                                        <div class="panel__tbl">
	                                            <div class="panel__tbl--top clearfix">
	                                                <div class="panel__title pull-left">Nội dung cược</div>
	                                                <div class="pull-right panel__options">
	                                                    <a href="" id="deleteAll"><span class="icon-bin d-ib mgR-5"></span>Xóa Tất Cả</a>
	                                                    <a href="" class="hide"><span class="icon-shuffle d-ib mgR-5"></span>Ngẫu Nhiên 5 Vé</a>
	                                                    <a href="" class="hide"><span class="icon-shuffle d-ib mgR-5"></span>Ngẫu Nhiên 1 Vé</a>
	                                                </div>
	                                            </div>
	                                            <div class="tbl__pet--detail tbl__scroll" id="tbl__betreview">
	                                                <div class="tbl__header">
	                                                    <div class="tbl">
	                                                        <div class="tbl__row">
	                                                            <div class="w-7 tbl__col">Stt</div>
	                                                            <div class="w-16 tbl__col">Tên cược</div>
	                                                            <div class="w-20 tbl__col">Số cược</div>
	                                                            <div class="w-15 tbl__col">Tổng cược</div>
	                                                            <div class="w-12 tbl__col">Cấp số nhân</div>
	                                                            <div class="w-15 tbl__col">Tiền cược</div>
	                                                            <div class="w-15 tbl__col">Tiền thắng / 1 lần</div>
	                                                            <div class="w-5 tbl__col"></div>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="grid__tbl">
	                                                	<div class="gid__tbl--inner">
					                                        <div class="tbl">
					                                            <div class="tbl__empty tbl__row">
					                                                <div class="tbl__col">
					                                                    Không Tìm Thấy Dữ Liệu
					                                                </div>
					                                            </div>
					                                        </div>
				                                        </div>
	                                                </div>
	                                            </div>
	                                            <div class="panel__tbl--bottom clearfix">
	                                                <p class="pull-left fs-16 lh-50">Tổng tiền cược <span class="color-red d-ib mgL-5" id="total_moneyBet">0</span> VNĐ</p>

	                                                <div class="pull-right submit--odd">
														<a href="javascript:;" id="btnBetAll">
															<span class="txt__left">Đặt Cược</span>
															<div class="time__recent hide" id="timeCount_contentbet">
																<p>Thời gian còn lại</p>
																<div class="time__count timeCountBet"></div>
															</div>
														</a>
	                                                </div>

	                                                <div class="pull-right mgR-15">
	                                                	<a href="javascript:;" class="btn__nuoiso"><span class="icon-list mgR-10 fs-16"></span>Nuôi</a>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
							</form>
                            <div class="bet__history">
                                <div class="history__tab">
                                    <ul class="clearfix">
                                        <li><a href="" id="reloadHistory"><span class="icon-refresh"></span>Lịch Sử Cược</a></li>
                                    </ul>
                                </div>
                                <div class="history__detail tbl__scroll" id="history__detail">
                                    <div class="tbl__header">
                                        <div class="tbl">
                                            <div class="tbl__row">
                                                <div class="tbl__col w-9">Lượt xổ</div>
                                                <div class="tbl__col w-10">Xổ số</div>
                                                <div class="tbl__col w-10">Kiểu cược</div>
                                                <div class="tbl__col w-14">Thời gian mua</div>
                                                <div class="tbl__col w-14">Số cược</div>
                                                <div class="tbl__col w-8">Tổng cược</div>
                                                <div class="tbl__col w-12">Cấp số nhân</div>
                                                <div class="tbl__col w-12">Tiền cược</div>
                                                <div class="tbl__col w-11">Trạng thái</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="grid__tbl">
                                    	<div class="gid__tbl--inner">
	                                        <div class="tbl" id="history__bet--record">
	                                            <div class="tbl__empty tbl__row hide">
	                                                <div class="tbl__col">
	                                                    Không Tìm Thấy Dữ Liệu
	                                                </div>
	                                            </div>
	                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="popup" id="popup__comfirmBet">
            	<div class="popup__content">
            		<p class="mgB-20 fs-16"><span class="icon-help_outline fs-30 color-f49e1d d-ib ver-c mgR-15"></span>Bạn có chắc cược ?</p>
            		<div class="tbl__scroll">
					    <div class="tbl__header">
					        <div class="tbl">
					            <div class="tbl__row">
					                <div class="w-18 tbl__col">Tên cược</div>
                                    <div class="w-25 tbl__col">Số cược</div>
                                    <div class="w-15 tbl__col">Tổng cược</div>
                                    <div class="w-13 tbl__col">Cấp số nhân</div>
                                    <div class="w-15 tbl__col">Tiền cược</div>
                                    <div class="w-19 tbl__col">Tiền thắng / 1 lần</div>
					            </div>
					        </div>
					    </div>
					    <div class="grid__tbl">
					    	<div class="gid__tbl--inner">
					            <div class="tbl"></div>
					        </div>
					    </div>
					</div>
					<div class="clearfix mgT-25">
						<div class="pull-left">
							<p class="lh-30 fs-15">Tổng số tiền đặt cược: <span class="font-500 color-f49e1d" id="total_moneyBetPopup">0</span> VNĐ</p>
						</div>
						<div class="pull-right">
							<button class="btn__primary pdT-10 pdB-10 mgR-10 w--80 d-ib ver-c" id="btnsubmit__fastbet">OK</button>
							<button class="btn__cancel pdT-10 pdB-10 w--80 d-ib ver-c">Hủy</button>
						</div>
					</div>
				</div>
			</div>
        </ui:define>
        <!-- End content page main -->
        <!-- Start script for main page -->
        <ui:define name="headJs">
            <script type="text/javascript" src="/js/lib/jquery.slimscroll.min.js" charset="utf-8"></script>
            <script type="text/javascript" src="/js/main.js?#{startup.time}" charset="utf-8"></script>
            
            <script type="text/javascript">
            //<![CDATA[

	            function getDetailBet(id) {
	            	layer.open({
	            		type: 2,
	            		area: ['900px', '650px'],
	            		title: 'Chi tiết lịch sử cược',
	            		content: '/page/BetSubRecord.shtml?id='+id,
						end: function() {
	            		    setTimeout(function(){
                                objTemp.getHistoryByID(objTemp.lotteryID);
							},500);
	            		}
	            	});
	            }
	            $(document).ready(function() {
	                var hTblResult = $(
	                        '.result__top .tbl__result--inner')
	                    .outerHeight();
	                $('.emu__scroll').slimScroll({
	                    height: hTblResult - 4,
	                    size: '4px',
	                    opacity: 1,
	                    alwaysVisible: true,
	                    railVisible: true,
	                    railOpacity: 1,
	                    distance: '0px',
	                    railColor: '#05583f'
	                }).css('visibility', 'visible');

	                $('.rule__tabs').slimScroll({
	                    height: 570,
	                    opacity: 1,
	                    alwaysVisible: true,
	                    railVisible: true,
	                    railOpacity: 1,
	                    color: '#c0c0c0',
	                    borderRadius: '0px',
	                    railBorderRadius: '0px',
	                    railColor: '#fff',
	                    distance: '0px',
	                });
	            });
            //]]>
            </script>
        </ui:define>
        <!-- End script for main page -->
    </ui:composition>
</body>

</html>