<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich" lang="en">
<head>
    <title>Loto188 - Khuyến Mãi</title>
    <link rel="shortcut icon" href="../images/ico.ico?#{startup.time}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,900&amp;subset=vietnamese" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/style.css?#{startup.time}"/>
</head>
<body>
<ui:composition template="/templates/common/layout.xhtml">
    <ui:define name="headCss"></ui:define>
    <ui:define name="content">
        <div id="container">
            <div class="promotionsPage homepage">
                <div class="wrapPromo">
                    <h1 class="title">#{SysMsgBean.promoDetail.title}</h1>
                    <div class="wrapContent">
                    	<h:outputText value="#{SysMsgBean.promoDetail.content}" escape="false" />
                    </div>
                </div>
            </div>
            <ui:include src="/templates/common/footer.xhtml" />
        </div>
    </ui:define>
</ui:composition>
</body>
</html>
