<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
	<ui:composition template="/templates/common/layout.xhtml" styleClass="name">
		<!-- Start content page login -->
		<ui:define name="content">
			<f:view>
				<h:form id="regForm">
					<div id="container">
						<!-- InstanceBeginEditable name="EditRegion2" -->
						<div class="register__page bg__full">
							<div class="inner">
								<div class="d-ib text-left">
									<div class="clearfix">
										<h2>Đăng Ký Tài Khoản</h2>
									</div>
									<div id="username_error" class="frm__item">
										<label for="">Tên đăng nhập</label>
										<div class="iput">
											<input type="text" id="lname" placeholder="Không được ít hơn 5 ký tự" />
											<p class="error"></p>
										</div>
									</div>
									<div id="password_error" class="frm__item">
										<label for="">Mật khẩu đăng nhập</label>
										<div class="iput">
											<input type="password" id="lpwd" placeholder="Không được giống mật khẩu thanh toán" />
											<span class="icon-visibility"></span>
										</div>
									</div>
									<div id="password_check_error" class="frm__item">
										<label for="">Mật khẩu thanh toán</label>
										<div class="iput">
											<input type="password" id="checkpwd" placeholder="Không được giống mật khẩu đăng nhập" />
											<span class="icon-visibility"></span>
										</div>
									</div>
									<div id="nickname_error" class="frm__item">
										<label for="">Biệt danh</label>
										<div class="iput">
											<input type="text" id="enickname" placeholder="Biệt danh" />
										</div>
									</div>
									<div id="nickname_error" class="frm__item">
										<label for="">Số điện thoại</label>
										<div class="iput">
											<input type="text" id="phone" placeholder="Số điện thoại" />
										</div>
									</div>
									<div id="email_error" class="frm__item">
										<label for="">Email</label>
										<div class="iput">
											<input type="text" id="email" placeholder="VD: abc@gmail.com" />
										</div>
									</div>
									<div class="frm__item frm__btn">
										<label for=""></label> <input type="button" onclick="validateReg()" class="btn__primary pdT-15 pdB-15 fs-20" value="Đăng Ký" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<a4j:region>
						<a4j:jsFunction name="regopt" status="normalStatus" data="#{RegBean.msg}" oncomplete="save(data);" action="#{RegBean.regNew}">
							<f:param name="lname" />
							<f:param name="pwd" />
							<f:param name="checkpwd" />
							<f:param name="nickname" />
							<f:param name="email" />
							<f:param name="phone" />
							<f:param name="id" />
						</a4j:jsFunction>
					</a4j:region>
				</h:form>
			</f:view>
		</ui:define>
		<!-- End content page login -->
		<!-- Start script for login page -->
		<ui:define name="headJs">
			<script type="text/javascript" src="../js/jquery.validate.js?#{startup.time}"></script>
			<script type="text/javascript">
			//<![CDATA[
			    var arrElVisiPass = document.querySelectorAll('.register__page .frm__item .iput .icon-visibility');
			    for (var i = 0; i < arrElVisiPass.length; i++) {
			    	var item = arrElVisiPass[i];
			    	item.addEventListener('click', function(e) {
						e.preventDefault();
						e.target.classList.toggle('active');
						var elRoot = e.target.closest('.iput');
						var elIput = elRoot.querySelector('input');
						if (elIput.type === "password") {
							elIput.type = "text";
						  } else {
							elIput.type = "password";
						  }
					});
			    }
            	document.querySelector('body').classList.add('regPage');
				function save(data) {
					if (data) {
						showErrorAlert(data);
						document.querySelector('overflay').remove();
					} else {
						layer.msg("Đăng ký thành công!", {
							icon: 1,
							time: 2000
						}, function() {
							window.top.location.href = "/home.shtml";
						})
					}
				}
				document.onkeydown = keyDown;
				function keyDown(e) {
					if (event.keyCode == 13) {
						validateReg();
					}
				}
				function reg() {
					var s = window.location.href;
					var fs = s.split("?id=");
					
					var xnf = "";
					if (fs.length == 2) {
						xnf = fs[1];
                        if (xnf.indexOf("&")!=-1) {
							xnf = xnf.substring(0, xnf.indexOf("&"));
                        } 						
					}
					var u = document.getElementById("lname").value.trim().toLowerCase();
					var p1 = document.getElementById("lpwd").value.trim();
					var p2 = document.getElementById("checkpwd").value.trim();
					var nick = document.getElementById("enickname").value.trim();
					var phone = document.getElementById("phone").value.trim();
					var e = document.getElementById("email").value.trim();
					
					var elOver = document.createElement('div');
					elOver.classList.add('overflay');
					document.querySelector('body').appendChild(elOver);
					
					regopt(u, p1, p2, nick,e ,phone, xnf);
				}
				function validateReg() {
					var obj = {};
					obj.email = $("#email").val();
					obj.nickname = $("#enickname").val();
					obj.phone = $("#phone").val();
					obj.username = $("#lname").val();
					obj.password = $("#lpwd").val();
					obj.checkPassword = $("#checkpwd").val();
					var status = validate(obj);
					if (status) {
						reg();
					}
				}
			//]]>
			</script>
		</ui:define>
		<!-- End script for login page -->
	</ui:composition>
</body>
</html>
