@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,900&amp;subset=vietnamese);
@import url(https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css);
/**
 
 @Name: layer
 @Author: 贤心
 
 **/

/* *html{background-image: url(about:blank); background-attachment: fixed;} */
html #layuicss-layer {
    display: none;
    position: absolute;
    width: 1989px;
}

/* common */
.layui-layer-shade, .layui-layer {
    position: fixed;
    _position: absolute;
    pointer-events: auto;
}

.layui-layer-shade {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    _height: expression(document.body.offsetHeight+"px");
}

.layui-layer {
    -webkit-overflow-scrolling: touch;
}

.layui-layer {
    top: 150px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    -webkit-background-clip: content;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
}

.layui-layer-close {
    position: absolute;
}

.layui-layer-content {
    position: relative;
}

.layui-layer-border {
    border: 1px solid #B2B2B2;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}

.layui-layer-load {
    background: url(../images/loading-1.gif) #eee center center no-repeat;
}

.layui-layer-ico {
    background: url(../images/icon.png) no-repeat;
}

.layui-layer-dialog .layui-layer-ico,
.layui-layer-setwin a,
.layui-layer-btn a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}

.layui-layer-move {
    display: none;
    position: fixed;
    *position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: move;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: #fff;
    z-index: 2147483647;
}

.layui-layer-resize {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0;
    bottom: 0;
    cursor: se-resize;
}

/* 动画 */
.layer-anim {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

@-webkit-keyframes layer-bounceIn { /* 默认 */
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes layer-bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        -ms-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

.layer-anim-00 {
    -webkit-animation-name: layer-bounceIn;
    animation-name: layer-bounceIn
}

@-webkit-keyframes layer-zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale(.1) translateY(-2000px);
        transform: scale(.1) translateY(-2000px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(.475) translateY(60px);
        transform: scale(.475) translateY(60px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

@keyframes layer-zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale(.1) translateY(-2000px);
        -ms-transform: scale(.1) translateY(-2000px);
        transform: scale(.1) translateY(-2000px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(.475) translateY(60px);
        -ms-transform: scale(.475) translateY(60px);
        transform: scale(.475) translateY(60px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

.layer-anim-01 {
    -webkit-animation-name: layer-zoomInDown;
    animation-name: layer-zoomInDown
}

@-webkit-keyframes layer-fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes layer-fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        transform: translateY(2000px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}

.layer-anim-02 {
    -webkit-animation-name: layer-fadeInUpBig;
    animation-name: layer-fadeInUpBig
}

@-webkit-keyframes layer-zoomInLeft {
    0% {
        opacity: 0;
        -webkit-transform: scale(.1) translateX(-2000px);
        transform: scale(.1) translateX(-2000px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(.475) translateX(48px);
        transform: scale(.475) translateX(48px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

@keyframes layer-zoomInLeft {
    0% {
        opacity: 0;
        -webkit-transform: scale(.1) translateX(-2000px);
        -ms-transform: scale(.1) translateX(-2000px);
        transform: scale(.1) translateX(-2000px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(.475) translateX(48px);
        -ms-transform: scale(.475) translateX(48px);
        transform: scale(.475) translateX(48px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

.layer-anim-03 {
    -webkit-animation-name: layer-zoomInLeft;
    animation-name: layer-zoomInLeft
}

@-webkit-keyframes layer-rollIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%) rotate(-120deg);
        transform: translateX(-100%) rotate(-120deg)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px) rotate(0deg);
        transform: translateX(0px) rotate(0deg)
    }
}

@keyframes layer-rollIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%) rotate(-120deg);
        -ms-transform: translateX(-100%) rotate(-120deg);
        transform: translateX(-100%) rotate(-120deg)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px) rotate(0deg);
        -ms-transform: translateX(0px) rotate(0deg);
        transform: translateX(0px) rotate(0deg)
    }
}

.layer-anim-04 {
    -webkit-animation-name: layer-rollIn;
    animation-name: layer-rollIn
}

@keyframes layer-fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.layer-anim-05 {
    -webkit-animation-name: layer-fadeIn;
    animation-name: layer-fadeIn
}

@-webkit-keyframes layer-shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }
}

@keyframes layer-shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px)
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px)
    }
}

.layer-anim-06 {
    -webkit-animation-name: layer-shake;
    animation-name: layer-shake
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

/* 标题栏 */
.layui-layer-title {
    padding: 0 80px 0 20px;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #f7f7f7;
    border-radius: 2px 2px 0 0;
}

.layui-layer-setwin {
    position: absolute;
    right: 15px;
    *right: 0;
    top: 15px;
    font-size: 0;
    line-height: initial;
}

.layui-layer-setwin a {
    position: relative;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    font-size: 12px;
    _overflow: hidden;
}

.layui-layer-setwin .layui-layer-min cite {
    position: absolute;
    width: 14px;
    height: 2px;
    left: 0;
    top: 50%;
    margin-top: -1px;
    background-color: #2E2D3C;
    cursor: pointer;
    _overflow: hidden;
}

.layui-layer-setwin .layui-layer-min:hover cite {
    background-color: #2D93CA;
}

.layui-layer-setwin .layui-layer-max {
    background-position: -32px -40px;
}

.layui-layer-setwin .layui-layer-max:hover {
    background-position: -16px -40px;
}

.layui-layer-setwin .layui-layer-maxmin {
    background-position: -65px -40px;
}

.layui-layer-setwin .layui-layer-maxmin:hover {
    background-position: -49px -40px;
}

.layui-layer-setwin .layui-layer-close1 {
    background-position: 1px -40px;
    cursor: pointer;
}

.layui-layer-setwin .layui-layer-close1:hover {
    opacity: 0.7;
}

.layui-layer-setwin .layui-layer-close2 {
    position: absolute;
    right: -28px;
    top: -28px;
    width: 30px;
    height: 30px;
    margin-left: 0;
    background-position: -149px -31px;
    *right: -18px;
    _display: none;
}

.layui-layer-setwin .layui-layer-close2:hover {
    background-position: -180px -31px;
}

/* 按钮栏 */
.layui-layer-btn {
    text-align: right;
    pointer-events: auto;
    user-select: none;
    -webkit-user-select: none;
    padding: 6px 15px;
}

.layui-layer-btn a {
    height: 32px;
    line-height: 32px;
    margin: 0 0 0 10px;
    padding: 0 15px;
    border: 1px solid #dedede;
    background-color: #fff;
    color: #333;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.layui-layer-btn a:hover {
    opacity: 0.9;
    text-decoration: none;
}

.layui-layer-btn a:active {
    opacity: 0.8;
}

.layui-layer-btn .layui-layer-btn0 {
    color: #fff;
    border: 1px solid #c37f17 !important;
    -webkit-border-raidus: 3px !important;
    border-raidus: 3px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5), 1px 2px 5px rgba(154,125,108,0.6);
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.5), 1px 2px 5px rgba(154,125,108,0.6);
    font-weight: 400;
    background: #e08d10;
    background: -moz-linear-gradient(top, #ffffff 0%, #e89518 2%, #e08d10 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(2%, #e89518), color-stop(100%, #e08d10));
    background: -webkit-linear-gradient(top, #ffffff 0%, #e89518 2%, #e08d10 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #e89518 2%, #e08d10 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #e89518 2%, #e08d10 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #e89518 2%, #e08d10 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e89518', endColorstr='#e08d10', GradientType=0);
    text-align: center;
    padding: 0 15px;
}
.layui-layer-btn .layui-layer-btn0:hover {
    background: rgb(238, 135, 101);
    background: -moz-linear-gradient(top, #ffffff 0%, #eaa845 2%, #e89518 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(2%, #eaa845), color-stop(100%, #e89518));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eaa845 2%, #e89518 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #eaa845 2%, #e89518 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #eaa845 2%, #e89518 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #eaa845 2%, #e89518 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaa845', endColorstr='#e89518', GradientType=0);
}
.layui-layer-btn .layui-layer-btn0:active {
    background: rgb(228, 88, 53);
    background: -moz-linear-gradient(top, #cc7f0d 0%, #ecaf53 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cc7f0d), color-stop(100%, #ecaf53));
    background: -webkit-linear-gradient(top, #cc7f0d 0%, #ecaf53 100%);
    background: -o-linear-gradient(top, #cc7f0d 0%, #ecaf53 100%);
    background: -ms-linear-gradient(top, #cc7f0d 0%, #ecaf53 100%);
    background: linear-gradient(to bottom, #cc7f0d 0%, #ecaf53 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc7f0d', endColorstr='#ecaf53', GradientType=0);
}

.layui-layer-btn-l {
    text-align: left;
}

.layui-layer-btn-c {
    text-align: center;
}

/* 定制化 */
.layui-layer-dialog {
    min-width: 260px;
}

.layui-layer-dialog .layui-layer-content {
    position: relative;
    padding: 20px;
    line-height: 24px;
    word-break: break-all;
    overflow: hidden;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
}

.layui-layer-dialog .layui-layer-content .layui-layer-ico {
    position: absolute;
    top: 16px;
    left: 15px;
    _left: -40px;
    width: 30px;
    height: 30px;
}

.layui-layer-ico1 {
    background-position: -30px 0
}

.layui-layer-ico2 {
    background-position: -60px 0;
}

.layui-layer-ico3 {
    background-position: -90px 0;
}

.layui-layer-ico4 {
    background-position: -120px 0;
}

.layui-layer-ico5 {
    background-position: -150px 0;
}

.layui-layer-ico6 {
    background-position: -180px 0;
}

.layui-layer-rim {
    border: 6px solid #8D8D8D;
    border: 6px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    box-shadow: none;
}

.layui-layer-msg {
    min-width: 180px;
    border: 1px solid #D3D4D3;
    box-shadow: none;
}

.layui-layer-hui {
    min-width: 100px;
    background-color: #000;
    filter: alpha(opacity=60);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
}

.layui-layer-hui .layui-layer-content {
    padding: 12px 25px;
    text-align: center;
}

.layui-layer-dialog .layui-layer-padding {
    padding: 20px 20px 20px 55px;
    text-align: left;
}

.layui-layer-page .layui-layer-content {
    position: relative;
    overflow: auto;
}

.layui-layer-page .layui-layer-btn, .layui-layer-iframe .layui-layer-btn {
    padding-top: 10px;
}

.layui-layer-nobg {
    background: none;
}

.layui-layer-iframe iframe {
    display: block;
    width: 100%;
}

.layui-layer-loading {
    border-radius: 100%;
    background: none;
    box-shadow: none;
    border: none;
}

.layui-layer-loading .layui-layer-content {
    width: 60px;
    height: 24px;
    background: url(../images/loading-0.gif) no-repeat;
}

.layui-layer-loading .layui-layer-loading1 {
    width: 37px;
    height: 37px;
    background: url(../images/loading-1.gif) no-repeat;
}

.layui-layer-loading .layui-layer-loading2, .layui-layer-ico16 {
    width: 32px;
    height: 32px;
    background: url(../images/loading-2.gif) no-repeat;
}

.layui-layer-tips {
    background: none;
    box-shadow: none;
    border: none;
}

.layui-layer-tips .layui-layer-content {
    position: relative;
    line-height: 22px;
    min-width: 12px;
    padding: 8px 15px;
    font-size: 12px;
    _float: left;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    background-color: #000;
    color: #fff;
}

.layui-layer-tips .layui-layer-close {
    right: -2px;
    top: -1px;
}

.layui-layer-tips i.layui-layer-TipsG {
    position: absolute;
    width: 0;
    height: 0;
    border-width: 8px;
    border-color: transparent;
    border-style: dashed;
    *overflow: hidden;
}

.layui-layer-tips i.layui-layer-TipsT, .layui-layer-tips i.layui-layer-TipsB {
    left: 5px;
    border-right-style: solid;
    border-right-color: #000;
}

.layui-layer-tips i.layui-layer-TipsT {
    bottom: -8px;
}

.layui-layer-tips i.layui-layer-TipsB {
    top: -8px;
}

.layui-layer-tips i.layui-layer-TipsR, .layui-layer-tips i.layui-layer-TipsL {
    top: 5px;
    border-bottom-style: solid;
    border-bottom-color: #000;
}

.layui-layer-tips i.layui-layer-TipsR {
    left: -8px;
}

.layui-layer-tips i.layui-layer-TipsL {
    right: -8px;
}

/* skin */
.layui-layer-lan[type="dialog"] {
    min-width: 280px;
}

.layui-layer-lan .layui-layer-title {
    background: #4476A7;
    color: #fff;
    border: none;
}

.layui-layer-lan .layui-layer-btn {
    padding: 5px 10px 10px;
    text-align: right;
    border-top: 1px solid #E9E7E7
}

.layui-layer-lan .layui-layer-btn a {
    background: #fff;
    border-color: #E9E7E7;
    color: #333;
}

.layui-layer-lan .layui-layer-btn .layui-layer-btn1 {
    background: #C9C5C5;
}

.layui-layer-molv .layui-layer-title {
    background: #009f95;
    color: #fff;
    border: none;
}

.layui-layer-molv .layui-layer-btn a {
    background: #009f95;
    border-color: #009f95;
}

.layui-layer-molv .layui-layer-btn .layui-layer-btn1 {
    background: #92B8B1;
}

/**
 
 @Name: layer拓展样式
 
 */

.layui-layer-iconext {
    background: url(../images/icon-ext.png) no-repeat;
}

/* prompt模式 */
.layui-layer-prompt .layui-layer-input {
    display: block;
    width: 230px;
    height: 36px;
    margin: 0 auto;
    line-height: 30px;
    padding-left: 10px;
    border: 1px solid #e6e6e6;
    color: #333;
}

.layui-layer-prompt textarea.layui-layer-input {
    width: 300px;
    height: 100px;
    line-height: 20px;
    padding: 6px 10px;
}

.layui-layer-prompt .layui-layer-content {
    padding: 20px;
}

.layui-layer-prompt .layui-layer-btn {
    padding-top: 0;
}

/* tab模式 */
.layui-layer-tab {
    box-shadow: 1px 1px 50px rgba(0, 0, 0, .4);
}

.layui-layer-tab .layui-layer-title {
    padding-left: 0;
    overflow: visible;
}

.layui-layer-tab .layui-layer-title span {
    position: relative;
    float: left;
    min-width: 80px;
    max-width: 260px;
    padding: 0 20px;
    text-align: center;
    cursor: default;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.layui-layer-tab .layui-layer-title span.layui-this {
    height: 43px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background-color: #fff;
    z-index: 10;
}

.layui-layer-tab .layui-layer-title span:first-child {
    border-left: none;
}

.layui-layer-tabmain {
    line-height: 24px;
    clear: both;
}

.layui-layer-tabmain .layui-layer-tabli {
    display: none;
}

.layui-layer-tabmain .layui-layer-tabli.layui-this {
    display: block;
}

/* photo模式 */
.layui-layer-photos {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
}

.layui-layer-photos .layui-layer-content {
    overflow: hidden;
    text-align: center;
}

.layui-layer-photos .layui-layer-phimg img {
    position: relative;
    width: 100%;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}

.layui-layer-imguide, .layui-layer-imgbar {
    display: none;
}

.layui-layer-imgprev, .layui-layer-imgnext {
    position: absolute;
    top: 50%;
    width: 27px;
    _width: 44px;
    height: 44px;
    margin-top: -22px;
    outline: none;
    blr: expression(this.onFocus=this.blur());
}

.layui-layer-imgprev {
    left: 10px;
    background-position: -5px -5px;
    _background-position: -70px -5px;
}

.layui-layer-imgprev:hover {
    background-position: -33px -5px;
    _background-position: -120px -5px;
}

.layui-layer-imgnext {
    right: 10px;
    _right: 8px;
    background-position: -5px -50px;
    _background-position: -70px -50px;
}

.layui-layer-imgnext:hover {
    background-position: -33px -50px;
    _background-position: -120px -50px;
}

.layui-layer-imgbar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 32px;
    line-height: 32px;
    background-color: rgba(0, 0, 0, .8);
    background-color: #000 \9;
    filter: Alpha(opacity=80);
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
}

.layui-layer-imgtit { /*position:absolute; left:20px;*/
}

.layui-layer-imgtit * {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    font-size: 12px;
}

.layui-layer-imgtit a {
    max-width: 65%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
}

.layui-layer-imgtit a:hover {
    color: #fff;
    text-decoration: underline;
}

.layui-layer-imgtit em {
    padding-left: 10px;
    font-style: normal;
}

/* 关闭动画 */
@-webkit-keyframes layer-bounceOut {
    100% {
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7)
    }
    30% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes layer-bounceOut {
    100% {
        opacity: 0;
        -webkit-transform: scale(.7);
        -ms-transform: scale(.7);
        transform: scale(.7);
    }
    30% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.layer-anim-close {
    -webkit-animation-name: layer-bounceOut;
    animation-name: layer-bounceOut;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}

@media screen and (max-width: 1100px) {
    .layui-layer-iframe {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}

/*-----------------------------------*/
/* Layer Custom */
/*-----------------------------------*/
.layui-layer {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.layui-layer-setwin {
    top: 0;
    right: 0;
    padding: 15px 12px 11px 5px;
    margin: 0;
}

.layui-layer-title {
    font-size: 16px;
}

.layui-layer-dialog .layui-layer-content {
    white-space: normal;
    word-break: normal;
}

.layui-layer-dialog .layui-layer-content .layui-layer-ico {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.layui-layer-loading .layui-layer-loading2 {
    background: inherit;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 5px solid rgba(175, 175, 175, 0.2);
    border-top-color: #f49e1d;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */ }

body, html {
  font-size: 14px;
  font-weight: 400;
  color: #282c35;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto",sans-serif;
  line-height: 1.2; }

.icon {
  display: inline-block;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat; }

.figure {
  display: inline-block;
  background-image: url(../images/figure.png);
  background-repeat: no-repeat; }

#container {
  min-height: 100vh;
  visibility: hidden;
  position: relative;
  z-index: 2;
  opacity: 0;
  overflow: hidden; }

#wrapper {
  width: 1120px;
  position: absolute;
  top: 600px;
  left: 50%;
  margin-left: -560px;
  height: 660px;
  background-color: #0d95b2;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 6px 18px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 18px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 6px 18px -1px rgba(0, 0, 0, 0.75);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  #wrapper.wrapperMove {
    top: 22%; }

.tooltipWrap {
  position: relative; }
  .tooltipWrap .tooltip {
    position: absolute;
    bottom: 115%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #000;
    padding: 5px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    line-height: 1;
    white-space: nowrap;
    display: none; }
    .tooltipWrap .tooltip:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: transparent;
      border-top-color: #000;
      border-width: 5px;
      margin-left: -2px; }
  .tooltipWrap:hover .tooltip {
    display: block; }

@keyframes btnEffectHover {
  0%, 100% {
    transform: scale(1.1); }
  50% {
    transform: scale(0.9); } }

.btn-close-game {
  width: 47px;
  height: 48px;
  background-size: 894px 1500px;
  background-position: -36px -211px; }

.btn-guide-game {
  width: 47px;
  height: 48px;
  background-size: 894px 1500px;
  background-position: -103px -211px; }

.btn-history {
  width: 47px;
  height: 48px;
  background-size: 894px 1500px;
  background-position: -170px -211px; }

.btn-refresh {
  width: 47px;
  height: 48px;
  background-size: 894px 1500px;
  background-position: -237px -211px; }

.btn-audio {
  width: 47px;
  height: 48px;
  background-size: 894px 1500px;
  background-position: -304px -211px;
  position: relative; }
  .btn-audio:before {
    content: '';
    position: absolute;
    top: 22px;
    left: 0;
    width: 50px;
    height: 4px;
    transform: rotate(125deg);
    background-color: #0d95b2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    display: none; }
  .btn-audio.toggle-audio:before {
    display: block; }

.btn-close-game:active,
.btn-guide-game:active,
.btn-history:active,
.btn-refresh:active,
.btn-audio:active {
  -webkit-animation: btnEffectHover 2s infinite;
  animation: btnEffectHover 2s infinite; }

.icon-money {
  width: 47px;
  height: 48px;
  background-size: 894px 1500px;
  background-position: -371px -211px; }

.result-user1-keo {
  width: 25px;
  height: 25px;
  background-size: 354.7619px 595.2381px;
  background-position: -4.36508px -10.71429px; }

.result-user1-bua {
  width: 25px;
  height: 25px;
  background-size: 354.7619px 595.2381px;
  background-position: -41.26984px -10.71429px; }

.result-user1-nap {
  width: 25px;
  height: 25px;
  background-size: 354.7619px 595.2381px;
  background-position: -76.5873px -9.92063px; }

.result-user2-keo {
  width: 25px;
  height: 25px;
  background-size: 354.7619px 595.2381px;
  background-position: -73.4127px -36.90476px; }

.result-user2-bua {
  width: 25px;
  height: 25px;
  background-size: 354.7619px 595.2381px;
  background-position: -5.15873px -37.69841px; }

.result-user2-nap {
  width: 25px;
  height: 25px;
  background-size: 354.7619px 595.2381px;
  background-position: -42.46032px -37.69841px; }

.user-left-keo {
  width: 95px;
  height: 96px;
  background-size: 894px 1500px;
  background-position: -121px -267px; }

.user-left-bua {
  width: 95px;
  height: 96px;
  background-size: 894px 1500px;
  background-position: -121px -379px; }

.user-left-nap {
  width: 95px;
  height: 96px;
  background-size: 894px 1500px;
  background-position: -121px -489px; }

.user-left-small-keo {
  width: 50px;
  height: 50.52632px;
  background-size: 470.52632px 789.47368px;
  background-position: -63.68421px -140.52632px; }

.user-left-small-bua {
  width: 50px;
  height: 50.52632px;
  background-size: 470.52632px 789.47368px;
  background-position: -63.68421px -199.47368px; }

.user-left-small-nap {
  width: 50px;
  height: 50.52632px;
  background-size: 470.52632px 789.47368px;
  background-position: -63.68421px -257.36842px; }

.user-right-keo {
  width: 95px;
  height: 96px;
  background-size: 894px 1500px;
  background-position: -223px -273px; }

.user-right-bua {
  width: 95px;
  height: 96px;
  background-size: 894px 1500px;
  background-position: -223px -384px; }

.user-right-nap {
  width: 95px;
  height: 96px;
  background-size: 894px 1500px;
  background-position: -223px -495px; }

.user-right-small-keo {
  width: 50px;
  height: 50.52632px;
  background-size: 470.52632px 789.47368px;
  background-position: -117.36842px -143.68421px; }

.user-right-small-bua {
  width: 50px;
  height: 50.52632px;
  background-size: 470.52632px 789.47368px;
  background-position: -117.36842px -202.10526px; }

.user-right-small-nap {
  width: 50px;
  height: 50.52632px;
  background-size: 470.52632px 789.47368px;
  background-position: -117.36842px -260.52632px; }

.chip-5 {
  width: 98px;
  height: 98px;
  background-size: 894px 1500px;
  background-position: -9px -697px; }

.chip-10 {
  width: 98px;
  height: 98px;
  background-size: 894px 1500px;
  background-position: -113px -697px; }

.chip-25 {
  width: 98px;
  height: 98px;
  background-size: 894px 1500px;
  background-position: -216px -802px; }

.chip-50 {
  width: 98px;
  height: 98px;
  background-size: 894px 1500px;
  background-position: -216px -697px; }

.chip-100 {
  width: 98px;
  height: 98px;
  background-size: 894px 1500px;
  background-position: -322px -697px; }

.chip-200 {
  width: 98px;
  height: 98px;
  background-size: 894px 1500px;
  background-position: -423px -697px; }

.chip-300 {
  width: 98px;
  height: 98px;
  background-size: 894px 1500px;
  background-position: -522px -697px; }

.chip-400 {
  width: 98px;
  height: 98px;
  background-size: 894px 1500px;
  background-position: -11px -802px; }

.chip-500 {
  width: 98px;
  height: 98px;
  background-size: 894px 1500px;
  background-position: -113px -802px; }

.chip-custom {
  width: 98px;
  height: 98px;
  background-size: 894px 1500px;
  background-position: -318px -802px; }

.chip-custom-icon.chip-clone-moved .icon {
  width: 78px;
  height: 78px;
  background-size: 894px 1500px;
  background-position: -328px -363px; }

.chip-clone-moved .icon {
  color: red;
  font-weight: 700; }

.chip-clone-5 {
  width: 78px;
  height: 78px;
  background-size: 894px 1500px;
  background-position: -328px -363px; }

.chip-clone-10 {
  width: 78px;
  height: 78px;
  background-size: 894px 1500px;
  background-position: -329px -273px; }

.chip-clone-25 {
  width: 78px;
  height: 78px;
  background-size: 894px 1500px;
  background-position: -513px -804px; }

.chip-clone-50 {
  width: 78px;
  height: 78px;
  background-size: 894px 1500px;
  background-position: -329px -456px; }

.chip-clone-100 {
  width: 78px;
  height: 78px;
  background-size: 894px 1500px;
  background-position: -331px -550px; }

.chip-clone-200 {
  width: 78px;
  height: 78px;
  background-size: 894px 1500px;
  background-position: -206px -595px; }

.chip-clone-300 {
  width: 78px;
  height: 78px;
  background-size: 894px 1500px;
  background-position: -420px -382px; }

.chip-clone-400 {
  width: 78px;
  height: 78px;
  background-size: 894px 1500px;
  background-position: -425px -804px; }

.chip-clone-500 {
  width: 78px;
  height: 78px;
  background-size: 894px 1500px;
  background-position: -544px -458px; }

.chip-clone-moved.chip {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5); }

.figure-girl-1 {
  width: 90px;
  height: 105.65217px;
  background-size: 782.6087px 280.95652px;
  background-position: -10.95652px -11.73913px; }

.figure-girl-2 {
  width: 90px;
  height: 157.25275px;
  background-size: 989.01099px 355.05495px;
  background-position: -238.35165px -2.96703px; }

.figure-girl-3 {
  width: 90px;
  height: 135.43689px;
  background-size: 873.78641px 313.68932px;
  background-position: -415.04854px -2.62136px; }

.figure-girl-4 {
  width: 100px;
  height: 104.8951px;
  background-size: 699.3007px 251.04895px;
  background-position: -86.01399px -132.16783px; }

.figure-girl-5 {
  width: 100px;
  height: 120.47244px;
  background-size: 787.40157px 282.67717px;
  background-position: -313.38583px -148.8189px; }

.figure-girl-6 {
  width: 120px;
  height: 115.16779px;
  background-size: 805.36913px 289.12752px;
  background-position: -628.99329px -161.07383px; }

.figure-girl-7 {
  width: 70px;
  height: 139.11392px;
  background-size: 886.07595px 318.10127px;
  background-position: -768.22785px -2.65823px; }

.figure-girl-8 {
  width: 80px;
  height: 121.73913px;
  background-size: 869.56522px 312.17391px;
  background-position: -574.78261px -170.43478px; }

.figure-boy-1 {
  width: 80px;
  height: 142.52874px;
  background-size: 919.54023px 330.11494px;
  background-position: -330.11494px -4.5977px; }

.figure-boy-2 {
  width: 90px;
  height: 123.45133px;
  background-size: 796.46018px 285.9292px;
  background-position: -481.85841px -2.38938px; }

.figure-boy-3 {
  width: 90px;
  height: 145.76087px;
  background-size: 978.26087px 351.19565px;
  background-position: -730.76087px -8.80435px; }

.figure-boy-4 {
  width: 70px;
  height: 140.88608px;
  background-size: 886.07595px 318.10127px;
  background-position: -29.24051px -149.74684px; }

.figure-boy-5 {
  width: 80px;
  height: 119.61165px;
  background-size: 776.69903px 278.83495px;
  background-position: -218.25243px -143.68932px; }

.figure-boy-6 {
  width: 70px;
  height: 140px;
  background-size: 886.07595px 318.10127px;
  background-position: -490px -163.03797px; }

.figure-boy-7 {
  width: 70px;
  height: 143.68421px;
  background-size: 921.05263px 330.65789px;
  background-position: -128.94737px -4.60526px; }

.user-hoa {
  width: 96px;
  height: 95px;
  background-size: 894px 1500px;
  background-position: -11px -429px; }

.icon-hoa-small {
  width: 50px;
  height: 49.47917px;
  background-size: 465.625px 781.25px;
  background-position: -5.72917px -223.4375px; }

.icon-wrap-user {
  width: 95px;
  height: 95px;
  background-size: 894px 1500px;
  background-position: -12px -278px; }

.icon-txt-win {
  width: 83px;
  height: 43px;
  background-size: 894px 1500px;
  background-position: -19px -381px; }

.icon-hand-left {
  width: 35px;
  height: 20.05208px;
  background-size: 325.9375px 546.875px;
  background-position: -281.82292px -384.27083px; }

.icon-hand-right {
  width: 40px;
  height: 20.37037px;
  background-size: 331.11111px 555.55556px;
  background-position: -285.18519px -363.7037px; }

.user-left-win {
  width: 95px;
  height: 95px;
  background-size: 894px 1500px;
  background-position: -10px -1300px; }

.user-right-win {
  width: 95px;
  height: 95px;
  background-size: 894px 1500px;
  background-position: -438px -1201px; }

.user-win {
  position: relative; }
  .user-win .figure {
    position: absolute;
    top: -20px;
    left: 50%;
    z-index: 1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .user-win .icon-txt-win {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .user-win.win-big .figure-girl-1 {
    width: 70px;
    height: 82.17391px;
    background-size: 608.69565px 218.52174px;
    background-position: -8.52174px -9.13043px;
    top: 0; }
  .user-win.win-big .figure-girl-2 {
    width: 60px;
    height: 104.83516px;
    background-size: 659.34066px 236.7033px;
    background-position: -158.9011px -1.97802px; }
  .user-win.win-big .figure-girl-3 {
    width: 70px;
    height: 105.33981px;
    background-size: 679.61165px 243.98058px;
    background-position: -322.81553px -2.03883px; }
  .user-win.win-big .figure-girl-4 {
    width: 70px;
    height: 73.42657px;
    background-size: 489.51049px 175.73427px;
    background-position: -60.20979px -92.51748px;
    top: 0; }
  .user-win.win-big .figure-girl-5 {
    width: 70px;
    height: 84.33071px;
    background-size: 551.1811px 197.87402px;
    background-position: -219.37008px -104.17323px;
    top: 0; }
  .user-win.win-big .figure-girl-6 {
    width: 80px;
    height: 76.77852px;
    background-size: 536.91275px 192.75168px;
    background-position: -419.32886px -107.38255px;
    top: 0; }
  .user-win.win-big .figure-girl-7 {
    width: 60px;
    height: 119.24051px;
    background-size: 759.49367px 272.65823px;
    background-position: -658.48101px -2.27848px;
    top: -30px; }
  .user-win.win-big .figure-girl-8 {
    width: 50px;
    height: 76.08696px;
    background-size: 543.47826px 195.1087px;
    background-position: -359.23913px -106.52174px;
    top: 0; }
  .user-win.win-big .figure-boy-1 {
    width: 60px;
    height: 106.89655px;
    background-size: 689.65517px 247.58621px;
    background-position: -247.58621px -3.44828px; }
  .user-win.win-big .figure-boy-2 {
    width: 70px;
    height: 96.0177px;
    background-size: 619.46903px 222.38938px;
    background-position: -374.77876px -1.85841px; }
  .user-win.win-big .figure-boy-3 {
    width: 70px;
    height: 113.36957px;
    background-size: 760.86957px 273.15217px;
    background-position: -568.36957px -6.84783px; }
  .user-win.win-big .figure-boy-4 {
    width: 50px;
    height: 100.63291px;
    background-size: 632.91139px 227.21519px;
    background-position: -20.88608px -106.96203px; }
  .user-win.win-big .figure-boy-5 {
    width: 70px;
    height: 104.66019px;
    background-size: 679.61165px 243.98058px;
    background-position: -190.97087px -125.72816px; }
  .user-win.win-big .figure-boy-6 {
    width: 50px;
    height: 100px;
    background-size: 632.91139px 227.21519px;
    background-position: -350px -116.4557px; }
  .user-win.win-big .figure-boy-7 {
    width: 50px;
    height: 102.63158px;
    background-size: 657.89474px 236.18421px;
    background-position: -92.10526px -3.28947px; }
  .user-win.win-small {
    width: 50px;
    height: 50px;
    background-size: 470.52632px 789.47368px;
    background-position: -6.31579px -146.31579px; }
    .user-win.win-small .icon-txt-win {
      width: 50px;
      height: 25.90361px;
      background-size: 538.55422px 903.61446px;
      background-position: -11.44578px -229.51807px; }
    .user-win.win-small .figure-girl-1 {
      width: 40px;
      height: 46.95652px;
      background-size: 347.82609px 124.86957px;
      background-position: -4.86957px -5.21739px;
      top: 0; }
    .user-win.win-small .figure-girl-2 {
      width: 35px;
      height: 61.15385px;
      background-size: 384.61538px 138.07692px;
      background-position: -92.69231px -1.15385px;
      top: -13px; }
    .user-win.win-small .figure-girl-3 {
      width: 40px;
      height: 60.19417px;
      background-size: 388.34951px 139.41748px;
      background-position: -184.46602px -1.16505px;
      top: -12px; }
    .user-win.win-small .figure-girl-4 {
      width: 40px;
      height: 41.95804px;
      background-size: 279.72028px 100.41958px;
      background-position: -34.40559px -52.86713px;
      top: 0; }
    .user-win.win-small .figure-girl-5 {
      width: 40px;
      height: 48.18898px;
      background-size: 314.96063px 113.07087px;
      background-position: -125.35433px -59.52756px;
      top: 0; }
    .user-win.win-small .figure-girl-6 {
      width: 50px;
      height: 47.98658px;
      background-size: 335.57047px 120.4698px;
      background-position: -262.08054px -67.11409px;
      top: 0; }
    .user-win.win-small .figure-girl-7 {
      width: 30px;
      height: 59.62025px;
      background-size: 379.74684px 136.32911px;
      background-position: -329.24051px -1.13924px;
      top: -15px; }
    .user-win.win-small .figure-girl-8 {
      width: 30px;
      height: 45.65217px;
      background-size: 326.08696px 117.06522px;
      background-position: -215.54348px -63.91304px;
      top: 0; }
    .user-win.win-small .figure-boy-1 {
      width: 30px;
      height: 53.44828px;
      background-size: 344.82759px 123.7931px;
      background-position: -123.7931px -1.72414px;
      top: -5px; }
    .user-win.win-small .figure-boy-2 {
      width: 35px;
      height: 48.00885px;
      background-size: 309.73451px 111.19469px;
      background-position: -187.38938px -0.9292px;
      top: -5px; }
    .user-win.win-small .figure-boy-3 {
      width: 30px;
      height: 48.58696px;
      background-size: 326.08696px 117.06522px;
      background-position: -243.58696px -2.93478px;
      top: -6px; }
    .user-win.win-small .figure-boy-4 {
      width: 30px;
      height: 60.37975px;
      background-size: 379.74684px 136.32911px;
      background-position: -12.53165px -64.17722px;
      top: -10px; }
    .user-win.win-small .figure-boy-5 {
      width: 30px;
      height: 44.85437px;
      background-size: 291.26214px 104.56311px;
      background-position: -81.84466px -53.8835px;
      top: -5px; }
    .user-win.win-small .figure-boy-6 {
      width: 30px;
      height: 60px;
      background-size: 379.74684px 136.32911px;
      background-position: -210px -69.87342px;
      top: -10px; }
    .user-win.win-small .figure-boy-7 {
      width: 25px;
      height: 51.31579px;
      background-size: 328.94737px 118.09211px;
      background-position: -46.05263px -1.64474px;
      top: -5px; }

@keyframes zoomInZoomOut {
  0%, 100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); } }

.icon-vstui {
  width: 169px;
  height: 169px;
  background-size: 894px 1500px;
  background-position: -458px -210px; }

#actionPlay {
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -85px;
  -webkit-animation: zoomInZoomOut 1s infinite linear;
  animation: zoomInZoomOut 1s infinite linear;
  cursor: pointer; }
  #actionPlay .icon-vstui {
    position: relative;
    z-index: 2; }
  #actionPlay:hover {
    opacity: .9; }
  #actionPlay:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.5); }
  #actionPlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 169px;
    height: 169px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 25px 5px rgba(255, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 25px 5px rgba(255, 0, 0, 0.8);
    -o-box-shadow: 0px 0px 25px 5px rgba(255, 0, 0, 0.8);
    -ms-box-shadow: 0px 0px 25px 5px rgba(255, 0, 0, 0.8);
    box-shadow: 0px 0px 25px 5px rgba(255, 0, 0, 0.8);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
  #actionPlay:hover:before {
    opacity: 1; }

@keyframes slideAppendHis {
  0%, 100% {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    opacity: .5; }
  50% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1; } }

@keyframes effectBalance {
  0%, 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 1; } }

.area-header {
  display: flex;
  display: -ms-flex;
  align-items: center;
  padding: 7px 10px;
  position: relative;
  z-index: 2; }
  .area-header .tooltipWrap {
    margin-right: 20px; }
  .area-header .balance {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    display: flex;
    display: -ms-flex;
    align-items: center;
    background-color: #003b51;
    color: #fff;
    margin-right: 20px; }
    .area-header .balance div {
      width: 200px;
      text-align: center;
      font-weight: 700;
      font-size: 20px;
      display: flex;
      display: -ms-flex;
      align-items: center;
      justify-content: center; }
      .area-header .balance div span {
        color: #0d95b2; }
      .area-header .balance div #balance {
        color: #fff;
        margin-right: 10px;
        display: block; }
        .area-header .balance div #balance.effectBalance {
          -webkit-animation: effectBalance .3s linear;
          animation: effectBalance .3s linear;
          -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2; }
  .area-header .show-history {
    flex: 1;
    display: flex;
    display: -ms-flex;
    justify-content: flex-end; }
    .area-header .show-history .result-type {
      margin-right: 15px;
      display: flex;
      display: -ms-flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly; }
      .area-header .show-history .result-type span {
        margin: 5px 0; }
    .area-header .show-history .icon-person-play span {
      display: block; }
    .area-header .show-history .icon-person-play .icon-person {
      margin-bottom: 10px; }
    .area-header .show-history #history-result {
      min-width: 300px;
      max-width: 310px;
      height: 60px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      background-color: #003b51; }
      .area-header .show-history #history-result .history-wrap {
        height: 100%;
        padding: 0 20px;
        position: relative; }
      .area-header .show-history #history-result .swiper-container {
        height: 100%; }
      .area-header .show-history #history-result .swiper-slide {
        display: flex;
        display: -ms-flex;
        align-items: center; }
        .area-header .show-history #history-result .swiper-slide .typebet-results {
          border-left: 1px solid #0d95b2;
          padding: 0 3px; }
          .area-header .show-history #history-result .swiper-slide .typebet-results:last-child {
            border-right: 1px solid #0d95b2; }
          .area-header .show-history #history-result .swiper-slide .typebet-results:hover {
            background-color: #005b7d; }
          .area-header .show-history #history-result .swiper-slide .typebet-results.appendEffect {
            -webkit-animation: slideAppendHis .2s linear;
            animation: slideAppendHis .2s linear;
            -webkit-animation-iteration-count: 3;
            animation-iteration-count: 3; }
        .area-header .show-history #history-result .swiper-slide.no-data {
          display: flex;
          display: -ms-flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 15px; }
        .area-header .show-history #history-result .swiper-slide .icon {
          display: block;
          margin: 3px auto; }
      .area-header .show-history #history-result .history-button-prev,
      .area-header .show-history #history-result .history-button-next {
        position: absolute;
        top: 50%;
        margin-top: -20px;
        cursor: pointer; }
      .area-header .show-history #history-result .history-button-prev {
        left: 5px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 10px solid #0d95b2; }
        .area-header .show-history #history-result .history-button-prev.swiper-button-disabled {
          border-right-color: #8a9da1; }
      .area-header .show-history #history-result .history-button-next {
        right: 5px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 10px solid #0d95b2; }
        .area-header .show-history #history-result .history-button-next.swiper-button-disabled {
          border-left-color: #8a9da1; }

.area-game {
  overflow: hidden; }

.area-game-play {
  margin: 0 3px;
  height: 555px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background: url(../images/bg-main.jpg);
  position: relative;
  z-index: 1; }

@keyframes blink {
  0% {
    box-shadow: 1px 1px 25px 10px #daff0a; }
  50% {
    box-shadow: none; }
  100% {
    box-shadow: 1px 1px 25px 10px #daff0a; } }

@-webkit-keyframes blink {
  0% {
    box-shadow: 1px 1px 25px 10px #daff0a; }
  50% {
    box-shadow: none; }
  100% {
    box-shadow: 1px 1px 25px 10px #daff0a; } }

.user-play {
  position: absolute;
  top: 23%;
  z-index: 5; }
  .user-play .block-play {
    position: relative;
    z-index: 2;
    display: flex;
    display: -ms-flex;
    align-items: center;
    justify-content: center; }
    .user-play .block-play .typebet {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .user-play .block-play .typebet .icon {
        position: relative;
        z-index: 2;
        display: block;
        margin: 13px 0;
        cursor: pointer;
        -webkit-transition: transform .2s ease-in-out;
        -moz-transition: transform .2s ease-in-out;
        -ms-transition: transform .2s ease-in-out;
        -o-transition: transform .2s ease-in-out;
        transition: transform .2s ease-in-out; }
        .user-play .block-play .typebet .icon:hover {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -o-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2); }
      .user-play .block-play .typebet .effectTypeBetWin {
        position: relative; }
        .user-play .block-play .typebet .effectTypeBetWin:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -o-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          z-index: 1;
          -webkit-animation: blink 1.0s linear infinite;
          -moz-animation: blink 1.0s linear infinite;
          -ms-animation: blink 1.0s linear infinite;
          -o-animation: blink 1.0s linear infinite;
          animation: blink 1.0s linear infinite; }
  .user-play .figure-ratio {
    width: 100%;
    text-align: center; }
    .user-play .figure-ratio .ratio {
      color: #fff;
      font-size: 20px;
      font-weight: 900;
      background-color: #000;
      display: inline-block;
      padding: 3px 15px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -o-border-radius: 20px;
      -ms-border-radius: 20px;
      border-radius: 20px;
      line-height: 1;
      margin-top: 10px;
      max-width: 100px; }

.user-play-left {
  left: 3px; }
  .user-play-left .block-play {
    background-color: #0d95b2;
    width: 180px;
    height: 360px;
    border-bottom-right-radius: 360px;
    border-top-right-radius: 360px;
    -webkit-box-shadow: 18px 5px 17px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 18px 5px 17px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 18px 5px 17px -9px rgba(0, 0, 0, 0.75); }
    .user-play-left .block-play .typebet {
      left: -47px; }
  .user-play-left .figure-ratio {
    padding-left: 25px; }

@keyframes rotarHandRight {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(20deg); }
  50% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(-35deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes rotarHandLeft {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-20deg); }
  50% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(35deg); }
  100% {
    transform: rotate(0deg); } }

.user-play-right {
  right: 3px; }
  .user-play-right .block-play {
    background-color: #fff;
    width: 180px;
    height: 360px;
    border-bottom-left-radius: 360px;
    border-top-left-radius: 360px;
    -webkit-box-shadow: -18px 5px 17px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -18px 5px 17px -9px rgba(0, 0, 0, 0.75);
    box-shadow: -18px 5px 17px -9px rgba(0, 0, 0, 0.75); }
    .user-play-right .block-play .typebet {
      right: -47px; }
  .user-play-right .figure-ratio {
    padding-right: 40px; }

.hand-start-play {
  position: absolute;
  top: 0;
  z-index: 1; }

.hand-start-left {
  left: 100px;
  width: 248px;
  height: 219px;
  background-size: 894px 1500px;
  background-position: -70px -927px; }

.hand-start-right {
  right: 100px;
  width: 248px;
  height: 218px;
  background-size: 894px 1500px;
  background-position: -409px -927px; }

.hand-result-right-bua {
  right: 100px;
  width: 248px;
  height: 218px;
  background-size: 894px 1500px;
  background-position: -409px -927px; }

.hand-result-right-keo {
  width: 137px;
  height: 308px;
  background-size: 894px 1500px;
  background-position: -661px -338px;
  transform: rotate(-60deg);
  right: 190px;
  top: -45px; }

.hand-result-right-nap {
  width: 252px;
  height: 308px;
  background-size: 894px 1500px;
  background-position: -626px -11px;
  transform: rotate(-62deg);
  right: 133px;
  top: -60px; }

.hand-result-left-bua {
  left: 100px;
  width: 248px;
  height: 219px;
  background-size: 894px 1500px;
  background-position: -70px -927px; }

.hand-result-left-keo {
  width: 137px;
  height: 308px;
  background-size: 894px 1500px;
  background-position: -684px -660px;
  transform: rotate(60deg);
  left: 190px;
  top: -45px; }

.hand-result-left-nap {
  width: 252px;
  height: 308px;
  background-size: 894px 1500px;
  background-position: -622px -1146px;
  transform: rotate(62deg);
  left: 133px;
  top: -60px; }

@-webkit-keyframes spinChip {
  0%, 100% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinChip {
  0%, 100% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes spinChipHide {
  0% {
    -webkit-transform: scale(1.05) rotate(0);
    transform: scale(1.05) rotate(0); }
  100% {
    -webkit-transform: scale(0.9) rotate(360deg);
    transform: scale(0.9) rotate(360deg); } }

@-ms-keyframes spinChipHide {
  0%, 100% {
    -webkit-transform: scale(1.05) rotate(0);
    transform: scale(1.05) rotate(0);
    opacity: 1; }
  50% {
    -webkit-transform: scale(0.9) rotate(360deg);
    transform: scale(0.9) rotate(360deg);
    opacity: 0; } }

@keyframes spinChipHide {
  0%, 100% {
    -webkit-transform: scale(1.05) rotate(0);
    transform: scale(1.05) rotate(0);
    opacity: 1; }
  50% {
    -webkit-transform: scale(0.9) rotate(360deg);
    transform: scale(0.9) rotate(360deg);
    opacity: 0; } }

.area-footer {
  position: relative;
  z-index: 10; }
  .area-footer .view-his-current {
    position: relative;
    width: 30%;
    overflow: hidden; }
    .area-footer .view-his-current.active .total-money {
      background-color: #08758c;
      border-color: #00b2d8; }
    .area-footer .view-his-current.active .arrow-up {
      transform: rotate(180deg); }
    .area-footer .view-his-current .total-money {
      color: #003b51;
      font-weight: 500;
      font-size: 18px;
      -webkit-border-radius: 5px 5px 5px 15px;
      -moz-border-radius: 5px 5px 5px 15px;
      -o-border-radius: 5px 5px 5px 15px;
      -ms-border-radius: 5px 5px 5px 15px;
      border-radius: 5px 5px 5px 15px;
      line-height: 1;
      padding: 7px 20px 4px 14px;
      cursor: pointer;
      border: 1px solid transparent;
      position: relative;
      z-index: 2;
      background-color: #0d95b2;
      text-align: center; }
      .area-footer .view-his-current .total-money:hover {
        background-color: #08758c;
        border-color: #00b2d8; }
      .area-footer .view-his-current .total-money .money-bet {
        color: #fff;
        display: inline-block;
        margin: 0 5px 0 3px; }
    .area-footer .view-his-current .arrow-up {
      position: absolute;
      top: 50%;
      right: 10px;
      width: 0px;
      height: 0px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 15px solid #000;
      margin-top: -7px;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      z-index: 3; }
    .area-footer .view-his-current .popup-his-current {
      position: absolute;
      bottom: -170px;
      left: 0;
      z-index: 1;
      width: 100%;
      background-color: rgba(13, 149, 178, 0.47);
      display: flex;
      display: -ms-flex;
      -webkit-border-radius: 20px 20px 0 0;
      -moz-border-radius: 20px 20px 0 0;
      -o-border-radius: 20px 20px 0 0;
      -ms-border-radius: 20px 20px 0 0;
      border-radius: 20px 20px 0 0;
      padding: 0 5px;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      opacity: 0; }
      .area-footer .view-his-current .popup-his-current .block-his {
        width: 33.33333%; }
      .area-footer .view-his-current .popup-his-current .item-his {
        display: flex;
        display: -ms-flex;
        align-items: center;
        color: #fff;
        font-size: 12px;
        margin: 10px 0; }
        .area-footer .view-his-current .popup-his-current .item-his .icon {
          margin-right: 10px; }
    .area-footer .view-his-current.active {
      overflow: visible; }
      .area-footer .view-his-current.active .popup-his-current {
        opacity: 1;
        bottom: 100%; }

.area-chips {
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70%;
  padding: 0 50px; }
  .area-chips .bg-area-chips {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 70px;
    background-color: #0d95b2;
    -webkit-border-radius: 50px 0 15px 0;
    -moz-border-radius: 50px 0 15px 0;
    -o-border-radius: 50px 0 15px 0;
    -ms-border-radius: 50px 0 15px 0;
    border-radius: 50px 0 15px 0; }
  .area-chips .swiper-container {
    padding: 20px 0;
    z-index: 2;
    top: 5px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -o-border-radius: 300px;
    -ms-border-radius: 300px;
    border-radius: 300px; }
  .area-chips .swiper-slide {
    text-align: center; }
  .area-chips .chip-button-next, .area-chips .chip-button-prev {
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 12px;
    z-index: 5;
    outline: none;
    cursor: pointer; }
  .area-chips .chip-button-next {
    right: 10px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid white; }
  .area-chips .chip-button-prev {
    left: 15px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid white; }
  .area-chips .swiper-button-disabled {
    cursor: not-allowed;
    opacity: .5; }

.chip {
  margin: 0 4px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #333; }
  .chip#chip-custom {
    position: relative; }
    .chip#chip-custom .chip-custom-input {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.670588);
      z-index: 10;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      display: flex;
      display: -ms-flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .chip#chip-custom .chip-custom-input input {
        width: 75px;
        border: none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        font-size: 11px;
        height: 25px;
        padding: 5px;
        text-align: center;
        font-weight: 700; }
      .chip#chip-custom .chip-custom-input .btnsChip {
        margin-top: 3px; }
        .chip#chip-custom .chip-custom-input .btnsChip a {
          display: inline-block;
          background-color: #bfbfbf;
          color: #333;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -o-border-radius: 3px;
          -ms-border-radius: 3px;
          border-radius: 3px;
          text-decoration: none;
          margin: 0 3px;
          font-size: 11px;
          font-weight: 700;
          padding: 0px 5px;
          height: 20px;
          line-height: 20px; }
          .chip#chip-custom .chip-custom-input .btnsChip a:hover {
            opacity: .8; }
          .chip#chip-custom .chip-custom-input .btnsChip a:active {
            opacity: .95; }
          .chip#chip-custom .chip-custom-input .btnsChip a#addChipCustom {
            background-color: #2196F3;
            color: #fff; }
  .chip.chip-custom {
    cursor: default; }
  .chip.chip-custom-icon .chip-custom {
    width: 98px;
    height: 98px;
    background-size: 894px 1500px;
    background-position: -9px -697px; }
  .chip .icon {
    display: flex;
    display: -ms-flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 20px;
    z-index: 2;
    position: relative; }
    .chip .icon.icon-edit {
      width: 36px;
      height: 36px;
      background-position: -488px -471px;
      position: absolute;
      right: 0;
      bottom: 0;
      cursor: pointer; }
      .chip .icon.icon-edit:hover {
        opacity: .9; }
  .chip .chip-highlight {
    display: none;
    width: 142px;
    height: 142px;
    background-position: -442px -538px;
    position: absolute;
    top: -22px;
    left: -22px;
    z-index: 1;
    -webkit-animation: spinChip 5s infinite linear;
    animation: spinChip 5s infinite linear; }
  .chip:hover, .chip.active {
    z-index: 2; }
    .chip:hover .chip-highlight, .chip.active .chip-highlight {
      display: block; }

.chipEmbed {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 1;
  font-size: 23px;
  -webkit-box-shadow: 2px 2px 2px black;
  -moz-box-shadow: 2px 2px 2px black;
  -o-box-shadow: 2px 2px 2px black;
  -ms-box-shadow: 2px 2px 2px black;
  box-shadow: 2px 2px 2px black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
  .chipEmbed.chipEmbedHideGroup {
    opacity: 0; }

.typebet-person {
  position: absolute;
  bottom: 135px;
  width: 100%;
  left: 0;
  display: flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center; }
  .typebet-person .item-bet {
    margin: 0 25px; }
    .typebet-person .item-bet .ratio {
      background-color: #000;
      text-align: center;
      max-width: 70px;
      margin: 0 auto 20px;
      color: #fff;
      line-height: 1;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -o-border-radius: 20px;
      -ms-border-radius: 20px;
      border-radius: 20px;
      padding: 3px 0;
      font-weight: 900;
      font-size: 18px; }
    .typebet-person .item-bet .user-hoa,
    .typebet-person .item-bet .user-win {
      cursor: pointer;
      -webkit-transition: transform .2s ease-in-out;
      -moz-transition: transform .2s ease-in-out;
      -ms-transition: transform .2s ease-in-out;
      -o-transition: transform .2s ease-in-out;
      transition: transform .2s ease-in-out; }
      .typebet-person .item-bet .user-hoa:hover,
      .typebet-person .item-bet .user-win:hover {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05); }
    .typebet-person .item-bet .effectTypeBetWin {
      position: relative; }
      .typebet-person .item-bet .effectTypeBetWin:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        z-index: 1;
        -webkit-animation: blink 1.0s linear infinite;
        -moz-animation: blink 1.0s linear infinite;
        -ms-animation: blink 1.0s linear infinite;
        -o-animation: blink 1.0s linear infinite;
        animation: blink 1.0s linear infinite; }

.bgoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999; }

@-webkit-keyframes loader {
  0% {
    -webkit-transform: translateX(-30px);
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    -webkit-transform: translateX(30px);
    opacity: 0; }
  100% {
    opacity: 0; } }

@-moz-keyframes loader {
  0% {
    -moz-transform: translateX(-30px);
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    -moz-transform: translateX(30px);
    opacity: 0; }
  100% {
    opacity: 0; } }

@-keyframes loader {
  0% {
    -transform: translateX(-30px);
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    -transform: translateX(30px);
    opacity: 0; }
  100% {
    opacity: 0; } }

@-ms-keyframes loader {
  0% {
    -ms-transform: translateX(-30px);
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    -ms-transform: translateX(30px);
    opacity: 0; }
  100% {
    opacity: 0; } }

#logo {
  position: fixed;
  width: 200px;
  margin: 0 auto 0;
  -webkit-transition: all 0.7s cubic-bezier(0.74, -0.41, 0.36, 1);
  -moz-transition: all 0.7s cubic-bezier(0.74, -0.41, 0.36, 1);
  -ms-transition: all 0.7s cubic-bezier(0.74, -0.41, 0.36, 1);
  -o-transition: all 0.7s cubic-bezier(0.74, -0.41, 0.36, 1);
  transition: all 0.7s cubic-bezier(0.74, -0.41, 0.36, 1);
  top: 37%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  #logo img {
    display: block;
    margin: 0 auto;
    position: relative;
    animation-iteration-count: infinite;
    animation-duration: 1.8s;
    animation-fill-mode: both;
    max-width: 100%; }
  #logo.logoMove {
    top: 5%;
    width: 280px; }
    #logo.logoMove img {
      animation-play-state: paused; }

#bgPage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/bg-loading.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  visibility: hidden;
  z-index: 1; }

#loadingGame {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 2; }
  #loadingGame .loadingAni {
    text-align: center;
    margin-top: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 20px;
    display: flex;
    display: -ms-flex;
    align-items: center;
    justify-content: center; }
    #loadingGame .loadingAni span {
      height: 6px;
      width: 6px;
      background: #000;
      display: inline-block;
      margin: 0 9px;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-animation: loader 4s infinite;
      -webkit-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
      -webkit-animation-fill-mode: both;
      -moz-animation: loader 4s infinite;
      -moz-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
      -moz-animation-fill-mode: both;
      -ms-animation: loader 4s infinite;
      -ms-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
      -ms-animation-fill-mode: both;
      animation: loader 4s infinite;
      animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
      animation-fill-mode: both;
      line-height: 100%; }
    #loadingGame .loadingAni .l-1 {
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
      -ms-animation-delay: 1s;
      -moz-animation-delay: 1s;
      background-color: #03A9F4; }
    #loadingGame .loadingAni .l-2 {
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s;
      -ms-animation-delay: 0.8s;
      -moz-animation-delay: 0.8s;
      background-color: #4CAF50; }
    #loadingGame .loadingAni .l-3 {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
      -ms-animation-delay: 0.6s;
      -moz-animation-delay: 0.6s;
      background-color: #d22d2d; }
    #loadingGame .loadingAni .l-4 {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
      -ms-animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
      background-color: #010e43; }
    #loadingGame .loadingAni .l-5 {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
      -ms-animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      background-color: #01677c; }
    #loadingGame .loadingAni .l-6 {
      -webkit-animation-delay: 0;
      animation-delay: 0;
      -ms-animation-delay: 0;
      -moz-animation-delay: 0; }

@-webkit-keyframes effectMoneyStatusLoss {
  0% {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 1; }
  50% {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 0; } }

@-ms-keyframes effectMoneyStatusLoss {
  0% {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 1; }
  50% {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 0; } }

@keyframes effectMoneyStatusLoss {
  0% {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 1; }
  50% {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 0; } }

@-webkit-keyframes effectMoneyStatusWin {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }
  50% {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; } }

@-ms-keyframes effectMoneyStatusWin {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }
  50% {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; } }

@keyframes effectMoneyStatusWin {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }
  50% {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; } }

#effectMoneyBet {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -999;
  display: flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center; }
  #effectMoneyBet.showMoneyEffectBet {
    z-index: 999999; }
  #effectMoneyBet.lossMoney .moneyStatusBet {
    color: red;
    -webkit-animation: effectMoneyStatusLoss 1s ease-out;
    animation: effectMoneyStatusLoss 1s  ease-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; }
  #effectMoneyBet.winMoney .moneyStatusBet {
    color: #00ff2d;
    -webkit-animation: effectMoneyStatusWin 1.5s ease-out;
    animation: effectMoneyStatusWin 1.5s ease-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; }
  #effectMoneyBet .moneyStatusBet {
    font-weight: 700;
    opacity: 0;
    position: relative;
    font-size: 115px;
    line-height: 1;
    white-space: nowrap; }

.iconTitleGuider {
  width: 180px;
  height: 101.46497px;
  background-size: 512.48408px 859.87261px;
  background-position: -165.09554px -6.30573px; }

.iconKeoBuaBao {
  width: 60px;
  height: 48.6px;
  background-size: 536.4px 900px;
  background-position: -4.2px -720.6px; }

.iconDemoKeo {
  width: 50px;
  height: 50px;
  background-size: 465.625px 781.25px;
  background-position: -66.14583px -621.875px; }

.iconDemoBua {
  width: 50px;
  height: 50px;
  background-size: 465.625px 781.25px;
  background-position: -120.83333px -621.875px; }

.iconDemoBao {
  width: 50px;
  height: 50px;
  background-size: 465.625px 781.25px;
  background-position: -173.4375px -621.875px; }

.layui-layer.inforQuestion {
  overflow: visible;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px; }
  .layui-layer.inforQuestion .inner {
    padding: 5px 20px 20px; }
  .layui-layer.inforQuestion .content .tblRule {
    border: 1px dashed #949494;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    height: 350px;
    overflow-y: scroll; }
  .layui-layer.inforQuestion .content h1 {
    text-align: center;
    padding: 0;
    margin-bottom: 10px;
    font-size: 25px; }
  .layui-layer.inforQuestion .content ul li {
    list-style: decimal;
    line-height: 20px;
    font-size: 14px; }
  .layui-layer.inforQuestion .content .user-win {
    display: inline-block; }
  .layui-layer.inforQuestion .content .rule {
    display: flex;
    display: -ms-flex;
    border-bottom: 1px dashed #949494;
    padding: 10px 0; }
    .layui-layer.inforQuestion .content .rule .img {
      width: 120px;
      display: flex;
      display: -ms-flex;
      align-items: center;
      justify-content: center; }
    .layui-layer.inforQuestion .content .rule .contentRule {
      flex: 1;
      display: flex;
      display: -ms-flex;
      align-items: center; }
      .layui-layer.inforQuestion .content .rule .contentRule > div {
        border-right: 1px dashed #949494;
        width: 30%;
        height: 100%;
        display: flex;
        display: -ms-flex;
        align-items: center; }
        .layui-layer.inforQuestion .content .rule .contentRule > div:last-child {
          border: none;
          flex: 1;
          padding-left: 20px; }
  .layui-layer.inforQuestion .layui-layer-content {
    overflow: visible; }
  .layui-layer.inforQuestion .iconTitleGuider {
    position: absolute;
    top: -105px;
    left: 50%;
    margin-left: -90px; }
  .layui-layer.inforQuestion .layui-layer-title {
    border: none;
    background-color: inherit;
    text-indent: -9999px;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0; }
  .layui-layer.inforQuestion .layui-layer-setwin {
    padding: 0;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #d2d2d2;
    background-color: #e0e0e0;
    display: flex;
    display: -ms-flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px; }
    .layui-layer.inforQuestion .layui-layer-setwin a {
      margin: 0;
      width: 14px;
      height: 14px; }

.layui-layer #historyBetUser {
  height: 100%;
  position: relative; }
  .layui-layer #historyBetUser h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 10px;
    font-size: 25px; }

.layui-layer .tblScroll {
  position: relative;
  padding-top: 90px;
  height: 100%; }
  .layui-layer .tblScroll .titleTbl {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding-right: 17px; }
  .layui-layer .tblScroll .content {
    overflow-y: scroll;
    height: 100%; }
  .layui-layer .tblScroll table, .layui-layer .tblScroll tr, .layui-layer .tblScroll td, .layui-layer .tblScroll th {
    text-align: center;
    border: 1px solid #000; }
  .layui-layer .tblScroll table {
    width: 100%;
    border-collapse: collapse; }
  .layui-layer .tblScroll tr th {
    font-weight: 700;
    padding: 10px;
    font-size: 16px; }
  .layui-layer .tblScroll tr td:nth-child(1), .layui-layer .tblScroll tr th:nth-child(1) {
    width: 22%; }
  .layui-layer .tblScroll tr td:nth-child(2), .layui-layer .tblScroll tr th:nth-child(2) {
    width: 20%; }
  .layui-layer .tblScroll tr td:nth-child(3), .layui-layer .tblScroll tr th:nth-child(3) {
    width: 25%; }
  .layui-layer .tblScroll tr td:nth-child(4), .layui-layer .tblScroll tr th:nth-child(4) {
    width: 20%; }
  .layui-layer .tblScroll tr td:nth-child(5), .layui-layer .tblScroll tr th:nth-child(5) {
    width: 13%; }
  .layui-layer .tblScroll tr td {
    padding: 0 10px; }
    .layui-layer .tblScroll tr td .detailBetUser {
      line-height: 1;
      margin: 10px 0;
      text-align: left;
      display: flex;
      display: -ms-flex;
      justify-content: space-between; }
      .layui-layer .tblScroll tr td .detailBetUser .winMoney {
        color: #003b51;
        font-weight: 900; }
    .layui-layer .tblScroll tr td .typebet-results {
      padding: 5px 0; }
      .layui-layer .tblScroll tr td .typebet-results span {
        margin: 0 5px; }
    .layui-layer .tblScroll tr td.status_4 {
      color: #152f9d;
      font-weight: 700; }
    .layui-layer .tblScroll tr td.status_3 {
      color: red; }

.layui-layer .user-hoa {
  width: 30px;
  height: 29.6875px;
  background-size: 279.375px 468.75px;
  background-position: -3.4375px -134.0625px; }

.layui-layer .user-left-win {
  width: 30px;
  height: 30px;
  background-size: 282.31579px 473.68421px;
  background-position: -3.15789px -410.52632px; }

.layui-layer .user-left-keo {
  width: 30px;
  height: 30.31579px;
  background-size: 282.31579px 473.68421px;
  background-position: -38.21053px -84.31579px; }

.layui-layer .user-left-bua {
  width: 30px;
  height: 30.31579px;
  background-size: 282.31579px 473.68421px;
  background-position: -38.21053px -119.68421px; }

.layui-layer .user-left-nap {
  width: 30px;
  height: 30.31579px;
  background-size: 282.31579px 473.68421px;
  background-position: -38.21053px -154.42105px; }

.layui-layer .user-right-win {
  width: 30px;
  height: 30px;
  background-size: 282.31579px 473.68421px;
  background-position: -138.31579px -379.26316px; }

.layui-layer .user-right-keo {
  width: 30px;
  height: 30.31579px;
  background-size: 282.31579px 473.68421px;
  background-position: -70.42105px -86.21053px; }

.layui-layer .user-right-bua {
  width: 30px;
  height: 30.31579px;
  background-size: 282.31579px 473.68421px;
  background-position: -70.42105px -121.26316px; }

.layui-layer .user-right-nap {
  width: 30px;
  height: 30.31579px;
  background-size: 282.31579px 473.68421px;
  background-position: -70.42105px -156.31579px; }

@media (max-height: 768px) {
  #wrapper {
    height: 545px; }
    #wrapper.wrapperMove {
      top: 17%; }
  #logo.logoMove {
    width: 180px; }
  .area-game-play {
    height: 450px; }
  .user-play {
    top: 18%; }
  #actionPlay {
    top: 10%; }
    #actionPlay:before {
      width: 150px;
      height: 150px; }
  .icon-vstui {
    width: 150px;
    height: 150px;
    background-size: 793.49112px 1331.36095px;
    background-position: -406.50888px -186.39053px; }
  .typebet-person {
    bottom: 100px; } }

