@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.habaPage {
	background-image: url(../images/bg.jpg);
    background-position: top center;
    background-attachment: fixed;
    min-height: 100vh;
	padding-top: 50px;
	header {
		background-color: rgba(41, 103, 80, 0.85);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
		.topbar {
			display: -webkit-flex;
			display: flex;
			justify-content: space-between;
			width: 950px;
			margin: 0 auto;
			align-items: center;
			height: 50px;
		}
		.logoHaba {
			display: block;
			width: 135px;
			position: relative;
			top: 2px;
		}
		.userInfor {
			display: -webkit-flex;
			display: flex;
			align-items: center;
			font-weight: 600;
			.loginname {
				color: #fff;
				display: inline-block;
				font-size: 16px;
			}
			#refresh {
				margin-left: 25px;
				color: #e96b45;
				position: relative;
				padding-right: 25px;
				display: inline-block;
				font-size: 16px;
				#moneyHaba {
					font-size: 16px;
					color: #e96b45;
					margin: 0;
				}
				.icon-refresh {
					position: absolute;
					top: 0px;
					right: 0;
					margin: 0;
					font-size: 20px;
					color: #fff;
				}
				&.reloadBalanceHaba {
					.icon-refresh {
						-webkit-animation: spin 1s infinite linear;
						animation: spin 1s infinite linear;
					}
				}
				&:hover {
					opacity: .7;
				}
			}
			.logoutHaba {
				position: relative;
				top: 1px;
				margin: 0 0 0 25px;
				color: #fff;
				font-weight: 400;
				.icon__logout {
					display: inline-block;
					margin: 0 5px 0 0;
				}
				&:hover {
					opacity: .7;
				}
			}
		}
	}
	.wrapper {
		width: 950px;
		margin: 0 auto;
		background-color: rgba(53, 53, 53, 0.4);
		border-top: 1px solid #e96b45;
		padding: 20px;
		position: relative;
		min-height: calc(100vh - 50px - 155px);
	}
	.wrapItemsGame {
		margin: 0 -10px;
		.itemsGame {
			float: left;
			width: 20%;
			margin-bottom: 20px;
			padding: 0 10px;
			position: relative;
			&:before {
				position: absolute;
			    top: 0;
			    left: 10px;
			    z-index: 1;
			    background: #212121;
			    content: "";
			    -webkit-transition: opacity .35s;
			    transition: opacity .35s;
			    box-shadow: 0 3px 30px rgba(0,0,0,.8);
			    -webkit-border-radius: 4px;
			    border-radius: 4px;
			    right: 10px;
			    bottom: 0;
		    }
			.itemsInner {
				border: 1px solid #e45835;
			    height: 250px;
			    text-align: center;
			    -webkit-border-radius: 4px;
			    border-radius: 4px;
			    background-color: #212121;
			    position: relative;
			    -webkit-transition: -webkit-transform 0.35s;
			    transition: transform 0.35s;
			    -webkit-transform: perspective(1000px) translate3d(0,0,0);
			    transform: perspective(1000px) translate3d(0,0,0);
			    z-index: 2;
			    -webkit-font-smoothing: subpixel-antialiased;
			    backface-visibility: hidden;
			    transform: translateZ(0);
			    &:hover {
					-webkit-transform: perspective(1000px) translate3d(0,0,21px);
					transform: perspective(1000px) translate3d(0,0,21px);
			    }
				a {
					color: #fff;
				}
				.gameTitle {
					display: -webkit-flex;
					display: flex;
					align-items: center;
					width: 100%;
					height: 40px;
					font-weight: 600;
					font-size: 15px;
					justify-content: center;
				}
				.gamePic {
					height: 175px;
					padding-top: 10px;
				}
				.gameBtn {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 35px;
					border-top: 1px solid #e45835;
					display: -webkit-flex;
					display: flex;
					align-items: center;
					background-color: #312b2b;
					-webkit-border-radius: 0px 0px 4px 4px;
					border-radius: 0px 0px 4px 4px;
					a {
						display: block;
						text-align: center;
						width: 50%;
						&:first-child {
							border-right: 1px solid #e45835;
						}
						&:hover {
							color: #ababab;
						}
					}
				}
			}
		}
	}
}
.bannerHaba {
	text-align: center;
	width: 950px;
	margin: 0 auto;
}
#goTop {
	position: fixed;
    bottom: 5%;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    margin-left: 950px;
    font-size: 30px;
    color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
    	color: #e45835;
    	border-color: #e45835;
    }
}
.errorShow {
	color: red;
	text-align: center;
}
.habaHelpPage {
	padding: 0;
	height: 100%;
	iframe {
		width: 950px;
		margin: 0 auto 0;
		height: 100%;
		display: block;
	}
}