.icon__sprites {
    display: inline-block;
    background: url("#{$appImagePath}icons.png") no-repeat top left;
    vertical-align: middle;
}
.icon__reload {
    width: 27px;
    height: 26px;
    background-position: 0px -18px;
}
.icon__speed {
    width: 19px;
    height: 15px;
    background-position: -110px 0px;
}


@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?hk7arr');
    src: url('../fonts/icomoon.eot?hk7arr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hk7arr') format('truetype'),
    url('../fonts/icomoon.woff?hk7arr') format('woff'),
    url('../fonts/icomoon.svg?hk7arr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-triangle-right:before {
    content: "\e91a";
}