@media (min-width: 2500px) {

}

@media (max-width: 2500px) {

}

@media (max-width: 1920px) {

}

@media (min-width: 1600px) {

}

@media (max-width: 1600px) {

}

@media (min-width: 1200px) {
    .container {
        width: auto;
        max-width: 1200px;
    }
}

@media (min-width: 1360px) {
    .container {
        width: auto;
        max-width: 1300px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: auto;
        max-width: 1400px;
    }
}

@media (max-width: 1440px) {

}

@media (max-width: 1366px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 1024px) {

}

@media (min-width: 992px) {

}

@media (max-width: 992px) {

}

@media (max-width: 860px) {

}

@media (max-width: 768px) {

}

@media (min-width: 730px) {

}

@media (max-width: 630px) {

}

@media (min-width: 564px) {

}

@media (max-width: 560px) {

}

@media (max-width: 460px) {

}

@media (max-width: 420px) {

}

@media (max-width: 380px) {

}

@media (max-width: 350px) {

}

@media (min-width: 320px) and (max-width: 1200px) {

}

@media (max-height: 900px) {

}

@media (max-height: 768px) {

}

@media (max-height: 680px) {

}