@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@mixin flexNormal() {
	display: flex;
	display: -ms-flex;
}
@mixin flexCenterAlign() {
	@include flexNormal();
	align-items: center;
}
@mixin flexCenterCenter() {
	@include flexNormal();
	align-items: center;
	justify-content: center;
}
@mixin flexBetween() {
	@include flexNormal();
	justify-content: space-between;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.max-width {
	max-width: 1200px;
	margin: 0 auto 0;
}
#headerBanCa {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#0079a1), to(#0052c1));
	background: -webkit-linear-gradient(top, #0079a1, #0052c1);
	background: -moz-linear-gradient(top, #0079a1, #0052c1);
	background: -o-linear-gradient(top, #0079a1, #0052c1);
	background: -ms-linear-gradient(top, #0079a1, #0052c1);
	background: linear-gradient(top, #0079a1, #0052c1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = #0079a1, endColorstr = #0052c1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.64);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.64);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.64);
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	.topbar {
		@include flexNormal();
		justify-content: flex-end;
		align-items: center;
		position: relative;
		height: 100%;
		.logoBanCa {
			position: absolute;
			top: 3px;
			left: 0;
			width: 255px;
		}
		.userInfor {
			color: #fff;
			font-weight: 500;
			.loginname {
				margin-right: 20px;
			}
			#refresh {
				display: inline-block;
				color: #feb10b;
				font-size: 18px;
				position: relative;
				padding-right: 25px;
				.icon-refresh {
					position: absolute;
					top: 0px;
					right: 0;
					margin: 0;
					font-size: 20px;
					color: #fff;
				}
				&.reloadBalanceHaba {
					.icon-refresh {
						-webkit-animation: spin 1s infinite linear;
						animation: spin 1s infinite linear;
					}
				}
				&:hover {
					opacity: .7;
				}
			}
		}
	}
}
#itemsGame {
	background: url(../images/BanCaBG.jpg) no-repeat top center fixed;
	background-size: cover;
	padding-top: 70px;
	position: relative;
	overflow: hidden;
	height: 100%;
	.innerGame {
		padding: 50px 0 20px;
		margin-left: -15px;
		margin-right: -15px;
		position: relative;
		z-index: 5;
	}
	.itemGame {
		float: left;
		overflow: hidden;
		width: 25%;
		text-align: center;
		padding: 0 15px;
		margin-bottom: 30px;
		.item {
			height: 295px;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			overflow: hidden;
			position: relative;
			&:hover {
				.bgGameType {
					-webkit-transform: scale(1.2);
					-moz-transform: scale(1.2);
					-o-transform: scale(1.2);
					-ms-transform: scale(1.2);
					transform: scale(1.2);
				}
				.hoverEffect {
					.mask {
						-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
						filter: alpha(opacity=100);
						opacity: 1;
						-webkit-transform: translate(-64px, -64px) rotate(45deg);
						-moz-transform: translate(-64px, -64px) rotate(45deg);
						-o-transform: translate(-64px, -64px) rotate(45deg);
						-ms-transform: translate(-64px, -64px) rotate(45deg);
						transform: translate(-64px, -64px) rotate(45deg);
					}
					p {
						-webkit-transform: translate(0px,0px);
						-moz-transform: translate(0px,0px);
						-o-transform: translate(0px,0px);
						-ms-transform: translate(0px,0px);
						transform: translate(0px,0px);
						-webkit-transition-delay: 0.3s;
						-moz-transition-delay: 0.3s;
						-o-transition-delay: 0.3s;
						-ms-transition-delay: 0.3s;
						transition-delay: 0.3s;
					}
					.btn-playnow {
						-webkit-transform: translate(0px,0px);
						-moz-transform: translate(0px,0px);
						-o-transform: translate(0px,0px);
						-ms-transform: translate(0px,0px);
						transform: translate(0px,0px);
						-webkit-transition-delay: 0.4s;
						-moz-transition-delay: 0.4s;
						-o-transition-delay: 0.4s;
						-ms-transition-delay: 0.4s;
						transition-delay: 0.4s;
					}
				}
			}
		}
		.captiongame {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			display: flex;
			display: -ms-flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			p {
				text-transform: uppercase;
				text-align: center;
				position: relative;
				-webkit-transform: translate(197px, -155px);
				-moz-transform: translate(197px, -155px);
				-o-transform: translate(197px, -155px);
				-ms-transform: translate(197px, -155px);
				transform: translate(197px, -155px);
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
				font-weight: 700;
				font-size: 27px;
				color: #ffd80d;
				margin-bottom: 15px;
			}
			.btn-playnow {
				display: inline-block;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				padding: 10px 25px;
				background-color: #d52e15;
				color: #fff;
				font-weight: 600;
				font-size: 16px;
				position: relative;
				-webkit-transform: translate(-200px, 85px);
				-moz-transform: translate(-200px, 85px);
				-o-transform: translate(-200px, 85px);
				-ms-transform: translate(-200px, 85px);
				transform: translate(-200px, 85px);
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
				cursor: pointer;
				&:hover {
					opacity: .8;
				}
			}
		}
		.bgGameType {
			position: relative;
			z-index: 1;
			display: block;
			height: 100%;
			background-size: cover;
			background-position: center;
			-webkit-transform: scaleY(1);
			-moz-transform: scaleY(1);
			-o-transform: scaleY(1);
			-ms-transform: scaleY(1);
			transform: scaleY(1);
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}
		.hoverEffect {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			width: 100%;
			height: 100%;
			overflow: hidden;
			.mask {
				position: absolute;
				overflow: hidden;
				top: 0;
				left: 0;
				background-color: rgba(115,146,184, 0.7);
				width: calc(100% + 125px);
				padding: 60px;
				height: calc(100% + 125px);
				-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
				filter: alpha(opacity=0);
				opacity: 0;
				-webkit-transform: translate(239px, 239px) rotate(45deg);
				-moz-transform: translate(239px, 239px) rotate(45deg);
				-o-transform: translate(239px, 239px) rotate(45deg);
				-ms-transform: translate(239px, 239px) rotate(45deg);
				transform: translate(239px, 239px) rotate(45deg);
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
		}
		&.item_x2 {
			.item {
				height: 620px;
				&:hover {
					.hoverEffect {
						.mask {
							-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
							filter: alpha(opacity=100);
							opacity: 1;
							-webkit-transform: translate(-170px, -1px) rotate(45deg);
							-moz-transform: translate(-170px, -1px) rotate(45deg);
							-o-transform: translate(-170px, -1px) rotate(45deg);
							-ms-transform: translate(-170px, -1px) rotate(45deg);
							transform: translate(-170px, -1px) rotate(45deg);
						}
						p {
							-webkit-transform: translate(0px,0px);
							-moz-transform: translate(0px,0px);
							-o-transform: translate(0px,0px);
							-ms-transform: translate(0px,0px);
							transform: translate(0px,0px);
							-webkit-transition-delay: 0.3s;
							-moz-transition-delay: 0.3s;
							-o-transition-delay: 0.3s;
							-ms-transition-delay: 0.3s;
							transition-delay: 0.3s;
						}
						.btn-playnow {
							-webkit-transform: translate(0px,0px);
							-moz-transform: translate(0px,0px);
							-o-transform: translate(0px,0px);
							-ms-transform: translate(0px,0px);
							transform: translate(0px,0px);
							-webkit-transition-delay: 0.4s;
							-moz-transition-delay: 0.4s;
							-o-transition-delay: 0.4s;
							-ms-transition-delay: 0.4s;
							transition-delay: 0.4s;
						}
					}
				}
			}
			.hoverEffect {
				.mask {
					width: 620px;
					height: 620px;
					-webkit-transform: translate(220px, 525px) rotate(45deg);
					-moz-transform: translate(220px, 525px) rotate(45deg);
					-o-transform: translate(220px, 525px) rotate(45deg);
					-ms-transform: translate(220px, 525px) rotate(45deg);
				}
			}
			.captiongame {
				p {
					-webkit-transform: translate(197px, -310px);
					-moz-transform: translate(197px, -310px);
					-o-transform: translate(197px, -310px);
					-ms-transform: translate(197px, -310px);
					transform: translate(197px, -310px);
				}
				.btn-playnow {
					-webkit-transform: translate(-200px, 185px);
					-moz-transform: translate(-200px, 185px);
					-o-transform: translate(-200px, 185px);
					-ms-transform: translate(-200px, 185px);
					transform: translate(-200px, 185px);
				}
			}
		}
	}
}
img.bubble, span.fish {
	display: none;
	position: fixed;
}
span.fish {
	width: 70px;
	height: 28px;
	z-index: 4;
}

img.bubble {
	height: auto;
	z-index: 3;
}

span.fish.left {
	background-image: url(../images/fish-left.png);
}

span.fish.right {
	background-image: url(../images/fish-right.png);
}

span.fish1 {
	width: 30px;
	height: 13px;
}

span.fish1[data-side='1'] {
	background-position: -52px -56px;
}

span.fish1[data-side='2'] {
	background-position: -52px -33px;
}

span.fish1[data-side='3'] {
	background-position: -52px -9px;
}

span.fish2 {
	width: 60px;
	height: 32px;
}

span.fish2[data-side='1'] {
	background-position: -90px -7px;
}

span.fish2[data-side='2'] {
	background-position: -90px -55px;
}

span.fish3 {
	width: 25px;
	height: 10px;
}

span.fish3[data-side='1'] {
	background-position: -54px -83px;
}

span.fish3[data-side='2'] {
	background-position: -54px -98px;
}

span.fish3[data-side='3'] {
	background-position: -54px -114px;
}

span.fish4 {
	width: 60px;
	height: 33px;
}

span.fish4[data-side='1'] {
	background-position: -92px -107px;
}

span.fish4[data-side='2'] {
	background-position: -92px -159px;
}

span.fish5 {
	width: 50px;
	height: 60px;
}

span.fish5[data-side='1'] {
	background-position: -2px -3px;
}

span.fish5[data-side='2'] {
	background-position: -2px -77px;
}

span.fish5[data-side='3'] {
	background-position: -2px -152px;
}

span.fish5[data-side='4'] {
	background-position: -2px -227px;
}

span.fish5[data-side='5'] {
	background-position: -2px -302px;
}

span.fish5[data-side='6'] {
	background-position: -2px -377px;
}

span.fish5[data-side='7'] {
	background-position: -2px -452px;
}

span.fish5[data-side='8'] {
	background-position: -2px -527px;
}

span.fish5[data-side='9'] {
	background-position: -2px -602px;
}

span.fish5[data-side='10'] {
	background-position: -2px -677px;
}

span.fish5[data-side='11'] {
	background-position: -2px -602px;
}

span.fish5[data-side='12'] {
	background-position: -2px -527px;
}

span.fish5[data-side='13'] {
	background-position: -2px -452px;
}

span.fish5[data-side='14'] {
	background-position: -2px -377px;
}

span.fish5[data-side='15'] {
	background-position: -2px -302px;
}

span.fish5[data-side='16'] {
	background-position: -2px -227px;
}

span.fish5[data-side='17'] {
	background-position: -2px -152px;
}

span.fish5[data-side='18'] {
	background-position: -2px -77px;
}

.layui-layer-loading {
	.layui-layer-loading2 {
		margin-left: auto;
		margin-right: auto;
		width: 100px !important;
		height: 100px !important;
		border-width: 10px !important;
	}
}