@media (min-width: 1366px) and (max-width: 1600px) {
    #select-chip {
        width: 50%;
        margin-left: -25%;
    }
}

@media (max-height: 885px) {
    body, html {
        height: 100vh;
        overflow: hidden;
    }
    #xocdia-wrapper {
        min-height: inherit;
        height: 100vh;
        overflow: hidden;
    }
    #tableXocDia {
        padding-top: 135px;
        .logoXocDia {
            top: 10px;
            width: 315px;
            height: 189px;
            margin-left: -146px;
        }
        .inner-tbl {
            width: 1215px;
            height: 567px;
        }
        .btn-right {
            right: 7%;
        }
    }
    #xocdia-wrapper {
        padding-bottom: 0;
    }
    #select-chip {
        bottom: 10px;
    }
    #inner-game {
        .game-interactive {
            .row-first {
                .box {
                    .innerBox {
                        top: -10px;
                    }
                }
            }
            .box {
                .innerBox {
                    height: 150px;
                }
            }
        }
    }
}

@media (max-height: 768px) {
    #tableXocDia {
        padding-top: 75px;
        .logoXocDia {
            top: -12px;
            width: 255px;
            height: 153px;
            margin-left: -121px;
        }
        .inner-tbl {
            width: 1105px;
            height: 515px;
        }
        .btn-right {
            right: 10%;
        }
    }
    #history-result {
        right: 50px;
        .show {
            top: 25px;
        }
    }
    #infor-left {
        top: 25px;
        left: 50px;
    }
    #inner-game {
        .game-interactive {
            .row-second {
                .box {
                    .img-box {
                        margin-bottom: 15px;
                    }
                }
            }
            .box {
                .innerBox {
                    height: 133px;
                }
            }
        }
    }
    #inner-game {
        width: 825px;
    }
    #plate {
        width: 160px;
        height: 160px;
        #items-vi {
            width: 130px;
            height: 130px;
            margin-top: -65px;
            margin-left: -65px;
        }
        #plateup {
            width: 153px;
            height: 153px;
        }
    }
    #xocdia {
        &.open {
            #plate {
                #plateup {
                    top: -120px;
                }
            }
        }
    }
}

@media (max-width: 1600px) {
    #tableXocDia {
        .btn-right {
            right: 4%;
        }
    }
}