@font-face {
    font-family: 'icomoon';
    src: url('../../../../fonts/icomoon.eot?hk7arr');
    src: url('../../../../fonts/icomoon.eot?hk7arr#iefix') format('embedded-opentype'),
    url('../../../../fonts/icomoon.ttf?hk7arr') format('truetype'),
    url('../../../../fonts/icomoon.woff?hk7arr') format('woff'),
    url('../../../../fonts/icomoon.svg?hk7arr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-sync_problem:before {
    content: "\e91d";
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body , html {
    font-size: 14px;
    font-weight: 400;
    color: #282c35;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto",sans-serif;
    line-height: 1.2;
    min-height: 100vh;
}

$srcImg: "../images/";

#xocdia-wrapper {
    background: url("#{$srcImg}XdWeb_BG.jpg") no-repeat center bottom;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 160px;
}
@-ms-keyframes xocloAction {
    0%, 100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}
@-webkit-keyframes xocloAction {
    0%, 100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}
@keyframes xocloAction {
    0%, 100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}
#xocdia {
    #plate {
        z-index: 2;
        #plateup {
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }
    }
    &.active {
        -webkit-animation: xocloAction .15s infinite linear;
        animation: xocloAction .15s infinite linear;
    }
    &.open {
        #plate {
            #plateup {
                top: -152px;
                .txtXoc {
                    background: url("#{$srcImg}TextXOC.png") no-repeat top left;
                    background-size: contain;
                    width: 50px;
                    height: 25px;
                    margin-left: -25px;
                    margin-top: -15px;
                }
            }
        }
    }
    &.close {
        &.active {
            #plate {
                #plateup {
                    .txtXoc {
                        background: url("#{$srcImg}dangXOC.png") no-repeat top left;
                        background-size: contain;
                        width: 70px;
                        height: 20px;
                        margin-left: -36px;
                        margin-top: -13px;
                    }
                }
            }
        }
        &.alreadyOpen {
            #plate {
                #plateup {
                    top: 5px;
                    .txtXoc {
                        background: url("#{$srcImg}TextMO.png") no-repeat top left;
                        background-size: contain;
                        width: 46px;
                        height: 25px;
                        margin-left: -25px;
                        margin-top: -15px;
                    }
                }
            }
        }
    }
    &.plateTimer {
        #plate {
            #plateup {
                .txtXoc {
                    font-size: 20px;
                    color: #f9ff00;
                    margin-top: -12px;
                    margin-left: -39px;
                }
            }
        }
    }
}

@keyframes reciveMoneyEffect {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    60% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes spinCircle {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}
@-webkit-keyframes spinCircle {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}
@keyframes spinCircle {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}

@-webkit-keyframes effectMoneyStatus {
    0% {
        top: -200px;
        opacity: 1;
    }
    100% {
        top: -100px;
        opacity: 0;
    }
}
@-ms-keyframes effectMoneyStatus {
    0% {
        top: -200px;
        opacity: 1;
    }
    100% {
        top: -100px;
        opacity: 0;
    }
}
@keyframes effectMoneyStatus {
    0% {
        top: -200px;
        opacity: 1;
    }
    100% {
        top: -100px;
        opacity: 0;
    }
}
#infor-left {
    position: absolute;
    top: 4%;
    left: 7%;
    z-index: 10;
    #balance {
        display: flex;
        display: -ms-flex;
        align-items: center;
        margin-bottom: 15px;
        position: relative;
        .icon-sync_problem {
            position: absolute;
            top: 22px;
            right: 9px;
            color: #fff;
            z-index: 10;
            font-size: 11px;
            padding: 8px 15px;
            cursor: pointer;
            &.active {
                -webkit-animation: spinCircle 2s infinite linear;
                animation: spinCircle 2s infinite linear;
            }
            &:hover {
                opacity: .8;
            }
        }
        &.reciveMoney {
            -webkit-animation: reciveMoneyEffect .5s linear;
            animation: reciveMoneyEffect .5s linear;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }
        .leftbg {
            background: url("#{$srcImg}CreditStart.png") no-repeat top left;
            width: 95px;
            height: 65px;
            background-size: contain;
        }
        .txtbalance {
            background: url("#{$srcImg}CreditMid.png") repeat-x top left;
            height: 65px;
            color: #fff;
            font-weight: 700;
            background-size: contain;
            font-size: 20px;
            line-height: 70px;
            margin-left: -8px;
            position: relative;
            z-index: 2;
            min-width: 100px;
            letter-spacing: 1.5px;
        }
        .rightbg {
            background: url("#{$srcImg}CreditEnd.png") repeat-x top left;
            background-size: contain;
            height: 65px;
            width: 58px;
            margin-left: -2px;
            position: relative;
            z-index: 1;
        }
    }
    #tbl-history,
    #infor-question {
        .iconbg {
            display: inline-block;
            height: 57px;
            width: 55px;
            cursor: pointer;
            -webkit-transition: all .15s ease-in-out;
            -moz-transition: all .15s ease-in-out;
            -ms-transition: all .15s ease-in-out;
            -o-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
            &:active {
                -webkit-transform: scale(0.9);
                -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                transform: scale(0.9);
            }
        }
    }
    #infor-question {
        margin-bottom: 15px;
        .iconbg {
            background: url("#{$srcImg}HelpBtn.png") no-repeat top left;
            background-size: contain;
        }
    }
    #tbl-history {
        .iconbg {
            background: url("#{$srcImg}InfoBtn.png") no-repeat top left;
            background-size: contain;
        }
    }
}

#select-bet {
    height: 100%;
}
@-webkit-keyframes hoverBet {
    0%, 100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1;
    }
}
@-ms-keyframes hoverBet {
    0%, 100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1;
    }
}
@keyframes hoverBet {
    0%, 100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1;
    }
}
.effectMoneyBet {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    display: -ms-flex;
    align-items: center;
    justify-content: center;
    &.active {
        z-index: 9999;
    }
}
#moneyStatusBet {
    font-weight: 700;
    opacity: 0;
    top: -200px;
    position: relative;
    font-size: 50px;
    &.win {
        color: #00ff2d;
    }
    &.loss {
        color: red;
    }
    &.active {
        -webkit-animation: effectMoneyStatus 1s ease-out;
        animation: effectMoneyStatus 1s  ease-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }
}
#tableXocDia {
    padding-top: 155px;
    .inner-tbl {
        margin: 0 auto 0;
        width: 1300px;
        height: 606px;
        background: url("#{$srcImg}TABLE.png") no-repeat top left;
        background-size: contain;
    }
    .logoXocDia {
        background: url("#{$srcImg}XdWeb_Logo.png") no-repeat top left;
        position: absolute;
        top: 0;
        left: 50%;
        width: 408px;
        height: 245px;
        background-size: contain;
        margin-left: -196px;
        z-index: 5;
    }
    .btn-right {
        position: absolute;
        top: 35%;
        right: 10%;
        .btn {
            width: 90px;
            height: 91px;
            display: block;
            margin-bottom: 20px;
            position: relative;
            -webkit-transition: all .15s ease-in-out;
            -moz-transition: all .15s ease-in-out;
            -ms-transition: all .15s ease-in-out;
            -o-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
            .statushover {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                background-color: rgba(0, 243, 201, 0.8);
                -webkit-box-shadow: 0 0 19px 6px rgba(0, 243, 201, 0.5);
                -moz-box-shadow: 0 0 19px 6px rgba(0, 243, 201, 0.5);
                box-shadow: 0 0 19px 6px rgba(0, 243, 201, 0.5);
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                opacity: 0;
                -webkit-transform: scale(0.7);
                -moz-transform: scale(0.7);
                -ms-transform: scale(0.7);
                -o-transform: scale(0.7);
                transform: scale(0.7);
            }
            &:active {
                -webkit-transform: scale(0.9);
                -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                transform: scale(0.9);
            }
            &.btnBetDisabel {
                &:active {
                    -webkit-transform: none;
                    -moz-transform: none;
                    -ms-transform: none;
                    -o-transform: none;
                    transform: none;
                }
            }
            &:hover {
                .statushover {
                    -webkit-animation: hoverBet 1s infinite linear;
                    animation: hoverBet 1s infinite linear;
                }
                &.btnBetDisabel {
                    .statushover {
                        -webkit-animation: none;
                        animation: none;
                    }
                }
            }
            .item {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
            }
            &#bet2x {
                .item {
                    background: url("#{$srcImg}2xBtn.png") no-repeat top left;
                    background-size: contain;
                }
            }
            &#rebet {
                .item {
                    background: url("#{$srcImg}TaiCuocBtn.png") no-repeat top left;
                    background-size: contain;
                }
            }
            &#cancelbet {
                .item {
                    background: url("#{$srcImg}HuyCuocBtn.png") no-repeat top left;
                    background-size: contain;
                }
            }
            &#betSubmit {
                .item {
                    background: url("#{$srcImg}BtnCuoc.png") no-repeat top left;
                    background-size: contain;
                }
                &.btnBetDisabel {
                    opacity: .5;
                    cursor: not-allowed;
                }
            }
        }
    }
}

#inner-game {
    width: 930px;
    height: 100%;
    padding: 120px 0 145px;
    margin: 0 auto 0;
    .game-interactive {
        width: 100%;
        height: 100%;
        .box {
            flex: 1;
            margin: 0 5px;
            cursor: pointer;
            -webkit-transition: all .15s ease-in-out;
            -moz-transition: all .15s ease-in-out;
            -ms-transition: all .15s ease-in-out;
            -o-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
            .innerBox {
                width: 100%;
                border: 2px solid #fbe0b1;
                height: 165px;
                -webkit-box-shadow: inset 1px 0px 16px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: inset 1px 0px 16px 0px rgba(0,0,0,0.75);
                box-shadow: inset 1px 0px 16px 0px rgba(0,0,0,0.75);
                overflow: hidden;
                position: relative;
                z-index: 1;
            }
            &:hover {
                .hover {
                    opacity: 1;
                }
            }
            &.box-xocdia {
                width: 220px;
                flex: inherit;
                position: relative;
                z-index: 10;
                .innerBox {
                    overflow: visible;
                    border: none;
                    -webkit-border-radius: 0px;
                    -moz-border-radius: 0px;
                    border-radius: 0px;
                    -webkit-border-radius: 0px;
                    -moz-border-radius: 0px;
                    border-radius: 0px;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                }
            }
            .hover {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(251, 224, 177, 0.2);
                z-index: 10;
                opacity: 0;
                -webkit-transition: all .15s ease-in-out;
                -moz-transition: all .15s ease-in-out;
                -ms-transition: all .15s ease-in-out;
                -o-transition: all .15s ease-in-out;
                transition: all .15s ease-in-out;
            }
            &.effectResult {
                .hover {
                    opacity: 1;
                    background-color: rgba(191, 236, 83, 0.23);
                }
            }
        }
        .ratio-game {
            color: #fff;
            font-weight: 900;
            font-size: 30px;
        }
        .row-first {
            margin-bottom: 15px;
            .box {
                .innerBox {
                    -webkit-border-radius: 80px 10px 80px 10px;
                    -moz-border-radius: 80px 10px 80px 10px;
                    border-radius: 80px 10px 80px 10px;
                    display: flex;
                    display: -ms-flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
                .img-box {
                    width: 165px;
                    img {
                        display: inline-block;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                &.box-le {
                    .innerBox {
                        -webkit-border-radius: 10px 80px 10px 80px;
                        -moz-border-radius: 10px 80px 10px 80px;
                        border-radius: 10px 80px 10px 80px;
                    }
                    .img-box {
                        width: 85px;
                    }
                }
            }
        }
        .row-second {
            .box {
                .innerBox {
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
                }
                &:first-child {
                    .innerBox {
                        -webkit-border-radius: 10px 10px 10px 80px;
                        -moz-border-radius: 10px 10px 10px 80px;
                        border-radius: 10px 10px 10px 80px;
                    }
                }
                &:last-child {
                    .innerBox {
                        -webkit-border-radius: 10px 10px 80px 10px;
                        -moz-border-radius: 10px 10px 80px 10px;
                        border-radius: 10px 10px 80px 10px;
                    }
                }
                .img-box {
                    display: flex;
                    display: -ms-flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 15px;
                    margin-bottom: 30px;
                    .vi {
                        margin: 0 8px;
                    }
                }
                .ratio-game {
                    text-align: center;
                    font-size: 40px;
                }
            }
        }
        .row-second,
        .row-first {
            display: flex;
            display: -ms-flex;
        }
    }
}

.vi {
    display: inline-block;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    &.bet-vi-color1 {
        background: rgba(255,17,0,1);
        background: -moz-linear-gradient(-45deg, rgba(255,17,0,1) 0%, rgba(153,20,13,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,17,0,1)), color-stop(100%, rgba(153,20,13,1)));
        background: -webkit-linear-gradient(-45deg, rgba(255,17,0,1) 0%, rgba(153,20,13,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(255,17,0,1) 0%, rgba(153,20,13,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(255,17,0,1) 0%, rgba(153,20,13,1) 100%);
        background: linear-gradient(135deg, rgba(255,17,0,1) 0%, rgba(153,20,13,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1100', endColorstr='#99140d', GradientType=1 );
    }
    &.bet-vi-color0 {
        background: rgba(223,248,180,1);
        background: -moz-linear-gradient(-45deg, rgba(223,248,180,1) 0%, rgba(126,227,177,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(223,248,180,1)), color-stop(100%, rgba(126,227,177,1)));
        background: -webkit-linear-gradient(-45deg, rgba(223,248,180,1) 0%, rgba(126,227,177,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(223,248,180,1) 0%, rgba(126,227,177,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(223,248,180,1) 0%, rgba(126,227,177,1) 100%);
        background: linear-gradient(135deg, rgba(223,248,180,1) 0%, rgba(126,227,177,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dff8b4', endColorstr='#7ee3b1', GradientType=1 );
    }
    &.bet-vi-color-none {
        background-color: #fff;
        border: 1px solid #000;
        position: relative;
        &:before {
            content: "?";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            display: -ms-flex;
            align-items: center;
            justify-content: center;
            color: #000;
        }
    }
}
// .icon {
//     background-image: url("../images/icons.png");
//     background-repeat: no-repeat;
//     display: inline-block;

//     &.bau-cua1 {
//         @include getScaleBgSpriteWH(1000, 1000, 119, 119, 32, 874, 275);
//     }
//     &.bau-cua5 {
//         @include getScaleBgSpriteWH(1000, 1000, 119, 119, 32, 633, 279);
//     }
//     &.bau-cua2 {
//         @include getScaleBgSpriteWH(1000, 1000, 119, 119, 32, 750, 394);
//     }
//     &.bau-cua3 {
//         @include getScaleBgSpriteWH(1000, 1000, 119, 119, 32, 750, 275);
//     }
//     &.bau-cua6 {
//         @include getScaleBgSpriteWH(1000, 1000, 119, 119, 32, 874, 394);
//     }
//     &.bau-cua4 {
//         @include getScaleBgSpriteWH(1000, 1000, 119, 119, 32, 633, 397);
//     }
// }

@keyframes zoomInZoomOut {
    0%, 100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}
#plate {
    width: 180px;
    height: 180px;
    background: url("#{$srcImg}plate.png") no-repeat top left;
    background-size: contain;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    #plateup {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 173px;
        height: 173px;
        background: url("#{$srcImg}PlateUp.png") no-repeat top left;
        background-size: contain;
        z-index: 2;
        .txtXoc {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-animation: zoomInZoomOut 1s infinite linear;
            animation: zoomInZoomOut 1s infinite linear;
        }
    }
    #items-vi {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        z-index: 1;
        border: 1px solid #e4e4e4;
        overflow: hidden;
        display: flex;
        display: -ms-flex;
        align-items: center;
        justify-content: center;
        .vi {
            position: absolute;
            border: 1px solid #c1c1c1;
            &:hover {
                -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
                -moz-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
                box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
            }
        }
    }
}

@-webkit-keyframes spinChip {
    0%, 100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spinChip {
    0%, 100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes spinChipHide {
    0%, 100% {
        -webkit-transform: scale(1.05) rotate(0);
        transform: scale(1.05) rotate(0);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(0.9) rotate(360deg);
        transform: scale(0.9) rotate(360deg);
        opacity: 0;
    }
}
@-ms-keyframes spinChipHide {
    0%, 100% {
        -webkit-transform: scale(1.05) rotate(0);
        transform: scale(1.05) rotate(0);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(0.9) rotate(360deg);
        transform: scale(0.9) rotate(360deg);
        opacity: 0;
    }
}
@keyframes spinChipHide {
    0%, 100% {
        -webkit-transform: scale(1.05) rotate(0);
        transform: scale(1.05) rotate(0);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(0.9) rotate(360deg);
        transform: scale(0.9) rotate(360deg);
        opacity: 0;
    }
}
#select-chip {
    position: absolute;
    bottom: 40px;
    left: 50%;
    border: 2px solid #ffe0c4;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 40%;
    margin-left: -20%;
    padding-left: 12%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.42);
    .money-bet {
        color: #feb521;
        font-size: 26px;
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        display: -ms-flex;
        align-items: center;
        flex-direction: column;
        width: 30%;
        justify-content: center;
        .txtTienCuoc {
            color: #adffca;
            font-size: 21px;
            font-weight: 700;
            text-transform: uppercase;
        }
        p {
            margin: 0;
        }
    }
    .inner-select-chip {
        width: 100%;
        padding: 10px 30px 10px 12px;
        overflow: hidden;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        border-left: 1px solid #949494;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    .swiper-container {
        overflow: visible;
    }
    .swiper-slide {
        width: auto;
    }
}
.chipItem {
    display: inline-block;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #383838;
    position: relative;
    .item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    .numchip {
        position: relative;
        z-index: 10;
    }
    &.chip-5 {
        .item {
            background: url("#{$srcImg}ChipBlue.png") no-repeat top left;
            background-size: contain;
        }
    }
    &.chip-10 {
        .item {
            background: url("#{$srcImg}ChipGreen.png") no-repeat top left;
            background-size: contain;
        }
    }
    &.chip-25 {
        .item {
            background: url("#{$srcImg}ChipBrown.png") no-repeat top left;
            background-size: contain;
        }
    }
    &.chip-50 {
        .item {
            background: url("#{$srcImg}ChipRed.png") no-repeat top left;
            background-size: contain;
        }
    }
    &.chip-100 {
        .item {
            background: url("#{$srcImg}ChipJade.png") no-repeat top left;
            background-size: contain;
        }
    }
    &.chip-200 {
        .item {
            background: url("#{$srcImg}ChipYellow.png") no-repeat top left;
            background-size: contain;
        }
    }
    &.chip-250 {
        .item {
            background: url("#{$srcImg}ChipViolet.png") no-repeat top left;
            background-size: contain;
        }
    }
    &.chip-300 {
        .item {
            background: url("#{$srcImg}ChipMarine.png") no-repeat top left;
            background-size: contain;
        }
    }
    &.chip-400 {
        .item {
            background: url("#{$srcImg}ChipPink.png") no-repeat top left;
            background-size: contain;
        }
    }
    &.chip-500 {
        .item {
            background: url("#{$srcImg}ChipBlack.png") no-repeat top left;
            background-size: contain;
        }
    }
    &.chip-all {
        line-height: 1;
        font-size: 21px;
        display: flex;
        display: -ms-flex;
        align-items: center;
        justify-content: center;
        .item {
            background: url("#{$srcImg}ChipBlack.png") no-repeat top left;
            background-size: contain;
        }
    }
    .light-around {
        background: url("#{$srcImg}ChipGlow.png") no-repeat top left;
        top: -20px;
        left: -20px;
        bottom: -20px;
        right: -20px;
        background-size: contain;
        position: absolute;
        -webkit-animation: spinChip 5s infinite linear;
        animation: spinChip 5s infinite linear;
        opacity: 0;
        z-index: 1;
    }
    &:hover {
        .item {
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            transform: scale(1.05);
        }
        .light-around {
            opacity: 1;
        }
    }
}
.chip {
    .light-around {
        background: url("#{$srcImg}ChipGlow.png") no-repeat top left;
        top: -20px;
        left: -20px;
        bottom: -20px;
        right: -20px;
        background-size: contain;
        position: absolute;
        -webkit-animation: spinChip 5s infinite linear;
        animation: spinChip 5s infinite linear;
        opacity: 0;
        z-index: 1;
    }
    &.active {
        .light-around {
            opacity: 1;
        }
    }
    &.hideEffect {
        .light-around {
            -webkit-animation: spinChipHide 2s infinite linear;
            animation: spinChipHide 2s infinite linear;
        }
    }
    &:hover {
        .item {
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            transform: scale(1.05);
        }
        .light-around {
            opacity: 1;
        }
    }
    &:active {
        .item {
            -webkit-transform: scale(.98);
            -moz-transform: scale(.98);
            -ms-transform: scale(.98);
            -o-transform: scale(.98);
            transform: scale(.98);
        }
    }
}

.chipEmbed {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 1;
    font-size: 23px;
    &.effectSlideChip {
        opacity: 0;
        transition-delay: .25s;
    }
    &.chipEmbedHideGroup {
        opacity: 0;
    }
}

.bgoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
}
.layui-layer-loading {
    .layui-layer-loading2 {
        margin: 0 auto 0;
    }
}

@keyframes slideAppendHis {
    0%, 100% {
        -webkit-transform: scale(.95);
        -moz-transform: scale(.95);
        -ms-transform: scale(.95);
        -o-transform: scale(.95);
        transform: scale(.95);
        opacity: .5;
    }
    50% {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1;
    }
}
.xd1phut {
    #history-result {
        &.show {
            top: 50px;
        }
    }
    #tableXocDia {
        .btn-right {
            top: 28%;
        }
    }
}
#history-result {
    position: absolute;
    top: -50px;
    right: 60px;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &.show {
        opacity: 1;
        top: 35px;
    }
    .history-wrap {
        height: 100%;
        position: relative;
    }
    .swiper-container {
        z-index: 2;
        height: 100%;
    }
    .swiper-wrapper {}
    .swiper-slide {
        display: flex;
        display: -ms-flex;
    }
    .vi-results {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        .vi {
            margin: 0 auto 0;
        }
        &.appendEffect {
            -webkit-animation: slideAppendHis .2s linear;
            animation: slideAppendHis .2s linear;
            -webkit-animation-iteration-count: 3;
            animation-iteration-count: 3;
        }
        &:hover {
            background-color: rgba(70, 130, 131, 0.35);
        }
    }
    .history-button-prev,
    .history-button-next {
        position: absolute;
        top: 50%;
        margin-top: -50px;
        height: 100%;
        width: 30px;
        cursor: pointer;
        &:hover {
            opacity: .9;
        }
        &:active {
            outline: none;
        }
    }
    .history-button-next {
        right: -25px;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 20px solid #92e59d;
        &.swiper-button-disabled {
            border-left-color: #8a9da1;
        }
    }
    .history-button-prev {
        left: -25px;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-right: 20px solid #92e59d;
        &.swiper-button-disabled {
            border-right-color: #8a9da1;
        }
    }
}
#grid-history {
    $colorBD: rgba(127, 195, 137, 0.50);
    display: flex;
    display: -ms-flex;
    flex-wrap: wrap;
    border-top: 1px solid $colorBD;
    border-right: 1px solid $colorBD;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    .grid-item {
        border-left: 1px solid $colorBD;
        border-bottom: 1px solid $colorBD;
    }
}

.hisUserBet {
    &.layui-layer {
        background-color: inherit;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .layui-layer-title {
        text-indent: -99999px;
        height: 198px;
        background: url("#{$srcImg}Popup_1.png") no-repeat top left;
    }
    .layui-layer-content {
        margin-top: -10px;
    }
    &.layui-layer-page {
        .layui-layer-content {
            overflow: visible;
        }
        .layui-layer-btn {
            padding: 25px 0 0 0;
            width: 100%;
            height: 90px;
            background: url("#{$srcImg}Popup_3.png") no-repeat bottom left;
        }
    }
    .layui-layer-setwin {
        display: none;
    }
}
.historyBetUser {
    $hInner: 350px;
    padding-right: 25px;
    padding-left: 25px;
    background: url("#{$srcImg}Popup_tile.png") repeat-y bottom left;
    padding-bottom: 0;
    height: $hInner;
    .inner {
        height: $hInner;
        overflow-y: auto;
        border-top: 1px solid rgba(0, 159, 149, 0.36);
        border-bottom: 1px solid rgba(0, 159, 149, 0.36);
    }
    .content {
        padding: 0;
        table {
            width: 100%;
            border-collapse: collapse;
            tr {
                th {
                    font-weight: 700;
                    padding: 10px;
                    background-color: #0b3a33;
                    font-size: 16px;
                }
                &:hover {
                    td {
                        background-color: rgba(0, 0, 0, 0.23);
                    }
                }
                td {
                    padding: 5px;
                    font-size: 15px;
                    &.oneLineVi {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                .status_0 {

                }
                .status_1 {

                }
                .status_2 {

                }
                .status_3 {
                    color: #fff;
                }
                .status_4 {
                    color: yellow;
                }
                .status_5 {

                }
                .vi {
                    margin: 0 3px;
                }
            }
            .detailBetUser {
                line-height: 1;
                margin: 5px 0;
                text-align: left;
                display: flex;
                display: -ms-flex;
                justify-content: space-between;
                .winMoney {
                    color: #d1ff23;
                    font-weight: 900;
                }
            }
        }
        table, tr, td, th {
            color: #fff;
            text-align: center;
            border: 1px solid #12af98;
        }
    }
}
#historyBetUser {
    .content {
        table {
            tr {
                td:nth-of-type(4) {
                    white-space: nowrap;
                }
            }
        }
    }
}
#xocdiaInfor {
    .content {
        table {
            tr {
                th {
                    &:first-child {
                        width: 85px;
                    }
                }
                td {
                    text-align: left;
                    line-height: 19px;
                    &:first-child {
                        font-weight: 700;
                        color: #ffda6c;
                        text-align: center;
                        font-size: 16px;
                    }
                    p {
                        color: #dff8b4;
                        margin-bottom: 5px;
                    }
                }
                &:nth-child(2n+1) {
                    td {
                        background-color: rgba(111, 111, 111, 0.4);
                    }
                }
            }
        }
    }
}

#counttime {
    display: flex;
    display: -ms-flex;
    align-items: center;
    justify-content: left;
    color: #fff;
    font-size: 27px;
    position: absolute;
    bottom: 100%;
    white-space: nowrap;
    left: 0;
    .issue {
        color: #feb521;
        font-size: 17px;
    }
    .line {
        margin: 0 5px;
    }
}
@-webkit-keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-ms-keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.lds-spinner {
    color: red;
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    margin-top: -34px;
    margin-left: -34px;
    display: none;
    div {
        transform-origin: 32px 32px;
        animation: lds-spinner 1.2s linear infinite;
        &:after {
            content: " ";
            display: block;
            position: absolute;
            top: 3px;
            left: 29px;
            width: 5px;
            height: 14px;
            border-radius: 20%;
            background: #fff;
        }
        &:nth-child(1) {
            transform: rotate(0deg);
            animation-delay: -1.1s;
        }
        &:nth-child(2) {
            transform: rotate(30deg);
            animation-delay: -1s;
        }
        &:nth-child(3) {
            transform: rotate(60deg);
            animation-delay: -0.9s;
        }
        &:nth-child(4) {
            transform: rotate(90deg);
            animation-delay: -0.8s;
        }
        &:nth-child(5) {
            transform: rotate(120deg);
            animation-delay: -0.7s;
        }
        &:nth-child(6) {
            transform: rotate(150deg);
            animation-delay: -0.6s;
        }
        &:nth-child(7) {
            transform: rotate(180deg);
            animation-delay: -0.5s;
        }
        &:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.4s;
        }
        &:nth-child(9) {
            transform: rotate(240deg);
            animation-delay: -0.3s;
        }
        &:nth-child(10) {
            transform: rotate(270deg);
            animation-delay: -0.2s;
        }
        &:nth-child(11) {
            transform: rotate(300deg);
            animation-delay: -0.1s;
        }
        &:nth-child(12) {
            transform: rotate(330deg);
            animation-delay: 0s;
        }
    }
}

@-webkit-keyframes fx {
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes fx {
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    100% {
        opacity: 0
    }
}
#loading__emu {
    .loading__emu--inner {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .dot {
        width: 10px;
        height: 10px;
        border: 2px solid white;
        border-radius: 50%;
        float: left;
        margin: 0 5px;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-animation: fx 1000ms ease infinite 0ms;
        animation: fx 1000ms ease infinite 0ms;
    }
    .dot:nth-child(2) {
        -webkit-animation: fx 1000ms ease infinite 300ms;
        animation: fx 1000ms ease infinite 300ms;
    }
    .dot:nth-child(3) {
        -webkit-animation: fx 1000ms ease infinite 600ms;
        animation: fx 1000ms ease infinite 600ms;
    }
}

.showAllHisIssue {
    text-align: right;
    margin-top: 5px;
    a {
        color: #ecaf53;
        font-size: 13px;
    }
}

.confirmBet {
    .layui-layer-title {
        height: 115px;
        background-size: contain;
    }
    &.layui-layer-page {
        .layui-layer-btn {
            height: 58px;
            background-size: contain;
            padding-top: 12px;
        }
    }
}
#confirmBet {
    &.historyBetUser {
        background-size: contain;
    }

    .content {
        display: flex;
        display: -ms-flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .contentWrap {
            flex: 1;
            width: 100%;
        }
    }
    .title {
        text-align: center;
        font-size: 20px;
        margin-top: 15px;
        color: #fff;
        font-weight: 600;
        .issueConfirm {
            color: #ecbc18;
        }
    }
    .detailConfirm {
        background-color: rgba(0, 0, 0, 0.17);
        padding: 10px 0;
        margin: 10px 0;
        color: #7ee3b1;
        border-top: 1px solid #009f95;
        border-bottom: 1px solid #009f95;
        .detailBetUser {
            display: block;
            font-size: 18px;
            margin: 10px 0;
            text-align: center;
        }
    }
    .totalMoneyBet {
        text-align: center;
        color: #fff;
        font-size: 17px;
        .totalMoneyBetNum {
            color: #feb521;
        }
    }
}

.viewBetItem {
    display: inline-block;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1;
    background-color: #99140d;
    color: #fff;
    padding: 5px 15px;
    border: 1px solid #8e8e8e;
    margin-top: 10px;
    &:hover {
        background-color: #990c23;
        border-color: #fff;
    }
}
.cancelBetItem {
    display: block;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1;
    background-color: #99140d;
    color: #fff;
    padding: 5px 15px;
    border: 1px solid #8e8e8e;
    margin: 10px auto 0;
    width: 65px;
    &:hover {
        background-color: #990c23;
        border-color: #fff;
    }
}
.viewBetItem {
    background-color: #333;
    &:hover {
        background-color: #515151;
    }
}
@import "responsive";