<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich">
<body>
	<ui:composition>
		<div id="footer">
			<div class="bank__demo">
				<div class="bg-gooter-bank"></div>
				<div class="container">
					<img src="/images/logo-agribank.png?#{startup.time}" alt="agribank" />
					<img src="/images/logo-donga.png?#{startup.time}" alt="dong a bank" />
					<img src="/images/logo-sacom.png?#{startup.time}" alt="sacombank" />
					<img src="/images/logo-techcom-2.png?#{startup.time}" alt="techcom bank" />
					<img src="/images/logo-vietcombank.png?#{startup.time}" alt="vietcombank" />
					<img src="/images/logo-vietin.png?#{startup.time}" alt="vietinbank" />
					<img src="/images/Exim-Bank.png?#{startup.time}" alt="eximbank" />
				</div>
			</div>
			<div class="footer__bottom">
				<div class="container">
					<div class="clearfix mgB-15">
						<div class="pull-right">
							<p class="font-500"> &#169; 2017-2018 bản quyền thuộc LOTO188 <a href="mailto:vnloto188.csr@gmail.com" class="email__footer">Email: vnloto188.csr@gmail.com</a></p>
						</div>
					</div>
					<div class="bottom__content">
						<div class="line"></div>
						<div class="row">
							<div class="col-sm-6 pdR-40">
								<div class="logo__footer">
									<img src="/images/logo-tst-pagcor.png?#{startup.time}" />
								</div>
								<p class="lh-22">Trang mạng cá cược <a href="/" class="color-f49e1d txt-uper">loto188</a> hoạt động hợp pháp tại Philippines (Giấy phép PAGCOR số OGL16-0023) được giám sát bởi tổ chức Gaming Associates.</p>
							</div>
							<div class="col-sm-6 pdL-30">
								<div class="tbl mgT-20">
									<div class="tbl__row">
										<div class="tbl__col text-center w-20 ver-c">
											<img src="/images/18+.png?#{startup.time}" />
										</div>
										<div class="tbl__col">
											<p class="mgB-5">Trách nhiệm cá cược</p>
											<p class="lh-20 text-justify">Chúng tôi tích cực đẩy mạnh cá cược có trách nhiệm và cương quyết từ chối trẻ vị thành niên sử dụng phần mềm của chúng tôi để cá cược trên mạng.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:composition>
</body>
</html>