<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<head>
</head>
<body>
	<ui:composition>
		<h:form>
			<!-- Start header -->
			<div id="header">
				<div class="container">
					<h1 class="logo">
						<a href="/home.shtml"><img src="../images/logo.png?#{startup.time}" /></a>
					</h1>
					<div class="user__auth">
						<input type="hidden" id="checkuser" value="#{LoginBean.checkuer}" />
						<h:panelGroup rendered="#{LoginBean.user.id==0?'true':'false'}">
							<input type="hidden" id="flagLogin" value="1" />
							<div class="user__login">
								<div class="frm__item">
									<span class="icon-person"></span> <input id="eun" type="text" placeholder="Tên Đăng Nhập" />
								</div>
								<div class="frm__item">
									<span class="icon-locked"></span> <input id="epwd" maxlength="16" type="password" placeholder="Mật Khẩu" />
								</div>
								<a href="javascript:loginForgetPwd();" class="forgot__pass">Quên mật khẩu</a>
								<button onclick="loginE();" type="button" class="btn__login btn">Đăng nhập</button>
								<a4j:region>
									<a4j:jsFunction name="userLogin" status="normalStatus" data="#{LoginBean.msg}" oncomplete="loginRes(data);" action="#{LoginBean.loginnew}">
										<f:param name="un" />
										<f:param name="pwd" />
									</a4j:jsFunction>
								</a4j:region>
							</div>
						</h:panelGroup>
						<h:panelGroup rendered="#{LoginBean.user.id!=0?'true':'false'}">
							<input type="hidden" id="flagLogin" value="0" />
							<h:inputHidden value="#{LoginBean.user.loginname}" id="usernamePlayer" />
							<h:inputHidden value="#{SysMsgBean.showitem.title}" id="sysMsg" />
							<div class="user__logged" onload="systemMsg();">
							    <ul class="logged__act clearfix">
									<li>
										<a href="" class="feedbackLink" target="_blank">
											<div class="line">
												<span class="icon-feedback"></span>
												Góp Ý
											</div>
										</a>
									</li>
							        <li class="hover__faceIn">
							            <a href="" class="username">
							                <div class="line">
							                    <img src="#{LoginBean.user.linkavatar}" class="img-circle avatar" alt="" /> <span id="nickname_header">#{LoginBean.user.loginname}</span>
							                    <span class="icon-keyboard_arrow_down fs-16"></span>
							                </div>
							            </a>
	
							            <div class="submenu hover__faceIn--wrap">
							                <div class="hover__faceIn--content">
							                    <table>
							                        <tr>
							                            <td class="w-25">
							                            	<span class="icon-person"></span>Tài khoản
							                            </td>
							                            <td>
							                            	<a href="/page/PersonPwd.shtml">Thông tin cá nhân</a> 
							                            	<a href="/page/PersonMsg.shtml">Tin nhắn</a> 
							                            	<a href="/page/PersonBank.shtml">Tài khoản ngân hàng</a>
															<a href="/page/TransferMoney.shtml">Chuyển quỹ</a>
														</td>
							                        </tr>
							                        <tr>
							                            <td>
							                            	<span class="icon-group"></span>Đại lý
							                            </td>
							                            <td>
							                            	<a href="/page/AgentReg.shtml">Đăng ký thành viên</a> 
							                            	<a href="/page/AgentUser.shtml">Cấp dưới</a> 
							                            	<a href="/page/AgentAutoReg.shtml">Liên kết đăng ký</a>
							                            	<a href="/page/AgentBalance.shtml">Số dư nhóm</a>
							                            </td>
							                        </tr>
							                        <tr>
							                            <td>
							                            	<span class="icon-history"></span>
							                            	Lịch sử
							                            </td>
							                            <td>
							                            	<a href="/page/ReportZb.shtml">Biến động số dư</a> 
							                            	<a href="/page/BonusReport.shtml">Chi tiết tặng quà</a>
							                            	<a href="/page/BetRecord.shtml">Lịch sử cược</a>
							                            	<a href="/page/TraceRecord.shtml">Lịch sử nuôi</a>
							                            </td>
							                        </tr>
							                        <tr>
							                            <td>
							                            	<span class="icon-notifications"></span>
							                            	Thông báo
							                            </td>
							                            <td><a href="/page/Index.shtml">Tất cả thông báo</a></td>
							                        </tr>
							                        <tr>
							                            <td>
							                            	<span class="icon-pie-chart"></span>
							                            	Báo cáo
							                            </td>
							                            <td>
							                            	<a href="/page/ReportWL.shtml">Báo cáo đại lý</a> 
							                            	<a href="/page/ReportTD.shtml">Báo cáo nhóm</a>
							                            	<a href="/page/ReportDay.shtml">Báo cáo hàng ngày</a>
							                            </td>
							                        </tr>
							                        <tr class="highlight__row">
							                            <td>
							                            	<span class="icon-visibility"></span>Theo dõi nhanh
							                            </td>
							                            <td>
							                            	<a href="/page/DWDeposit.shtml"><span class="icons2 icon__cash"></span>Nạp tiền</a>
							                            	<a href="/page/DWWithDrawl.shtml"><span class="icons2 icon__withdraw"></span>Rút tiền</a>
							                            	<a href="/page/AgentReg.shtml"><span class="icon-person_add"></span>Đăng ký thành viên</a> 
							                            	<a href="/page/question.shtml"><span class="icon-creditcard"></span>Câu hỏi thường gặp</a>
							                            </td>
							                        </tr>
							                    </table>
							                </div>
							            </div>
							        </li>
							        <li>
										<div class="cash__real">
											<div class="line showHideMoney">
												<a href="" class="refresh__cash" onclick="loadbalance(this)">
													<span class="unit__vnd">VNĐ</span>
													<span id="ebalance"><h:outputText value="#{LoginBean.user.balance}" converter="MoneyConverter"/></span>
												</a>
												<span class="loading__mini loading12x12"></span>
												<a href="" class="toggle__cash" onclick="toggleCash(this)" title="Hiện số tiền">
													<span class="icon-see-balance icons2"></span>
												</a>
											</div>
										</div>
							        </li>
							        <li>
							            <a href="/page/PersonMsg.shtml" class="letter__alert">
							                <div class="line">
							                    <span class="icon-envelope"></span>
												<h:panelGroup rendered="#{PersonMessageBean.msgnum==0?'false':'true'}">
	                                                <span id="unreadMsgNum" class="alert__tip">#{PersonMessageBean.msgnum}</span>
	                                            </h:panelGroup>
							                </div>
							            </a>
							        </li>
							        <li>
							            <a href="/page/DWDeposit.shtml" class="push__money">
							                <div class="line">
												<span class="icons2 icon__cash"></span>
												Nạp Tiền
											</div>
							            </a>
							        </li>
							        <li>
										<a href="/page/DWWithDrawl.shtml" class="pull__money">
											<div class="line">
												<span class="icons2 icon__withdraw"></span>
												Rút Tiền
											</div>
										</a>
									</li>
									<li>
										<a href="/page/TransferMoney.shtml" class="transfer__money">
											<div class="line">
												<span class="icon-transfer-money"></span>
												Chuyển quỹ
											</div>
										</a>
									</li>
							        <li>
							            <a href="javascript:comfirmLogOut();" class="logout">
							                <div class="line">
							                    <span class="icons icon__logout"></span>Đăng Xuất
							                </div>
							            </a>
										<a4j:region>
											<a4j:jsFunction name="userLogOut" limitToList="true" ajaxSingle="true" status="normalStatus" oncomplete="exitLogin(data);" data="#{GameRecordBean.msg}" action="#{LoginBean.loginout}">
											</a4j:jsFunction>
										</a4j:region>
							        </li>
							    </ul>
							</div>
						</h:panelGroup>
					</div>
					<!--<div class="header__tet"><img src="../images/tet-header.jpg?#{startup.time}" alt=""/></div>-->
				</div>
			</div>
		</h:form>

		<h:panelGroup rendered="#{LoginBean.user.id==0?'true':'false'}">
			<ui:include src="/shares/forgetPwd.xhtml" />
		</h:panelGroup>

		<!-- End header -->
		<!-- Logout popup -->
	</ui:composition>
</body>
</html>