<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
		<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/> -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,900&amp;subset=vietnamese" rel="stylesheet" />

		<link rel="shortcut icon" href="../images/ico.ico?#{startup.time}" />

		<title>
			<ui:insert name="windowTitle">
				Loto188 Mạng lưới xổ số lớn nhất Đông Nam Á
			</ui:insert>
		</title>
		<!-- TemplateBeginEditable name="headCss" -->
		<ui:insert name="headCss" >
		  <!-- Incluse css for each page here -->
		</ui:insert>
		<!-- TemplateEndEditable -->

		<link rel="stylesheet" href="../css/style.css?#{startup.time}" />

		<script type="text/javascript" src="../js/build/lib.min.js?#{startup.time}" charset="utf-8"></script>
	</head>
	<body>
		<!-- TemplateBeginEditable name="header" -->
		<ui:insert name="header" >
			<ui:include src="/templates/common/header.xhtml" />
		</ui:insert>
	    <!-- TemplateEndEditable -->
	    <!-- TemplateBeginEditable name="menu" -->
		<ui:insert name="topMenu" >
			<ui:include src="/templates/common/topMenu.xhtml" />
		</ui:insert>
	    <!-- TemplateEndEditable -->
		<!-- TemplateBeginEditable name="content" -->
		<ui:insert name="content" />
		<!-- TemplateEndEditable -->
		<!-- TemplateBeginEditable name="liveChat" -->
		<ui:insert name="liveChat" >
			<ui:include src="/templates/liveChat.xhtml" />
		</ui:insert>
		<!-- TemplateEndEditable -->
		<!-- TemplateBeginEditable name="footer" -->
		<ui:insert name="footer" />
		<!-- TemplateEndEditable -->
		<!-- TemplateBeginEditable name="popup" -->
		<ui:insert name="poupup" />
		<!-- TemplateEndEditable -->
		<!-- TemplateBeginEditable name="headJs" -->
		<ui:insert name="headJs" >
			<!-- Incluse css for each page here -->
		</ui:insert>
		<!-- TemplateEndEditable -->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js"></script>

		<script type="text/javascript" src="../js/build/lt-sports.min.js?#{startup.time}"></script>

		<!-- audit user -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/2.1.0/fingerprint2.min.js"></script>

		<script type="text/javascript" src="../js/build/common.min.js" charset="utf-8"></script>

		<script type="text/javascript" src="../js/build/lt.min.js" charset="utf-8"></script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-113348174-1"></script>
		<script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-113348174-1');
		</script>
    </body>
</html>