<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich">
<body>
	<ui:composition>
		<div class="dashboard__menu boxed">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel__item panel">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed panel__title"> <span class="icon-person"></span>Tài Khoản <span class="icon-keyboard_arrow_down"></span>
					</a>
					<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<ul>
								<li><a href="/page/PersonPwd.shtml"><span class="icon-navigate_next"></span>Thông tin cá nhân</a></li>
								<li><a href="/page/PersonMsg.shtml"><span class="icon-navigate_next"></span>Tin nhắn <span class="number" id="unreadMsgNumLeftMenu">#{PersonMessageBean.msgnum}</span></a></li>
								<li><a href="/page/PersonBank.shtml"><span class="icon-navigate_next"></span>Tài khoản ngân hàng</a></li>
								<li><a href="/page/TransferMoney.shtml"><span class="icon-navigate_next"></span>Chuyển quỹ</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="panel__item panel">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed panel__title"> <span class="icon-group"></span>Đại Lý <span class="icon-keyboard_arrow_down"></span>
					</a>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<ul>
								<li><a href="/page/AgentReg.shtml"><span class="icon-navigate_next"></span>Đăng ký thành viên</a></li>
								<li><a href="/page/AgentUser.shtml"><span class="icon-navigate_next"></span>Cấp dưới</a></li>
								<li><a href="/page/AgentAutoReg.shtml"><span class="icon-navigate_next"></span>Liên kết đăng ký</a></li>
								<li><a href="/page/AgentBalance.shtml"><span class="icon-navigate_next"></span>Số dư nhóm</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="panel__item panel">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed panel__title"> <span class="icon-history"></span>Lịch sử <span class="icon-keyboard_arrow_down"></span>
					</a>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<ul>
								<li><a href="/page/ReportZb.shtml"><span class="icon-navigate_next"></span>Biến động số dư</a></li>
								<li><a href="/page/BonusReport.shtml"><span class="icon-navigate_next"></span>Chi tiết tặng quà</a></li>
								<li><a href="/page/BetRecord.shtml"><span class="icon-navigate_next"></span>Lịch sử cược</a></li>
								<li><a href="/page/TraceRecord.shtml"><span class="icon-navigate_next"></span>Lịch sử nuôi</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="panel__item panel">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="collapsed panel__title"> <span class="icon-notifications"></span>Thông báo <span class="icon-keyboard_arrow_down"></span>
					</a>
					<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<ul>
								<li><a href="/page/Index.shtml"><span class="icon-navigate_next"></span>Tất cả thông báo</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="panel__item panel">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="collapsed panel__title"> <span class="icon-pie-chart"></span>Báo cáo <span class="icon-keyboard_arrow_down"></span>
					</a>
					<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<ul>
								<li><a href="/page/ReportWL.shtml"><span class="icon-navigate_next"></span>Báo cáo đại lý</a></li>
								<li><a href="/page/ReportTD.shtml"><span class="icon-navigate_next"></span>Báo cáo nhóm</a></li>
								<li><a href="/page/ReportDay.shtml"><span class="icon-navigate_next"></span>Báo cáo hằng ngày</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="panel__item panel">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" class="collapsed panel__title"> <span class="icon-recharge"></span>Nạp tiền - Rút tiền<span class="icon-keyboard_arrow_down"></span>
					</a>
					<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<ul>
								<li><a href="/page/DWDeposit.shtml"><span class="icon-navigate_next"></span>Nạp tiền</a></li>
								<li><a href="/page/DWDepositRecord.shtml"><span class="icon-navigate_next"></span>Lịch sử nạp tiền</a></li>
								<li><a href="/page/DWWithDrawl.shtml"><span class="icon-navigate_next"></span>Rút tiền</a></li>
								<li><a href="/page/DWWithDrawlRecord.shtml"><span class="icon-navigate_next"></span>Lịch sử rút tiền</a></li>
								<li><a href="/page/RechargeInstructions.shtml"><span class="icon-navigate_next"></span>Hướng dẫn nạp tiền</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="panel__item panel">
					<a href="/page/question.shtml" class="collapsed panel__title">
						<span class="icon-qa"></span>Câu hỏi thường gặp
					</a>
				</div>
			</div>
		</div>
	</ui:composition>
</body>
</html>