<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<body>
	<ui:composition>
		<!-- Start menu -->
		<div id="menu">
			<div class="nav__result">
				<div class="container">
					<ul class="clearfix parent__menu">
						<li class="home__link"><a href="/home.shtml"><span class="icon-home"></span></a></li>
						<li class="hover__faceIn xs__fast">
							<a href="">siêu tốc <span class="newgif"><img src="../images/hot.gif" alt="" /></span></a>
							<div class="hover__faceIn--wrap">
								<div class="hover__faceIn--content">
									<ul id="super__speed">
										<li><a href="" data-url-id="50">1 giây</a></li>
										<li><a href="" data-url-id="100">45 giây</a></li>
										<li><a href="" data-url-id="101">1 phút</a></li>
										<li><a href="" data-url-id="102">1.5 phút</a></li>
										<li><a href="" data-url-id="103">2 phút</a></li>
										<li><a href="" data-url-id="104">5 phút</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li class="hover__faceIn">
							<a href="" class="">Miền Nam</a>
							<div class="hover__faceIn--wrap">
								<div class="hover__faceIn--content">
									<div class="tbl">
										<div class="tbl__row">
											<div class="tbl__col">T2</div>
											<div class="tbl__col">
												<a href="" data-url-id="105">xổ số Hồ Chí Minh</a>
												<a href="" data-url-id="106">xổ số Đồng Tháp</a>
												<a href="" data-url-id="107">xổ số Cà Mau</a>
											</div>
										</div>
										<div class="tbl__row">
											<div class="tbl__col">T3</div>
											<div class="tbl__col">
												<a href="" data-url-id="108">xổ số Bến Tre</a>
												<a href="" data-url-id="109">xổ số Vũng Tàu</a>
												<a href="" data-url-id="110">xổ số Bạc Liêu</a>
											</div>
										</div>
										<div class="tbl__row">
											<div class="tbl__col">T4</div>
											<div class="tbl__col">
												<a href="" data-url-id="111">xổ số Đồng Nai</a>
												<a href="" data-url-id="112">xổ số Cần Thơ</a>
												<a href="" data-url-id="113">xổ số Sóc Trăng</a>
											</div>
										</div>
										<div class="tbl__row">
											<div class="tbl__col">T5</div>
											<div class="tbl__col">
												<a href="" data-url-id="114">xổ số Tây Ninh</a>
												<a href="" data-url-id="115">xổ số An Giang</a>
												<a href="" data-url-id="116">xổ số Bình Thuận</a>
											</div>
										</div>
										<div class="tbl__row">
											<div class="tbl__col">T6</div>
											<div class="tbl__col">
												<a href="" data-url-id="117">xổ số Vĩnh Long</a>
												<a href="" data-url-id="118">xổ số Bình Dương</a>
												<a href="" data-url-id="119">xổ số Trà Vinh</a>
											</div>
										</div>
										<div class="tbl__row">
											<div class="tbl__col">T7</div>
											<div class="tbl__col">
												<a href="" data-url-id="105">xổ số Hồ Chí Minh</a>
												<a href="" data-url-id="120">xổ số Long An</a>
												<a href="" data-url-id="122">xổ số Hậu Giang</a>
												<a href="" data-url-id="121">xổ số Bình Phước</a>
											</div>
										</div>
										<div class="tbl__row">
											<div class="tbl__col">CN</div>
											<div class="tbl__col">
												<a href="" data-url-id="123">xổ số Tiền Giang</a>
												<a href="" data-url-id="124">xổ số Kiên Giang</a>
												<a href="" data-url-id="125">xổ số Đà Lạt</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="hover__faceIn xsmt">
							<a href="" class="">Miền Trung</a>
							<div class="hover__faceIn--wrap">
								<div class="hover__faceIn--content">
									<div class="tbl">
										<div class="tbl__row">
											<div class="tbl__col">T2</div>
											<div class="tbl__col">
												<a href="" data-url-id="126">xổ số Thừa Thiên Huế</a>
												<a href="" data-url-id="127">xổ số Phú Yên</a>
											</div>
										</div>
										<div class="tbl__row">
											<div class="tbl__col">T3</div>
											<div class="tbl__col">
												<a href="" data-url-id="128">xổ số Đắk Lắk</a>
												<a href="" data-url-id="129">xổ số Quảng Nam</a>
											</div>
										</div>
										<div class="tbl__row">
											<div class="tbl__col">T4</div>
											<div class="tbl__col">
												<a href="" data-url-id="130">xổ số Đà Nẵng</a>
												<a href="" data-url-id="131">xổ số Khánh Hòa</a>
											</div>
										</div>
										<div class="tbl__row">
											<div class="tbl__col">T5</div>
											<div class="tbl__col">
												<a href="" data-url-id="132">xổ số Bình Định</a>
												<a href="" data-url-id="133">xổ số Quảng Trị</a>
												<a href="" data-url-id="134">xổ số Quảng Bình</a>
											</div>
										</div>
										<div class="tbl__row">
											<div class="tbl__col">T6</div>
											<div class="tbl__col">
												<a href="" data-url-id="135">xổ số Gia Lai</a>
												<a href="" data-url-id="136">xổ số Ninh Thuận</a>
											</div>
										</div>
										<div class="tbl__row">
											<div class="tbl__col">T7</div>
											<div class="tbl__col">
												<a href="" data-url-id="137">xổ số Quảng Ngãi</a>
												<a href="" data-url-id="138">xổ số Đắc Nông</a>
												<a href="" data-url-id="130">xổ số Đà Nẵng</a>
											</div>
										</div>
										<div class="tbl__row">
											<div class="tbl__col">CN</div>
											<div class="tbl__col">
												<a href="" data-url-id="139">xổ số Kon Tum</a>
												<a href="" data-url-id="131">xổ số Khánh Hòa</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="hover__faceIn xs__fast">
							<a href="">Miền Bắc</a>
							<div class="hover__faceIn--wrap">
								<div class="hover__faceIn--content">
									<ul>
										<li><a href="" data-url-id="200">Xổ Số Miền Bắc</a></li>
										<li><a href="" data-url-id="201">Đặc Biệt 18h25</a></li>
									</ul>
								</div>
							</div>
						</li>

						<li class="hover__faceIn xs__fast sub__gameAll">
							<a href="" class="">Games Dân Gian
								<span class="newgif">
									<img src="../images/new.gif" />
								</span>
							</a>
							<div class="hover__faceIn--wrap">
								<div class="hover__faceIn--content">
									<ul>
										<li class="taixiuLogo">
											<a href="/dice.shtml" class="linkRedirectGame"><span
													class="logo-game"></span>Tài Xỉu 1 Giây</a>
											<a href="/mdice.html" class="linkRedirectGame" target="_blank"><span
													class="logo-game"></span>Tài Xỉu 1 Phút</a>
										</li>
										<li class="logoXocDia">
											<a target="_blank" href="/xocdia1giay.html" class="linkRedirectGame"><span
													class="logo-game"></span>Xóc Đĩa 1 Giây</a>
											<a target="_blank" href="/xocdia1phut.html" class="linkRedirectGame"><span
													class="logo-game"></span>Xóc Đĩa 1 Phút</a>
										</li>
										<li class="logoBauCua">
											<a target="_blank" href="/baucua1giay.html" class="linkRedirectGame">
												<span class="logo-game"></span>
												Bầu Cua 1 Giây
											</a>
											<a target="_blank" href="/baucua1phut.html" class="linkRedirectGame"><span
													class="logo-game"></span>Bầu Cua 1 Phút</a>
										</li>
										<li class="logoOanTuTi">
											<a target="_blank" href="/oantuti/index.html" class="linkRedirectGame">
												<span class="logo-game"></span>
												Oẳn Tù Tì
											</a>
										</li>
										<li class="game12ConGiap">
											<a href="/lucky-game-1s.html" class="linkRedirectGame" target="_blank">
												<span class="logo-game logo-game-1s"></span>
												12 con giáp 1 giây
												<span class="newgif">
													<img src="../images/new.gif" />
												</span>
											</a>
											<a href="/lucky-game-1m.html" class="linkRedirectGame" target="_blank">
												<span class="logo-game logo-game-1p"></span>
												12 con giáp 1 phút
												<span class="newgif">
													<img src="../images/new.gif" />
												</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>

						<li><a class="linkRedirectGame" href="/sport2.shtml">Thể thao<span class="newgif"><img
										src="../images/new.gif" /></span></a></li>

						<li><a class="linkRedirectGame" href="/cock-fight.shtml">Đá gà<span class="newgif"><img
										src="../images/new.gif" /></span></a></li>

						<h:panelGroup
							rendered="#{LoginBean.user.id == 0 || LoginBean.user.usertype == 1 || LoginBean.user.usertype == 0 ? 'true' : 'false'}">
							<li>
								<a href="/livecasino.shtml" class="linkRedirectGame" id="urlLiveCasino"
									target="_blank">Live Casino</a>
							</li>
							<li><a class="linkRedirectGame" href="/banca.shtml" target="_blank">Bắn Cá</a></li>
						</h:panelGroup>
						<li><a id="game" target="_blank" class="linkRedirectGame" href="/games.shtml">Trò chơi</a></li>

						<h:panelGroup rendered="#{SysMsgBean.sizeListPromo > 0 ? 'true' : 'false'}">
							<li class="hover__faceIn promoMenu hight-light">
								<a href="">
									Khuyến mãi
								</a>
								<div class="hover__faceIn--wrap">
									<div class="hover__faceIn--content">
										<ul id="promo">
											<f:view>
												<h:form id="promoPage">
													<a4j:repeat value="#{SysMsgBean.msglistPromo}" var="list"
														id="datalist" rowKeyVar="keys">
														<li>
															<h:outputLink target="_blank" title="#{list.title}"
																value="/promotions.shtml">
																#{list.title}
																<f:param name="promoID" value="#{list.id}"></f:param>
															</h:outputLink>
														</li>
													</a4j:repeat>
												</h:form>
											</f:view>
										</ul>
									</div>
								</div>
							</li>
						</h:panelGroup>
						<h:panelGroup rendered="#{LoginBean.user.id!=0?'true':'false'}">
							<!-- real account, except test account -->
							<h:panelGroup
								rendered="#{LoginBean.user.usertype==1 or LoginBean.user.usertype==0?'true':'false'}">
								<input type="hidden" id="loginname" name="#{LoginBean.user.loginname}"
									value="#{LoginBean.user.loginname}" />
								<input type="hidden" id="pwd" name="#{LoginBean.user.pwd}"
									value="#{LoginBean.user.pwd}" />

								<h:panelGroup rendered="#{LoginBean.user.email!=null?'true':'false'}">
									<li class="btnTryPlay">
										<a href="javascript:void(0);" onclick="modalTryTest()"><span
												class="icon-refresh"></span>Chơi thử Xổ Số</a>
									</li>
								</h:panelGroup>
							</h:panelGroup>
							<h:panelGroup rendered="#{LoginBean.user.usertype > 1?'true':'false'}">
								<h:panelGroup rendered="#{LoginBean.user.email!=null?'true':'false'}">
									<h:form>
										<li class="btnTryPlay">
											<a href="javascript:void(0);" onclick="modalReality()"><span
													class="icon-refresh"></span>Tài khoản thật</a>
											<a4j:region>
												<a4j:jsFunction name="userLogin" status="normalStatus"
													data="#{LoginBean.msg}" oncomplete="loginRes(data);"
													action="#{LoginBean.loginnew}">
													<f:param name="un" />
													<f:param name="pwd" />
												</a4j:jsFunction>
											</a4j:region>
											<a4j:region>
												<a4j:jsFunction name="userLogOut" limitToList="true" ajaxSingle="true"
													status="normalStatus" oncomplete="exitLogin(data);"
													data="#{GameRecordBean.msg}" action="#{LoginBean.loginout}">
												</a4j:jsFunction>
											</a4j:region>
										</li>
									</h:form>
								</h:panelGroup>
							</h:panelGroup>
						</h:panelGroup>
					</ul>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			//<![CDATA[
			function modalTryTest() {
				if (typeof (Storage) !== "undefined") {
					let loginname = $("#loginname").val();
					let pwd = $("#pwd").val();

					// Code for localStorage/sessionStorage.
					// Store real username and pwd
					localStorage.setItem("loginname", loginname);
					localStorage.setItem("pwd", pwd);

					layer.open({
						type: 2,
						title: 'Tài khoản chơi thử',
						shade: 0.5,
						area: ['500px', '280px'],
						content: '/page/AccountTest.shtml'
					});
				} else {
					// Sorry! No Web Storage support..
					showErrorAlert("Chức năng này không khả dụng trên trình duyệt hiện tại!. Vui lòng sử dụng trình duyệt chrome hoặc firefox.");
				}

			}
			function modalReality() {
				if (typeof (Storage) !== "undefined") {
					// Code for localStorage/sessionStorage.
					// Retrieve username and pwd
					let loginname = localStorage.getItem("loginname");
					let pwd = localStorage.getItem("pwd");
					if (loginname == null || pwd == null) {
						userLogOut();
						showErrorAlert("Vui lòng đăng nhập.");
					} else {
						setTimeout(userLogin(loginname, pwd), 5000);
					}

				} else {
					// Sorry! No Web Storage support..
					showErrorAlert("Chức năng này không khả dụng trên trình duyệt hiện tại!. Vui lòng sử dụng trình duyệt chrome hoặc firefox.");
				}
			}
            //]]>
		</script>
		<!-- End menu -->
	</ui:composition>
</body>

</html>