<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich">
<body>
	<ui:composition>

		<div class="bottom__right--page">
			<a href="" class="live__chat--link hoverSlider" onclick="window.open('#{LiveChatUrlProvider.liveChatUrl}','chatwindow','height=510,width=850');">
				<div class="wrap__icon">
					<span class="d-b w-100 text-center"><span class="icons2 icon__chat"></span></span>
				</div>
				<div class="wrap__tip">
					<div id="close__chat"><span class="icon-close"></span></div>
					<div class="tip__img">
						<img src="../images/girl-hover.png?#{startup.time}" alt="" />
					</div>
					<div class="tip__content">
						<p class="fs-13 color-333 font-700">Chat trực tuyến 24/7</p>
						<p class="fs-13 color-333">Xin chào <span class="font-500">#{LoginBean.user.nickname}</span>,</p>
						<p class="fs-13 color-333">Loto188 có thể hỗ trợ gì cho quý khách ạ?</p>
					</div>
                    <audio id="audio__noti">
                        <source src="../images/audio/notification.mp3" type="audio/mpeg" />
                    </audio>
				</div>
			</a>

			<a href="https://zalo.me/#{LiveChatUrlProvider.zaloID}" class="qr__zalo hoverSlider" target="_blank">
				<div class="wrap__icon">
					<span class="d-b w-100 text-center"><span class="icons2 icon__zalo"></span></span>
				</div>
				<div class="wrap__tip">
					<div class="tip__content text-center">
						<img src="../images/zalo.jpg?" alt="" class="w-100" />
						<p class="fs-13 color-333 mgT-5 lh-1 font-700 color-4f86c1">#{LiveChatUrlProvider.zaloNum}</p>
					</div>
				</div>
			</a>

			<a href="mailto:vnloto188.csr@gmail.com" class="hoverSlider">
				<div class="wrap__icon">
					<span class="d-b w-100 text-center"><span class="icons2 icon__letter-2"></span></span>
				</div>
				<div class="wrap__tip">
					<div class="tip__content">
						<p class="fs-13 color-333">vnloto188.csr@gmail.com</p>
					</div>
				</div>
			</a>

			<a href="/loto188.zip" class="live__scan--link hoverSlider hide">
				<div class="wrap__icon">
					<span class="d-b w-100 text-center"><span class="icons2 icon__download"></span></span>
				</div>
			</a>

			<a href="" class="scan__appqr hoverSlider">
				<div class="wrap__icon">
					<span class="d-b w-100 text-center"><span class="icons2 icon__qr"></span></span>
				</div>
				<div class="wrap__tip">
					<div class="tip__content">
						<div>
							<p class="fs-13 color-333 text-center font-700 mgB-5">Android App</p>
							<p>
								<img src="../images/app-andoird.jpg?#{startup.time}" alt="" class="w-100" />
							</p>
						</div>
						<div class="mgL-5 mgR-5">
							<p class="fs-13 color-333 text-center font-700 mgB-5">IOS App</p>
							<p>
								<img src="../images/app-ios.jpg?#{startup.time}" alt="" class="w-100" />
							</p>
						</div>
						<div>
							<p class="fs-13 color-333 text-center font-700 mgB-5">Wap App</p>
							<p>
								<img src="../images/app-wap.jpg?#{startup.time}" alt="" class="w-100" />
							</p>
						</div>
					</div>
				</div>
			</a>

			<a href="https://lt188.vip/" class="speedtestweb hoverSlider" target="_blank">
				<div class="wrap__icon">
					<span class="d-b w-100 text-center"><span class="icons2 icon__speedtest"></span></span>
				</div>
				<div class="wrap__tip">
					<div class="tip__content">
						<p>Kiểm tra tốc độ</p>
					</div>
				</div>
			</a>

			<a href="" class="back__top">
				<div class="wrap__icon">
					<span class="d-b w-100 text-center"><span class="icons2 icon__top"></span></span>
				</div>
			</a>
		</div>

	</ui:composition>
</body>
</html>
