@import "scss/bootstrap.min.css";
@import "variables.scss";
@import "font.scss";
@import "reset.scss";
@import "icons.scss";

.d-flex {
    @include displayFlex();
}

.color-f49e1d{
    color: $colorf49e1d;
}
.color-fff {
    color: #fff;
}

.speedtest__header {
    background-color: #00191b;
    border-bottom: 1px solid #01a28d;
    height: 70px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    a {
        display: inline-block;
    }
}

.speedtest__content {
    background: url("#{$appImagePath}bg-speedpage.jpg") no-repeat center top;
    background-size: cover;
    min-height: calc(100vh - 70px);
    .inner {
        max-width: 1050px;
        margin: 0 auto 0;
        min-height: calc(100vh - 70px);
        padding: 20px 15px 20px;
    }
    .moto__speed {
        margin: 0 auto 0;
        @include borderRadius(180px 180px 0 0);
        border: 1px solid #06564d;
        border-bottom: none;
        background-color: #03282d;
        padding: 0 15px;
        display: inline-block;
        position: relative;
        z-index: 2;
        bottom: -1px;
        height: 100px;
        img {
            position: relative;
            top: 5px;
            max-height: inherit;
        }
    }
    .moto__testspeed {
        border: 1px solid #06564d;
        background-color: #03282d;
        padding: 0 50px 50px 50px;
        @include borderRadius(80px 80px 10px 10px);
        position: relative;
        z-index: 1;
        min-height: 300px;
        h2 {
            margin: 55px 0 75px 0;
            text-align: center;
            font-size: 34px;
            position: relative;
            z-index: 2;
            color: #fff;
            &:before {
                content: '';
                position: absolute;
                bottom: -15px;
                left: 50%;
                margin-left: -50px;
                width: 100px;
                height: 3px;
                background-color: #fff;
            }
        }
        .speed__line {
            margin-top: 22px;
            background-color: #00191b;
            @include borderRadius(7px);
            padding: 10px;
            position: relative;
            z-index: 2;
            @include transitionAni(all .5s ease-out);
            opacity: 0;
            .btn__speed {
                background-color: #dddddd;
                width: 17%;
                height: 46px;
                line-height: 46px;
                text-align: center;
                @include borderRadius(3px);
                border: none;
                color: #fff;
                font-size: 15px;
                padding: 0 5px;
                @include textOver();
                .arrow__circle {
                    display: inline-block;
                    margin-right: 7px;
                    vertical-align: middle;
                    @include borderRadius(50%);
                    padding: 5px;
                    color: #fff;
                    font-size: 11px;
                    width: 20px;
                    height: 20px;
                    span {
                        position: relative;
                        top: -1px;
                        left: 0;
                    }
                }
            }
            .num__speed {
                width: 15%;
                text-align: center;
                color: #fff;
                font-size: 16px;
                font-weight: 300;
                height: 46px;
                @include displayFlex();
                span {
                    display: inline-block;
                    vertical-align: middle;
                }
                .icon__sprites {
                    margin-right: 12px;
                }
            }
            .speed__process {
                width: 50%;
                height: 32px;
                margin-top: 7px;
                border: 1px solid transparent;
                background-color: #f8f3f0;
                .speed__run {
                    height: 100%;
                    border: 1px solid transparent;
                    @include transitionAni(all 1s cubic-bezier(0.22, 0.61, 0.36, 1));
                    width: 0px;
                }
            }
            .speed__link {
                width: 15%;
            }
            &.speed__1 {
                .speed__process {
                    border-color: #e86741;
                }
                .speed__run {
                    border-color: #de4b2b;
                    background-color: #e86741;
                }
                .btn__speed {
                    background: rgba(242,159,126,1);
                    background: -moz-linear-gradient(top, rgba(242,159,126,1) 0%, rgba(233,106,68,1) 50%, rgba(213,46,21,1) 100%);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,159,126,1)), color-stop(50%, rgba(233,106,68,1)), color-stop(100%, rgba(213,46,21,1)));
                    background: -webkit-linear-gradient(top, rgba(242,159,126,1) 0%, rgba(233,106,68,1) 50%, rgba(213,46,21,1) 100%);
                    background: -o-linear-gradient(top, rgba(242,159,126,1) 0%, rgba(233,106,68,1) 50%, rgba(213,46,21,1) 100%);
                    background: -ms-linear-gradient(top, rgba(242,159,126,1) 0%, rgba(233,106,68,1) 50%, rgba(213,46,21,1) 100%);
                    background: linear-gradient(to bottom, rgba(242,159,126,1) 0%, rgba(233,106,68,1) 50%, rgba(213,46,21,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29f7e', endColorstr='#d52e15', GradientType=0 );
                    @include boxShadow(inset 0px 1px 0px #f7bfa7);
                    .arrow__circle {
                        background-color: #dd492a;
                    }
                    &:hover {
                        background: rgba(242,158,124,1);
                        background: -moz-linear-gradient(top, rgba(242,158,124,1) 0%, rgba(231,100,63,1) 79%, rgba(213,46,21,1) 100%);
                        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,158,124,1)), color-stop(79%, rgba(231,100,63,1)), color-stop(100%, rgba(213,46,21,1)));
                        background: -webkit-linear-gradient(top, rgba(242,158,124,1) 0%, rgba(231,100,63,1) 79%, rgba(213,46,21,1) 100%);
                        background: -o-linear-gradient(top, rgba(242,158,124,1) 0%, rgba(231,100,63,1) 79%, rgba(213,46,21,1) 100%);
                        background: -ms-linear-gradient(top, rgba(242,158,124,1) 0%, rgba(231,100,63,1) 79%, rgba(213,46,21,1) 100%);
                        background: linear-gradient(to bottom, rgba(242,158,124,1) 0%, rgba(231,100,63,1) 79%, rgba(213,46,21,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29e7c', endColorstr='#d52e15', GradientType=0 );
                    }
                    &:active {
                        background: rgba(242,158,124,1);
                        background: -moz-linear-gradient(top, rgba(242,158,124,1) 0%, rgba(231,100,63,1) 37%, rgba(213,46,21,1) 100%);
                        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,158,124,1)), color-stop(37%, rgba(231,100,63,1)), color-stop(100%, rgba(213,46,21,1)));
                        background: -webkit-linear-gradient(top, rgba(242,158,124,1) 0%, rgba(231,100,63,1) 37%, rgba(213,46,21,1) 100%);
                        background: -o-linear-gradient(top, rgba(242,158,124,1) 0%, rgba(231,100,63,1) 37%, rgba(213,46,21,1) 100%);
                        background: -ms-linear-gradient(top, rgba(242,158,124,1) 0%, rgba(231,100,63,1) 37%, rgba(213,46,21,1) 100%);
                        background: linear-gradient(to bottom, rgba(242,158,124,1) 0%, rgba(231,100,63,1) 37%, rgba(213,46,21,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29e7c', endColorstr='#d52e15', GradientType=0 );
                    }
                }
                .icon__speed {
                    background-position: -66px -0px;
                }
            }
            &.speed__2 {
                .speed__process {
                    border-color: #da654f;
                }
                .speed__run {
                    border-color: #cf4b3a;
                    background-color: #da654f;
                }
                .btn__speed {
                    background: rgba(220,110,88,1);
                    background: -moz-linear-gradient(top, rgba(220,110,88,1) 0%, rgba(218,103,80,1) 50%, rgba(214,93,72,1) 100%);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(220,110,88,1)), color-stop(50%, rgba(218,103,80,1)), color-stop(100%, rgba(214,93,72,1)));
                    background: -webkit-linear-gradient(top, rgba(220,110,88,1) 0%, rgba(218,103,80,1) 50%, rgba(214,93,72,1) 100%);
                    background: -o-linear-gradient(top, rgba(220,110,88,1) 0%, rgba(218,103,80,1) 50%, rgba(214,93,72,1) 100%);
                    background: -ms-linear-gradient(top, rgba(220,110,88,1) 0%, rgba(218,103,80,1) 50%, rgba(214,93,72,1) 100%);
                    background: linear-gradient(to bottom, rgba(220,110,88,1) 0%, rgba(218,103,80,1) 50%, rgba(214,93,72,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc6e58', endColorstr='#d65d48', GradientType=0 );
                    @include boxShadow(inset 0px 1px 0px #e79984);
                    .arrow__circle {
                        background-color: #ce4939;
                    }
                    &:hover {
                        background: rgba(245,155,139,1);
                        background: -moz-linear-gradient(top, rgba(245,155,139,1) 0%, rgba(218,99,78,1) 78%, rgba(214,93,72,1) 100%);
                        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,155,139,1)), color-stop(78%, rgba(218,99,78,1)), color-stop(100%, rgba(214,93,72,1)));
                        background: -webkit-linear-gradient(top, rgba(245,155,139,1) 0%, rgba(218,99,78,1) 78%, rgba(214,93,72,1) 100%);
                        background: -o-linear-gradient(top, rgba(245,155,139,1) 0%, rgba(218,99,78,1) 78%, rgba(214,93,72,1) 100%);
                        background: -ms-linear-gradient(top, rgba(245,155,139,1) 0%, rgba(218,99,78,1) 78%, rgba(214,93,72,1) 100%);
                        background: linear-gradient(to bottom, rgba(245,155,139,1) 0%, rgba(218,99,78,1) 78%, rgba(214,93,72,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f59b8b', endColorstr='#d65d48', GradientType=0 );
                    }
                    &:active {
                        background: rgba(220,110,88,1);
                        background: -moz-linear-gradient(top, rgba(220,110,88,1) 0%, rgba(218,102,81,1) 37%, rgba(214,93,72,1) 100%);
                        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(220,110,88,1)), color-stop(37%, rgba(218,102,81,1)), color-stop(100%, rgba(214,93,72,1)));
                        background: -webkit-linear-gradient(top, rgba(220,110,88,1) 0%, rgba(218,102,81,1) 37%, rgba(214,93,72,1) 100%);
                        background: -o-linear-gradient(top, rgba(220,110,88,1) 0%, rgba(218,102,81,1) 37%, rgba(214,93,72,1) 100%);
                        background: -ms-linear-gradient(top, rgba(220,110,88,1) 0%, rgba(218,102,81,1) 37%, rgba(214,93,72,1) 100%);
                        background: linear-gradient(to bottom, rgba(220,110,88,1) 0%, rgba(218,102,81,1) 37%, rgba(214,93,72,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc6e58', endColorstr='#d65d48', GradientType=0 );
                    }
                }
                .icon__speed {
                    background-position: 0px 0px;
                }
            }
            &.speed__3 {
                .speed__process {
                    border-color: #c5af64;
                }
                .speed__run {
                    border-color: #b89c50;
                    background-color: #c5af64;
                }
                .btn__speed {
                    background: rgba(201,179,108,1);
                    background: -moz-linear-gradient(top, rgba(201,179,108,1) 0%, rgba(197,174,100,1) 50%, rgba(193,170,93,1) 100%);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(201,179,108,1)), color-stop(50%, rgba(197,174,100,1)), color-stop(100%, rgba(193,170,93,1)));
                    background: -webkit-linear-gradient(top, rgba(201,179,108,1) 0%, rgba(197,174,100,1) 50%, rgba(193,170,93,1) 100%);
                    background: -o-linear-gradient(top, rgba(201,179,108,1) 0%, rgba(197,174,100,1) 50%, rgba(193,170,93,1) 100%);
                    background: -ms-linear-gradient(top, rgba(201,179,108,1) 0%, rgba(197,174,100,1) 50%, rgba(193,170,93,1) 100%);
                    background: linear-gradient(to bottom, rgba(201,179,108,1) 0%, rgba(197,174,100,1) 50%, rgba(193,170,93,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9b36c', endColorstr='#c1aa5d', GradientType=0 );
                    @include boxShadow(inset 0px 1px 0px #d8cc93);
                    .arrow__circle {
                        background-color: #b79b4f;
                    }
                    &:hover {
                        background: rgba(224,207,155,1);
                        background: -moz-linear-gradient(top, rgba(224,207,155,1) 0%, rgba(197,174,100,1) 78%, rgba(193,170,93,1) 100%);
                        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(224,207,155,1)), color-stop(78%, rgba(197,174,100,1)), color-stop(100%, rgba(193,170,93,1)));
                        background: -webkit-linear-gradient(top, rgba(224,207,155,1) 0%, rgba(197,174,100,1) 78%, rgba(193,170,93,1) 100%);
                        background: -o-linear-gradient(top, rgba(224,207,155,1) 0%, rgba(197,174,100,1) 78%, rgba(193,170,93,1) 100%);
                        background: -ms-linear-gradient(top, rgba(224,207,155,1) 0%, rgba(197,174,100,1) 78%, rgba(193,170,93,1) 100%);
                        background: linear-gradient(to bottom, rgba(224,207,155,1) 0%, rgba(197,174,100,1) 78%, rgba(193,170,93,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0cf9b', endColorstr='#c1aa5d', GradientType=0 );
                    }
                    &:active {
                        background: rgba(200,180,107,1);
                        background: -moz-linear-gradient(top, rgba(200,180,107,1) 0%, rgba(197,174,100,1) 37%, rgba(193,170,93,1) 100%);
                        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(200,180,107,1)), color-stop(37%, rgba(197,174,100,1)), color-stop(100%, rgba(193,170,93,1)));
                        background: -webkit-linear-gradient(top, rgba(200,180,107,1) 0%, rgba(197,174,100,1) 37%, rgba(193,170,93,1) 100%);
                        background: -o-linear-gradient(top, rgba(200,180,107,1) 0%, rgba(197,174,100,1) 37%, rgba(193,170,93,1) 100%);
                        background: -ms-linear-gradient(top, rgba(200,180,107,1) 0%, rgba(197,174,100,1) 37%, rgba(193,170,93,1) 100%);
                        background: linear-gradient(to bottom, rgba(200,180,107,1) 0%, rgba(197,174,100,1) 37%, rgba(193,170,93,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8b46b', endColorstr='#c1aa5d', GradientType=0 );
                    }
                }
                .icon__speed {
                    background-position: -44px 0px;
                }
            }
            &.speed__4 {
                .speed__process {
                    border-color: #949494;
                }
                .speed__run {
                    border-color: #848484;
                    background-color: #949494;
                }
                .btn__speed {
                    background: rgba(154,154,154,1);
                    background: -moz-linear-gradient(top, rgba(154,154,154,1) 0%, rgba(148,148,148,1) 50%, rgba(143,143,143,1) 100%);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(154,154,154,1)), color-stop(50%, rgba(148,148,148,1)), color-stop(100%, rgba(143,143,143,1)));
                    background: -webkit-linear-gradient(top, rgba(154,154,154,1) 0%, rgba(148,148,148,1) 50%, rgba(143,143,143,1) 100%);
                    background: -o-linear-gradient(top, rgba(154,154,154,1) 0%, rgba(148,148,148,1) 50%, rgba(143,143,143,1) 100%);
                    background: -ms-linear-gradient(top, rgba(154,154,154,1) 0%, rgba(148,148,148,1) 50%, rgba(143,143,143,1) 100%);
                    background: linear-gradient(to bottom, rgba(154,154,154,1) 0%, rgba(148,148,148,1) 50%, rgba(143,143,143,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a9a9a', endColorstr='#8f8f8f', GradientType=0 );
                    @include boxShadow(inset 0px 1px 0px #b5b5b5);
                    .arrow__circle {
                        background-color: #838383;
                    }
                    &:hover {
                        background: rgba(184,184,184,1);
                        background: -moz-linear-gradient(top, rgba(184,184,184,1) 0%, rgba(148,148,148,1) 78%, rgba(143,143,143,1) 100%);
                        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(184,184,184,1)), color-stop(78%, rgba(148,148,148,1)), color-stop(100%, rgba(143,143,143,1)));
                        background: -webkit-linear-gradient(top, rgba(184,184,184,1) 0%, rgba(148,148,148,1) 78%, rgba(143,143,143,1) 100%);
                        background: -o-linear-gradient(top, rgba(184,184,184,1) 0%, rgba(148,148,148,1) 78%, rgba(143,143,143,1) 100%);
                        background: -ms-linear-gradient(top, rgba(184,184,184,1) 0%, rgba(148,148,148,1) 78%, rgba(143,143,143,1) 100%);
                        background: linear-gradient(to bottom, rgba(184,184,184,1) 0%, rgba(148,148,148,1) 78%, rgba(143,143,143,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8b8b8', endColorstr='#8f8f8f', GradientType=0 );
                    }
                    &:active {
                        background: rgba(154,154,154,1);
                        background: -moz-linear-gradient(top, rgba(154,154,154,1) 0%, rgba(148,148,148,1) 37%, rgba(143,143,143,1) 100%);
                        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(154,154,154,1)), color-stop(37%, rgba(148,148,148,1)), color-stop(100%, rgba(143,143,143,1)));
                        background: -webkit-linear-gradient(top, rgba(154,154,154,1) 0%, rgba(148,148,148,1) 37%, rgba(143,143,143,1) 100%);
                        background: -o-linear-gradient(top, rgba(154,154,154,1) 0%, rgba(148,148,148,1) 37%, rgba(143,143,143,1) 100%);
                        background: -ms-linear-gradient(top, rgba(154,154,154,1) 0%, rgba(148,148,148,1) 37%, rgba(143,143,143,1) 100%);
                        background: linear-gradient(to bottom, rgba(154,154,154,1) 0%, rgba(148,148,148,1) 37%, rgba(143,143,143,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a9a9a', endColorstr='#8f8f8f', GradientType=0 );
                    }
                }
                .icon__speed {
                    background-position: -22px 0px;
                }
            }
        }
    }
}

#footer {
    .bank__demo {
        border-bottom: 1px solid #022e31;
        height: 99px;
        overflow: hidden;
        background: url("#{$appImagePath}cloud.png") repeat-x top center;
        padding-top: 50px;
        text-align: center;
        img {
            display: inline-block;
            vertical-align: middle;
            margin: 0 25px 20px;
            max-width: 140px;
        }
    }
    .footer__bottom {
        border-top: 1px solid #001112;
        padding-top: 20px;
        padding-bottom: 40px;
        background: rgba(0,21,23,1);
        background: -moz-linear-gradient(top, rgba(0,21,23,1) 0%, rgba(0,17,19,1) 33%, rgba(0,10,11,1) 69%, rgba(0,8,8,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,21,23,1)), color-stop(33%, rgba(0,17,19,1)), color-stop(69%, rgba(0,10,11,1)), color-stop(100%, rgba(0,8,8,1)));
        background: -webkit-linear-gradient(top, rgba(0,21,23,1) 0%, rgba(0,17,19,1) 33%, rgba(0,10,11,1) 69%, rgba(0,8,8,1) 100%);
        background: -o-linear-gradient(top, rgba(0,21,23,1) 0%, rgba(0,17,19,1) 33%, rgba(0,10,11,1) 69%, rgba(0,8,8,1) 100%);
        background: -ms-linear-gradient(top, rgba(0,21,23,1) 0%, rgba(0,17,19,1) 33%, rgba(0,10,11,1) 69%, rgba(0,8,8,1) 100%);
        background: linear-gradient(to bottom, rgba(0,21,23,1) 0%, rgba(0,17,19,1) 33%, rgba(0,10,11,1) 69%, rgba(0,8,8,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001517', endColorstr='#000808', GradientType=0 );
        color: #646464;
    }
    .bottom__content {
        position: relative;
        .tbl {
            .tbl__row {
                .tbl__col {
                    text-align: left;
                }
                &:hover {
                    .tbl__col {
                        background-color: initial;
                    }
                }
            }
        }
        .line {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1px;
            height: 135px;
            margin-top: -65px;
            background: rgba(0,23,25,1);
            background: -moz-linear-gradient(top, rgba(0,23,25,1) 0%, rgba(1,33,36,1) 33%, rgba(1,29,32,1) 69%, rgba(1,15,17,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,23,25,1)), color-stop(33%, rgba(1,33,36,1)), color-stop(69%, rgba(1,29,32,1)), color-stop(100%, rgba(1,15,17,1)));
            background: -webkit-linear-gradient(top, rgba(0,23,25,1) 0%, rgba(1,33,36,1) 33%, rgba(1,29,32,1) 69%, rgba(1,15,17,1) 100%);
            background: -o-linear-gradient(top, rgba(0,23,25,1) 0%, rgba(1,33,36,1) 33%, rgba(1,29,32,1) 69%, rgba(1,15,17,1) 100%);
            background: -ms-linear-gradient(top, rgba(0,23,25,1) 0%, rgba(1,33,36,1) 33%, rgba(1,29,32,1) 69%, rgba(1,15,17,1) 100%);
            background: linear-gradient(to bottom, rgba(0,23,25,1) 0%, rgba(1,33,36,1) 33%, rgba(1,29,32,1) 69%, rgba(1,15,17,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001719', endColorstr='#010f11', GradientType=0 );
        }
    }
    .footer__menu {
        margin-bottom: 20px;
        a {
            display: inline-block;
            vertical-align: middle;
            color: #646464;
            font-weight: 500;
            &:hover {
                color: $colorf49e1d;
            }
        }
        span {
            display: inline-block;
            vertical-align: middle;
            margin: 0 4px;
        }
    }
    .logo__footer {
        margin-bottom: 35px;
    }
    .email__footer {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        font-weight: 500;
        color: #646464;
        &:hover {
            color: $colorf49e1d;
        }
    }
}

@-webkit-keyframes fx {
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fx {
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#loading__emu {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    @include transitionAni(all .1s ease-out);
    z-index: 1;
    opacity: 0;
    .loading__emu--inner {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .dot {
        width: 15px;
        height: 15px;
        border: 2px solid #1b99c8;
        border-radius: 50%;
        float: left;
        margin: 0 5px;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-animation: fx 1000ms ease infinite 0ms;
        animation: fx 1000ms ease infinite 0ms;
    }
    .dot:nth-child(2) {
        -webkit-animation: fx 1000ms ease infinite 300ms;
        animation: fx 1000ms ease infinite 300ms;
    }
    .dot:nth-child(3) {
        -webkit-animation: fx 1000ms ease infinite 600ms;
        animation: fx 1000ms ease infinite 600ms;
    }
}

.link__sub {
    text-align: center;
    margin-top: 50px;
    a {
        display: inline-block;
        border: 1px solid red;
        color: #fff;
        padding: 10px 15px;
        line-height: 1;
        background-color: #f74f4f;
        font-size: 20px;
        @include borderRadius(4px);
        &:hover {
            background: rgba(245,112,112,1);
            background: -moz-linear-gradient(top, rgba(245,112,112,1) 0%, rgba(255,0,0,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,112,112,1)), color-stop(100%, rgba(255,0,0,1)));
            background: -webkit-linear-gradient(top, rgba(245,112,112,1) 0%, rgba(255,0,0,1) 100%);
            background: -o-linear-gradient(top, rgba(245,112,112,1) 0%, rgba(255,0,0,1) 100%);
            background: -ms-linear-gradient(top, rgba(245,112,112,1) 0%, rgba(255,0,0,1) 100%);
            background: linear-gradient(to bottom, rgba(245,112,112,1) 0%, rgba(255,0,0,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f57070', endColorstr='#ff0000', GradientType=0 );
        }
        &:active {
            background: rgba(255,0,0,1);
            background: -moz-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(245,112,112,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,0,0,1)), color-stop(100%, rgba(245,112,112,1)));
            background: -webkit-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(245,112,112,1) 100%);
            background: -o-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(245,112,112,1) 100%);
            background: -ms-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(245,112,112,1) 100%);
            background: linear-gradient(to bottom, rgba(255,0,0,1) 0%, rgba(245,112,112,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#f57070', GradientType=0 );
        }
    }
}

.infor__item {
    text-align: center;
    .title {
        color: #fff;
        margin: 0 0 10px 0;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .infor__content {
        a {
            @include transitionAni(all .2s ease-out);
            &:hover {
                opacity: 0.7;
            }
        }
    }
    a {
        color: #fff;
        &:hover {
            color: #929292;
        }
    }
}

@import "responsive";