$colorf49e1d: #f49e1d;
// Image Path
$appImagePath: '../images/';

@mixin borderRadius($val) {
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    -o-border-radius: $val;
    -ms-border-radius: $val;
    border-radius: $val;
}

@mixin textShadow($val) {
    -webkit-text-shadow: $val;
    -moz-text-shadow: $val;
    -o-text-shadow: $val;
    -ms-text-shadow: $val;
    text-shadow: $val;
}

@mixin boxShadow($val) {
    -webkit-box-shadow: $val;
    -moz-box-shadow: $val;
    -o-box-shadow: $val;
    -ms-box-shadow: $val;
    box-shadow: $val;
}

@mixin transitionAni($val) {
    -webkit-transition: $val;
    -moz-transition: $val;
    -o-transition: $val;
    -ms-transition: $val;
    transition: $val;
}

@mixin transformAni($val) {
	-webkit-transform: $val;
	-moz-transform: $val;
	-o-transform: $val;
	-ms-transform: $val;
	transform: $val;
}

@mixin displayFlex() {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin textOver() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}