<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<head>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <f:view>
    	<h:form>
    		<h:panelGroup rendered="#{LoginBean.user.verifiedphone==1?'true':'false'}">
		        <div id="accountTryTest" class="popup__content">
		            <div class="logout-white-bg">
		                <div class="green-check"></div>
		                <div class="renderAccount">
		                    <p><span>Tên đăng nhập:</span><i id="unAccountTest">#{AccountTestBean.loginname}</i></p>
		                    <p><span>Mật khẩu:</span><i id="passAccountTest">#{AccountTestBean.pwd}</i></p>
		                    <p><span>Số dư:</span><h:outputText value="#{AccountTestBean.ubalance}" converter="MoneyConverter" /></p>
		                </div>
		            </div>
		            <div class="text-center pdT-10">
		                <button onclick="loginTest();" type="button" class="btn__primary pdT-10 pdB-10 fs-18 d-ib w--180">Đăng nhập</button>
						<a4j:region>
							<a4j:jsFunction name="userLogin" status="normalStatus"
								data="#{LoginBean.msg}" oncomplete="loginFinish(data);"
								action="#{LoginBean.loginnew}">
								<f:param name="un" />
								<f:param name="pwd" />
							</a4j:jsFunction>
						</a4j:region>
					</div>
		        </div>
	        </h:panelGroup>
	        
	        <h:panelGroup rendered="#{LoginBean.user.verifiedphone==0?'true':'false'}">
		        <div class="popup__content" >
		            <div class="logout-white-bg">
		                Bạn cần xác minh số điện thoại để có tài khoản chơi thử.
		            </div>
		            <div class="text-center pdT-70">
		                <button onclick="goPersonPwd()" type="button" class="btn__primary pdT-10 pdB-10 fs-18 d-ib w--380">Chuyển tới màn hình xác minh</button>
					</div>
		        </div>
		    </h:panelGroup>
        </h:form>
    </f:view>
    <script type="text/javascript" src="../js/build/lib.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/build/common.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        $(window).on('load', function() {
            $('.copy-btn2').on('click', function(e){
                e.preventDefault();
                var un = $('#unAccountTest').text(),
                    pass = $('#passAccountTest').text();
                $('[name="unAccountTest"]').val(un);
                $('[name="passAccountTest"]').val(pass);
            });
        });
        
        function loginFinish(data) {
        	parent.layer.closeAll();
        	parent.location.href = window.location.origin + '/main.shtml?xoso=50';
        }
        
        function goPersonPwd(){
        	parent.layer.closeAll();
        	parent.location.href = window.location.origin + '/page/PersonPwd.shtml';
		}
        //]]>
    </script>
</body>
</html>