﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,900&amp;subset=vietnamese" rel="stylesheet" />
	<title>Document</title>

	<link rel="stylesheet" href="../css/jquery-ui.css" />
	<link rel="stylesheet" href="../css/jquery-ui-timepicker-addon.min.css" />
	<link rel="stylesheet" href="../css/style.css" />
</head>
<body>
	<f:view>
		<h:form id="GameRecordForm">
			<a4j:region>
				<h:panelGroup id="inputMain">
					<div id="agentStatisTeam" class="frm__content">
						<div class="popup__content">
							<div class="tbl__bder--6c0a9">
								<table>
									<tr>
										<td class="w-40">Tài khoản đăng nhập</td>
										<td><span class="font-700 color-primary">#{AgentUserSearchBean.optuser.loginname}</span></td>
									</tr>
									<tr>
										<td>Biệt danh</td>
										<td>#{AgentUserSearchBean.optuser.nickname}</td>
									</tr>
									<tr>
										<td>Số dư nhóm</td>
										<td><span class="font-700 color-f49e1d"><h:outputText value="#{AgentUserSearchBean.tbalance}" converter="MoneyConverter" /> VND</span></td>
									</tr>
								</table>
								<div class="mgT-20 text-center">
									<a4j:commandButton value="Đóng" onclick="closewin();return false;" styleClass="btn__primary pdT-10 pdB-10 w--100"/>
								</div>
							</div>
						</div>
					</div>
				</h:panelGroup>
			</a4j:region>
		</h:form>
	</f:view>

	<script type="text/javascript" src="../js/build/lib.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/build/common.min.js"></script>

	<script type="text/javascript">
  	//<![CDATA[
    function savefinish(data){
		if(data){
			showErrorAlert(data);
			return;
		}else{
			showSuccessAlert("Cập nhật thành công");
			parent.reloads();
		}
	}
    function closewin(){
		var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
		parent.layer.close(index);
	}
    	//]]>
    </script>
</body>
</html>