﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<head>
<link rel="stylesheet" href="../css/style.css" />
</head>
<body>
	<f:view>
		<h:form id="GameRecordForm">
			<a4j:region>
				<h:panelGroup id="inputMain">
					<div id="agentRecharge">
						<div class="popup__content">
							<div class="frm__item">
								<span class="d-ib font-500 w-30 pdR-15 ver-c text-right">Tên đăng nhập</span>
								<div class="d-ib w-60">
									<span class="font-700 color-primary">#{AgentUserSearchBean.optuser.loginname}</span> <span class="d-ib mgL-10"> ( nickname: #{AgentUserSearchBean.optuser.nickname} ) </span>
								</div>
							</div>
							<div class="frm__item">
								<span class="d-ib font-500 w-30 pdR-15 ver-c text-right">Số dư khả dụng</span>
								<div class="d-ib w-60">
									<span class="font-700 color-f49e1d"><h:outputText value="#{LoginBean.user.balance}" converter="MoneyConverter" /> VND</span>
								</div>
							</div>
							<div class="frm__item">
								<span class="d-ib font-500 w-30 pdR-15 ver-c text-right">Thể loại nạp tiền</span>
								<div class="d-ib w-60 ver-c radioDeposit">
									<h:selectOneRadio id="typeMoney" value="#{AgentUserSearchBean.dptype}">
										<f:selectItem itemValue="dp" itemLabel="Nạp Tiền" />
									</h:selectOneRadio>
								</div>
							</div>
							<div class="frm__item">
								<span class="d-ib font-500 w-30 pdR-15 ver-c text-right">Số tiền</span>
								<div class="iput d-ib w-60">
									<h:inputText id="money" styleClass="h-35 w-50" value="#{AgentUserSearchBean.tamount}" maxlength="10" />
								</div>
							</div>
							<div class="frm__item">
								<span class="d-ib font-500 w-30 pdR-15 ver-c text-right">Mật khẩu thanh toán</span>
								<div class="iput d-ib w-60">
									<h:inputSecret id="checkPwd" maxlength="30" value="#{AgentUserSearchBean.checkpwd}" styleClass="h-35 w-50" />
								</div>
							</div>
							<div class="frm__item">
								<span class="d-ib font-500 w-30 pdR-15 ver-c text-right ver-t">Ghi chú</span>
								<div class="iput d-ib w-60">
									<h:inputTextarea id="note" value="#{AgentUserSearchBean.remark}" styleClass="w-100 h-60" />
									<br />
									<p class="color-red fs-13 mgT-5">Nhiều nhất 20 ký tự</p>
								</div>
							</div>
							<div class="frm__item frm__btn">
								<a4j:commandButton value="Nạp Tiền" onclick="if(!validateWithDraw()) {return false}" status="normalStatus" styleClass="btn__primary d-ib mgR-15 pdT-10 pdB-10 w--100" action="#{AgentUserSearchBean.deposit}" data="#{AgentUserSearchBean.msg}" oncomplete="savefinish(data)" />
								<a4j:commandButton value="Thoát" onclick="agentCloseRecharge()" styleClass="btn__cancel d-ib mgR-15 pdT-10 pdB-10 w--60" />
							</div>
							<p class="text-center color-d4d4d4">
								<span class="color-red">Chú ý:</span> Hạn mức thấp nhất: <span class="color-f49e1d">100.000 VND</span> / Hạn mức lớn nhất: <span class="color-f49e1d">50.000.000 VND</span>
							</p>
						</div>
					</div>
				</h:panelGroup>
			</a4j:region>
		</h:form>
	</f:view>

	<script type="text/javascript" src="../js/build/lib.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/build/common.min.js"></script>
	<script type="text/javascript">
		//<![CDATA[
		function savefinish(data) {
			if (data) {
				showErrorAlert(data);
			} else {
				layer.msg("Thành công!",{
					icon: 1,
					time: 1500,
				}, function(){
					window.top.loadbalance();
					parent.reloads();	
				});
			}
		}
		function agentCloseRecharge() {
			var index = parent.layer.getFrameIndex(window.name);
			parent.layer.close(index);
		}
		$(function(){
			$('input[id="GameRecordForm:money"]').keyup(function(e){
				$(this).val(numberWithCommas($(this).val()));
			});
			$('input[id="GameRecordForm:money"]').focus(function(e){
				$(this).val("");
			});
		});
		function validateWithDraw() {
			if($('input[id="GameRecordForm:money"]').val()=="" || $('input[id="GameRecordForm:money"]').val()==0) {
				showErrorAlert("Nhập số tiền bạn muốn rút!");
				return false;
			}
			if($('input[id="GameRecordForm:checkPwd"]').val()=="") {
				showErrorAlert("Mật khẩu không được để trống!");
				return false;
			}
			if($('input[id="GameRecordForm:note"]').val()=="") {
				showErrorAlert("Ghi chú không được để trống!");
				return false;
			}
			if($('input[name="GameRecordForm:typeMoney"]:checked').val()==undefined) {
				showErrorAlert("Hãy chọn phương thức thanh toan!");
				return false;
			}
			
			return true;
		}
		//]]>
	</script>
</body>
</html>