﻿<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport"
		content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,900&amp;subset=vietnamese"
		rel="stylesheet" />
	<title>Document</title>

	<link rel="stylesheet" href="../css/jquery-ui.css" />
	<link rel="stylesheet" href="../css/jquery-ui-timepicker-addon.min.css" />
	<link rel="stylesheet" href="../css/style.css" />
</head>

<body>
	<f:view>
		<h:form id="AgentForm">
			<div id="agentAccountChange" class="frm__content">
				<div class="popup__content">
					<div class="filter__dashboard filter__iframe">
						<div>
							<div class="frm__item d-ib ver-c mgR-10">
								<label for="" class="font-400 mgR-5 w--135 text-right mgB-0">Loại biến động số
									dư:</label>
								<div class="slect__box">
									<h:selectOneMenu styleClass="h-30 w--180" value="#{AgentZbBean.type}">
										<f:selectItems value="#{AgentZbBean.typelist}"></f:selectItems>
									</h:selectOneMenu>
									<span class="icon-keyboard_arrow_down"></span>
								</div>
							</div>
							<div class="frm__item date__rangeinline d-ib ver-c">
								<label for="" class="font-400 mgR-5 mgB-0">Thời gian từ:</label>
								<div class="date__from datetime d-ib ver-c">
									<h:inputText value="#{AgentZbBean.starttime}" styleClass="w--180 h-30" />
									<span class="icon-calendar"></span>
								</div>
								<label for="" class="font-400 mgL-5 mgR-5 mgB-0">Đến</label>
								<div class="date__to datetime d-ib ver-c">
									<h:inputText value="#{AgentZbBean.endtime}" styleClass="w--180 h-30" />
									<span class="icon-calendar"></span>
								</div>
							</div>
						</div>

						<div>
							<div class="frm__item date__rangeinline d-ib mgR-10 ver-c">
								<label for="" class="font-400 mgR-5 w--135 text-right mgB-0">Mã số:</label>
								<div class="iput">
									<h:inputText value="#{AgentZbBean.wid}" styleClass="w--180 h-30"></h:inputText>
								</div>
							</div>
							<div class="frm__item date__rangeinline d-ib mgR-5 ver-c">
								<label for="" class="font-400 mgR-5 mgB-0">Mã số biến động:</label>
								<div class="iput">
									<h:inputText value="#{AgentZbBean.id}" styleClass="iw--180 h-30"></h:inputText>
								</div>
							</div>
							<div class="frm__item frm__btn d-ib ver-c">
								<a4j:commandLink value="Tìm kiếm" status="normalStatus"
									styleClass="bntclass btn__primary lh-26 d-ib ver-c"
									action="#{AgentZbBean.btnSearch}" reRender="pgData" data="#{AgentZbBean.msg}"
									oncomplete="searchfinish(data)" />
							</div>
						</div>
					</div>
					<div class="tbl__record">
						<h:panelGroup id="pgData">
							<div class="wrap__tbl">
								<table>
									<tr class="title">
										<td class="w-17"><span>Mã Số Biến Động</span></td>
										<td class="w-12"><span>Thành Viên</span></td>
										<td class="w-13"><span>Thời Gian</span></td>
										<td class="w-15"><span>Loại</span></td>
										<td class="w-7"><span>Thu Nhập</span></td>
										<td class="w-8"><span>Chi</span></td>
										<td class="w-11"><span>Số Dư Trước</span></td>
										<td class="w-12"><span>Số Dư Sau</span></td>
									</tr>
									<a4j:repeat value="#{AgentZbBean.reslist}" var="list" id="dblist" rowKeyVar="keys">
										<tr>
											<td class="w-17"><span>#{list.id}</span></td>
											<td class="w-12"><span>#{list.loginname}</span></td>
											<td class="w-13"><span>#{list.inserttime.substring(8,10)} -
													#{list.inserttime.substring(5,7)}
													#{list.inserttime.substring(11,16)}</span></td>
											<td class="w-15"><span>#{list.opttypename}</span></td>
											<td class="w-7"><span>
													<h:outputText converter="MoneyConverter" value="#{list.income}"
														rendered="#{list.income!=0?'true':'false'}" /></span></td>
											<td class="w-8"><span>
													<h:outputText style="color:#c91810" converter="MoneyConverter"
														value="#{list.pay}" rendered="#{list.pay!=0?'true':'false'}" />
													</span></td>
											<td class="w-11"><span>
													<h:outputText value="#{list.beforebalance}"
														converter="MoneyConverter" /></span></td>
											<td class="w-12"><span>
													<h:outputText value="#{list.afterbalance}"
														converter="MoneyConverter" /></span></td>
										</tr>
									</a4j:repeat>
								</table>
							</div>

							<div class="tbl__record--bottom">
								<div class="tbl__pagi clearfix">
									<div class="pull-right pagi__wrap">
										<a4j:region>
											<h:panelGroup rendered="#{AgentZbBean.totalrecord==0?'false':'true'}">
												<a4j:commandLink
													styleClass="#{AgentZbBean.curpage==1?'btn__disable':''}"
													status="normalStatus" action="#{AgentZbBean.firstPage}"
													data="#{AgentZbBean.msg}" reRender="pgData" title="Đầu tiên"
													value="Đầu tiên" />
												<a4j:commandLink
													styleClass="#{AgentZbBean.curpage==1?'btn__disable':''}"
													status="normalStatus" action="#{AgentZbBean.proPage}"
													data="#{AgentZbBean.msg}" reRender="pgData" title="Trang trước"
													value="Trang trước" />
												<input type="text" class="pagi__iput" value="#{AgentZbBean.curpage}"
													onkeypress="if(pageKeyDown(this.value))return false;" />
												<span class="fs-12 color-999 d-ib">của</span>
												<span class="fs-12 color-999 d-ib mgR-5">
													<h:outputText value="of #{AgentZbBean.totalpage}" /></span>
												<a4j:commandLink
													styleClass="#{AgentZbBean.curpage==AgentZbBean.totalpage?'btn__disable':''}"
													status="normalStatus" data="#{AgentZbBean.msg}" reRender="pgData"
													title="Trang sau" value="Trang sau"
													action="#{AgentZbBean.nextPage}" />
												<a4j:commandLink
													styleClass="#{AgentZbBean.curpage==AgentZbBean.totalpage?'btn__disable':''}"
													status="normalStatus" data="#{AgentZbBean.msg}" reRender="pgData"
													title="Sau cùng" value="Sau cùng"
													action="#{AgentZbBean.lastPage}" />
												<span class="fs-12 color-999 d-ib mgR-5">Tổng số： <span
														class="orange-color">#{AgentZbBean.totalrecord}</span></span>
											</h:panelGroup>
										</a4j:region>
									</div>
									<p class="fs-13 lh-25">
										Tổng thu nhập: <span class="color-red">
											<h:outputText value="#{AgentZbBean.income}" converter="MoneyConverter" />
											</span> VND, Chi: <span class="color-red">
											<h:outputText value="#{AgentZbBean.pay}" converter="MoneyConverter" />
											</span> VND
									</p>
								</div>
							</div>
						</h:panelGroup>
						<a4j:region>
							<a4j:jsFunction name="pageKeyDownOPT" status="normalStatus"
								action="#{AgentZbBean.inputPage}" data="#{AgentZbBean.msg}"
								oncomplete="searchfinish(data)" reRender="pgData">
								<f:param name="num" />
							</a4j:jsFunction>
						</a4j:region>
					</div>
				</div>
			</div>
		</h:form>
	</f:view>

	<script type="text/javascript" src="../js/build/lib.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/build/common.min.js"></script>

	<script type="text/javascript" src="../js/lib/jquery-ui-1.11.0.min.js"></script>
	<script type="text/javascript" src="../js/lib/jquery-ui-timepicker-addon.min.js"></script>

	<script type="text/javascript">
		//<![CDATA[
		$(window).on('load', function () {
			$('.date__rangeinline').each(function () {
				var _this = $(this),
					$dateFrom = _this.find('.date__from input'),
					$dateTo = _this.find('.date__to input');

				$dateFrom.datetimepicker({
					timeFormat: 'HH:mm:ss',
					dateFormat: 'dd-mm-yy',
					timeText: 'Thời gian',
					hourText: 'Giờ',
					minuteText: 'Phút',
					secondText: 'Giây',
					currentText: 'Hôm nay',
					closeText: 'Hoàn thành',
					prevText: '<span class="icon-arrow_back"></span>',
					nextText: '<span class="icon-arrow_forward"></span>',
					monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
					dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
					onClose: function (dateText, inst) {
						if ($dateTo.val() != '') {
							var testStartDate = $dateFrom.datetimepicker('getDate');
							var testEndDate = $dateTo.datetimepicker('getDate');
							if (testStartDate > testEndDate)
								$dateTo.datetimepicker('setDate', testStartDate);
						}
						else {
							$dateTo.val(dateText);
						}
					},
					onSelect: function (selectedDateTime) {
						$dateTo.datetimepicker('option', 'minDate', $dateFrom.datetimepicker('getDate'));
					}
				});

				$dateTo.datetimepicker({
					timeFormat: 'HH:mm:ss',
					dateFormat: 'dd-mm-yy',
					timeText: 'Thời gian',
					hourText: 'Giờ',
					minuteText: 'Phút',
					secondText: 'Giây',
					currentText: 'Hôm nay',
					closeText: 'Hoàn thành',
					prevText: '<span class="icon-arrow_back"></span>',
					nextText: '<span class="icon-arrow_forward"></span>',
					monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
					dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
					onClose: function (dateText, inst) {
						if ($dateFrom.val() != '') {
							var testStartDate = $dateFrom.datetimepicker('getDate');
							var testEndDate = $dateTo.datetimepicker('getDate');
							if (testStartDate > testEndDate)
								$dateFrom.datetimepicker('setDate', testEndDate);
						}
						else {
							$dateFrom.val(dateText);
						}
					},
					onSelect: function (selectedDateTime) {
						$dateFrom.datetimepicker('option', 'maxDate', $dateTo.datetimepicker('getDate'));
					}
				});
			});
		});
		function viewOpt(wid) {
			_SCROLLINGJXF = "yes";
			layer.open({
				type: 2,
				title: 'Xem chi tiết',
				shadeClose: true,
				shade: 0.4,
				area: ['900px', '500px'],
				content: '/page/BetSubRecord.shtml?id=' + wid //iframe的url
			});
		}
		function searchfinish(data) {
			if (data) {
				showErrorAlert(data);
			}
		}
		function pageKeyDown(num) {
			if (num.length > 0) {
				if (event.keyCode == 13) {
					pageKeyDownOPT(num);
				}
			}
		}
    	//]]>
	</script>
</body>

</html>