﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<head>
	<link rel="stylesheet" href="../css/jquery-ui.css" />
	<link rel="stylesheet" href="../css/jquery-ui-timepicker-addon.min.css" />
	<link rel="stylesheet" href="../css/style.css" />
</head>
<body>
	<div id="agentHistory" class="frm__content">
		<f:view>
			<h:form id="AgentForm">
				<div class="popup__content">
					<div class="filter__dashboard filter__iframe">
						<a4j:region>
							<div>
								<div class="frm__item date__rangeinline d-ib mgR-10 ver-c">
									<label for="" class="font-400 mgR-5 w--100 text-right">Thời gian từ:</label>
									<div class="date__from datetime d-ib ver-c">
										<h:inputText size="20" value="#{AgentBetBean.starttime}" styleClass="w--180 h-30" />
										<span class="icon-calendar"></span>
									</div>
									<label for="" class="font-400">Đến</label>
									<div class="date__to datetime d-ib ver-c">
										<h:inputText size="20" value="#{AgentBetBean.endtime}" styleClass="w--180 h-30" />
										<span class="icon-calendar"></span>
									</div>
								</div>
								<div class="frm__item d-ib ver-c">
									<label for="" class="font-400 mgR-5">Trạng thái:</label>
									<div class="slect__box">
										<h:selectOneMenu styleClass="h-30 w--160" value="#{AgentBetBean.status}">
											<f:selectItems value="#{AgentBetBean.statuslist}"></f:selectItems>
										</h:selectOneMenu>
										<span class="icon-keyboard_arrow_down"></span>
									</div>
									<label class="r__c--emu r__c--emu13x13 fs-13 mgL-5">
										<div class="r__c--ui">
											<h:selectBooleanCheckbox value="#{AgentBetBean.tracecheck}" id="ezh">
												<span class="check"></span>
											</h:selectBooleanCheckbox>
											<span class="checked"></span>
										</div> Bao gồm nuôi số
									</label>
								</div>
							</div>

							<div>
								<div class="frm__item d-ib ver-c mgR-10">
									<label for="" class="font-400 mgR-5 w--100 text-right">Loại xổ số:</label>
									<div class="slect__box">
										<h:selectOneMenu styleClass="h-30 w--150" value="#{AgentBetBean.lotteryid}">
											<f:selectItems value="#{AgentBetBean.lotterylist}"></f:selectItems>
										</h:selectOneMenu>
										<span class="icon-keyboard_arrow_down"></span>
									</div>
								</div>
								<div class="frm__item date__rangeinline d-ib mgR-5 ver-c">
									<label for="" class="font-400 mgR-5">Mã số cược:</label>
									<div class="iput">
										<h:inputText value="#{AgentBetBean.betid}" styleClass="w--180 h-30"></h:inputText>
									</div>
								</div>
								<div class="frm__item frm__btn d-ib ver-c">
									<a4j:commandLink styleClass="btn__primary lh-26 d-ib ver-c" value="Tìm kiếm" status="normalStatus" action="#{AgentBetBean.btnSearch}" data="#{AgentBetBean.msg}" oncomplete="searchfinish(data)" reRender="pgData" />
								</div>
							</div>
						</a4j:region>
					</div>

					<div class="tbl__record">
						<h:panelGroup id="pgData">
							<div class="wrap__tbl">
								<table>
									<tr class="title">
										<td class="w-9"><span>Hội Viên</span></td>
										<td class="w-12"><span>Tên Xổ Số</span></td>
										<td class="w-9"><span>Cách Chơi</span></td>
										<td class="w-12"><span>Thời Gian Cược</span></td>
										<td class="w-12"><span>Lượt Xổ Số</span></td>
										<td class="w-7"><span>Nuôi Số</span></td>
										<td class="w-10"><span>Tiền Cược</span></td>
										<td class="w-10"><span>Tiền Thưởng</span></td>
										<td class="w-12"><span>Trạng Thái</span></td>
										<td class="w-7"><span>Xem</span></td>
									</tr>
									<a4j:repeat value="#{AgentBetBean.reslist}" var="list" id="dblist" rowKeyVar="keys">
										<tr>
											<td>#{list.loginname}</td>
											<td>#{list.lotteryname}</td>
											<td>#{list.methodname}</td>
											<td>#{list.inserttime.substring(8,10)} - #{list.inserttime.substring(5,7)} #{list.inserttime.substring(11,16)}</td>
											<td>#{list.issue}</td>
											<td>
												<h:outputText value="Không" rendered="#{list.source==1?'false':'true'}" />
												<a4j:commandButton onclick="traceRecordOpt('#{list.traceid}');return false;" rendered="#{list.source==1?'true':'false'}" />
											</td>
											<td><h:outputText value="#{list.amount}" converter="MoneyConverter" /></td>
											<td><h:outputText value="#{list.bonus}" converter="MoneyConverter" /></td>
											<td>
												<span class="color-erin">
													<h:outputText value="#{list.statusname}" styleClass="color-waitopenbonus" rendered="#{list.status==0?'true':'false'}" />
													<h:outputText value="#{list.statusname}" styleClass="color-waitopenbonus" rendered="#{list.status==1?'true':'false'}" />
													<h:outputText value="#{list.statusname}" styleClass="color-waitcalcubonus" rendered="#{list.status==2?'true':'false'}" />
													<h:outputText value="#{list.statusname}" styleClass="color-truot" rendered="#{list.status==3?'true':'false'}" />
													<h:outputText value="#{list.statusname}" styleClass="color-trung" rendered="#{list.status==4?'true':'false'}" />
													<h:outputText value="#{list.statusname}" styleClass="color-huy" rendered="#{list.status==5?'true':'false'}" />
													<h:outputText value="#{list.statusname}" styleClass="color-huy" rendered="#{list.status==6?'true':'false'}" />
												</span>
											</td>
											<td><a href="javascript:;" onclick="betRecordOpt('#{list.id}');" class="color-f49e1d fs-16"> <span class="icon-visibility"></span>
											</a></td>
										</tr>
									</a4j:repeat>
								</table>
							</div>

							<div class="tbl__record--bottom">
								<div class="tbl__pagi clearfix">
									<h:panelGroup rendered="#{AgentBetBean.totalrecord==0?'false':'true'}">
										<div class="pull-right pagi__wrap">
											<a4j:commandLink styleClass="#{AgentBetBean.curpage==1?'btn__disable':''}" status="normalStatus" action="#{AgentBetBean.firstPage}" data="#{AgentBetBean.msg}" reRender="pgData" value="Đầu tiên" />
											<a4j:commandLink styleClass="#{AgentBetBean.curpage==1?'btn__disable':''}" status="normalStatus" action="#{AgentBetBean.proPage}" data="#{AgentBetBean.msg}" reRender="pgData"  value="Trang trước" />
											<input type="text" value="#{AgentBetBean.curpage}" onkeypress="if(pageKeyDown(this.value))return false;" class="pagi__iput" /> <span class="fs-12 color-999 d-ib">của</span> <span class="fs-12 color-999 d-ib mgR-5">#{AgentBetBean.totalpage}</span>
											<a4j:commandLink styleClass="#{AgentBetBean.curpage==AgentBetBean.totalpage?'btn__disable':''}" status="normalStatus" data="#{AgentBetBean.msg}" reRender="pgData" value="Trang sau" action="#{AgentBetBean.nextPage}" />
											<a4j:commandLink styleClass="#{AgentBetBean.curpage==AgentBetBean.totalpage?'btn__disable':''}" status="normalStatus" data="#{AgentBetBean.msg}" reRender="pgData" value="Sau cùng" action="#{AgentBetBean.lastPage}" />
											<span class="fs-12 color-999 d-ib mgR-5">Tổng số tìm được: <span class="orange-color">#{AgentBetBean.totalrecord}</span></span>
										</div>
									</h:panelGroup>
									<p class="fs-13">
										Tổng tiền cược: <span class="color-red"><h:outputText value="#{AgentBetBean.tamount}" converter="MoneyConverter"/></span> VND, Trúng: <span class="color-red"><h:outputText value="#{AgentBetBean.twin}" converter="MoneyConverter"/></span> VND
									</p>
								</div>
							</div>
						</h:panelGroup>
					</div>
				</div>
			</h:form>
		</f:view>
	</div>

	<script type="text/javascript" src="../js/build/lib.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/build/common.min.js"></script>

	<script type="text/javascript" src="../js/lib/jquery-ui-1.11.0.min.js"></script>
	<script type="text/javascript" src="../js/lib/jquery-ui-timepicker-addon.min.js"></script>

	<script type="text/javascript">
		//<![CDATA[
		$(window).on('load', function() {
			$('.date__rangeinline').each(function() {
				var _this = $(this),
					$dateFrom = _this.find('.date__from input'),
					$dateTo = _this.find('.date__to input');
	
				$dateFrom.datetimepicker({
					timeFormat: 'HH:mm:ss',
					dateFormat: 'dd-mm-yy',
					timeText: 'Thời gian',
					hourText: 'Giờ',
					minuteText: 'Phút',
					secondText: 'Giây',
					currentText: 'Hôm nay',
					closeText: 'Hoàn thành',
					prevText: '<span class="icon-arrow_back"></span>',
					nextText: '<span class="icon-arrow_forward"></span>',
					monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
					dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
					onClose: function(dateText, inst) {
						if ($dateTo.val() != '') {
							var testStartDate = $dateFrom.datetimepicker('getDate');
							var testEndDate = $dateTo.datetimepicker('getDate');
							if (testStartDate > testEndDate)
								$dateTo.datetimepicker('setDate', testStartDate);
						}
						else {
							$dateTo.val(dateText);
						}
					},
					onSelect: function (selectedDateTime){
						$dateTo.datetimepicker('option', 'minDate', $dateFrom.datetimepicker('getDate') );
					}
				});
	
				$dateTo.datetimepicker({
					timeFormat: 'HH:mm:ss',
					dateFormat: 'dd-mm-yy',
					timeText: 'Thời gian',
					hourText: 'Giờ',
					minuteText: 'Phút',
					secondText: 'Giây',
					currentText: 'Hôm nay',
					closeText: 'Hoàn thành',
					prevText: '<span class="icon-arrow_back"></span>',
					nextText: '<span class="icon-arrow_forward"></span>',
					monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
					dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
					onClose: function(dateText, inst) {
						if ($dateFrom.val() != '') {
							var testStartDate = $dateFrom.datetimepicker('getDate');
							var testEndDate = $dateTo.datetimepicker('getDate');
							if (testStartDate > testEndDate)
								$dateFrom.datetimepicker('setDate', testEndDate);
						}
						else {
							$dateFrom.val(dateText);
						}
					},
					onSelect: function (selectedDateTime){
						$dateFrom.datetimepicker('option', 'maxDate', $dateTo.datetimepicker('getDate') );
					}
				});
			});
		});

		function betRecordOpt(sid){
			_SCROLLINGJXF = "yes";
			layer.open({
			    type: 2,
			    area : [ '900px', '570px' ],
				title : 'Xem chi tiết',
			    shadeClose: true,
			    shade: 0.8,
			    content: '/page/BetSubRecord.shtml?id='+sid //iframe的url
			}); 
		}
		function searchfinish(data){
			if(data){
				showErrorAlert(data);
			}else{
// 				window.location.reload();
			}
		}
		function traceRecordOpt(sid){
			_SCROLLINGJXF = "yes";
			var diag = new Dialog();
			diag.Width = 700;
			diag.Height = 400;
			diag.Title = "Xem lịch sử nuôi số";
			diag.URL = "/page/TraceSubRecord.shtml?id="+sid;
			diag.show();
		}
		//]]>
	</script>
</body>
</html>