<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
	<ui:composition template="/templates/common/layout.xhtml">
		<ui:define name="headCss">
		</ui:define>
		<ui:define name="content">
			<div id="container">
				<!-- InstanceBeginEditable name="EditRegion2" -->
				<div class="dashboard">
					<div class="dashboard__wrapper">
						<div class="dashboard__wrapper--inner clearfix">
							<ui:include src="/templates/common/leftMenu.xhtml" />
							<div class="dashboard__mana">
								<div class="dashboard__mana--inner">
									<div class="tabs_framed">
										<div class="inner">
											<ul class="tabs clearfix">
												<li><a href="/page/AgentReg.shtml">Đăng ký thành viên</a></li>
												<li><a href="/page/AgentUser.shtml">Cấp dưới</a></li>
												<li><a href="/page/AgentAutoReg.shtml">Liên kết đăng ký</a></li>
												<li class="active"><a href="/page/AgentBalance.shtml">Số dư nhóm</a></li>
											</ul>
											<div class="tab-content boxed">
												<div class="clearfix" id="agent__teambalance">
													<div class="row">
														<div class="col-md-6 col-md-offset-3">
															<div class="tbl__bder--6c0a9">
																<table>
																	<tr>
																		<td class="w-40">Tài khoản đăng nhập:</td>
																		<td>
																			<span class="font-700 color-primary">#{LoginBean.user.loginname}</span>
																		</td>
																	</tr>
																	<tr>
																		<td>Biệt danh:</td>
																		<td>#{LoginBean.user.nickname}</td>
																	</tr>
																	<tr>
																		<td>Số dư nhóm:</td>
																		<td>
																			<span class="font-700 color-f49e1d"><h:outputText value="#{AgentBalanceBean.tbalance}" converter="MoneyConverter" /> VNĐ</span>
																		</td>
																	</tr>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<ui:include src="/templates/common/footer.xhtml" />

				</div>
				<!-- InstanceEndEditable -->
			</div>
		</ui:define>
		<ui:define name="headJs">
			<!-- InstanceBeginEditable name="EditRegion3" -->
			<script type="text/javascript" src="../js/jquery.validate.js?#{startup.time}"></script>
			<!-- InstanceEndEditable -->
			<script type="text/javascript">
				//<![CDATA[
					function validateAgentReg() {
						var obj = {};
						obj.username = $('input[id="agentReg:username"]').val();
						obj.newPassowrd1 = $('input[id="agentReg:password"]').val();
						obj.newPassowrd2 = $('input[id="agentReg:checkPassword"]').val();
						obj.nickname = $('input[id="agentReg:nickname"]').val();
						return validate(obj);
					}
					function savefinish(data){
						if (data) {
							showErrorAlert(data);
						} else {
							showSuccessAlert("Tạo tài khoản thành công");
						}
					}
				//]]>
			</script>
		</ui:define>
	</ui:composition>
</body>
</html>
