﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<head>
<link rel="stylesheet" href="../css/style.css" />
</head>
<body>
	<f:view>
		<h:form id="AgentForm">
			<div id="agentEdit">
				<div class="popup__content">
					<div class="tabs__sub">
						<div class="tab-content">
							<div class="tab-pane fade in active" id="rebateInfor">
								<a4j:region>
									<h:panelGroup id="inputMain">
										<h:panelGroup rendered="#{AgentUserSearchBean.optuser.fatherid==AgentUserSearchBean.selfid?'true':'false'}">
											<div class="frm__item">
												<span class="d-ib font-500 w-30 pdR-15 ver-c text-right">Tên đăng nhập</span>
												<div class="d-ib w-65">
													<span class="font-700 color-primary">#{AgentUserSearchBean.optuser.loginname}</span>
												</div>
											</div>
											<div class="frm__item">
												<span class="d-ib font-500 w-30 pdR-15 ver-c text-right">Biệt danh</span>
												<div class="d-ib w-65">
													<span class="font-700 color-primary">#{AgentUserSearchBean.optuser.nickname}</span>
												</div>
											</div>
											<div class="frm__item">
												<span class="d-ib font-500 w-30 pdR-15 ver-t mgT-10 text-right">Chiết khấu</span>
												<div class="d-ib w-65">
													<div class="slect__box w-100">
														<h:selectOneMenu value="#{AgentUserSearchBean.optuser.pointssc}" styleClass="w-100 h-40">
															<f:selectItems value="#{AgentUserSearchBean.selssc}"></f:selectItems>
														</h:selectOneMenu>
														<span class="icon-keyboard_arrow_down"></span>
													</div>
													<p class="fs-13 mgT-5">
														( Chỉ được <span class="color-f49e1d">tăng</span> không được <span class="color-red">giảm</span> )
													</p>
												</div>
											</div>
											<div class="frm__item frm__btn mgT-25">
												<span class="w-30 d-ib"></span>
												<div class="d-ib w-65">
													<a4j:commandButton value="Lưu" status="normalStatus" styleClass="btn__primary pdT-10 pdB-10 w-100" action="#{AgentUserSearchBean.update}" data="#{AgentUserSearchBean.msg}" oncomplete="savefinish(data)" />
												</div>
											</div>
										</h:panelGroup>
									</h:panelGroup>
								</a4j:region>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</f:view>

	<script type="text/javascript" src="../js/build/lib.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/build/common.min.js"></script>

	<script type="text/javascript">
		function savefinish(data) {
			if (data) {
				showErrorAlert(data);
				return;
			} else {
				showSuccessAlert("Cập nhật thành công");
				parent.layer.msg(data, {
					shade : 0.3,
					closeBtn : true,
					icon : 1, // 1: icon success, 2: icon error, 3: warning question, 4: lock, 5: face sad, 6: face funny, 7: warning
					time : timeHide
				}, function() {
					parent.reloads();
				});
			}
		}
	</script>
</body>
</html>