<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
	<ui:composition template="/templates/common/layout.xhtml">
		<ui:define name="headCss">
		</ui:define>
		<ui:define name="content">
			<div id="container">
				<!-- InstanceBeginEditable name="EditRegion2" -->
				<div class="dashboard">
					<div class="dashboard__wrapper">
						<div class="dashboard__wrapper--inner clearfix">
							<ui:include src="/templates/common/leftMenu.xhtml" />
							<div class="dashboard__mana">
								<div class="dashboard__mana--inner">
									<div class="tabs_framed">
										<div class="inner">
											<ul class="tabs clearfix">
												<li class="active"><a href="/page/AgentReg.shtml">Đăng ký thành viên</a></li>
												<li><a href="/page/AgentUser.shtml">Cấp dưới</a></li>
												<li><a href="/page/AgentAutoReg.shtml">Liên kết đăng ký</a></li>
												<li><a href="/page/AgentBalance.shtml">Số dư nhóm</a></li>
											</ul>

											<div class="tab-content boxed">
												<div class="clearfix" id="agent__regis">
													<f:view>
														<h:form id="agentReg">
															<a4j:region>
																<h:panelGroup id="pgData">
																	<div class="row">
																		<div class="col-sm-8 col-sm-offset-2">
																			<div class="mgB-40">
																				<p class="fs-24 font-300 mgB-25 color-5c5146">Thông tin cơ bản</p>
																				<div class="frm__item">
																					<label class="font-400 fs-16 color-8e8071 w-30 text-right pdR-20">Tên đăng nhập:</label>
																					<div class="iput w-65">
																						<h:inputText id="username" value="#{AgentRegBean.loginname}" styleClass="mgR-10 h-40 w-50 d-ib ver-c" />
																						<span class="d-ib ver-c fs-13 mgT-5 color-5c5146">( 5 ký tự trở lên )</span>
																					</div>
																				</div>
																				<div class="frm__item">
																					<label class="font-400 fs-16 color-8e8071 w-30 text-right pdR-20">Mật khẩu:</label>
																					<div class="iput w-65">
																						<h:inputSecret id="password" value="#{AgentRegBean.pwd}" styleClass="mgR-10 h-40 w-50 d-ib ver-c" />
																						<span class="d-ib ver-c fs-13 mgT-5 color-5c5146">( 6 ký tự trở lên )</span>
																					</div>
																				</div>
																				<div class="frm__item">
																					<label class="font-400 fs-16 color-8e8071 w-30 text-right pdR-20">Xác nhận mật khẩu:</label>
																					<div class="iput w-65">
																						<h:inputSecret id="checkPassword" value="#{AgentRegBean.pwdre}" styleClass="mgR-10 h-40 w-50 d-ib ver-c" />
																						<span class="d-ib ver-c fs-13 mgT-5 color-5c5146">( Giống với mật khẩu đã nhập )</span>
																					</div>
																				</div>
																				<div class="frm__item">
																					<label class="font-400 fs-16 color-8e8071 w-30 text-right pdR-20">Biệt danh:</label>
																					<div class="iput w-65">
																						<h:inputText id="nickname" value="#{AgentRegBean.nickname}" styleClass="h-40 w-50" />
																					</div>
																					<span class="d-ib ver-c fs-13 mgL-10 color-5c5146"></span>
																				</div>
																			</div>
																			<div class="frm__item frm__btn">
																				<label class="font-400 fs-16 color-8e8071 w-30 text-right pdR-20"></label>
																				<div class="w-65 iput">
																					<a4j:commandButton reRender="pgData" onclick="if(!validateAgentReg()) {return false}" value="Tạo tài khoản" status="normalStatus" styleClass="btn__primary d-ib pdT-10 pdB-10 w-50 fs-20" action="#{AgentRegBean.save}" data="#{AgentRegBean.msg}" oncomplete="savefinish(data)"></a4j:commandButton>
																				</div>
																			</div>
																		</div>
																	</div>
																</h:panelGroup>
															</a4j:region>
														</h:form>
													</f:view>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<ui:include src="/templates/common/footer.xhtml" />

				</div>
				<!-- InstanceEndEditable -->
			</div>
		</ui:define>
		<ui:define name="headJs">
			<!-- InstanceBeginEditable name="EditRegion3" -->
			<script type="text/javascript" src="../js/jquery.validate.js?#{startup.time}"></script>
			<!-- InstanceEndEditable -->
			<script type="text/javascript">
				//<![CDATA[
					function validateAgentReg() {
						var obj = {};
						obj.username = $('input[id="agentReg:username"]').val();
						obj.newPassowrd1 = $('input[id="agentReg:password"]').val();
						obj.newPassowrd2 = $('input[id="agentReg:checkPassword"]').val();
						obj.nickname = $('input[id="agentReg:nickname"]').val();
						return validate(obj);
					}
					function savefinish(data){
						if (data) {
							showErrorAlert(data);
						} else {
							showSuccessAlert("Tạo tài khoản thành công");
						}
					}
				//]]>
			</script>
		</ui:define>
	</ui:composition>
</body>
</html>
