<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
	<ui:composition template="/templates/common/layout.xhtml">
		<ui:define name="headCss">
		</ui:define>
		<ui:define name="content">
			<div id="container">
				<!-- InstanceBeginEditable name="EditRegion2" -->
				<div class="dashboard">
					<div class="dashboard__wrapper">
						<div class="dashboard__wrapper--inner clearfix">
							<ui:include src="/templates/common/leftMenu.xhtml" />
							<div class="dashboard__mana">
								<div class="dashboard__mana--inner">
									<div class="tabs_framed">
										<div class="inner">
											<ul class="tabs clearfix">
												<li><a href="/page/AgentReg.shtml">Đăng ký thành viên</a></li>
												<li><a href="/page/AgentUser.shtml">Cấp dưới</a></li>
												<li class="active"><a href="/page/AgentAutoReg.shtml">Liên kết đăng ký</a></li>
												<li><a href="/page/AgentBalance.shtml">Số dư nhóm</a></li>
											</ul>

											<div class="tab-content boxed">
												<div class="clearfix" id="agent__url">
													<div class="row">
														<div class="col-sm-10 col-sm-offset-1">
															<div class="mgB-30">
																<p class="mgB-25 font-500 fs-15">Nhắc nhở:</p>
																<div class="clearfix mgB-15">
																	<div class="pull-left mgR-20">
																		<span class="icon-arrow_forward"></span>
																	</div>
																	<div class="overflow-all pdT-5">
																		<p>Mỗi hội viên có 1 liên kết đăng ký.</p>
																	</div>
																</div>
																<div class="clearfix mgB-15">
																	<div class="pull-left mgR-20">
																		<span class="icon-arrow_forward"></span>
																	</div>
																	<div class="overflow-all">
																		<p>Sau khi thiết lập liên kết đăng ký, nhấp vào [Liên kết], mở cột địa chỉ để hiển thị liên kết đăng ký.</p>
																	</div>
																</div>
															</div>
														</div>
													</div>

													<div class="tbl__record">
														<f:view>
															<h:form id="GameRecordForm1">
																<div class="wrap__tbl">
																	<table>
																		<tr class="title">
																			<td class="w-30"><span>Thứ tự</span></td>
																			<!-- <td class="w-30"><span>Chiết khấu</span></td> -->
																			<td class="w-40"><span>Thao tác</span></td>
																		</tr>
																		<a4j:repeat value="#{AgentAutoRegBean.reslist}" var="list" id="dblist" rowKeyVar="keys">
																			<h:panelGroup rendered="#{keys==0?'true':'false'}">	
																				<tr>
																					<td>#{keys+1}</td>
																					<td>
																						<a4j:commandLink styleClass="d-ib ver-c mgR-10 fs-16 notification noti__center--top" value="" onclick="winopen('#{list.sign}');return false;">
																							<span class="icon-link"></span>
																							<span class="wrap__noti w--80"> <span class="wrap__noti--inner"> <span>Liên kết</span>
																							</span>
																							</span>
																						</a4j:commandLink>
																					</td>
																				</tr>
																			</h:panelGroup>
																		</a4j:repeat>
																	</table>
																</div>
																<div class="mgT-30 text-center">
																	<a4j:commandLink value="Thêm liên kết" status="normalStatus" styleClass="btn__primary pdT-10 pdB-10" action="#{AgentAutoRegBean.save}" data="#{AgentAutoRegBean.msg}" oncomplete="savefinish(data)" />
																</div>
															</h:form>
														</f:view>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<ui:include src="/templates/common/footer.xhtml" />

				</div>
			</div>
		</ui:define>
		<ui:define name="headJs">
			<!-- InstanceBeginEditable name="EditRegion3" -->
			<script type="text/javascript" src="../js/jquery.validate.js?#{startup.time}"></script>
			<!-- InstanceEndEditable -->
			<script type="text/javascript">
				//<![CDATA[
				function agentUrlEdit() {
		            layer.open({
		                type: 2,
		                area: ['600px', '275px'],
		                title: 'Chỉnh sửa liên kết đămg ký',
		                content: '/page/AgentAutoRegSub2.shtml'
		            });
		        }
				function newRecord() {
		            layer.open({
		                type: 2,
		                area: ['600px', '250px'],
		                title: 'Thêm liên kết đăng ký mới',
		                content: '/page/AgentAutoRegSub.shtml'
		            });
		        }
				function savefinish(data) {
					if (data) {
						showErrorAlert(data);
						return;
					} else {
						parent.layer.msg("Cập nhật thành công", {
							shade : 0.3,
							closeBtn : true,
							icon : 1, // 1: icon success, 2: icon error, 3: warning question, 4: lock, 5: face sad, 6: face funny, 7: warning
							time : 1500
						}, function() {
							parent.reloads();
						});
					}
				}
				function searchfinish(data){
					if(data){
						showErrorAlert(data);
					}
				}
				function reloads(){
					window.location.reload();
				}
				function winopen(sid){
					window.open("/reg.shtml?id="+sid);
				}
				//]]>
			</script>
		</ui:define>
	</ui:composition>
</body>
</html>
