<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
	<ui:composition template="/templates/common/layout.xhtml">
		<ui:define name="headCss">
		</ui:define>
		<ui:define name="content">
			<div id="container">
				<!-- InstanceBeginEditable name="EditRegion2" -->
				<div class="dashboard">
					<div class="dashboard__wrapper">
						<div class="dashboard__wrapper--inner clearfix">
							<ui:include src="/templates/common/leftMenu.xhtml" />
							<div class="dashboard__mana">
								<div class="dashboard__mana--inner">
									<div class="tabs_framed">
										<div class="inner">
											<ul class="tabs clearfix">
												<li><a href="/page/AgentReg.shtml">Đăng ký thành viên</a></li>
												<li class="active"><a href="/page/AgentUser.shtml">Cấp dưới</a></li>
												<li><a href="/page/AgentAutoReg.shtml">Liên kết đăng ký</a></li>
												<li><a href="/page/AgentBalance.shtml">Số dư nhóm</a></li>
											</ul>

											<div class="tab-content boxed">
												<div class="clearfix" id="agent__sub">
													<f:view>
														<h:form id="GameRecordForm">
															<div class="filter__dashboard">
																<div class="row">
																	<div class="col-sm-4">
																		<div class="frm__item">
																			<label for="" class="font-400 w-100 color-8e8071 fs-15">Tài khoản</label>
																			<h:inputText id="usernameid01" value="#{AgentUserSearchBean.loginname}" styleClass="w-100 h-40" />
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="frm__item">
																			<label for="" class="font-400 w-100 color-8e8071 fs-15">Thành viên</label>
																			<div class="slect__box w-100">
																				<h:selectOneMenu styleClass="h-40 w-100" value="#{AgentUserSearchBean.userarea}">
																					<f:selectItem itemValue="0" itemLabel="Thành viên cấp dưới"></f:selectItem>
																				</h:selectOneMenu>
																				<span class="icon-keyboard_arrow_down"></span>
																			</div>
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="frm__item">
																			<label for="" class="font-400 w-100 color-8e8071 fs-15">Sắp xếp theo</label>
																			<div class="slect__box w-100">
																				<h:selectOneMenu styleClass="h-40 w-100" value="#{AgentUserSearchBean.order}">
																					<f:selectItem itemValue="0" itemLabel="Thời gian đăng ký mới nhất"></f:selectItem>
																					<f:selectItem itemValue="1" itemLabel="Thời gian đăng ký cũ nhất"></f:selectItem>
																					<f:selectItem itemValue="3" itemLabel="Số dư ít nhất"></f:selectItem>
																					<f:selectItem itemValue="2" itemLabel="Số dư nhiều nhất"></f:selectItem>
																					<f:selectItem itemValue="4" itemLabel="Đăng nhập nhiều nhất"></f:selectItem>
																					<f:selectItem itemValue="5" itemLabel="Đăng nhập gần đây nhất"></f:selectItem>
																				</h:selectOneMenu>
																				<span class="icon-keyboard_arrow_down"></span>
																			</div>
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="frm__item">
																			<label for="" class="font-400 w-100 color-8e8071 fs-15">Số dư</label>
																			<h:inputText id="money01" value="#{AgentUserSearchBean.samount}" styleClass="w-100 h-40" />
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="frm__item">
																			<label for="" class="font-400 w-100 color-8e8071 fs-15">Tới</label>
																			<h:inputText id="money02" value="#{AgentUserSearchBean.eamount}" styleClass="w-100 h-40" />
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="frm__item pdT-20 frm__btn">
																			<a4j:commandLink onclick="loadingSearch()" value="Tìm kiếm" status="normalStatus" styleClass="btn__primary lh-40 h-40 d-ib w--120" action="#{AgentUserSearchBean.btnSearch}" data="#{AgentUserSearchBean.msg}" oncomplete="searchfinish(data)" reRender="pgData" />
																		</div>
																	</div>
																</div>
															</div>

															<div class="tbl__record">

																<h:panelGroup id="pgData">
																	<div class="wrap__tbl">
																		<table>
																			<tr class="title">
																				<td class="w-8"><span>ID</span></td>
																				<td class="w-7"><span>Số dư</span></td>
																				<!-- <td class="w-8"><span>Chiết khấu</span></td> -->
																				<td class="w-12"><span>đăng ký</span></td>
																				<td class="w-13"><span>đăng nhập cuối</span></td>
																				<td class="w-12"><span>lần đăng nhập</span></td>
																				<td class="w-10"><span>cấp trên</span></td>
																				<td class="w-7"><span>Báo cáo</span></td>
																				<td class="w-18"><span>Thao tác</span></td>
																			</tr>
																			<a4j:repeat value="#{AgentUserSearchBean.reslist}" var="list" rowKeyVar="keys">
																				<tr>
																					<td>#{list.loginname}</td>
																					<td><h:outputText value="#{list.balance}" converter="MoneyConverter" /></td>
																					<!-- <td><h:outputText value="#{list.pointssc}" converter="PercentConverter" /></td> -->
																					<td>#{list.addtime.substring(8,10)} - #{list.addtime.substring(5,7)} #{list.addtime.substring(11,16)}</td>
																					<td>#{list.lastlogintime.substring(8,10)} - #{list.lastlogintime.substring(5,7)} #{list.lastlogintime.substring(11,16)}</td>
																					<td>#{list.logintimes}</td>
																					<td>#{list.param2}</td>
																					<td>
																						<a href="javascript:;" onclick="report15day('#{list.loginname}');">
																							<span class="icons2 icon__report"></span>
																						</a>
																					</td>
																					<td class="action__capduoi clearfix">
																						<div>
																							<a4j:commandLink rendered="#{LoginBean.user.param4=='4'?'true':'false'}" styleClass="color-f49e1d notification noti__center--top" value="" status="normalStatus" action="#{AgentUserSearchBean.edit}" data="#{AgentUserSearchBean.msg}" oncomplete="deposit(data)">
																								<f:param name="id" value="#{list.id}" />
																								<span class="icons2 icon__nt"></span>
																								<span class="wrap__noti w--70">
																									<span class="wrap__noti--inner"> <span>Nạp tiền</span></span>
																								</span>
																							</a4j:commandLink>
																							<a4j:commandLink value="" status="normalStatus" styleClass="color-8e8071 notification noti__center--top" action="#{AgentZbBean.init}" data="#{AgentZbBean.msg}" oncomplete="zbView(data)">
																								<f:param name="id" value="#{list.loginname}" />
																								<span class="icons2 icon__chart"></span>
																								<span class="wrap__noti w--120">
																									<span class="wrap__noti--inner"> <span>Biến động số dư</span></span>
																								</span>
																							</a4j:commandLink>
																							<a4j:commandLink value="" styleClass="color-erin notification noti__center--top" status="normalStatus" action="#{AgentUserSearchBean.tbalance}" data="#{AgentUserSearchBean.msg}" oncomplete="tbalance(data)">
																								<f:param name="id" value="#{list.id}" />
																								<span class="icons2 icon__reportgroup"></span>
																								<span class="wrap__noti w--120">
																									<span class="wrap__noti--inner"> <span>Thống kê nhóm</span></span>
																								</span>
																							</a4j:commandLink>
																						</div>
																					</td>
																				</tr>
																			</a4j:repeat>
																		</table>
																	</div>

																	<div class="tbl__record--bottom">
																		<div class="tbl__pagi clearfix">
																			<div class="pull-right pagi__wrap">
																				<h:panelGroup rendered="#{AgentUserSearchBean.totalrecord==0?'false':'true'}">
																					<a4j:commandLink styleClass="#{AgentUserSearchBean.curpage==1?'btn__disable':''}" status="normalStatus" action="#{AgentUserSearchBean.firstPage}" data="#{AgentUserSearchBean.msg}" title="Đầu tiên" value="Đầu tiên" reRender="pgData" />
																					<a4j:commandLink styleClass="#{AgentUserSearchBean.curpage==1?'btn__disable':''}" status="normalStatus" action="#{AgentUserSearchBean.proPage}" data="#{AgentUserSearchBean.msg}" title="Trang trước" value="Trang trước" reRender="pgData" />
																					<input type="text" class="pagi__iput" value="#{AgentUserSearchBean.curpage}" onkeypress="if(pageKeyDown(this.value))return false;" /> <span class="fs-12 color-999 d-ib">của</span> <span class="fs-12 color-999 d-ib mgR-5">#{AgentUserSearchBean.totalpage}</span>
																					<a4j:commandLink styleClass="#{AgentUserSearchBean.curpage==AgentUserSearchBean.totalpage?'btn__disable':''}" status="normalStatus" data="#{AgentUserSearchBean.msg}" title="Trang sau" value="Trang sau" action="#{AgentUserSearchBean.nextPage}" reRender="pgData" />
																					<a4j:commandLink styleClass="#{AgentUserSearchBean.curpage==AgentUserSearchBean.totalpage?'btn__disable':''}" status="normalStatus" data="#{AgentUserSearchBean.msg}" title="Sau cùng" value="Sau cùng" action="#{AgentUserSearchBean.lastPage}" reRender="pgData" />
																					<span class="fs-12 color-999 d-ib mgR-5">Tổng số： <span class="orange-color">#{AgentUserSearchBean.totalrecord}</span></span>
																				</h:panelGroup>
																			</div>
																			<p class="fs-13 lh-25">
																				<span class="color-red">Chú ý:</span> Bạn chỉ có thể thay đổi cho tài khoản thành viên cấp dưới của bạn.
																			</p>
																		</div>
																	</div>
																</h:panelGroup>
															</div>
														</h:form>
													</f:view>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<ui:include src="/templates/common/footer.xhtml" />

				</div>
			</div>
		</ui:define>
		<ui:define name="headJs">
			<!-- InstanceBeginEditable name="EditRegion3" -->
			<script type="text/javascript" src="../js/jquery.validate.js?#{startup.time}"></script>
			<!-- InstanceEndEditable -->
			<script type="text/javascript">
				//<![CDATA[
				function searchfinish(data) {
					layer.closeAll("loading");
					if (data) {
						showErrorAlert(data);
					}
				}
				function edit(data){
					if(data){
						showErrorAlert(data);
						return;
					}
					_SCROLLINGJXF="auto";
					layer.open({
					    type: 2,
					    shadeClose: true,
					    shade: 0.8,
					    area: ['650px', '350px'],
		                title: 'Chỉnh sửa thông tin thành viên',
					    content: '/page/AgentSubUpdate.shtml' //iframe的url
					}); 
				}
				function deposit(data){
					if(data){
						showErrorAlert(data);
						return;
					}
					layer.open({
					    type: 2,
					    title: 'Nạp tiền chuyển khoản',
					    shadeClose: true,
					    shade: 0.8,
					    area: ['650px', '560px'],
					    content: '/page/AgentSubDeposit.shtml' //iframe的url
					}); 
				}
				function tbalance(data){
					if(data){
						showErrorAlert(data);
						return;
					}
					layer.open({
					    type: 2,
					    shadeClose: true,
					    shade: 0.8,
					    area: ['500px', '275px'],
		                title: 'Số dư nhóm',
					    content: '/page/AgentSubTBalance.shtml' //iframe的url
					}); 
				}
				function zbView(data){
					if(data=='-1'){
						data="Hoạt động bất hợp pháp";
					}
					if(data){
						showErrorAlert(data);
						return;
					}
					layer.open({
					    type: 2,
					    shadeClose: true,
					    shade: 0.8,
					    area: ['1000px', '615px'],
		                title: 'Biến động số dư',
					    content: '/page/AgentSubZb.shtml' //iframe的url
					}); 
				}
				function betView(data){
					if(data){
						showErrorAlert(data);
						return;
					}
					layer.open({
					    type: 2,
					    area: ['1100px', '615px'],
		                title: 'Lịch Sử Cược',
					    shadeClose: true,
					    shade: 0.8,
					    content: '/page/AgentSubBet.shtml' //iframe的url
					}); 
				}
				function report15day(lname){
					layer.open({
					    type: 2,
					    title: 'Báo cáo 15 ngày qua',
					    shadeClose: true,
					    shade: 0.8,
					    area: ['900px', '450px'],
					    content: '/page/AgentReport15Day.shtml?lname='+lname, //iframe的url
					}); 
				}
				function reloads(){
					window.location.reload();
				}
				function pageKeyDown(num){
					if(num.length>0){
						if(event.keyCode==13) {
							pageKeyDownOPT(num);
						}
					}
				}
				$(function(){
					$('input[id="GameRecordForm:money01"]').keyup(function(e){
						$(this).val(numberWithCommas($(this).val()));	
					});
					$('input[id="GameRecordForm:money02"]').keyup(function(e){
						$(this).val(numberWithCommas($(this).val()));	
					});
				});
				//]]>
			</script>
		</ui:define>
	</ui:composition>
</body>
</html>
