﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<head>

<link rel="stylesheet" href="../css/style.css" />
</head>
<body>
	<f:view>
		<h:form id="GameRecordForm">
			<div id="agentReport" class="frm__content">
				<div class="popup__content">
					<div class="tabs__sub">
						<div class="tabs__link">
							<ul class="clearfix">
								<li class="active"><a href="#reportPersonal" role="tab" data-toggle="tab">Báo cáo cá nhân</a></li>
								<li><a href="#reportGroup" role="tab" data-toggle="tab">Báo cáo nhóm</a></li>
							</ul>
						</div>
						<div class="tab-content">

							<div class="tab-pane fade in active" id="reportPersonal">
								<p class="text-center fs-500 fs-15 mgB-15">
									Tình hình phát triển 15 ngày gần đây của cá nhân [ <span class="color-f49e1d">#{Report15DayBean.loginname}</span> ]
								</p>
								<div class="tbl__record">
									<div class="wrap__tbl">
										<table>
											<tr class="title">
												<td><span>Ngày</span></td>
												<td><span>Tổng tiền nạp</span></td>
												<td><span>Tổng tiền rút</span></td>
												<td><span>Cược</span></td>
												<td><span>Trúng</span></td>
												<td><span>Khuyến Mãi</span></td>
												<td><span>Lợi Nhuận</span></td>
											</tr>
											<a4j:repeat value="#{Report15DayBean.personlist}" var="list" rowKeyVar="keys">
												<tr>
													<td>#{list.rtime.substring(8,10)}-#{list.rtime.substring(5,7)}-#{list.rtime.substring(0,4)}</td>
													<td><h:outputText converter="MoneyConverter" value="#{list.dp}" /></td>
													<td><h:outputText converter="MoneyConverter" value="#{list.wd}" /></td>
													<td><h:outputText converter="MoneyConverter" value="#{list.tz}" /></td>
													<td><h:outputText converter="MoneyConverter" value="#{list.win}" /></td>
													<td><h:outputText converter="MoneyConverter" value="#{list.bonus}" /></td>
													<td><h:outputText converter="MoneyConverter" value="#{list.win+list.fd+list.bonus-list.tz}" /></td>
												</tr>
											</a4j:repeat>

										</table>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="reportGroup">
								<p class="text-center fs-500 fs-15 mgB-15">
									Tình hình phát triển 15 ngày gần đây của cá nhân [ <span class="color-f49e1d">#{Report15DayBean.loginname}</span> ]
								</p>
								<div class="tbl__record">
									<div class="wrap__tbl">
										<table>
											<tr class="title">
												<td><span>Ngày</span></td>
												<td><span>Tổng tiền nạp</span></td>
												<td><span>Tổng tiền rút</span></td>
												<td><span>Cược</span></td>
												<td><span>Trúng</span></td>
												<td><span>Khuyến Mãi</span></td>
												<td><span>Lợi nhuận/lỗ</span></td>
											</tr>
											<a4j:repeat value="#{Report15DayBean.teamlist}" var="list" rowKeyVar="keys">
												<tr>
													<td>#{list.rtime.substring(8,10)}-#{list.rtime.substring(5,7)}-#{list.rtime.substring(0,4)}</td>
													<td><h:outputText converter="MoneyConverter" value="#{list.dp}" /></td>
													<td><h:outputText converter="MoneyConverter" value="#{list.wd}" /></td>
													<td><h:outputText converter="MoneyConverter" value="#{list.tz}" /></td>
													<td><h:outputText converter="MoneyConverter" value="#{list.win}" /></td>
													<td><h:outputText converter="MoneyConverter" value="#{list.bonus}" /></td>
													<td><h:outputText converter="MoneyConverter" value="#{list.win+list.fd+list.bonus-list.tz}" /></td>
												</tr>
											</a4j:repeat>
										</table>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</h:form>
	</f:view>

	<script type="text/javascript" src="../js/build/lib.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/build/common.min.js"></script>
	<script type="text/javascript">
		//<![CDATA[
		function savefinish(data) {
			if (data) {
				showErrorAlert(data);
			} else {
				showSuccessAlert("Thành công");
				parent.reloads();
			}
		}
		//]]>
	</script>
</body>
</html>