﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,900&amp;subset=vietnamese" rel="stylesheet" />
			<title>Document</title>

			<link rel="stylesheet" href="../css/style.css" />
</head>
<body>
	<f:view>
		<h:form id="GameRecordForm">
			<a4j:region>
				<h:panelGroup id="inputMain">
					<div id="agentUrlAdd">
						<div class="popup__content">
							<div class="frm__item">
								<span class="d-ib font-500 w-45 pdR-15 ver-c text-right">Chiết khấu</span>
								<div class="slect__box w-50">
									<h:selectOneMenu styleClass="w-100 h-40" value="#{AgentAutoRegBean.regitem.pointssc}">
										<f:selectItems value="#{AgentAutoRegBean.pointssc}"></f:selectItems>
									</h:selectOneMenu>
									<span class="icon-keyboard_arrow_down"></span>
								</div>
							</div>
							<div class="frm__item frm__btn">
								<a4j:commandButton value="Thêm" status="normalStatus" styleClass="btn__primary d-ib mgR-15 pdT-10 pdB-10 w--100" action="#{AgentAutoRegBean.save}" data="#{AgentAutoRegBean.msg}" oncomplete="savefinish(data)" />
								<a4j:commandButton value="Thoát" onclick="closePopup()" styleClass="btn__cancel d-ib mgR-15 pdT-10 pdB-10 w--60" />
							</div>
						</div>
					</div>
				</h:panelGroup>
			</a4j:region>
		</h:form>
	</f:view>

	<script type="text/javascript" src="../js/build/lib.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/build/common.min.js"></script>

	<script type="text/javascript">
		//<![CDATA[
		function savefinish(data) {
			if (data) {
				showErrorAlert(data);
				return;
			} else {
				parent.layer.msg("Cập nhật thành công", {
					shade : 0.3,
					closeBtn : true,
					icon : 1, // 1: icon success, 2: icon error, 3: warning question, 4: lock, 5: face sad, 6: face funny, 7: warning
					time : 1500
				}, function() {
					parent.reloads();
				});
			}
		}
		//]]>
	</script>
</body>
</html>