<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
	<ui:composition template="/templates/common/layout.xhtml">
		<ui:define name="headCss">
			<link rel="stylesheet" href="../css/jquery-ui.css" />
			<link rel="stylesheet"
				href="../css/jquery-ui-timepicker-addon.min.css" />
		</ui:define>
		<ui:define name="content">
			<div id="container">
				<!-- InstanceBeginEditable name="EditRegion2" -->
				<div class="dashboard">
					<div class="dashboard__wrapper">
						<div class="dashboard__wrapper--inner clearfix">
							<ui:include src="/templates/common/leftMenu.xhtml" />
							<div class="dashboard__mana">
								<div class="dashboard__mana--inner">
									<div class="tabs_framed">
										<div class="inner">
											<ul class="tabs clearfix">
												<li><a href="/page/ReportZb.shtml">Biến động số dư</a></li>
												<li><a href="/page/BonusReport.shtml">Chi tiết tặng quà</a></li>
												<li class="active"><a href="/page/BetRecord.shtml">Lịch sử cược</a></li>
												<li><a href="/page/TraceRecord.shtml">Lịch sử nuôi</a></li>
											</ul>
											<div class="tab-content boxed">
												<div class="clearfix" id="agent__sub">
													<h:form id="GameRecordForm">
														<a4j:region>
															<div class="filter__dashboard">
																<div class="row">
																	<div class="col-sm-8">
																		<div class="date__rangeinline frm__item">
																			<label for="" class="font-400 w-100 color-8e8071 fs-15">Thời gian từ</label>
																			<div class="row">
																				<div class="col-sm-6">
																					<div class="date__from datetime">
																						<h:inputText value="#{GameRecordBean.starttime}"
																									 id="dateFrom" styleClass="w-100 h-40" />
																						<span class="icon-calendar"></span>
																					</div>
																				</div>
																				<span class="totxt__date">Đến</span>
																				<div class="col-sm-6">
																					<div class="date__to datetime">
																						<h:inputText value="#{GameRecordBean.endtime}"
																									 id="dateTo" styleClass="w-100 h-40" />
																						<span class="icon-calendar"></span>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="frm__item">
																			<label for="" class="font-400 w-100 color-8e8071 fs-15">Trạng thái</label>
																			<div class="slect__box w-100">
																				<h:selectOneMenu styleClass="h-40 w-100"
																								 value="#{GameRecordBean.status}">
																					<f:selectItems value="#{GameRecordBean.statuslist}"></f:selectItems>
																				</h:selectOneMenu>
																				<span class="icon-keyboard_arrow_down"></span>
																			</div>
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="frm__item">
																			<label for="" class="font-400 w-100 color-8e8071 fs-15">Loại xổ số</label>
																			<div class="slect__box w-100">
																				<h:selectOneMenu styleClass="h-40 w-100"
																								 value="#{GameRecordBean.lotteryid}">
																					<f:selectItems value="#{GameRecordBean.lotterylist}"></f:selectItems>
																				</h:selectOneMenu>
																				<span class="icon-keyboard_arrow_down"></span>
																			</div>
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="frm__item">
																			<label for="" class="font-400 w-100 color-8e8071 fs-15">Mã số cược</label>
																			<h:inputText id="time02" value="#{GameRecordBean.betid}" styleClass="w-100 h-40"></h:inputText>
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="frm__item frm__btn">
																			<input type="button" value="Tìm kiếm" onclick="searchOpt();loadingSearch();" class="btn__primary h-40 lh-40 w--120 d-ib" />

																			<a4j:jsFunction name="searchOpt" status="normalStatus"
																							action="#{GameRecordBean.btnSearch}"
																							data="#{GameRecordBean.msg}"
																							oncomplete="searchfinish(data)" reRender="pgData">
																			</a4j:jsFunction>
																		</div>
																	</div>
																</div>
															</div>
														</a4j:region>

														<h:panelGroup id="pgData">
															<div class="tbl__record">
																<div class="wrap__tbl">
																	<table>
																		<tr class="title">
																			<td class="w-10"><span>Hội viên</span></td>
																			<td class="w-15"><span>Tên xổ số</span></td>
																			<td class="w-12"><span>Kiểu cược</span></td>
																			<td class="w-12"><span>Thời gian cược</span></td>
																			<td class="w-15"><span>Lượt xổ</span></td>
																			<td class="w-12"><span>Cược</span></td>
																			<td class="w-11"><span>Trúng</span></td>
																			<td class="w-10"><span>Trạng thái</span></td>
																			<td class="w-5"><span>Xem</span></td>
																		</tr>
																		<a4j:repeat value="#{GameRecordBean.reslist}" var="list"
																			id="dblist" rowKeyVar="keys">
																			<tr bgcolor="#f4f4f4">
																				<td>#{list.loginname}</td>
																				<td style="height: 34px;">#{list.lotteryname}</td>
																				<td>#{list.methodname}</td>
																				<td>#{list.inserttime.substring(0,5)} #{list.inserttime.substring(11,16)}</td>
																				<td>#{list.issue}</td>
																				<td align="right" style="padding-right: 5px;"><h:outputText
																						value="#{list.amount}" converter="MoneyConverter" />
																				</td>
																				<td align="right" style="padding-right: 5px;"><h:outputText
																						value="#{list.bonus}" converter="MoneyConverter" />
																				</td>
																				<td>
																					<h:outputText value="#{list.statusname}" styleClass="color-waitopenbonus" rendered="#{list.status==0?'true':'false'}" />
																					<h:outputText value="#{list.statusname}" styleClass="color-waitopenbonus" rendered="#{list.status==1?'true':'false'}" />
																					<h:outputText value="#{list.statusname}" styleClass="color-waitcalcubonus" rendered="#{list.status==2?'true':'false'}" />
																					<h:outputText value="#{list.statusname}" styleClass="color-truot" rendered="#{list.status==3?'true':'false'}" />
																					<h:outputText value="#{list.statusname}" styleClass="color-trung" rendered="#{list.status==4?'true':'false'}" />
																					<h:outputText value="#{list.statusname}" styleClass="color-huy" rendered="#{list.status==5?'true':'false'}" />
																					<h:outputText value="#{list.statusname}" styleClass="color-huy" rendered="#{list.status==6?'true':'false'}" />
																					<h:outputText value="#{list.statusname}" styleClass="color-huy" rendered="#{list.status==7?'true':'false'}" />
																				</td>
																				<td><a href="javascript:void(0);"
																					onclick="betRecordOpt('#{list.id}');return false;"
																					class="color-f49e1d fs-16 notification noti__center--top"> <span
																						class="icon__eye icons2"></span>
																					<span class="wrap__noti w--70">
																						<span class="wrap__noti--inner"> <span>Chi tiết</span></span>
																					</span>
																				</a></td>
																			</tr>
																		</a4j:repeat>
																	</table>
																</div>

																<div class="tbl__record--bottom">
																	<div class="tbl__pagi clearfix">
																		<h:panelGroup rendered="#{GameRecordBean.totalrecord==0?'false':'true'}">
																			<div class="pull-right pagi__wrap">
																				<a4j:commandLink
																					styleClass="#{GameRecordBean.curpage==1?'btn__disable':''}"
																					status="normalStatus"
																					action="#{GameRecordBean.firstPage}"
																					data="#{GameRecordBean.msg}"
																					title="Đầu tiên"
																					value="Đầu tiên" reRender="pgData" />
																				<a4j:commandLink
																					styleClass="#{GameRecordBean.curpage==1?'btn__disable':''}"
																					status="normalStatus"
																					action="#{GameRecordBean.proPage}"
																					data="#{GameRecordBean.msg}"
																					title="Trang trước"
																					value="Trang trước" reRender="pgData" />
																				<input type="text" class="pagi__iput"
																					value="#{GameRecordBean.curpage}"
																					onkeypress="if(pageKeyDown(this.value))return false;" />
																				<span class="fs-12 color-999 d-ib">của</span> <span
																					class="fs-12 color-999 d-ib mgR-5">#{GameRecordBean.totalpage}</span>
																				<a4j:commandLink
																					styleClass="#{GameRecordBean.curpage==GameRecordBean.totalpage?'btn__disable':''}"
																					status="normalStatus"
																					data="#{GameRecordBean.msg}"
																					title="Trang sau"
																					value="Trang sau"
																					action="#{GameRecordBean.nextPage}"
																					reRender="pgData" />
																				<a4j:commandLink
																					styleClass="#{GameRecordBean.curpage==GameRecordBean.totalpage?'btn__disable':''}"
																					status="normalStatus"
																					data="#{GameRecordBean.msg}"
																					title="Sau cùng"
																					value="Sau cùng"
																					action="#{GameRecordBean.lastPage}"
																					reRender="pgData" />
																				<span class="fs-12 color-999 d-ib mgR-5">Tổng
																					số tìm được: <span class="orange-color">#{GameRecordBean.totalrecord}</span>
																				</span>
																			</div>
																			<p class="fs-13">
																				Tổng tiền cược: <span class="color-red"><h:outputText
																						value="#{GameRecordBean.tamount}"
																						converter="MoneyConverter" /> </span>VND，Trúng：<span
																					class="color-red"><h:outputText
																						value="#{GameRecordBean.twin}"
																						converter="MoneyConverter" /> </span>VND
																			</p>
																		</h:panelGroup>
																	</div>
																</div>
															</div>
														</h:panelGroup>
													</h:form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<ui:include src="/templates/common/footer.xhtml" />

				</div>
			</div>
		</ui:define>
		<ui:define name="headJs">
			<script type="text/javascript" src="../js/lib/jquery-ui-1.11.0.min.js"></script>
			<script type="text/javascript" src="../js/lib/jquery-ui-timepicker-addon.min.js"></script>
			<script type="text/javascript">
				//<![CDATA[
				$(window).on('load', function() {
					$('.date__rangeinline').each(function() {
						var _this = $(this),
							$dateFrom = _this.find('.date__from input'),
							$dateTo = _this.find('.date__to input');
		
						$dateFrom.datetimepicker({
							timeFormat: 'HH:mm:ss',
							dateFormat: 'dd-mm-yy',
							timeText: 'Thời gian',
							hourText: 'Giờ',
							minuteText: 'Phút',
							secondText: 'Giây',
							currentText: 'Hôm nay',
							closeText: 'Hoàn thành',
							prevText: '<span class="icon-arrow_back"></span>',
							nextText: '<span class="icon-arrow_forward"></span>',
							monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
							dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
							onClose: function(dateText, inst) {
								if ($dateTo.val() != '') {
									var testStartDate = $dateFrom.datetimepicker('getDate');
									var testEndDate = $dateTo.datetimepicker('getDate');
									if (testStartDate > testEndDate)
										$dateTo.datetimepicker('setDate', testStartDate);
								}
								else {
									$dateTo.val(dateText);
								}
							},
							onSelect: function (selectedDateTime){
								$dateTo.datetimepicker('option', 'minDate', $dateFrom.datetimepicker('getDate') );
							}
						});
		
						$dateTo.datetimepicker({
							timeFormat: 'HH:mm:ss',
							dateFormat: 'dd-mm-yy',
							timeText: 'Thời gian',
							hourText: 'Giờ',
							minuteText: 'Phút',
							secondText: 'Giây',
							currentText: 'Hôm nay',
							closeText: 'Hoàn thành',
							prevText: '<span class="icon-arrow_back"></span>',
							nextText: '<span class="icon-arrow_forward"></span>',
							monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
							dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
							onClose: function(dateText, inst) {
								if ($dateFrom.val() != '') {
									var testStartDate = $dateFrom.datetimepicker('getDate');
									var testEndDate = $dateTo.datetimepicker('getDate');
									if (testStartDate > testEndDate)
										$dateFrom.datetimepicker('setDate', testEndDate);
								}
								else {
									$dateFrom.val(dateText);
								}
							},
							onSelect: function (selectedDateTime){
								$dateFrom.datetimepicker('option', 'maxDate', $dateTo.datetimepicker('getDate') );
							}
						});
					});
		    	});
				function betRecordOpt(sid) {
					_SCROLLINGJXF = "yes";
					layer.open({
						type : 2,
						title : 'Xem lịch sử cược',
						shadeClose : true,
						shade : 0.8,
						area : [ '900px', '650px' ],
						content : '/page/BetSubRecord.shtml?id=' + sid //iframe的url
					});
				}

				function pageKeyDown(num) {
					if (num.length > 0) {
						if (event.keyCode == 13) {
							pageKeyDownOPT(num);
						}
					}
				}
				function searchfinish(data) {
					layer.closeAll("loading");
					if (data) {
						alert(data);
					}
				}
				//]]>
			</script>
		</ui:define>
	</ui:composition>
</body>
</html>
