﻿<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport"
		content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,900&amp;subset=vietnamese"
		rel="stylesheet" />
	<title>Document</title>

	<link rel="stylesheet" href="../css/style.css" />
</head>

<body>
	<div id="agentHistoryDetail">
		<f:view>
			<h:form id="betRecordForm">
				<div class="popup__content">
					<div class="tbl__bder">
						<table>
							<tr>
								<td class="w-20">Thành Viên</td>
								<td class="w-30">#{BetRecordBean.betinfo.loginname}</td>
								<td class="w-20">Trạng Thái</td>
								<td class="w-30">
									<h:outputText value="#{BetRecordBean.betinfo.statusname}"
										styleClass="color-waitopenbonus"
										rendered="#{BetRecordBean.betinfo.status==0?'true':'false'}" />
									<h:outputText value="#{BetRecordBean.betinfo.statusname}"
										styleClass="color-waitopenbonus"
										rendered="#{BetRecordBean.betinfo.status==1?'true':'false'}" />
									<h:outputText value="#{BetRecordBean.betinfo.statusname}"
										styleClass="color-waitcalcubonus"
										rendered="#{BetRecordBean.betinfo.status==2?'true':'false'}" />
									<h:outputText value="#{BetRecordBean.betinfo.statusname}" styleClass="color-truot"
										rendered="#{BetRecordBean.betinfo.status==3?'true':'false'}" />
									<h:outputText value="#{BetRecordBean.betinfo.statusname}" styleClass="color-trung"
										rendered="#{BetRecordBean.betinfo.status==4?'true':'false'}" />
									<h:outputText value="#{BetRecordBean.betinfo.statusname}" styleClass="color-huy"
										rendered="#{BetRecordBean.betinfo.status==5?'true':'false'}" />
									<h:outputText value="#{BetRecordBean.betinfo.statusname}" styleClass="color-huy"
										rendered="#{BetRecordBean.betinfo.status==6?'true':'false'}" />
									<h:outputText value="#{BetRecordBean.betinfo.statusname}" styleClass="color-huy"
										rendered="#{BetRecordBean.betinfo.status==7?'true':'false'}" />
								</td>
							</tr>
							<tr>
								<td>Mã Cược</td>
								<td>#{BetRecordBean.betinfo.id}</td>
								<td>Thời Gian Cược</td>
								<td>#{BetRecordBean.betinfo.inserttime.substring(8,10)}#{BetRecordBean.betinfo.inserttime.substring(4,8)}#{BetRecordBean.betinfo.inserttime.substring(0,4)}
									#{BetRecordBean.betinfo.inserttime.substring(11,19)}</td>
							</tr>
							<tr>
								<td>Xổ Số</td>
								<td>#{BetRecordBean.betinfo.lotteryname}</td>
								<td>Tỉ lệ chiết khấu:</td>
								<td>
									<h:outputText converter="PercentConverter" value="#{BetRecordBean.betinfo.point}"
										rendered="#{BetRecordBean.betinfo.point==1?'false':'true'}" />
								</td>
							</tr>
							<tr>
								<td>Lượt Xổ</td>
								<td>#{BetRecordBean.betinfo.issue}</td>
								<td>Tổng số mua</td>
								<td>#{BetRecordBean.betinfo.betnumber}</td>
							</tr>
							<h:panelGroup
								rendered="#{BetRecordBean.betinfo.lotteryid != 96 and BetRecordBean.betinfo.lotteryid != 97 and BetRecordBean.betinfo.lotteryid != 90 and BetRecordBean.betinfo.lotteryid != 91 and BetRecordBean.betinfo.lotteryid != 92 and BetRecordBean.betinfo.lotteryid != 93 and BetRecordBean.betinfo.lotteryid != 94}">
								<tr>
									<td>Tóm tắt nội dung</td>
									<td colspan="3">
										<h:outputText rendered="#{BetRecordBean.betinfo.lotteryid&gt;82?'true':'false'}"
											value="#{BetRecordBean.betinfo.betcontent}" />
										<h:outputText
											rendered="#{BetRecordBean.betinfo.lotteryid&gt;50&amp;&amp;BetRecordBean.betinfo.lotteryid&lt;83?'true':'false'}"
											value="" />
										<h:outputText rendered="#{BetRecordBean.betinfo.lotteryid&gt;50?'false':'true'}"
											value="#{BetRecordBean.betinfo.betcontent}" />
										<h:outputText style="color:blue;" converter="ConverterBetPosition"
											value="#{BetRecordBean.betinfo.position}" />
									</td>
								</tr>
							</h:panelGroup>
							<tr>
								<td>Chi Tiết Chọn</td>
								<td colspan="3">
									<div class="frm__item">
										<h:panelGroup
											rendered="#{BetRecordBean.betinfo.lotteryid == 90 or BetRecordBean.betinfo.lotteryid == 91 or BetRecordBean.betinfo.lotteryid == 92 or BetRecordBean.betinfo.lotteryid == 93 or BetRecordBean.betinfo.lotteryid == 94}">
											<div class="detailHisXD"></div>
										</h:panelGroup>
										<h:panelGroup
											rendered="#{BetRecordBean.betinfo.lotteryid != 90 and BetRecordBean.betinfo.lotteryid != 91 and BetRecordBean.betinfo.lotteryid != 92 and BetRecordBean.betinfo.lotteryid != 93 and BetRecordBean.betinfo.lotteryid != 94}">
											<textarea class="ui-text w-100 fs-14 letter-4" rows="2" readonly="readonly"
												id="detail-code">
												<h:outputText value="#{BetRecordBean.betinfo.codes}" converter="ConverterBetContent" />
											</textarea>
										</h:panelGroup>
									</div>
								</td>
							</tr>
							<tr>
								<td>Kết Quả</td>
								<h:panelGroup
									rendered="#{BetRecordBean.betinfo.lotteryid==96 or BetRecordBean.betinfo.lotteryid==97 or BetRecordBean.betinfo.lotteryid==60 or BetRecordBean.betinfo.lotteryid==80 or BetRecordBean.betinfo.lotteryid==90 or BetRecordBean.betinfo.lotteryid==91 or BetRecordBean.betinfo.lotteryid==92 or BetRecordBean.betinfo.lotteryid == 93 or BetRecordBean.betinfo.lotteryid == 94 ? 'true' : 'false'}">
									<td colspan="3">
										<div class="frm__item">
											<h:panelGroup
												rendered="#{BetRecordBean.betinfo.lotteryid == 90 or BetRecordBean.betinfo.lotteryid == 91 or BetRecordBean.betinfo.lotteryid == 92 or BetRecordBean.betinfo.lotteryid == 93 or BetRecordBean.betinfo.lotteryid == 94}">
												<div class="resultHisXD"></div>
											</h:panelGroup>
											<h:panelGroup
												rendered="#{BetRecordBean.betinfo.lotteryid == 60 or BetRecordBean.betinfo.lotteryid == 80}">
												<textarea class="ui-text w-100 fs-14 letter-4" rows="2"
													readonly="readonly">
													<h:outputText value="#{BetRecordBean.betinfo.winnumber}" />
												</textarea>
											</h:panelGroup>
											<h:panelGroup
												rendered="#{BetRecordBean.betinfo.lotteryid==96 or BetRecordBean.betinfo.lotteryid==97}">
												<p id="text-result" class="ui-text w-100 fs-14 letter-4" rows="2"
													readonly="readonly">
													<h:outputText value="#{BetRecordBean.betinfo.winnumber}" />
												</p>
											</h:panelGroup>
										</div>
									</td>
								</h:panelGroup>
								<h:panelGroup
									rendered="#{BetRecordBean.betinfo.lotteryid!=96 and BetRecordBean.betinfo.lotteryid!=97 and BetRecordBean.betinfo.lotteryid!=60 and BetRecordBean.betinfo.lotteryid!=80 and BetRecordBean.betinfo.lotteryid!=90 and BetRecordBean.betinfo.lotteryid!=91 and BetRecordBean.betinfo.lotteryid!=92 and BetRecordBean.betinfo.lotteryid != 93 and BetRecordBean.betinfo.lotteryid != 94 ? 'true' : 'false'}">
									<td colspan="3" class="review__result">
										<div class="row">
											<div class="col-sm-8">
												<table>
													<tbody>
														<tr class="result__special">
															<td class="w-20">Giải ĐB</td>
															<td>#{BetRecordBean.betinfo.lotteryWinItem.giaiDacBiet}</td>
														</tr>
														<tr>
															<td>Giải Nhất</td>
															<td>#{BetRecordBean.betinfo.lotteryWinItem.giaiNhat}</td>
														</tr>
														<tr>
															<td>Giải nhì</td>
															<td>#{BetRecordBean.betinfo.lotteryWinItem.giaiNhi}</td>
														</tr>
														<tr>
															<td>Giải ba</td>
															<td>#{BetRecordBean.betinfo.lotteryWinItem.giaiBa}</td>
														</tr>
														<tr>
															<td>Giải tư</td>
															<td>#{BetRecordBean.betinfo.lotteryWinItem.giaiTu}</td>
														</tr>
														<tr>
															<td>Giải năm</td>
															<td>#{BetRecordBean.betinfo.lotteryWinItem.giaiNam}</td>
														</tr>
														<tr>
															<td>Giải sáu</td>
															<td>#{BetRecordBean.betinfo.lotteryWinItem.giaiSau}</td>
														</tr>
														<tr>
															<td>Giải bảy</td>
															<td>#{BetRecordBean.betinfo.lotteryWinItem.giaiBay}</td>
														</tr>
														<tr>
															<td>Giải tám</td>
															<td>#{BetRecordBean.betinfo.lotteryWinItem.giaiTam}</td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="col-sm-4 tbl__dauduoi">
												<table id="firstLastSub">
													<tr class="result__title">
														<td>Đầu</td>
														<td>Đuôi</td>
													</tr>
													<tr>
														<td>0</td>
														<td></td>
													</tr>
													<tr>
														<td>1</td>
														<td></td>
													</tr>
													<tr>
														<td>2</td>
														<td></td>
													</tr>
													<tr>
														<td>3</td>
														<td></td>
													</tr>
													<tr>
														<td>4</td>
														<td></td>
													</tr>
													<tr>
														<td>5</td>
														<td></td>
													</tr>
													<tr>
														<td>6</td>
														<td></td>
													</tr>
													<tr>
														<td>7</td>
														<td></td>
													</tr>
													<tr>
														<td>8</td>
														<td></td>
													</tr>
													<tr>
														<td>9</td>
														<td></td>
													</tr>
												</table>
											</div>
										</div>
									</td>
								</h:panelGroup>
							</tr>
							<tr>
								<td>Cấp Số Nhân</td>
								<td>#{BetRecordBean.betinfo.multiple} Lần</td>
								<td>Tiền Cược</td>
								<td>
									<h:outputText value="#{BetRecordBean.betinfo.amount}">
										<f:convertNumber pattern="###,###" type="currency" />
									</h:outputText>
									VND
								</td>
							</tr>
							<tr>
								<td>Lần Thắng</td>
								<td>#{BetRecordBean.betinfo.wintimes}</td>
								<td>Tiền Thưởng</td>
								<td>
									<h:outputText value="#{BetRecordBean.betinfo.bonus}"
										rendered="#{BetRecordBean.betinfo.bonus != null}">
										<f:convertNumber pattern="###,###" type="currency" />
									</h:outputText>
									VND
								</td>
							</tr>
							<tr>
								<td>Nuôi</td>
								<td>
									<h:outputText value="#{BetRecordBean.betinfo.source==1?'Có':'Không'}" />
								</td>
								<td>Mã Nuôi</td>
								<td>#{BetRecordBean.betinfo.traceid}</td>
							</tr>
							<tr>
							</tr>
						</table>
						<div class="mgT-20 text-center">
							<h:panelGroup
								rendered="#{BetRecordBean.curloginname==BetRecordBean.betinfo.loginname?'true':'false'}">
								<h:panelGroup rendered="#{BetRecordBean.betinfo.status==0?'true':'false'}">
									<button type="button" class="btn__primary pdT-10 pdB-10 w--100"
										onclick="confirmCancelBet()">Hủy cược</button>
									<a4j:region>
										<a4j:jsFunction name="cancelBet" limitToList="true" ajaxSingle="true"
											status="normalStatus" oncomplete="saveFinish(data);"
											data="#{GameRecordBean.msg}" action="#{GameRecordBean.cancelBet}">
											<f:param value="#{BetRecordBean.betinfo.id}" name="id" />
										</a4j:jsFunction>
									</a4j:region>
								</h:panelGroup>
							</h:panelGroup>
							<button class="btn__primary pdT-10 pdB-10 w--100" onclick="closePopup()">Đóng</button>
						</div>
					</div>
				</div>
			</h:form>
		</f:view>
	</div>

	<script type="text/javascript" src="../js/build/lib.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/game/lt-result.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/build/lt.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/build/common.min.js"></script>

	<script type="text/javascript">
		//<![CDATA[
		$(window).on('load', function () {
			if (Number('#{BetRecordBean.betinfo.lotteryid}') === 90 || Number('#{BetRecordBean.betinfo.lotteryid}') === 91) {
				var winXD = '#{BetRecordBean.betinfo.winnumber}';
				var arrWinVi = winXD.split('|').length <= 1 ? winXD.split('') : winXD.split('|');
				var str = '';
				for (var i = 0; i < arrWinVi.length; i++) {
					str += "<span class='vi bet-vi-color" + arrWinVi[i] + "'></span>";
				}
				$('.resultHisXD').html(str);
				if (checkType === 'string') {
					var detailXDChon = '#{BetRecordBean.betinfo.codes}';
					var strBetContent = detailXDChon.toLowerCase().replace(/\b]bet/g, '').replace(/[\[]/g, '')
						.replace(/\bprize/g, "Thắng")
						.replace(/\bodd/g, "Lẻ")
						.replace(/\beven/g, "Chẵn")
						.replace(/\bwhite/g, "4 Trắng")
						.replace(/\bred/g, "4 Đỏ")
						.replace(/\b3white1red/g, "3Trang1Do")
						.replace(/\b1white3red/g, "1Trang3Do");
					strBetContent = strBetContent.split('&&');
					var str = '<div>';
					for (var i = 0; i < strBetContent.length; i++) {
						var item = strBetContent[i];
						if (item !== "") {
							str += '<p style="margin: 3px 0;">' + item + '</p>';
						}
					}
					$('.detailHisXD').html(str + '</div>');
				}
			}
			if (Number('#{BetRecordBean.betinfo.lotteryid}') === 92 || Number('#{BetRecordBean.betinfo.lotteryid}') === 93) {
				var winXD = '#{BetRecordBean.betinfo.winnumber}';
				var arrWinVi = winXD.split('|').length <= 1 ? winXD.split('') : winXD.split('|');
				var str = '';
				for (var i = 0; i < arrWinVi.length; i++) {
					var cls = '';
					if (Number(arrWinVi[i]) === 1) {
						cls = 'nai';
					} else if (Number(arrWinVi[i]) === 2) {
						cls = 'cua';
					} else if (Number(arrWinVi[i]) === 3) {
						cls = 'ga';
					} else if (Number(arrWinVi[i]) === 4) {
						cls = 'ca';
					} else if (Number(arrWinVi[i]) === 5) {
						cls = 'bau';
					} else if (Number(arrWinVi[i]) === 6) {
						cls = 'tom';
					}
					str += '<span class="iconBauCua result-' + cls + '"></span>';
				}
				$('.resultHisXD').html(str);

				var detailXDChon = '#{BetRecordBean.betinfo.codes}';
				var strBetContent = detailXDChon.toLowerCase().replace(/\b]bet/g, '').replace(/[\[]/g, '')
					.replace(/prize/g, "Thắng")
					.replace("nai", "Nai")
					.replace("cua", "Cua")
					.replace("ga", "Gà")
					.replace("ca", "Cá")
					.replace("bau", "Bầu")
					.replace("tom", "Tôm");
				strBetContent = strBetContent.split('&&');
				var str = '<div>';
				for (var i = 0; i < strBetContent.length; i++) {
					var item = strBetContent[i];
					if (item !== "") {
						str += '<p style="margin: 3px 0;">' + item + '</p>';
					}
				}
				$('.detailHisXD').html(str + '</div>');
			}
			if (Number('#{BetRecordBean.betinfo.lotteryid}') === 94) {
				var winXD = '#{BetRecordBean.betinfo.winnumber}';
				var arrWinVi = winXD.split('|').length <= 1 ? winXD.split('') : winXD.split('|');
				var str = '';
				for (var i = 0; i < arrWinVi.length; i++) {
					var cls = '';
					if (arrWinVi[i] === 'paper_left') {
						cls = 'user-left-nap';
					} else if (arrWinVi[i] === 'rock_left') {
						cls = 'user-left-bua';
					} else if (arrWinVi[i] === 'sciss_left') {
						cls = 'user-left-keo';
					} else if (arrWinVi[i] === 'paper_right') {
						cls = 'user-right-nap';
					} else if (arrWinVi[i] === 'rock_right') {
						cls = 'user-right-bua';
					} else if (arrWinVi[i] === 'sciss_right') {
						cls = 'user-right-keo';
					} else if (arrWinVi[i] === 'left_win') {
						cls = 'user-left-win';
					} else if (arrWinVi[i] === 'right_win') {
						cls = 'user-right-win';
					} else if (arrWinVi[i] === 'draw') {
						cls = 'user-hoa';
					}
					str += '<span class="iconOanTuTi ' + cls + '"></span>';
				}
				$('.resultHisXD').html(str);

				var detailXDChon = '#{BetRecordBean.betinfo.codes}';
				var strBetContent = detailXDChon.toLowerCase().replace(/\b]bet/g, '').replace(/[\[]/g, '')
					.replace(/prize/g, "<strong>Thắng</strong>")
					.replace("sciss_left", "<strong>Kéo Trái</strong>")
					.replace("rock_left", "<strong>Búa Trái</strong>")
					.replace("paper_left", "<strong>Bao Trái</strong>")
					.replace("sciss_right", "<strong>Kéo Phải</strong>")
					.replace("rock_right", "<strong>Búa Phải</strong>")
					.replace("paper_right", "<strong>Bao Phải</strong>")
					.replace("left_win", "<strong>Trái Thắng</strong>")
					.replace("right_win", "<strong>Phải Thắng</strong>")
					.replace("draw", "<strong>Hòa</strong>");
				strBetContent = strBetContent.split('&&');
				var str = '<div>';
				for (var i = 0; i < strBetContent.length; i++) {
					var item = strBetContent[i];
					if (item !== "") {
						str += '<p style="margin: 3px 0;">' + item + '</p>';
					}
				}
				$('.detailHisXD').html(str + '</div>');
			}
			if (Number('#{BetRecordBean.betinfo.lotteryid}') === 96 || Number('#{BetRecordBean.betinfo.lotteryid}') === 97) {
				var detailCode = $('#detail-code').val();
				var newText = detailCode.split("【").join("\n【");
				$('#detail-code').html(newText);
				var strNumber = $('#text-result').text();
				strNumber = strNumber.replace('&', '|');
				strNumber = strNumber.split("|");
				var numSepc = strNumber[6];
				strNumber.unshift(numSepc);
				strNumber.pop();
				var html =
					"<span class='number-" + strNumber[0].replace('\n', '') + "'>" + strNumber[0].replace('\n', '') + "</span>"
					+ "<span class='number-" + strNumber[1] + "'>" + strNumber[1] + "</span>"
					+ "<span class='number-" + strNumber[2] + "'>" + strNumber[2] + "</span>"
					+ "<span class='number-" + strNumber[3] + "'>" + strNumber[3] + "</span>"
					+ "<span class='number-" + strNumber[4] + "'>" + strNumber[4] + "</span>"
					+ "<span class='number-" + strNumber[5] + "'>" + strNumber[5] + "</span>"
					+ "<span class='number-" + strNumber[6] + "'>" + strNumber[6] + "</span>"
					;
				$('#text-result').html(html);
			}
			displayFirstLastNum('#{BetRecordBean.betinfo.winnumber}', 'firstLastSub');
		});
		function replaceAll(string, search, replacement, ) {
			return string.replace(new RegExp(search, 'g'), replacement);
		};
		function confirmCancelBet() {
			parent.layer.confirm('Bạn có chắc muốn hủy cược ?', {
				btn: ['Có', 'Không'],
				area: ['350px'],
				icon: 3
			}, function () { // Ok button
				parent.layer.load(2, {
					shade: 0.5
				});
				cancelBet();
			}, function () { // Cancel button

			});
		}
		function saveFinish(data) {
			if (data == undefined) {
				parent.layer.msg("Hết thời gian hủy cược!", {
					icon: 2,
					time: 2000
				}, function () {
					parent.layer.closeAll();
				})
			}
			if (data == 'success') {
				objTemp.getHistoryByID(200);
				showSuccessAlert("Hủy cược thành công!", 2000, [function () {
					parent.layer.closeAll();
				}]);
				//closewin();
			} else {
				showErrorAlert(data);
			}
		}
    	//]]>
	</script>
</body>

</html>