<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
	<ui:composition template="/templates/common/layout.xhtml">
		<ui:define name="headCss">
			<link rel="stylesheet" href="../css/jquery-ui.css" />
			<link rel="stylesheet"
				href="../css/jquery-ui-timepicker-addon.min.css" />
		</ui:define>
		<ui:define name="content">
			<div id="container">
				<!-- InstanceBeginEditable name="EditRegion2" -->
				<div class="dashboard">
					<div class="dashboard__wrapper">
						<div class="dashboard__wrapper--inner clearfix">
							<ui:include src="/templates/common/leftMenu.xhtml" />
							<div class="dashboard__mana">
								<div class="dashboard__mana--inner">
									<div class="tabs_framed">
										<div class="inner">
											<ul class="tabs clearfix">
												<li><a href="/page/ReportZb.shtml">Biến động số dư</a></li>
												<li class="active"><a href="/page/BonusReport.shtml">Chi tiết tặng quà</a></li>
												<li><a href="/page/BetRecord.shtml">Lịch sử cược</a></li>
												<li><a href="/page/TraceRecord.shtml">Lịch sử nuôi</a></li>
											</ul>
											<div class="tab-content boxed">
												<f:view>
													<h:form id="GameRecordForm">
														<div class="filter__dashboard">
															<div class="row">
																<div class="col-sm-8">
																	<div class="frm__item date__rangeinline">
																		<label for="" class="font-400 w-100 color-8e8071 fs-15">Thời gian từ</label>
																		<div class="row">
																			<div class="col-sm-6">
																				<div class="date__from datetime">
																					<h:inputText value="#{BonusReportBean.stime}" styleClass="w-100 h-40" />
																					<span class="icon-calendar"></span>
																				</div>
																			</div>
																			<span class="totxt__date">Đến</span>
																			<div class="col-sm-6">
																				<div class="date__to datetime">
																					<h:inputText value="#{BonusReportBean.etime}" styleClass="w-100 h-40" />
																					<span class="icon-calendar"></span>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-4">
																	<div class="frm__item">
																		<label for="" class="font-400 w-100 color-8e8071 fs-15">Tên tài khoản</label>
																		<h:inputText value="#{BonusReportBean.loginname}" styleClass="w-100 h-40"></h:inputText>
																	</div>
																</div>
																<div class="col-sm-4">
																	<div class="frm__item">
																		<label for="" class="font-400 w-100 color-8e8071 fs-15">Loại hình</label>
																		<div class="slect__box w-100">
																			<h:selectOneMenu styleClass="h-40 w-100" value="#{BonusReportBean.type}">
																				<f:selectItem itemValue="-2" itemLabel="Toàn bộ"></f:selectItem>
																				<f:selectItem itemValue="13" itemLabel="Khuyến mãi từ LOTO188"></f:selectItem>
																				<f:selectItem itemValue="17" itemLabel="Cấp trên [ nạp tiền ]"></f:selectItem>
																				<f:selectItem itemValue="10" itemLabel="[ nạp tiền ] Cấp dưới"></f:selectItem>
																				<f:selectItem itemValue="53" itemLabel="[ khuyến mãi ] của tôi"></f:selectItem>
																				<f:selectItem itemValue="52" itemLabel="[ hoạt động ] phát thưởng"></f:selectItem>
																				<f:selectItem itemValue="54" itemLabel="[ hoa hồng ] của tôi"></f:selectItem>
																				<f:selectItem itemValue="51" itemLabel="Phát thưởng [ hoa hồng ]"></f:selectItem>
																			</h:selectOneMenu>
																			<span class="icon-keyboard_arrow_down"></span>
																		</div>
																	</div>
																</div>
																<div class="col-sm-4">
																	<div class="frm__item frm__btn">
																		<a4j:commandLink value="Tìm kiếm" onclick="loadingSearch()" status="normalStatus" styleClass="btn__primary lh-40 w--120 h-40 d-ib" action="#{BonusReportBean.bntSearch}" reRender="pgData" data="#{BonusReportBean.msg}" oncomplete="searchfinish(data)" />
																	</div>
																</div>
															</div>
														</div>

														<div class="tbl__record">
															<h:panelGroup id="pgData">
																<div class="wrap__tbl">
																	<table>
																		<tr class="title">
																			<td class="w-15"><span>Thời gian</span></td>
																			<td class="w-15"><span>Tên tài khoản</span></td>
																			<td class="w-20"><span>Loại hình</span></td>
																			<td class="w-15"><span>Thu nhập</span></td>
																			<td class="w-15"><span>Chi</span></td>
																			<td class="w-20"><span>Ghi chú</span></td>
																		</tr>
																		<a4j:repeat value="#{BonusReportBean.reslist}" var="list" id="dblist" rowKeyVar="keys">
																			<tr>
																				<td class="w-17"><span>#{list.opttime.substring(8,10)}#{list.opttime.substring(4,8)}#{list.opttime.substring(0,4)} #{list.opttime.substring(11,19)}</span></td>
																				<td class="w-12"><span>#{list.loginname}</span></td>
																				<td class="w-13">
																					<span>
																						<h:outputText value="Khuyến mãi từ loto188" rendered="#{list.opttype==13?true:false}" />
																						<h:outputText value="Cấp trên [nạp tiền]" rendered="#{list.opttype==17?true:false}" />
																						<h:outputText value="Cấp dưới [nạp tiền]" rendered="#{list.opttype==10?true:false}" />
																						<h:outputText value="[Hoạt động] của tôi" rendered="#{list.opttype==53?true:false}" />
																						<h:outputText value="[Hoạt động] phát thưởng" rendered="#{list.opttype==52?true:false}" />
																						<h:outputText value="[Hoa hồng] của tôi" rendered="#{list.opttype==54?true:false}" />
																						<h:outputText value="Phát thưởng [Hoa hồng]" rendered="#{list.opttype==51?true:false}" />
																					</span>
																				</td>
																				<td class="w-15"><span><h:outputText value="#{list.income}" converter="MoneyConverter"/></span></td>
																				<td class="w-7"><span><h:outputText value="#{list.pay}" converter="MoneyConverter"/></span></td>
																				<td class="w-8"><span>#{list.remark}</span></td>
																			</tr>
																		</a4j:repeat>
																	</table>
																</div>

																<div class="tbl__record--bottom">
																	<div class="tbl__pagi clearfix">
																		<div class="pull-right pagi__wrap">
																			<a4j:region>
																				<h:panelGroup rendered="#{BonusReportBean.totalrecord==0?'false':'true'}">
																					<a4j:commandLink styleClass="#{BonusReportBean.curpage==1?'btn__disable':''}" status="normalStatus" action="#{BonusReportBean.firstPage}" data="#{BonusReportBean.msg}" reRender="pgData" title="Đầu tiên" value="Đầu tiên" />
																					<a4j:commandLink styleClass="#{BonusReportBean.curpage==1?'btn__disable':''}" status="normalStatus" action="#{BonusReportBean.proPage}" data="#{BonusReportBean.msg}" reRender="pgData" title="Trang trước" value="Trang trước" />
																					<input type="text" class="pagi__iput" value="#{BonusReportBean.curpage}" onkeypress="if(pageKeyDown(this.value))return false;" />
																					<span class="fs-12 color-999 d-ib">của</span>
																					<span class="fs-12 color-999 d-ib mgR-5"><h:outputText value="of #{BonusReportBean.totalpage}" /></span>
																					<a4j:commandLink styleClass="#{BonusReportBean.curpage==BonusReportBean.totalpage?'btn__disable':''}" status="normalStatus" data="#{BonusReportBean.msg}" reRender="pgData" title="Trang sau" value="Trang sau" action="#{BonusReportBean.nextPage}" />
																					<a4j:commandLink styleClass="#{BonusReportBean.curpage==BonusReportBean.totalpage?'btn__disable':''}" status="normalStatus" data="#{BonusReportBean.msg}" reRender="pgData" title="Sau cùng" value="Sau cùng" action="#{BonusReportBean.lastPage}" />
																					<span class="fs-12 color-999 d-ib mgR-5">Tổng số： <span class="orange-color">#{BonusReportBean.totalrecord}</span></span>
																				</h:panelGroup>
																			</a4j:region>
																		</div>
																	</div>
																</div>
																<a4j:region>
																	<a4j:jsFunction name="pageKeyDownOPT" status="normalStatus" action="#{BonusReportBean.inputPage}" data="#{BonusReportBean.msg}" oncomplete="searchfinish(data)" reRender="pgData">
																		<f:param name="num"/>
																	</a4j:jsFunction>
																</a4j:region>
															</h:panelGroup>
														</div>
													</h:form>
												</f:view>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<ui:include src="/templates/common/footer.xhtml" />

				</div>
			</div>
		</ui:define>
		<ui:define name="headJs">
			<script type="text/javascript" src="../js/lib/jquery-ui-1.11.0.min.js"></script>
			<script type="text/javascript" src="../js/lib/jquery-ui-timepicker-addon.min.js"></script>
			<script type="text/javascript">
				//<![CDATA[
			 	$(window).on('load', function() {
					$('.date__rangeinline').each(function() {
						var _this = $(this),
							$dateFrom = _this.find('.date__from input'),
							$dateTo = _this.find('.date__to input');
		
						$dateFrom.datetimepicker({
							showTimepicker: false,
							dateFormat: 'dd-mm-yy',
							currentText: 'Hôm nay',
							closeText: 'Hoàn thành',
							prevText: '<span class="icon-arrow_back"></span>',
							nextText: '<span class="icon-arrow_forward"></span>',
							monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
							dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
							onClose: function(dateText, inst) {
								if ($dateTo.val() != '') {
									var testStartDate = $dateFrom.datetimepicker('getDate');
									var testEndDate = $dateTo.datetimepicker('getDate');
									if (testStartDate > testEndDate)
										$dateTo.datetimepicker('setDate', testStartDate);
								}
								else {
									$dateTo.val(dateText);
								}
							},
							onSelect: function (selectedDateTime){
								$dateTo.datetimepicker('option', 'minDate', $dateFrom.datetimepicker('getDate') );
							}
						});
		
						$dateTo.datetimepicker({
							showTimepicker: false,
							dateFormat: 'dd-mm-yy',
							currentText: 'Hôm nay',
							closeText: 'Hoàn thành',
							prevText: '<span class="icon-arrow_back"></span>',
							nextText: '<span class="icon-arrow_forward"></span>',
							monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
							dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
							onClose: function(dateText, inst) {
								if ($dateFrom.val() != '') {
									var testStartDate = $dateFrom.datetimepicker('getDate');
									var testEndDate = $dateTo.datetimepicker('getDate');
									if (testStartDate > testEndDate)
										$dateFrom.datetimepicker('setDate', testEndDate);
								}
								else {
									$dateFrom.val(dateText);
								}
							},
							onSelect: function (selectedDateTime){
								$dateFrom.datetimepicker('option', 'maxDate', $dateTo.datetimepicker('getDate') );
							}
						});
					});
		    		});
			 	function searchfinish(data){
			 		layer.closeAll("loading");
					if(data){
						showErrorAlert(data);
					}else{
						window.location.reload();
					}
				}
				//]]>
			</script>
		</ui:define>
	</ui:composition>
</body>
</html>
