﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
<ui:composition template="/templates/common/layout.xhtml">
	<ui:define name="headCss">
	</ui:define>
	<ui:define name="content">
		<div id="container">
			<!-- InstanceBeginEditable name="EditRegion2" -->
			<div class="dashboard">
				<div class="dashboard__wrapper">
					<div class="dashboard__wrapper--inner clearfix">
						<ui:include src="/templates/common/leftMenu.xhtml" />
						<div class="dashboard__mana">
							<div class="dashboard__mana--inner">
								<div class="tabs_framed">
									<div class="inner">
										<ul class="tabs clearfix">
											<li class="active"><a href="/page/DWDeposit.shtml">Nạp tiền</a></li>
											<li><a href="/page/DWDepositRecord.shtml">Lịch sử nạp tiền</a></li>
											<li><a href="/page/DWWithDrawl.shtml">Rút tiền</a></li>
											<li><a href="/page/DWWithDrawlRecord.shtml">Lịch sử rút tiền</a></li>
											<li><a href="/page/RechargeInstructions.shtml">Hướng dẫn nạp tiền</a></li>
										</ul>

										<div class="tab-content boxed">
											<f:view>
												<div class="payment__deposit">
													<div class="tabs__sub tabs__sub--payment">
														<div class="i-ib">
															<div>
																<input type="hidden" id="usertype" value="#{LoginBean.user.usertype}" />
																<p class="lh-40 fs-16 w--170 text-right d-ib ver-t mgR-20">Phương thức nạp tiền:</p>
																<div class="payment__colright">
																	<table>
																		<tr>
																			<td>
																				<div class="tabs__link">
																					<ul class="clearfix">
																						<a4j:repeat value="#{DepositBean.bankcardResults}" var="list" rowKeyVar="keys">
																							<li class="#{keys==0?'active':''}">
																								<a href="#tab#{keys}" role="tab" data-toggle="tab">#{list.tab}</a>
																							</li>
																						</a4j:repeat>
																					</ul>
																				</div>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				<div class="tab-content">
																					<a4j:repeat value="#{DepositBean.bankcardResults}" var="arr" rowKeyVar="keys">
																						<h:panelGroup rendered="#{arr.tab == 'Chuyển khoản ngân hàng'?'true':'false'}">
																							<div class="#{keys==0?'tab-pane fade in active':'tab-pane fade'}" id="tab#{keys}">
																								<div class="payment__note">
																									<p><span class="color-red d-ib mgR-5">*</span>Quý khách vui lòng lên trang LOTO188 <span class="atentionNote">lấy số tài khoản mới nhất trước mỗi lần nạp tiền</span>. Trong trường hợp quý khách <span class="atentionNote">chuyển tiền vào tài khoản không có trên trang</span> thì sẽ không được cập nhật tiền nạp. LOTO188 hoàn toàn không có trách nhiệm đối với các trường hợp này.</p>
																									<p><span class="color-red d-ib mgR-5">*</span>Nếu chuyển khoản qua hình thức ngân hàng trực tuyến, vui lòng kiểm tra các thông tin sau trên tài khoản của Quý Khách:</p>
																									<ul>
																										<li>Tài khoản đã kích hoạt các chức năng thanh toán trực tuyến.</li>
																										<li>Tài khoản vẫn còn đủ số dư hay đã quá hạn mức chuyển tiền.</li>
																										<li>Vui lòng không làm mới trang web trong quá trình thực hiện giao dịch.</li>
																									</ul>
																									<p><span class="color-red d-ib mgR-5">*</span>Vui lòng chọn chuyển khoản nhanh trong trường hợp quý khách chuyển khoản liên ngân hàng để thời gian xử lý được nhanh hơn. </p>
																									<p><span class="color-red d-ib mgR-5">*</span>Vui lòng ghi chú lại số lệnh giao dịch/số bút toán của ngân hàng, ảnh chụp màn hình giao dịch thành công, hoặc hóa đơn nộp tiền tại quầy để kiểm tra khi cần thiết.</p>
																								</div>
																								<div class="logo__payment">
																									<a4j:repeat value="#{arr.items}" var="list" rowKeyVar="keys">
																										<label class="r__c--emu r__c--emu13x13">
																											<input type="hidden" id="#{list.id}" name="url" value="#{list.address}" />
																											<div class="r__c--ui">
																												<input class="selectMethodDeposit" type="radio" data-methodbank="#{list.remark}" name="depositType" value="#{list.id}"/>
																												<span class="check"><span class="checked"></span></span>
																												<div class="wrap__logo">
																													<div><img src="/images/bank/#{list.icon}.gif?#{startup.time}" alt="#{list.icon}"/></div>
																													<span class="tick"></span>
																													<span class="icon-check"></span>
																												</div>
																											</div>
																										</label>
																									</a4j:repeat>
																								</div>
																							</div>
																						</h:panelGroup>
																						<h:panelGroup rendered="#{arr.tab == 'Thẻ cào'?'true':'false'}">
																							<div class="#{keys==0?'tab-pane fade in active':'tab-pane fade'}" id="tab#{keys}">
																								<div class="logo__payment">
																									<a4j:repeat value="#{arr.items}" var="list" rowKeyVar="keys">
																										<label class="r__c--emu r__c--emu13x13">
																											<input type="hidden" id="#{list.id}" name="url" value="#{list.address}" />
																											<div class="r__c--ui">
																												<input class="selectMethodDeposit" type="radio" data-methodbank="#{list.remark}" name="depositType" value="#{list.id}" />
																												<span class="check">
																															<span class="checked"></span>
																														</span>
																												<div class="wrap__logo">
																													<div class="w-100"><img src="/images/mobile/#{list.icon}.png?#{startup.time}" alt=""/></div>
																													<span class="tick"></span>
																													<span class="icon-check"></span>
																												</div>
																											</div>
																										</label>
																									</a4j:repeat>
																								</div>
																							</div>
																						</h:panelGroup>
																						
																						<h:panelGroup rendered="#{arr.tab == 'Chuyển khoản nhanh' ? 'true' : 'false'}">
																							<div class="#{keys== 0 ? 'tab-pane fade in active' : 'tab-pane fade'}" id="tab#{keys}">
																								<div class="tabs__link">
																									<ul class="clearfix">
																										<a4j:repeat value="#{DepositBean.bankcardOnlineResults}" var="list" rowKeyVar="keys">
																											<li class="#{keys == 0 ? 'active' : ''}">
																												<a href="#subTab#{keys}" role="tab" data-toggle="tab" data-id-tab="#{list.tab}">#{list.tab}</a>
																											</li>
																										</a4j:repeat>
																									</ul>
																								</div>

																								<div class="tab-content">
																									<a4j:repeat value="#{DepositBean.bankcardOnlineResults}" var="list" rowKeyVar="keys">
																										<div class="tab-pane fade #{keys == 0 ? 'in active' : ''}" id="subTab#{keys}">
																											<h:panelGroup rendered="#{list.tab == 'ATM Online' ? 'true' : 'false'}">
																												<div class="payment__note">
																													<p><span class="color-red d-ib mgR-5">*</span>Quý khách vui lòng nhập số trên thẻ ATM và kiểm tra các thông tin sau trên thẻ của quý khách.</p>
																													<ul>
																														<li>Thẻ ATM là thẻ ATM nội địa.</li>
																														<li>Đã kích hoạt chức năng thanh toán trực tuyến.</li>
																														<li>Vui lòng không làm mới trang web trong quá trình thực hiện giao dịch.</li>
																													</ul>
																												</div>
																											</h:panelGroup>
																											<h:panelGroup rendered="#{list.tab == 'QR Code' ? 'true' : 'false'}">
																												<div class="payment__note">
																													<p><span class="color-red d-ib mgR-5">*</span>Để giao dịch thành công ,vui lòng kiểm tra các thông tin sau trên tài khoản của Quý Khách:</p>
																													<ul>
																														<li>Tài khoản đã kích hoạt các chức năng thanh toán trực tuyến.</li>
																														<li>Tài khoản vẫn còn đủ số dư.</li>
																													</ul>
																												</div>
																											</h:panelGroup>
																											<h:panelGroup rendered="#{list.tab == 'Zalo Pay' ? 'true' : 'false'}">
																												<div class="payment__note">
																													<p><span class="color-red d-ib mgR-5">*</span>HƯỚNG DẪN</p>
																													<ul>
																														<li>Quét mã QR từ app Zalo Pay. Quý khách vui lòng nạp tiền vào tài khoản trên đây.</li>
																														<li>Tối thiểu 200,000 VNĐ</li>
																														<li>Mã nạp tiền của quý khách là <span class="color-red idRandomDeposit"></span>, quý khách vui lòng điền chính xác nội dung chuyển khoản là <span class="color-red idRandomDeposit"></span> để được cập nhật tiền nạp ngay lập tức.</li>
																													</ul>
																												</div>
																											</h:panelGroup>
																											<h:panelGroup rendered="#{list.tab == 'Momo Pay' ? 'true' : 'false'}">
																												<div class="payment__note">
																													<p><span class="color-red d-ib mgR-5">*</span>HƯỚNG DẪN</p>
																													<ul>
																														<li>Quét mã QR từ app Momo Pay. Quý khách vui lòng nạp tiền vào tài khoản trên đây.</li>
																														<li>Tối thiểu 200,000 VNĐ</li>
																														<li>Mã nạp tiền của quý khách là <span class="color-red idRandomDeposit"></span>, quý khách vui lòng điền chính xác nội dung chuyển khoản là <span class="color-red idRandomDeposit"></span> để được cập nhật tiền nạp ngay lập tức.</li>
																													</ul>
																												</div>
																											</h:panelGroup>
																											<div class="logo__payment">
																												<a4j:repeat value="#{list['items']}" var="listItems" rowKeyVar="keys">
																												
																													<h:panelGroup rendered="#{list.tab == 'Zalo Pay' ? 'true' : 'false'}">
																														<label class="r__c--emu r__c--emu13x13 zalopay">
																															<div class="r__c--ui">
																																<div class="wrap__logo">
																																	<div><img src="/images/bank/#{listItems.icon}.gif?#{startup.time}" alt=""/></div>
																																</div>
																															</div>
																														</label>
																													</h:panelGroup>
																													
																													<h:panelGroup rendered="#{list.tab == 'Momo Pay' ? 'true' : 'false'}">
																														<label class="r__c--emu r__c--emu13x13 zalopay">
																															<div class="r__c--ui">
																																<div class="wrap__logo">
																																	<div><img src="/images/bank/#{listItems.icon}.gif?#{startup.time}" alt=""/></div>
																																</div>
																															</div>
																														</label>
																													</h:panelGroup>
																													
																													<h:panelGroup rendered="#{list.tab != 'Zalo Pay'? 'true' : 'false'}">
																														<h:panelGroup rendered="#{list.tab != 'Momo Pay' ? 'true' : 'false'}">
																															<label class="r__c--emu r__c--emu13x13">
																																<input type="hidden" id="#{listItems.id}" name="url" value="#{listItems.address}" />
																																<div class="r__c--ui">
																																	<input class="selectMethodDeposit" type="radio" data-methodbank="#{listItems.remark}" name="depositType" value="#{listItems.id}" />
																																	<span class="check"><span class="checked"></span></span>
																																	<div class="wrap__logo">
																																		<div><img src="/images/bank/#{listItems.icon}.gif?#{startup.time}" alt=""/></div>
																																		<span class="tick"></span>
																																		<span class="icon-check"></span>
																																	</div>
																																</div>
																															</label>
																														</h:panelGroup>
																													</h:panelGroup>
																					
																												</a4j:repeat>
																											</div>
																										</div>
																									</a4j:repeat>
																								</div>
																							</div>
																						</h:panelGroup>
																					</a4j:repeat>
																				</div>
																			</td>
																		</tr>
																	</table>
																</div>
															</div>
															<div>
																<p class="fs-16 w--170 text-right d-ib ver-t mgR-20">Thời gian xử lý:</p>
																<div class="payment__colright">
																	<p class="rechager__time text-left">5 phút</p>
																	<div id="btnDepositSubmit" class="text-center">
																		<button class="btn__orange--red w--150 txt-uper" onclick="deposit();">Nạp Tiền</button>
																		<h:form>
																			<a4j:jsFunction name="getListDepositCode"
																							data="#{DepositBean.listDepositCode}"
																							oncomplete="saveListDeposit(data);">
																			</a4j:jsFunction>
																		</h:form>
																	</div>
																	<div class="noteTheCao tbl__bder">
																		<p class="lh-20 color-red fst-i mgB-10">Chú ý: Khi nạp tiền bằng hình thức thẻ cào, khách hàng sẽ mất phí tương ứng theo từng nhà mạng như trên.</p>
																		<div class="clearfix">
																			<ul class="clearfix">
																				<li>
																					<span class="d-ib font-500 mgR-5">Viettel:</span>
																					22%
																				</li>
																				<li>
																					<span class="d-ib font-500 mgR-5">Mobiphone:</span>
																					22%
																				</li>
																				<li>
																					<span class="d-ib font-500 mgR-5">Vinaphone:</span>
																					22%
																				</li>
																				<li>
																					<span class="d-ib font-500 mgR-5">Gateway:</span>
																					17%
																				</li>
																			</ul>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</f:view>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<ui:include src="/templates/common/footer.xhtml" />

			</div>
			<!-- InstanceEndEditable -->
		</div>
	</ui:define>
	<ui:define name="headJs">
		<script type="text/javascript">
            //<![CDATA[
            var depositList;

            $('.tabs__sub--payment .tabs__link li a').on('show.bs.tab', function(event){
                var target = $(event.target).attr("data-id-tab");
                if (target === "Zalo Pay" || target === "Momo Pay" ){
                    $('#btnDepositSubmit').hide();
					var code = 'uidt';
                    if(depositList.length > 0) code = depositList[Math.floor(Math.random()*depositList.length)];
                    $('.idRandomDeposit').text(code + '#{LoginBean.user.id}');
                } else {
                    $('#btnDepositSubmit').show();
                }
            });

            function saveListDeposit(data) {
                depositList = data;
            }

            function deposit() {
                var usertype = $("#usertype").val();
                if(usertype >= 2){
                    showErrorAlert("Thất bại: Tài khoản thử nghiệm không thể thực hiện thao tác này, cảm ơn bạn.");
                    return;
                }
                var status = 0;
                if ( $(".selectMethodDeposit").is(':checked') ) {
                    var elChecked = $(".selectMethodDeposit:checked");
                    var getName = elChecked.data('methodbank');
                    // array method "chuyển khoản nhanh"
                    var arrFastDeposit = ['atmonline', 'qrcode', 'nganluong', 'help2pay'];
                    var address = "";
                    var code = "";

                    if(depositList.length > 0)
                        code = depositList[Math.floor(Math.random()*depositList.length)];
                    else
                        code = 'uidt'; // default if depositList empty

                    status = 1;
                    var id = elChecked.val();
                    arrFastDeposit.indexOf(getName) >= 0 ? address = $('#'+id).val() : address = $('#'+id).val() + '&uidt=' + code + '#{LoginBean.user.id}' + '&manual=' + '#{DepositBean.manual}';
                    window.open(address);
                }
                if(status == 0) {
                    showErrorAlert("Xin hãy chọn ngân hàng!");
                }
            }

            $(document).ready(function() {
                getListDepositCode();

                var getTabActive = $('.tabs__sub--payment a[data-toggle="tab"]').parent('.active')[0],
                    getHref = $(getTabActive).find('a').attr('href');
                switchTextTab(getHref);
                $('.tabs__sub--payment a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    var _this = $(this),
                        getHref = _this.attr('href');
                    switchTextTab(getHref);
                    $('.tabs__sub--payment input[type=radio]').prop('checked', false);
                });
                function switchTextTab(tabId) {
                    if ( tabId === '#tab0' ) {
                        $('.rechager__time').html('5 phút');
                    }else if ( tabId === '#tab1' || tabId === '#tab2' ) {
                        $('.rechager__time').html('Tức thì');
                    }

                    $('.noteTheCao').hide();
                    if ( tabId === '#tab2' ) {
                        $('.noteTheCao').show();
                    }
                }
            });
            //]]>
		</script>
	</ui:define>
</ui:composition>
</body>
</html>