﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
	<ui:composition template="/templates/common/layout.xhtml">
		<ui:define name="headCss">
		</ui:define>
		<ui:define name="content">
			<div id="container">
				<!-- InstanceBeginEditable name="EditRegion2" -->
				<div class="dashboard">
					<div class="dashboard__wrapper">
						<div class="dashboard__wrapper--inner clearfix">
							<ui:include src="/templates/common/leftMenu.xhtml" />
							<div class="dashboard__mana">
								<div class="dashboard__mana--inner">
									<div class="tabs_framed">
										<div class="inner">
											<ul class="tabs clearfix">
												<li><a href="/page/DWDeposit.shtml">Nạp tiền</a></li>
												<li><a href="/page/DWDepositRecord.shtml">Lịch sử nạp tiền</a></li>
												<li class="active"><a href="/page/DWWithDrawl.shtml">Rút tiền</a></li>
												<li><a href="/page/DWWithDrawlRecord.shtml">Lịch sử rút tiền</a></li>
												<li><a href="/page/RechargeInstructions.shtml">Hướng dẫn nạp tiền</a></li>
											</ul>

											<div class="tab-content boxed">
												<div class="pdT-30 mgB-45 fs-17 font-300 text-center">
													<div class="d-ib text-left">
														<div class="clearfix mgB-15">
															<div class="pull-left mgR-20">
																<span class="icon-arrow_forward"></span>
															</div>
															<div class="overflow-all">
																<p>
																	Mỗi ngày chỉ rút (<span class="font-700 color-f49e1d fs-18">#{WithdrawalBean.mrtxcs}</span>) lần, bạn đã yêu cầu thành công (<span class="font-700 color-f49e1d fs-18">#{WithdrawalBean.wtimes}</span>) lần trong hôm nay.
																</p>
															</div>
														</div>
														<div class="clearfix mgB-15">
															<div class="pull-left mgR-20">
																<span class="icon-arrow_forward"></span>
															</div>
															<div class="overflow-all">
																<p>
																	Rút tiền<span class="font-700 color-f49e1d fs-18"> 24/7.</span>
																</p>
															</div>
														</div>
														<div class="clearfix">
															<div class="pull-left mgR-20">
																<span class="icon-arrow_forward"></span>
															</div>
															<div class="overflow-all">
																<p>
																	Tài khoản ngân hàng mới thêm cần <span class="font-700 color-f49e1d fs-18"> 6 </span>tiếng trở lên mới có thể rút tiền.
																</p>
															</div>
														</div>
													</div>
												</div>
												<div>#{WithdrawalBean.pageinit}</div>

												<f:view>
													<h:form prependId="false">
														<a4j:region>
															<div class="row">
																<div class="col-sm-8 col-sm-offset-2">
																	<div class="mgB-40">
																		<div class="frm__item">
																			<label for="" class="font-400 fs-16 color-8e8071 w-35 text-right pdR-20">Số dư có thể rút:</label>
																			<div class="iput w-60">
																				<span id="ebalance" class="d-ib mgB-5 font-500 fs-16 color-primary"><h:outputText value="#{LoginBean.user.balance}" converter="MoneyConverter"/></span>
																			</div>
																		</div>
																		<div class="frm__item">
																			<label for="" class="font-400 fs-16 color-8e8071 w-35 text-right pdR-20">Ngân hàng nhận tiền:</label>
																			<h:selectOneMenu styleClass="w-60 h-40" value="#{WithdrawalBean.cardid}">
																				<f:selectItems value="#{WithdrawalBean.banklist}"></f:selectItems>
																			</h:selectOneMenu>
																		</div>
																		<div class="frm__item">
																			<label for="" class="font-400 fs-16 color-8e8071 w-35 text-right pdR-20 ver-t mgT-10">Số tiền rút:</label>
																			<div class="iput w-60">
																				<h:inputText id="moneyFormat" value="#{WithdrawalBean.wamount}" size="20" maxlength="20" styleClass="h-40 w-100 required email d-ib ver-c mgR-10"></h:inputText>
																				<span class="d-ib fs-13 color-5c5146 mgT-5"> ( Số tiền tối thiểu
																			<span class="font-700 color-f49e1d">
																				<h:outputText value="#{WithdrawalBean.wmin}">
																					<f:convertNumber pattern="###,###" type="currency"/>
																				</h:outputText>
																			</span> VND / Số tiền tối đa
																			<span class="font-700 color-f49e1d">
																				<h:outputText value="#{WithdrawalBean.wmax}">
																					<f:convertNumber pattern="###,###" type="currency"/>
																				</h:outputText>
																			</span>VND )
																		</span>
																			</div>
																		</div>
																		<div class="frm__item">
																			<label for="" class="font-400 fs-16 color-8e8071 w-35 text-right pdR-20">Mật khẩu thanh toán:</label>
																			<div class="iput w-60">
																				<h:inputSecret id="checkPwd" value="#{WithdrawalBean.checkpwd}" size="20" maxlength="20" styleClass="h-40 w-100 required email"></h:inputSecret>
																			</div>
																		</div>
																		<div class="frm__item frm__btn">
																			<label for="" class="font-400 fs-16 color-8e8071 w-35 text-right pdR-20"></label>
																			<div class="iput w-60">
																				<a4j:commandButton value="Gửi đi" onclick="if(!validateWithDraw()) {return false}" status="normalStatus" styleClass="btn__primary d-ib pdT-10 pdB-10 w--180 fs-20" action="#{WithdrawalBean.apply}" data="#{WithdrawalBean.msg}" oncomplete="savefinish(data)" />
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</a4j:region>
													</h:form>
												</f:view>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<ui:include src="/templates/common/footer.xhtml" />

				</div>
				<!-- InstanceEndEditable -->
			</div>
		</ui:define>
		<ui:define name="headJs">
			<script type="text/javascript">
				//<![CDATA[
					function validateWithDraw() {
						if($('#moneyFormat').val()=="" || $('#moneyFormat').val()==0) {
							showErrorAlert("Nhập số tiền bạn muốn rút!");
							return false;
						}
						if($('#checkPwd').val()=="") {
							showErrorAlert("Mật khẩu không được để trống!");
							return false;
						}
						
						return true;
					}
					function savefinish(data){
						if(data){
							showErrorAlert(data);
						}else{
							showSuccessAlert("Thành công: Bạn gửi đơn đăng ký rút tiền thành công, vui lòng chờ thanh toán.");
							layer.msg('Thành công: Bạn gửi đơn đăng ký rút tiền thành công, vui lòng chờ thanh toán.', {
								shade : 0.3,
								closeBtn : true,
								icon : 1, // 1: icon success, 2: icon error, 3: warning question, 4: lock, 5: face sad, 6: face funny, 7: warning
								time : 1500
							}, function(){
								loadbalance();
								location.reload();
							});
							
						}
					}
					$(function(){
						$('#moneyFormat').focus(function(e){
							$(this).val("");
						});
						$('#moneyFormat').keyup(function(e){
							$(this).val(numberWithCommas($(this).val()));
					    });
					});
				//]]>
			</script>
		</ui:define>
	</ui:composition>
</body>
</html>