<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
	<ui:composition template="/templates/common/layout.xhtml">
		<ui:define name="headCss">
			<link rel="stylesheet" href="../css/jquery-ui.css" />
			<link rel="stylesheet" href="../css/jquery-ui-timepicker-addon.min.css" />
		</ui:define>
		<ui:define name="content">
			<div id="container">
				<!-- InstanceBeginEditable name="EditRegion2" -->
				<div class="dashboard">
					<div class="dashboard__wrapper">
						<div class="dashboard__wrapper--inner clearfix">
							<ui:include src="/templates/common/leftMenu.xhtml" />
							<div class="dashboard__mana">
								<div class="dashboard__mana--inner">
									<div class="tabs_framed">
										<div class="inner">
											<ul class="tabs clearfix">
												<li><a href="/page/DWDeposit.shtml">Nạp tiền</a></li>
												<li><a href="/page/DWDepositRecord.shtml">Lịch sử nạp tiền</a></li>
												<li><a href="/page/DWWithDrawl.shtml">Rút tiền</a></li>
												<li class="active"><a href="/page/DWWithDrawlRecord.shtml">Lịch sử rút tiền</a></li>
												<li><a href="/page/RechargeInstructions.shtml">Hướng dẫn nạp tiền</a></li>
											</ul>

											<div class="tab-content boxed">
												<f:view>
													<h:form id="GameRecordForm">
														<div id="agentAccountChange">
															<div class="filter__dashboard">
																<div class="row">
																	<div class="col-sm-8">
																		<div class="frm__item date__rangeinline">
																			<label for="" class="font-400 w-100 color-8e8071 fs-15">Thời gian từ</label>
																			<div class="row">
																				<div class="col-sm-6">
																					<div class="date__from datetime">
																						<h:inputText value="#{WithdrawalSearchBean.stime}" styleClass="w-100 h-40" />
																						<span class="icon-calendar"></span>
																					</div>
																				</div>
																				<span class="totxt__date">Đến</span>
																				<div class="col-sm-6">
																					<div class="date__to datetime">
																						<h:inputText value="#{WithdrawalSearchBean.etime}" styleClass="w-100 h-40" />
																						<span class="icon-calendar"></span>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col-sm-4">
																		<div class="frm__item">
																			<label for="" class="font-400 w-100 color-8e8071 fs-15">Mã số rút tiền</label>
																			<h:inputText value="#{WithdrawalSearchBean.id}" styleClass="w-100 h-40"></h:inputText>
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="frm__item frm__btn">
																			<a4j:commandLink onclick="loadingSearch()" value="Tìm kiếm" status="normalStatus" styleClass="btn__primary w--120 lh-40 h-40 d-ib" action="#{WithdrawalSearchBean.btnSearch}" reRender="pgData" data="#{WithdrawalSearchBean.msg}" oncomplete="searchfinish(data)" />
																		</div>
																	</div>
																</div>
															</div>

															<div class="tbl__record">
																<h:panelGroup id="pgData">
																	<div class="wrap__tbl">
																		<table>
																			<tr class="title">
																				<td class="w-5"><span>STT</span></td>
																				<!-- 																			<td class="w-12"><span>Loại</span></td> -->
																				<td class="w-15"><span>Mã số</span></td>
																				<td class="w-15"><span>Giá trị</span></td>
																				<td class="w-15"><span>Thời gian</span></td>
																				<td class="w-10"><span>Trạng thái</span></td>
																				<td class="w-30"><span>Ghi chú</span></td>
																			</tr>
																			<a4j:repeat value="#{WithdrawalSearchBean.reslist}" var="list" id="dblist" rowKeyVar="keys">
																				<tr>
																					<td><span>#{keys+1}</span></td>
																					<td><span>#{list.id}</span></td>
																					<td><span><h:outputText value="#{list.amount}" converter="MoneyConverter" /></span></td>
																					<td><span>#{list.applytime}</span></td>
																					<td>
																						<span> 
																							<h:outputText value="Đã gửi" rendered="#{list.status==0?'true':'false'}" style="color:#666666;" /> 
																							<h:outputText value="Đang xử lý" rendered="#{list.status==1?'true':'false'}" style="color:#666666;" /> 
																							<h:outputText value="Chờ duyệt" rendered="#{list.status==2?'true':'false'}" style="color:red;" /> 
																							<h:outputText value="Thành công" rendered="#{list.status==4?'true':'false'}" style="color:blue" /> 
																							<h:outputText value="Thất bại" rendered="#{list.status==5?'true':'false'}" style="color:red" />
																						</span>
																					</td>
																					<td><span>#{list.remark}</span></td>
																				</tr>
																			</a4j:repeat>
																		</table>
																	</div>

																	<div class="tbl__record--bottom">
																		<div class="tbl__pagi clearfix">
																			<div class="pull-right pagi__wrap">
																				<a4j:region>
																					<h:panelGroup rendered="#{DepositSearchBean.totalrecord==0?'false':'true'}">
																						<a4j:commandLink styleClass="#{DepositSearchBean.curpage==1?'btn__disable':''}" status="normalStatus" action="#{DepositSearchBean.firstPage}" data="#{DepositSearchBean.msg}" reRender="pgData" title="Đầu tiên" value="Đầu tiên" />
																						<a4j:commandLink styleClass="#{DepositSearchBean.curpage==1?'btn__disable':''}" status="normalStatus" action="#{DepositSearchBean.proPage}" data="#{DepositSearchBean.msg}" reRender="pgData" title="Trang trước" value="Trang trước" />
																						<input type="text" class="pagi__iput" value="#{DepositSearchBean.curpage}" onkeypress="if(pageKeyDown(this.value))return false;" />
																						<span class="fs-12 color-999 d-ib">của</span>
																						<span class="fs-12 color-999 d-ib mgR-5"><h:outputText value="of #{DepositSearchBean.totalpage}" /></span>
																						<a4j:commandLink styleClass="#{DepositSearchBean.curpage==DepositSearchBean.totalpage?'btn__disable':''}" status="normalStatus" data="#{DepositSearchBean.msg}" reRender="pgData" title="Trang sau" value="Trang sau" action="#{DepositSearchBean.nextPage}" />
																						<a4j:commandLink styleClass="#{DepositSearchBean.curpage==DepositSearchBean.totalpage?'btn__disable':''}" status="normalStatus" data="#{DepositSearchBean.msg}" reRender="pgData" title="Sau cùng" value="Sau cùng" action="#{DepositSearchBean.lastPage}" />
																						<span class="fs-12 color-999 d-ib mgR-5">Tổng số： <span class="orange-color">#{DepositSearchBean.totalrecord}</span></span>
																					</h:panelGroup>
																				</a4j:region>
																			</div>
																		</div>
																	</div>
																</h:panelGroup>
																<a4j:region>
																	<a4j:jsFunction name="pageKeyDownOPT" status="normalStatus" action="#{DepositSearchBean.inputPage}" data="#{DepositSearchBean.msg}" oncomplete="searchfinish(data)" reRender="pgData">
																		<f:param name="num" />
																	</a4j:jsFunction>
																</a4j:region>
															</div>
														</div>
													</h:form>
												</f:view>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<ui:include src="/templates/common/footer.xhtml" />

				</div>
			</div>
		</ui:define>
		<ui:define name="headJs">
			<script type="text/javascript" src="../js/lib/jquery-ui-1.11.0.min.js"></script>
			<script type="text/javascript" src="../js/lib/jquery-ui-timepicker-addon.min.js"></script>
			<script type="text/javascript">
				//<![CDATA[
			 	$(window).on('load', function() {
					$('.date__rangeinline').each(function() {
						var _this = $(this),
							$dateFrom = _this.find('.date__from input'),
							$dateTo = _this.find('.date__to input');
		
						$dateFrom.datetimepicker({
							timeFormat : 'HH:mm:ss',
							dateFormat : 'dd-mm-yy',
							timeText : 'Thời gian',
							hourText : 'Giờ',
							minuteText : 'Phút',
							secondText : 'Giây',
							currentText : 'Hôm nay',
							closeText : 'Hoàn thành',
							prevText: '<span class="icon-arrow_back"></span>',
							nextText: '<span class="icon-arrow_forward"></span>',
							monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
							dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
							onClose: function(dateText, inst) {
								if ($dateTo.val() != '') {
									var testStartDate = $dateFrom.datetimepicker('getDate');
									var testEndDate = $dateTo.datetimepicker('getDate');
									if (testStartDate > testEndDate)
										$dateTo.datetimepicker('setDate', testStartDate);
								}
								else {
									$dateTo.val(dateText);
								}
							},
							onSelect: function (selectedDateTime){
								$dateTo.datetimepicker('option', 'minDate', $dateFrom.datetimepicker('getDate') );
							}
						});
		
						$dateTo.datetimepicker({
							timeFormat : 'HH:mm:ss',
							dateFormat : 'dd-mm-yy',
							timeText : 'Thời gian',
							hourText : 'Giờ',
							minuteText : 'Phút',
							secondText : 'Giây',
							currentText : 'Hôm nay',
							closeText : 'Hoàn thành',
							prevText: '<span class="icon-arrow_back"></span>',
							nextText: '<span class="icon-arrow_forward"></span>',
							monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
							dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
							onClose: function(dateText, inst) {
								if ($dateFrom.val() != '') {
									var testStartDate = $dateFrom.datetimepicker('getDate');
									var testEndDate = $dateTo.datetimepicker('getDate');
									if (testStartDate > testEndDate)
										$dateFrom.datetimepicker('setDate', testEndDate);
								}
								else {
									$dateFrom.val(dateText);
								}
							},
							onSelect: function (selectedDateTime){
								$dateFrom.datetimepicker('option', 'maxDate', $dateTo.datetimepicker('getDate') );
							}
						});
					});
		    	});
			 	function searchfinish(data){
			 		layer.closeAll("loading");
					if(data){
						showErrorAlert(data);
					}else{
						//window.location.reload();
					}
				}
			 	function pageKeyDown(num){
					if(num.length>0){
						if(event.keyCode==13) {
							pageKeyDownOPT(num);
						}
					}
				}
				//]]>
			</script>
		</ui:define>
	</ui:composition>
</body>
</html>
