<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,900&amp;subset=vietnamese" rel="stylesheet"/>
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
	<div id="popupSystemNoti">
		<div class="popup__content">
			<h:outputText value="#{SysMsgBean.showitem.content}" escape="false" />
		</div>
	</div>
</body>
</html>
