<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
	<ui:composition template="/templates/common/layout.xhtml">
		<ui:define name="content">
			<div id="container">
				<!-- InstanceBeginEditable name="EditRegion2" -->
				<div class="dashboard">
					<div class="dashboard__wrapper">
						<div class="dashboard__wrapper--inner clearfix">
							<ui:include src="/templates/common/leftMenu.xhtml" />
							<div class="dashboard__mana">
								<div class="dashboard__mana--inner">
									<div class="tabs_framed">
										<div class="inner">
											<ul class="tabs clearfix">
												<li class="active"><a href="">Thông báo chính thức</a></li>
											</ul>

											<div class="tab-content boxed">
												<div class="clearfix" id="note__page">
													<f:view>
														<h:form id="IndexForm">
															<h:inputHidden value="#{SysMsgBean.showitem.title}" id="userstatus" />
															<ul class="list__noti">
																<a4j:repeat value="#{SysMsgBean.msglistOther}" var="list" id="datalist" rowKeyVar="keys">
																	<li>
																		<span class="span_r">#{list.savetime}</span>
																		<a4j:commandLink title="Thông báo" action="#{SysMsgBean.showmsg}" oncomplete="showMsg01('#{list.id}');" status="normalStatus" value="[Thông báo] #{list.title}">
																			<f:param name="id" value="#{list.id}"></f:param>
																		</a4j:commandLink>
																	</li>
																</a4j:repeat>
															</ul>

															<div id="notice_con">
																<div class="notice_div02">
																	<div class="tbl__pagi clearfix">
																		<div class="pull-right pagi__wrap">
																			<h:panelGroup rendered="#{GameRecordBean.totalrecord==0?'false':'true'}">
																				<a4j:commandLink
																					styleClass="#{GameRecordBean.curpage==1?'btn__disable':''}"
																					status="normalStatus"
																					action="#{GameRecordBean.firstPage}"
																					data="#{GameRecordBean.msg}"
																					title="Đầu tiên"
																					value="Đầu tiên" reRender="pgData" />
																				<a4j:commandLink
																					styleClass="#{GameRecordBean.curpage==1?'btn__disable':''}"
																					status="normalStatus"
																					action="#{GameRecordBean.proPage}"
																					data="#{GameRecordBean.msg}"
																					title="Trang trước"
																					value="Trang trước" reRender="pgData" />
																				<input type="text" class="pagi__iput"
																					value="#{GameRecordBean.curpage}"
																					onkeypress="if(pageKeyDown(this.value))return false;" />
																				<span class="fs-12 color-999 d-ib">của</span> <span
																					class="fs-12 color-999 d-ib mgR-5">#{GameRecordBean.totalpage}</span>
																				<a4j:commandLink
																					styleClass="#{GameRecordBean.curpage==GameRecordBean.totalpage?'btn__disable':''}"
																					status="normalStatus" data="#{GameRecordBean.msg}"
																					title="Trang sau"
																					value="Trang sau" action="#{GameRecordBean.nextPage}"
																					reRender="pgData" />
																				<a4j:commandLink
																					styleClass="#{GameRecordBean.curpage==GameRecordBean.totalpage?'btn__disable':''}"
																					status="normalStatus" data="#{GameRecordBean.msg}"
																					title="Sau cùng"
																					value="Sau cùng" action="#{GameRecordBean.lastPage}"
																					reRender="pgData" />
																				<span class="fs-12 color-999 d-ib mgR-5">Tổng
																					số： <span class="orange-color">#{GameRecordBean.totalrecord}</span>
																				</span>
																			</h:panelGroup>
																		</div>
																	</div>
																</div>
															</div>
														</h:form>
													</f:view>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<ui:include src="/templates/common/footer.xhtml" />

				</div>
			</div>
		</ui:define>
		<ui:define name="headJs">
			<script type="text/javascript">
				//<![CDATA[
				_SCROLLINGJXF = "auto";
				function showMsg01(id) {
					layer.open({
						type: 2,
						btn: ['Thoát'],
					    btnAlign: 'c',
					    area: ['650px', '450px'],
					    title: 'Thông báo',
					    content: '/page/IndexMsgDetail.shtml?id='+id,
					});
				}
				function reloads() {
					window.location.reload();
				}
				//]]>
			</script>
		</ui:define>
	</ui:composition>
</body>
</html>
