﻿<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
	</meta>
	<title>我的银行卡</title>
	<link rel="shortcut icon" href="/images/index/favorite-yb.ico" />
	<!-- <link href="/css/base.css" rel="stylesheet" type="text/css" /> -->
	<link rel="stylesheet" href="../css/style.css?#{startup.time}" />
	<script type="text/javascript" src="../js/build/lib.min.js" charset="utf-8"></script>
	<style>
	</style>
	<script type="text/javascript">
		//<![CDATA[
		function nextfinish(data) {
			parent.layer.load(2, {
				shade: 0.2
			});
			if (data) {
				parent.layer.closeAll('loading');
				parent.layer.msg(data, {
					shade: 0.3,
					closeBtn: true,
					icon: 2,
					time: 2500
				});
			} else {
				//window.location.href = "/page/PersonBankBanding2.shtml";
				parent.layer.closeAll();
				parent.layer.open({
					type: 2,
					area: ['700px', '400px'],
					title: 'Xác minh tài khoản',
					content: "/page/PersonBankBanding2.shtml"
				});
			}
		}
		function nextopt() {

		}

		function checkBank() {
			var bankValue = $("#bankBindingForm\\:bankNameSelect").val();
			if ("Other" == bankValue) {
				$("#bankName").show();
			} else {
				$("#bankName").hide();
			}
			var formControlNumber = document.querySelectorAll('.form-control-number');
			if (formControlNumber.length > 0) {
				formControlNumber.forEach((item) => {
					$(item).on(('input paste'), function e(evt) {
						if (evt.which >= 37 && evt.which <= 40) return;
						$(this).val((index, value) => value
							.replace(/\D/g, ''));
					});
				});
			}
		}
		function changeCharacters() {
			var inputBankNum = document.querySelector('.name-account');
			inputBankNum.value = change_alias(inputBankNum.value);
		}
		function change_alias(alias) {
			var str = alias;
			str = str.toUpperCase();
			str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ắ|Ằ|Ặ|Ẳ|Ẵ/g, "A");
			str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
			str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
			str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
			str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
			str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
			str = str.replace(/đ/g, "D");
			str = str.replace(/!|@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g, "");
			str = str.replace(/ + /g, "");
			return str;
		}
		window.onload = checkBank;
	//]]>
	</script>
</head>

<body>
	<div id="addBank">
		<f:view>
			<h:form id="bankBindingForm">
				<a4j:region>
					<h:panelGroup id="inputMain">
						<div class="popup__content">
							<div class="frm__item">
								<label for="" class="w-35 text-right pdR-15 font-500">Tên
									ngân hàng:</label>
								<div class="slect__box w-45">
									<h:selectOneMenu styleClass="select_Game"
										value="#{PersonBankCardBean.newbankcard.bankname}" class="w-100 h-40"
										onclick="checkBank();" id="bankNameSelect">
										<f:selectItem itemValue="Ngân Hàng Á Châu (ACB)"
											itemLabel="Ngân Hàng Á Châu (ACB)"></f:selectItem>
										<f:selectItem itemValue="Agribank" itemLabel="Agribank"></f:selectItem>
										<f:selectItem itemValue="BIDV" itemLabel="BIDV"></f:selectItem>
										<f:selectItem itemValue="Đông Á" itemLabel="Đông Á"></f:selectItem>
										<f:selectItem itemValue="EximBank" itemLabel="EximBank"></f:selectItem>
										<f:selectItem itemValue="Sacombank" itemLabel="Sacombank"></f:selectItem>
										<f:selectItem itemValue="Techcombank" itemLabel="Techcombank"></f:selectItem>
										<f:selectItem itemValue="Vietinbank" itemLabel="Vietinbank"></f:selectItem>
										<f:selectItem itemValue="Vietcombank" itemLabel="Vietcombank"></f:selectItem>
										<f:selectItem itemValue="VIB" itemLabel="VIB"></f:selectItem>
										<f:selectItem itemValue="VPBank" itemLabel="VPBank"></f:selectItem>
										<f:selectItem itemValue="MaritimeBank" itemLabel="MaritimeBank"></f:selectItem>
										<f:selectItem itemValue="SHB" itemLabel="SHB"></f:selectItem>
										<f:selectItem itemValue="Other" itemLabel="Ngân Hàng Khác"></f:selectItem>
									</h:selectOneMenu>
									<span class="icon-keyboard_arrow_down"></span>
								</div>
							</div>
							<div class="frm__item" style="display: none;" id="bankName">
								<label for="" class="w-35 text-right pdR-15 font-500"></label>
								<div class="iput w-45">
									<h:inputText maxlength="50" value="#{PersonBankCardBean.bankName}"
										class="h-40 w-100" />
								</div>
							</div>
							<div class="frm__item">
								<label for="" class="w-35 text-right pdR-15 font-500">Chi
									nhánh:</label>
								<div class="iput w-45">
									<h:inputText maxlength="30" value="#{PersonBankCardBean.newbankcard.branchbank}"
										class="h-40 w-100" />
								</div>
							</div>
							<div class="frm__item">
								<label for="" class="w-35 text-right pdR-15 font-500 ver-t mgT-10">Tên chủ tài
									khoản:</label>
								<div class="iput w-45">
									<h:inputText maxlength="30" value="#{PersonBankCardBean.newbankcard.name}"
										class="h-40 w-100 name-account" />
									<p class="fs-13 mgT-5 color-red">Tên tài khoản nên là chữ IN HOA và không dấu</p>
								</div>
							</div>

							<div class="frm__item">
								<label for="" class="w-35 text-right pdR-15 font-500">Số
									tài khoản:</label>
								<div class="iput w-45">
									<h:inputText maxlength="25" value="#{PersonBankCardBean.newbankcard.bankcard}"
										class="h-40 w-100 number-account form-control-number" />
								</div>
							</div>
							<div class="frm__item">
								<label for="" class="w-35 text-right pdR-15 font-500">Nhập
									lại số tài khoản:</label>
								<div class="iput w-45">
									<h:inputText maxlength="25" value="#{PersonBankCardBean.bankcard2}"
										class="h-40 w-100" />
								</div>
							</div>

							<div class="frm__item">
								<label for="" class="w-35 text-right pdR-15 font-500">Mật
									khẩu thanh toán:</label>
								<div class="iput w-45">
									<h:inputSecret maxlength="30" value="#{PersonBankCardBean.checkpwd}"
										styleClass="h-40 w-100" />
								</div>
							</div>

							<div class="frm__item frm__btn">
								<label for="" class="w-35 text-right pdR-15 font-500"></label>
								<a4j:commandButton value="Bước tiếp theo" status="normalStatus" onclick="nextopt();"
									styleClass="btn__primary w-45 pdT-10 pdB-10"
									action="#{PersonBankCardBean.addBankcardCheck}" data="#{PersonBankCardBean.msg}"
									oncomplete="nextfinish(data)" />
								<rich:spacer width="20" />
							</div>
						</div>
					</h:panelGroup>
				</a4j:region>

			</h:form>
		</f:view>
	</div>
</body>

</html>