<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
	<ui:composition template="/templates/common/layout.xhtml">
		<ui:define name="headCss">
		</ui:define>
		<ui:define name="content">
			<div id="container">
				<!-- InstanceBeginEditable name="EditRegion2" -->
				<div class="dashboard">
					<div class="dashboard__wrapper">
						<div class="dashboard__wrapper--inner clearfix">
							<ui:include src="/templates/common/leftMenu.xhtml" />
							<div class="dashboard__mana">
								<div class="dashboard__mana--inner">
									<div class="tabs_framed">
										<div class="inner">
											<ul class="tabs clearfix">
												<li><a href="/page/PersonPwd.shtml">Thông tin cá nhân</a></li>
												<li><a href="/page/PersonMsg.shtml">Tin nhắn</a></li>
												<li class="active"><a href="/page/PersonBank.shtml">Tài khoản ngân hàng</a></li>
												<li><a href="/page/TransferMoney.shtml">Chuyển quỹ</a></li>
											</ul>
											<div class="tab-content boxed">
												<div id="bankCard">
													<div class="pdT-30 mgB-45 fs-17 font-300 row">
														<div class="col-md-8 col-md-offset-2">
															<div class="clearfix mgB-15">
																<div class="pull-left mgR-20">
																	<span class="icon-arrow_forward"></span>
																</div>
																<div class="overflow-all">
																	<p>
																		Bạn có thể thêm tối đa <span class="font-700 color-f49e1d fs-18">5</span> tài khoản ngân hàng. Hiện tại bạn đang có <span class="font-700 color-f49e1d fs-18">#{PersonBankCardBean.banknumber}</span> tài khoản.
																	</p>
																</div>
															</div>
															<div class="clearfix mgB-15">
																<div class="pull-left mgR-20">
																	<span class="icon-arrow_forward"></span>
																</div>
																<div class="overflow-all">
																	<p>
																		Từ tài khoản ngân hàng thứ <span class="font-700 color-f49e1d fs-18">2</span> trở đi phải trùng tên chủ tài khoản với tài khoản đầu tiên
																	</p>
																</div>
															</div>
															<div class="clearfix">
																<div class="pull-left mgR-20">
																	<span class="icon-arrow_forward"></span>
																</div>
																<div class="overflow-all">
																	<p>Nếu bạn khoá danh sách tài khoản, bạn sẽ không thể thêm mới hoặc xoá tài khoản ngân hàng</p>
																</div>
															</div>
														</div>
													</div>
													<div class="tbl__record">
													<h:form id="bankCaradData">
														<h:panelGroup id="pgData">
															<div class="wrap__tbl">
																<table>
																	<tr class="title">
																		<td class="w-10"><span>STT</span></td>
																		<td class="w-30"><span>Tên ngân hàng</span></td>
																		<td class="w-30"><span>Số tài khoản</span></td>
																		<td class="w-20"><span>Ngày thêm</span></td>
																		<td class="w-10"></td>
																	</tr>
																	<a4j:repeat value="#{PersonBankCardBean.bankcardlist}" var="list"
																		id="dblist" rowKeyVar="keys">
																		<tr style="background:#{keys%2==1?'#EEEEDD':'#f4f4f4'}">
																			<td>#{keys+1}</td>
																			<td>#{list.bankname}</td>
																			<h:panelGroup rendered="#{list.bankcard.length()>4?'true':'false'}">
																				<td>
																					****#{list.bankcard.substring(list.bankcard.length()-4)}
																				</td>
																			</h:panelGroup>
																			<h:panelGroup rendered="#{list.bankcard.length()>4?'false':'true'}">
																				<td>
																					#{list.bankcard}
																				</td>
																			</h:panelGroup>
																			<td>#{list.savetime.substring(8,10)}#{list.savetime.substring(4,8)}#{list.savetime.substring(0,4)} #{list.savetime.substring(11,19)}</td>
																			<td>
																			<h:panelGroup rendered="#{LoginBean.user.bankcheck&lt;2?'true':'false'}">
																				<a href="" onclick="confirmDelete(#{list.id});" class="d-ib ver-c color-red"> <span class="icon-bin fs-15"></span>
																				</a>
																				<a4j:jsFunction limitToList="true" ajaxSingle="true" name="deleteCard" status="normalStatus" data="#{PersonBankCardBean.msg}" oncomplete="delok(data);" action="#{PersonBankCardBean.del}" reRender="recPage1">
																					<f:param value="#{list.id}" name="id"/>
																				</a4j:jsFunction>
																			</h:panelGroup>
																			</td>
																		</tr>
																	</a4j:repeat>
																</table>
															</div>

														</h:panelGroup>
															</h:form>
													</div>
													<div class="text-center mgT-25">
													<h:panelGroup rendered="#{LoginBean.user.bankcheck&lt;2?'true':'false'}">
														<h:form id="bankForm">
															<div class="bank_card_btn">
																<h:panelGroup rendered="#{PersonBankCardBean.banknumber &lt; 5 ? 'true' : 'false'}">
																	<button type="button" class="btn__primary pdT-10 pdB-10 mgR-10" onclick="addBank(#{LoginBean.user.usertype})" value="" id="but">
																		<span class="icon-add fs-18 mgR-5 d-ib ver-c"></span>
																		Đăng Ký Tài Khoản Ngân Hàng
																	</button>
																</h:panelGroup>
																<div class="notification d-ib mgL-10 noti__center--bottom">
																	<button type="button" class="btn__primary pdT-10 pdB-10 hover__noti" onclick="confirmLockCard(#{LoginBean.user.usertype})" value="" id="lock">
																		<span class="icon-lock_outline fs-16 mgR-5 d-ib ver-c"></span>
																		Khóa Tài Khoản Ngân Hàng
																	</button>
																	<div class="wrap__noti text-left w--400">
																		<div class="wrap__noti--inner">
																			<p class="lh-22">Nếu bạn khoá danh sách tài khoản, bạn sẽ không thể thêm mới hoặc xoá tài khoản ngân hàng</p>
																		</div>
																	</div>
																	<a4j:jsFunction limitToList="true" ajaxSingle="true" name="lockCard" status="normalStatus" data="#{PersonBankCardBean.msg}" oncomplete="lockfinish(data);" action="#{PersonBankCardBean.lockBankcard}">
																	</a4j:jsFunction>
																</div>
															</div>
														</h:form>
														</h:panelGroup>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<ui:include src="/templates/common/footer.xhtml" />

				</div>
				<!-- InstanceEndEditable -->
			</div>
		</ui:define>
		<ui:define name="headJs">
			
			<script>
				function addBank(userType) {
					if (userType > 1) {
						layer.confirm('Đây là tài khoản chơi thử nên không thể liên kết ngân hàng ', {
							btn: ['OK'],
							area: ['350px'],
							icon: 3,
							}, function() { // Cancel button
							layer.closeAll();
							return false;
						})
					} else {
						layer.open({
							type: 2,
							title: 'Thêm Ngân Hàng',
							area: ['700px', '580px'],
							content: '/page/PersonBankBanding.shtml' //iframe的url
						});
					}
				}
				function confirmLockCard(userType){
					if (userType > 1) {
						layer.confirm('Đây là tài khoản chơi thử nên không thể khoá tài khoản ngân hàng ', {
							btn: ['OK'],
							area: ['350px'],
							icon: 3,
							}, function() { // Cancel button
							layer.closeAll();
							return false;
						})
					} else {
						layer.confirm('Sau khi [khóa tài khoản ngân hàng], bạn sẽ không thể thêm mới hoặc xoá tài khoản ngân hàng', {
 						btn: ['Xác nhận','Hủy'],
 				        area: ['350px'],
 				        icon: 3,
 				    }, function(){ // Ok button
				    	layer.load(2, {
							shade: 0.3
						});
				    	lockCard();
						return true;
				    }, function() { // Cancel button
				    	layer.closeAll();
 				        return false;
 				    })
					}
				}
				function confirmDelete(id){
					layer.confirm('Bạn có chắc muốn xoá?', {
						btn : [ 'Xác nhận', 'Hủy' ],
						area : [ '350px' ],
					}, function() { // Ok button
						layer.load(2, {
							shade: 0.3
						});
						deleteCard(id);
					}, function() { // Cancel button
						layer.closeAll();
						return false;
					});
				}
				function delok(data){
					if(data){
						setTimeout(function() {
							layer.closeAll('loading');
							layer.msg(data, {
								icon: 1,
								shade: 0.05,
								time: 1500
							}, function() {
								layer.closeAll();
								location.reload();
							});
						}, 2000);
						return;
					}else{
						setTimeout(function() {
							layer.closeAll('loading');
							layer.msg('Xóa thẻ thành công !!!', {
								icon: 1,
								shade: 0.05,
								time: 1500
							}, function() {
								layer.closeAll();
								location.reload();
							});
						}, 2000);
					}
				}
				function lockfinish(data){
					if(data){
						setTimeout(function() {
							layer.closeAll('loading');
							layer.msg(data, {
								icon: 2,
								shade: 0.05,
								time: 1500
							}, function() {
								layer.closeAll();
							});
						}, 2000);
						return;
					}else{
						setTimeout(function() {
							layer.closeAll('loading');
							layer.msg('Khóa thẻ thành công !!!', {
								icon: 1,
								shade: 0.05,
								time: 1500
							}, function() {
								layer.closeAll();
								location.reload();
							});
						}, 2000);
					}
				}
		</script>
		</ui:define>
	</ui:composition>
</body>
</html>
