﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"></meta>
<title>我的银行卡</title>
<link rel="shortcut icon" href="/images/index/favorite-yb.ico" />
<link rel="stylesheet" href="../css/style.css?#{startup.time}" />
<link href="/css/sub_btn.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../js/build/lib.min.js" charset="utf-8"></script>

<style type="text/css">
.cancel_btna input {
    width: 120px;
    height: 32px;
    border-radius: 4px;
    background: #DF4B21;
    text-align: center;
    line-height: 32px;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
}
</style>
<script type="text/javascript">
	function savefinish(data){
		if(data){
			parent.layer.msg(data, {
				shade : 0.3,
				closeBtn : true,
				icon : 2,
				time : 2500
			});
			return;
		}else{
			parent.layer.msg("Thêm tài khoản ngân hàng thành công !", {
				shade : 0.3,
				closeBtn : true,
				icon : 1,
				time : 2500
			},function() {
				var index = parent.layer.getFrameIndex (window.name);
				parent.layer.close(index);
				console.log(parent);
				parent.location.reload();
			});

		}
	}
	
	function closewin(){
		ownerDialog.close();
	}

	function completeopt() {
		/*layer.load(2, {
			shade: 0.3
		});*/
	}
</script>
</head>
<body>
	<f:view>
		<h:form id="AgentForm">
			<a4j:region>
				<h:panelGroup id="inputMain">
				<div class="popup__content">
					<div class="mgB-25 color-red fs-16 font-500">
						<rich:spacer />Vui lòng xác nhận thông tin tài khoản ngân hàng của bạn một lần nữa
					</div>
					<div class="frm__item">
						<label for="" class="w-35 text-right pdR-15 font-500">Tên ngân hàng : </label>
						<h:panelGroup rendered="#{PersonBankCardBean.newbankcard.bankname=='Other'?'false':'true'}">
							<span class="d-ib ver-c">#{PersonBankCardBean.newbankcard.bankname} </span>
						</h:panelGroup>	
						<h:panelGroup rendered="#{PersonBankCardBean.newbankcard.bankname=='Other'?'true':'false'}">
							<span class="d-ib ver-c">#{PersonBankCardBean.bankName} </span>
						</h:panelGroup>							
					</div>
					
					<div class="frm__item">
						<label for="" class="w-35 text-right pdR-15 font-500">Chi nhánh : </label>
						<span class="d-ib ver-c">#{PersonBankCardBean.newbankcard.branchbank} </span>
					</div>
					
					<div class="frm__item">
						<label for="" class="w-35 text-right pdR-15 font-500">Tên tài khoản : </label>
						<span class="d-ib ver-c txt-uper">#{PersonBankCardBean.newbankcard.name} </span>
					</div>
					
					<div class="frm__item">
						<label for="" class="w-35 text-right pdR-15 font-500">Số tài khoản:</label>
						<span class="bg__alert">#{PersonBankCardBean.newbankcard.bankcard} </span>
					</div>
					<div class="frm__item frm__btn">
						<label for="" class="w-35 text-right pdR-15 font-500"></label>
						<a4j:region>
							<a4j:commandButton value="Xác nhận" status="normalStatus" styleClass="btn__primary w-45 pdT-10 pdB-10"
								limitToList="true" ajaxSingle="true"
								onclick="completeopt();"
								action="#{PersonBankCardBean.addBankcard}" data="#{PersonBankCardBean.msg}"
								oncomplete="savefinish(data)" />
						</a4j:region>
					</div>
				</div>

				</h:panelGroup>
			</a4j:region>
		</h:form>
	</f:view>
</body>
</html>