<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
	<ui:composition template="/templates/common/layout.xhtml">
		<ui:define name="headCss">
		</ui:define>
		<ui:define name="content">
			<div id="container">
				<!-- InstanceBeginEditable name="EditRegion2" -->
				<div class="dashboard">
					<div class="dashboard__wrapper">
						<div class="dashboard__wrapper--inner clearfix">
							<ui:include src="/templates/common/leftMenu.xhtml" />
							<div class="dashboard__mana">
								<div class="dashboard__mana--inner">
									<div class="tabs_framed">
										<div class="inner">
											<ul class="tabs clearfix">
												<li><a href="/page/PersonPwd.shtml">Thông tin cá nhân</a></li>
												<li class="active"><a href="/page/PersonMsg.shtml">Tin nhắn</a></li>
												<li><a href="/page/PersonBank.shtml">Tài khoản ngân hàng</a></li>
												<li><a href="/page/TransferMoney.shtml">Chuyển quỹ</a></li>
											</ul>

											<div class="tab-content boxed">
												<div id="message">
													<div class="tabs__sub">
														<div class="tabs__link">
															<ul class="clearfix">
																<li class="active"><a href="#inbox" role="tab" data-toggle="tab">Hộp thư đến</a></li>
																<!-- <li><a href="#beenSent" role="tab" data-toggle="tab">Hộp thư đi</a></li>
																<li><a href="#send" role="tab" data-toggle="tab">Tạo thư mới</a></li> -->
															</ul>
														</div>
														<div class="tab-content">
															<div class="tab-pane fade in active" id="inbox">
																<div class="tbl__record">
																	<f:view>
																		<h:form id="recieveMsg">
																			<h:panelGroup id="recPage1">
																				<div class="wrap__tbl">
																					<table>
																						<tr class="title">
																							<td class="w-10"><span>STT</span></td>
																							<td class="w-20"><span>Người gửi</span></td>
																							<td class="w-30"><span>Tiêu đề</span></td>
																							<td class="w-20"><span>Thời gian gửi</span></td>
																							<td class="w-10"><span>Lượt xem</span></td>
																							<td class="w-10"></td>
																						</tr>
																						<a4j:repeat value="#{PersonMessageBean.reslist}" var="list" rowKeyVar="keys">
																							<tr>
																								<td>#{keys+1}</td>
																								<td>#{list.sender}</td>
																								<td>#{list.title}</td>
																								<td>#{list.sendtime.substring(8,10)}#{list.sendtime.substring(4,8)}#{list.sendtime.substring(0,4)} #{list.sendtime.substring(11,19)}</td>
																								<td class="num__view">#{list.viewtimes}</td>
																								<td>
																									<a4j:region>
																										<a4j:commandLink title="" styleClass="d-ib ver-c color-f49e1d" status="normalStatus" action="#{PersonMsgRecieveBean.view}" data="#{PersonMsgRecieveBean.msg}" oncomplete="viewOpt(data)" reRender="recPage1" value="">
																											<span class="icon-visibility fs-17"></span>
																											<f:param value="#{list.id}" name="id" />
																										</a4j:commandLink>
																										<span class="d-ib ver-c mgL-10 mgR-10">|</span>
																										<a href="" onclick="confirmDelete(#{list.id});" class="d-ib ver-c color-red"> <span class="icon-bin fs-15"></span>
																										</a>
																										<a4j:jsFunction name="deleteMsg" status="normalStatus" data="#{PersonMessageBean.msg}" oncomplete="delOpt(data);" action="#{PersonMessageBean.del}" reRender="recPage1">
																											<f:param value="#{list.id}" name="id"/>
																										</a4j:jsFunction>
																									</a4j:region>
																								</td>
																							</tr>
																						</a4j:repeat>
																					</table>
																				</div>
																				<div class="tbl__record--bottom">
																					<div class="tbl__pagi clearfix">
																						<div class="pull-right pagi__wrap">
																							<a4j:region>
																								<h:panelGroup rendered="#{PersonMessageBean.totalrecord==0?'false':'true'}">
																									<a4j:commandLink id="firstPage" styleClass="#{PersonMessageBean.curpage==1?'btn__disable':''}" status="normalStatus" action="#{PersonMessageBean.firstPage}" data="#{PersonMessageBean.msg}" title="Đầu tiên" value="Đầu tiên" reRender="recPage1" />
																									<a4j:commandLink styleClass="#{PersonMessageBean.curpage==1?'btn__disable':''}" status="normalStatus" id="bdr-hv-a" action="#{PersonMessageBean.proPage}" data="#{PersonMessageBean.msg}" title="Trang trước" value="Trang trước" reRender="recPage1" />
																									<input type="text" class="pagi__iput" value="#{PersonMessageBean.curpage}" />
																									<span class="fs-12 color-999 d-ib">/ </span>
																									<span class="fs-12 color-999 d-ib mgR-10">#{PersonMessageBean.totalpage}</span>
																									<a4j:commandLink styleClass="#{PersonMessageBean.curpage==PersonMessageBean.totalpage?'btn__disable':''}" status="normalStatus" data="#{PersonMessageBean.msg}" title="Trang sau" value="Trang sau" action="#{PersonMessageBean.nextPage}" reRender="recPage1" />
																									<a4j:commandLink styleClass="#{PersonMessageBean.curpage==PersonMessageBean.totalpage?'btn__disable':''}" id="lastPage" status="normalStatus" data="#{PersonMessageBean.msg}" title="Sau cùng" value="Sau cùng" action="#{PersonMessageBean.lastPage}" reRender="recPage1" />
																									<span class="fs-12 color-999 d-ib mgR-5">Tổng số： <span class="orange-color">#{PersonMessageBean.totalrecord}</span></span>
																								</h:panelGroup>
																							</a4j:region>
																						</div>
																					</div>
																				</div>
																			</h:panelGroup>
																		</h:form>
																	</f:view>
																</div>
															</div>

															<div class="tab-pane fade" id="beenSent">
																<div class="tbl__record">
																	<f:view>
																		<h:form id="sentMsg">
																			<h:panelGroup id="pgData">
																				<div class="wrap__tbl">
																					<table>
																						<tr class="title">
																							<td class="w-10"><span>STT</span></td>
																							<td class="w-20"><span>Người nhận</span></td>
																							<td class="w-30"><span>Tiêu đề</span></td>
																							<td class="w-20"><span>Thời gian gửi</span></td>
																							<!-- <td class="w-10 hide"><span>Lượt xem</span></td> -->
																							<td class="w-10"></td>
																						</tr>
																						<a4j:repeat value="#{PersonMsgSendBean.reslist}" var="list" rowKeyVar="keys">
																							<tr>
																								<td>#{keys+1}</td>
																								<td>#{list.recipient}</td>
																								<td>#{list.title}</td>
																								<td>#{list.sendtime.substring(8,10)}#{list.sendtime.substring(4,8)}#{list.sendtime.substring(0,4)} #{list.sendtime.substring(11,19)}</td>
																								<!-- <td>#{list.viewtimes}</td> -->
																								<td><a4j:commandLink title="Xem" styleClass="d-ib ver-c color-f49e1d" action="#{PersonMsgSendBean.view}" data="#{PersonMsgSendBean.msg}" value="" oncomplete="viewOpt2(data)">
																										<span class="icon-visibility fs-17"></span>
																										<f:param value="#{list.id}" name="id" />
																									</a4j:commandLink></td>
																							</tr>
																						</a4j:repeat>
																					</table>
																				</div>

																				<div class="tbl__record--bottom">
																					<div class="tbl__pagi clearfix">
																						<div class="pull-right pagi__wrap">
																							<a4j:region>
																								<h:panelGroup rendered="#{PersonMsgSendBean.totalrecord==0?'false':'true'}">
																									<a4j:commandLink styleClass="#{PersonMsgSendBean.curpage==1?'btn__disable':''}" status="normalStatus" action="#{PersonMsgSendBean.firstPage}" data="#{PersonMsgSendBean.msg}" title="Đầu tiên" value="Đầu tiên" reRender="pgData" />
																									<a4j:commandLink styleClass="#{PersonMsgSendBean.curpage==1?'btn__disable':''}" status="normalStatus" action="#{PersonMsgSendBean.proPage}" data="#{PersonMsgSendBean.msg}" title="Trang trước" value="Trang trước" reRender="pgData" />
																									<input type="text" class="pagi__iput" value="#{PersonMsgSendBean.curpage}" />
																									<span class="fs-12 color-999 d-ib">của </span>
																									<span class="fs-12 color-999 d-ib mgR-5">#{PersonMsgSendBean.totalpage}</span>
																									<a4j:commandLink styleClass="#{PersonMsgSendBean.curpage==PersonMsgSendBean.totalpage?'btn__disable':''}" status="normalStatus" data="#{PersonMsgSendBean.msg}" title="Trang sau" value="Trang sau" action="#{PersonMsgSendBean.nextPage}" reRender="pgData" />
																									<a4j:commandLink styleClass="#{PersonMsgSendBean.curpage==PersonMsgSendBean.totalpage?'btn__disable':''}" status="normalStatus" data="#{PersonMsgSendBean.msg}" title="Sau cùng" value="Sau cùng" action="#{PersonMsgSendBean.lastPage}" reRender="pgData" />
																									<span class="fs-12 color-999 d-ib mgR-5">Tổng số： <span class="orange-color">#{PersonMsgSendBean.totalrecord}</span></span>
																								</h:panelGroup>
																							</a4j:region>
																						</div>
																					</div>
																				</div>
																			</h:panelGroup>
																		</h:form>
																	</f:view>
																</div>
															</div>

															<div class="tab-pane fade" id="send">
																<div class="row pdT-25">
																	<div class="col-md-10 col-md-offset-1">
																		<f:view>
																			<h:form id="msg">
																				<a4j:region>
																					<div class="frm__item">
																						<label for="" class="w-25 pdR-15 text-right ver-c font-400">Người nhận:</label>
																						<div class="iput w-45 mgR-10">
																							<h:inputText id="recname" value="#{PersonMsgSendBean.newmsg.recipient}" styleClass="h-35 w-100" />
																							<p class="error">Thông báo lỗi !!!</p>
																						</div>
																						<label class="r__c--emu r__c--emu13x13">
																							<div class="r__c--ui">
																								<input id="eCheckbox" type="checkbox" onclick="userInput('Đại lý cấp trên')" /><span class="check"></span> <span class="checked"></span>
																							</div> Đại lý cấp trên
																						</label>
																					</div>
																					<div class="frm__item">
																						<label for="" class="w-25 pdR-15 text-right ver-c font-400">Tiêu đề:</label>
																						<div class="iput w-45">
																							<h:inputText id="etitle" value="#{PersonMsgSendBean.newmsg.title}" styleClass="h-35 w-100" />
																							<p class="error">Thông báo lỗi !!!</p>
																						</div>
																					</div>
																					<div class="frm__item">
																						<label for="" class="w-25 pdR-15 text-right font-400">Nội dung:</label>
																						<div class="iput w-45">
																							<h:inputTextarea id="econtent" value="#{PersonMsgSendBean.newmsg.content}" rows="10" cols="40" styleClass="w-100 h-150" />
																							<p class="error">Thông báo lỗi !!!</p>
																						</div>
																					</div>
																					<div class="frm__item frm__btn">
																						<label for="" class="w-25 pdR-15 text-right font-400"></label>
																						<a4j:commandButton value="Gửi" onclick="if(!validateSendMessage()) {return false}" status="normalStatus" styleClass="btn__primary d-ib w-45 pdT-10 pdB-10 fs-20" reRender="pgData,econtent,etitle,recname" action="#{PersonMsgSendBean.save}" oncomplete="saveFinish(data)" data="#{PersonMsgSendBean.msg}" />
																					</div>
																				</a4j:region>
																			</h:form>
																		</f:view>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<ui:include src="/templates/common/footer.xhtml" />

				</div>
				<!-- InstanceEndEditable -->
			</div>
		</ui:define>
		<ui:define name="headJs">
			<!-- InstanceBeginEditable name="EditRegion3" -->
			<script type="text/javascript" src="../js/lib/jquery.sticky-kit.min.js"></script>
			<script type="text/javascript" src="../js/lib/layer.js"></script>
			<!-- InstanceEndEditable -->
			<script type="text/javascript">
				//<![CDATA[
				$(window).on('load', function() {
		            getNotYetView();
		        });

		        function getNotYetView() {
		        	$('.num__view').each(function() {
		                var _this = $(this),
		                    getNum = +_this.html();
		                if ( getNum <= 0 ) {
		                    _this.parent().addClass('notyet__view');
		                }
		            });
		        }

                function validateSendMessage() {
                    var receipt = $('input[id="msg:recname"]').val();
                    var title = $('input[id="msg:etitle"]').val();
                    var content = $('textarea[id="msg:econtent"]').val();

                    if (receipt == "") {
                        showErrorAlert("Người nhận không được để trống");
                    } else if (title == "") {
                        showErrorAlert("Tiêu đề không được để trống");
                    } else if (title.length >= 150) {
                        showErrorAlert("Tiêu đề dưới 150 ký tự");
                    }else if (content == "") {
                        showErrorAlert("Nội dung không được để trống");
                    } else if (content.length  >= 3000) {
                        showErrorAlert("Nội dung dưới 3000 ký tự");
                    } else {
                        return true;
                    }
                }
				function confirmDelete(id) {
					layer.confirm('Bạn có chắc muốn xoá?', {
						btn : [ 'OK', 'Cancel' ],
						area : [ '350px' ],
					}, function(index) { // Ok button
						layer.close(index);
						deleteMsg(id);
					}, function() { // Cancel button

					});
				}
				function saveFinish(data) {
					layer.closeAll('loading');

					if (data) {
						showErrorAlert(data);
					} else {
						showSuccessAlert("Gửi thành công");
					}
				}
				function updateMsg(data) {
					var arr = data.split(":");
					var unreadMsgNum = arr[1];
					
                    if(unreadMsgNum <= 0) {
                        $("#unreadMsgNum").remove();
                        $("#unreadMsgNumLeftMenu").text("0");
                    } else {
                        $("#unreadMsgNum").text(unreadMsgNum);
                        $("#unreadMsgNumLeftMenu").text(unreadMsgNum);
                    }
				}
				
				function viewOpt(data) {
					var arr = data.split(":");
					if ("success" == arr[0]) {
						updateMsg(data);
						layer.open({
						    type: 2,
						    title: 'Tin nhắn',
						    shade: 0.5,
						    shadeClose: true,
						    area: ['500px', '295px'],
						    content: '/page/PersonMsgSub.shtml' //iframe的url
						});

						getNotYetView();
					} else {
						showErrorAlert(data);
					}
				}
				function viewOpt2(data) {
					if (data) {
						showErrorAlert(data);
					} else {
						layer.open({
							type: 2,
						    title: 'Tin nhắn',
						    shade: 0.5,
						    shadeClose: true,
						    area: ['500px', '260px'],
		                    content: '/page/PersonMsgSub2.shtml' //iframe的url
		                });
					}
				}
				function userInput(ln) {
					document.getElementById("msg:recname").value = ln;
				}
				function delOpt(data) {
					var arr = data.split(":");
					if ("success" == arr[0]) {
						updateMsg(data);
						showSuccessAlert("Xoá tin nhắn thành công");
					} else {
						showErrorAlert(data);
					}
				}
				function searchfinish(data) {
					if (data) {
						showErrorAlert(data);
					}
				}
				//]]>
			</script>
		</ui:define>
	</ui:composition>
</body>
</html>
