<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
<ui:composition template="/templates/common/layout.xhtml">
    <ui:define name="headCss">
    </ui:define>
    <ui:define name="content">
        <div id="container">
            <!-- InstanceBeginEditable name="EditRegion2" -->
            <div class="dashboard">
                <div class="dashboard__wrapper">
                    <div class="dashboard__wrapper--inner clearfix">
                        <ui:include src="/templates/common/leftMenu.xhtml"/>
                        <div class="dashboard__mana">
                            <div class="dashboard__mana--inner">
                                <div class="tabs_framed">
                                    <div class="inner">
                                        <ul class="tabs clearfix">
                                            <li class="active"><a href="/page/PersonPwd.shtml">Thông tin cá nhân</a></li>
                                            <li><a href="/page/PersonMsg.shtml">Tin nhắn</a></li>
                                            <li><a href="/page/PersonBank.shtml">Tài khoản ngân hàng</a></li>
                                            <li><a href="/page/TransferMoney.shtml">Chuyển quỹ</a></li>
                                        </ul>

                                        <div class="tab-content boxed">
                                            <div class="clearfix" id="user__infor">

                                                <f:view>
                                                    <h:form id="nickname">
                                                        <a4j:region>
                                                            <div class="mgB-40">
                                                                <p class="fs-24 font-300 mgB-25 color-5c5146">Biệt
                                                                    danh</p>
                                                                <div class="frm__item">
                                                                    <label for=""
                                                                           class="font-400 fs-16 color-8e8071 w-20 text-right pdR-20">Tên
                                                                        đăng nhập:</label>
                                                                    <div class="iput w-40">
                                                                        <h:inputText value="#{LoginBean.user.loginname}"
                                                                                     styleClass="h-40 w-100"
                                                                                     readonly="true"></h:inputText>
                                                                    </div>
                                                                </div>
                                                                <div id="nickname_form" class="frm__item">
                                                                    <label for=""
                                                                           class="font-400 fs-16 color-8e8071 w-20 text-right pdR-20">Biệt
                                                                        danh:</label>
                                                                    <div class="iput w-40">
                                                                        <h:inputText id="nickname"
                                                                                     value="#{LoginBean.user.nickname}"
                                                                                     size="20" maxlength="20"
                                                                                     styleClass="h-40 w-100 required email"></h:inputText>
                                                                    </div>
                                                                </div>
                                                                <div class="frm__item frm__btn w-60 text-right">
                                                                    <label for=""
                                                                           class="font-400 fs-16 color-8e8071 w-20 text-right pdR-20"></label>
                                                                    <a4j:commandButton value="Lưu"
                                                                                       onclick="if(!validateNickname()) {return false}"
                                                                                       status="normalStatus"
                                                                                       styleClass="btn__primary d-ib pdT-10 pdB-10 w--180 fs-20"
                                                                                       action="#{LoginBean.changeNickName}"
                                                                                       data="#{LoginBean.msg}"
                                                                                       oncomplete="saveNicknameFinish(data)"/>
                                                                </div>
                                                            </div>

                                                        </a4j:region>
                                                    </h:form>
                                                </f:view>
                                                <f:view>
                                                    <a4j:region>
                                                        <div class="mgB-40">
                                                            <p class="fs-24 font-300 mgB-25 color-5c5146">Số Điện
                                                                Thoại</p>
                                                            <input style="display:none" value="+63" id="country_code"/>
                                                            <input style="display:none"
                                                                   value="#{LoginBean.user.phone}"/>

                                                            <div class="frm__item">
                                                                <h:panelGroup
                                                                        rendered="#{LoginBean.user.verifiedphone==1?'false':'true'}">
                                                                    
																	<iframe id="verfiyPhoneNumber" src="https://verify.loto188.com/verifyphone?phone=#{LoginBean.user.phone}"></iframe>
                                                                	<h:form id="confirmNumPhone">
		                                                                <a4j:jsFunction limitToList="true" ajaxSingle="true"
		                                                                                name="confirmNumPhone"
		                                                                                status="normalStatus"
		                                                                                data="#{PersonPwdBean.msg}"
		                                                                                oncomplete="confirmNumPhonefinish(data);"
		                                                                                action="#{PersonPwdBean.confirmNumPhone}">
		                                                                    <f:param name="code"></f:param>
		                                                                </a4j:jsFunction>
		                                                            </h:form>
                                                                </h:panelGroup>
                                                                <h:panelGroup
                                                                        rendered="#{LoginBean.user.verifiedphone==0?'false':'true'}">

                                                                    <label for=""
                                                                           class="font-400 fs-16 color-8e8071 w-20 text-right pdR-20">Số
                                                                        di động:</label>
                                                                    <div class="iput w-40">
                                                                        <h:inputText value="#{LoginBean.user.phone}"
                                                                                     styleClass="h-40 w-100"
                                                                                     readonly="true"></h:inputText>
                                                                        <span class="verify__icon notification noti__center--top noti__small">
																				<span class="icon-check"></span>
																				<div class="wrap__noti w--100"><div
                                                                                        class="wrap__noti--inner"><span>Đã xác minh</span></div></div>
																			</span>
                                                                    </div>

                                                                </h:panelGroup>
                                                            </div>
                                                        </div>
                                                    </a4j:region>
                                                </f:view>
                                                <f:view>
                                                    <h:form id="password">
                                                        <a4j:region>
                                                            <div id="password_form" class="mgB-40">
                                                                <p class="fs-24 font-300 mgB-25 color-5c5146">Mật
                                                                    Khẩu</p>
                                                                <div class="frm__item">
                                                                    <label for=""
                                                                           class="font-400 fs-16 color-8e8071 w-20 text-right pdR-20">Mật
                                                                        khẩu cũ:</label>
                                                                    <div class="iput w-40">
                                                                        <h:inputSecret id="Pwd"
                                                                                       value="#{PersonPwdBean.oldpwd}"
                                                                                       size="20" maxlength="20"
                                                                                       styleClass="h-40 w-100 required"></h:inputSecret>
                                                                        <p class="error">Thông báo lỗi !!!</p>
                                                                    </div>
                                                                </div>
                                                                <div class="frm__item">
                                                                    <label for=""
                                                                           class="font-400 fs-16 color-8e8071 w-20 text-right pdR-20">Mật
                                                                        khẩu mới:</label>
                                                                    <div class="iput w-40">
                                                                        <h:inputSecret id="newPwd1"
                                                                                       value="#{PersonPwdBean.newpwd}"
                                                                                       size="20" maxlength="20"
                                                                                       styleClass="h-40 w-100 required"></h:inputSecret>
                                                                        <p class="error">Thông báo lỗi !!!</p>
                                                                    </div>
                                                                </div>
                                                                <div class="frm__item">
                                                                    <label for=""
                                                                           class="font-400 fs-16 color-8e8071 w-20 text-right pdR-20">Nhập
                                                                        lại mật khẩu mới:</label>
                                                                    <div class="iput w-40">
                                                                        <h:inputSecret id="newPwd2"
                                                                                       value="#{PersonPwdBean.newpwd2}"
                                                                                       size="20" maxlength="20"
                                                                                       styleClass="h-40 w-100 required"></h:inputSecret>
                                                                        <p class="error">Thông báo lỗi !!!</p>
                                                                    </div>
                                                                </div>
                                                                <div class="frm__item frm__btn w-60 text-right">
                                                                    <label for=""
                                                                           class="font-400 fs-16 color-8e8071 w-20 text-right pdR-20"></label>
                                                                    <a4j:commandButton value="Lưu"
                                                                                       onclick="if(!validatePwd()) {return false}"
                                                                                       status="normalStatus"
                                                                                       styleClass="btn__primary d-ib pdT-10 pdB-10 w--180 fs-20"
                                                                                       action="#{PersonPwdBean.loginPWD}"
                                                                                       reRender="pgData"
                                                                                       data="#{PersonPwdBean.msg}"
                                                                                       oncomplete="saveNewPwdFinish(data)"/>
                                                                </div>
                                                            </div>
                                                        </a4j:region>
                                                    </h:form>
                                                </f:view>
                                                <f:view>
                                                    <h:form id="checkPassword">
                                                        <a4j:region>
                                                            <div class="mgB-40">
                                                                <p class="fs-24 font-300 mgB-25 color-5c5146">Mật Khẩu
                                                                    Thanh Toán</p>
                                                                <div class="frm__item">
                                                                    <label for=""
                                                                           class="font-400 fs-16 color-8e8071 w-20 text-right pdR-20">Mật
                                                                        khẩu cũ:</label>
                                                                    <div class="iput w-40">
                                                                        <h:inputSecret id="checkPwd"
                                                                                       value="#{PersonPwdBean.oldcheckpwd}"
                                                                                       size="20" maxlength="20"
                                                                                       styleClass="h-40 w-100"></h:inputSecret>
                                                                        <p class="error">Thông báo lỗi !!!</p>
                                                                    </div>
                                                                </div>
                                                                <div class="frm__item">
                                                                    <label for=""
                                                                           class="font-400 fs-16 color-8e8071 w-20 text-right pdR-20">Mật
                                                                        khẩu mới:</label>
                                                                    <div class="iput w-40">
                                                                        <h:inputSecret id="newCheckPwd1"
                                                                                       value="#{PersonPwdBean.newcheckpwd}"
                                                                                       size="20" maxlength="20"
                                                                                       styleClass="h-40 w-100"></h:inputSecret>
                                                                        <p class="error">Thông báo lỗi !!!</p>
                                                                    </div>
                                                                </div>
                                                                <div class="frm__item">
                                                                    <label for=""
                                                                           class="font-400 fs-16 color-8e8071 w-20 text-right pdR-20">Nhập
                                                                        lại mật khẩu mới:</label>
                                                                    <div class="iput w-40">
                                                                        <h:inputSecret id="newCheckPwd2"
                                                                                       value="#{PersonPwdBean.newcheckpwd2}"
                                                                                       size="20" maxlength="20"
                                                                                       styleClass="h-40 w-100"></h:inputSecret>
                                                                        <p class="error">Thông báo lỗi !!!</p>
                                                                    </div>
                                                                </div>
                                                                <div class="frm__item frm__btn w-60 text-right">
                                                                    <label for=""
                                                                           class="font-400 fs-16 color-8e8071 w-20 text-right pdR-20"></label>
                                                                    <a4j:commandButton value="Lưu"
                                                                                       onclick="if(!validateNewPwd()) {return false}"
                                                                                       status="normalStatus"
                                                                                       styleClass="btn__primary d-ib pdT-10 pdB-10 w--180 fs-20"
                                                                                       action="#{PersonPwdBean.checkPWD}"
                                                                                       reRender="pgData2"
                                                                                       data="#{PersonPwdBean.msg}"
                                                                                       oncomplete="saveCheckPwdFinish(data)"/>
                                                                </div>
                                                            </div>
                                                        </a4j:region>
                                                    </h:form>
                                                </f:view>
                                                <f:view>
                                                    <h:form id="question">
                                                        <a4j:region>
                                                            <div class="mgB-40">
                                                                <p class="fs-24 font-300 mgB-25 color-5c5146">Câu hỏi bí
                                                                    mật</p>
                                                                <div class="frm__item">
                                                                    <h:panelGroup
                                                                            rendered="#{not empty PersonPwdBean.flagPanel ?'false':'true'}">
                                                                        <label for=""
                                                                               class="font-400 fs-16 color-8e8071 w-20 text-right pdR-20">Chọn
                                                                            câu hỏi:</label>
                                                                    </h:panelGroup>
                                                                    <h:panelGroup
                                                                            rendered="#{not empty PersonPwdBean.flagPanel ?'true':'flase'}">
                                                                        <label for=""
                                                                               class="font-400 fs-16 color-8e8071 w-20 text-right pdR-20">Chọn
                                                                            câu hỏi cũ:</label>
                                                                    </h:panelGroup>
                                                                    <div class="slect__box w-40 d-ib">
                                                                        <h:selectOneMenu id="selectQuestion"
                                                                                         styleClass="w-100 h-40"
                                                                                         value="#{PersonPwdBean.keyQuestion}">
                                                                            <f:selectItems
                                                                                    value="#{PersonPwdBean.sQuestionlist}"/>
                                                                        </h:selectOneMenu>
                                                                        <span class="icon-keyboard_arrow_down"></span>
                                                                        <p class="error">Thông báo lỗi !!!</p>
                                                                    </div>
                                                                </div>

                                                                <div class="frm__item">
                                                                    <label for=""
                                                                           class="font-400 fs-16 color-8e8071 w-20 text-right pdR-20">Câu
                                                                        trả lời:</label>
                                                                    <div class="iput w-40">
                                                                        <h:inputText id="answer"
                                                                                     placeholder="Nhập câu trả lời tương ứng"
                                                                                     value="#{PersonPwdBean.answer}"
                                                                                     styleClass="h-40 w-100"></h:inputText>
                                                                        <p class="error">Thông báo lỗi !!!</p>
                                                                    </div>
                                                                </div>
                                                                <h:panelGroup id="changeQuestion"
                                                                              rendered="#{not empty PersonPwdBean.flagPanel ?'true':'flase'}">
                                                                    <div class="frm__item">
                                                                        <label for=""
                                                                               class="font-400 fs-16 color-8e8071 w-20 text-right pdR-20">Chọn
                                                                            câu hỏi mới:</label>
                                                                        <div class="slect__box w-40 d-ib">
                                                                            <h:selectOneMenu id="selectNewQuestion"
                                                                                             styleClass="w-100 h-40"
                                                                                             value="#{PersonPwdBean.keyQuestionUpdate}">
                                                                                <f:selectItems
                                                                                        value="#{PersonPwdBean.sQuestionlist}"/>
                                                                            </h:selectOneMenu>
                                                                            <span class="icon-keyboard_arrow_down"></span>
                                                                            <p class="error">Thông báo lỗi !!!</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="frm__item">
                                                                        <label for=""
                                                                               class="font-400 fs-16 color-8e8071 w-20 text-right pdR-20">Câu
                                                                            trả lời:</label>
                                                                        <div class="iput w-40">
                                                                            <h:inputText id="newAnswer"
                                                                                         placeholder="Nhập câu trả lời tương ứng"
                                                                                         value="#{PersonPwdBean.answerUpdate}"
                                                                                         styleClass="h-40 w-100"></h:inputText>
                                                                            <p class="error">Thông báo lỗi !!!</p>
                                                                        </div>
                                                                    </div>
                                                                </h:panelGroup>
                                                                <div class="frm__item frm__btn w-60 text-right">
                                                                    <label for=""
                                                                           class="font-400 fs-16 color-8e8071 w-20 text-right pdR-20"></label>
                                                                    <a4j:commandButton value="Lưu"
                                                                                       onclick="if(!validateQuestion()) {return false}"
                                                                                       status="normalStatus"
                                                                                       styleClass="btn__primary d-ib pdT-10 pdB-10 w--180 fs-20"
                                                                                       action="#{PersonPwdBean.updateSQuestion}"
                                                                                       reRender="question"
                                                                                       data="#{PersonPwdBean.msg}"
                                                                                       oncomplete="saveQuestionFinish(data)"/>
                                                                </div>
                                                            </div>
                                                        </a4j:region>
                                                    </h:form>
                                                </f:view>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ui:include src="/templates/common/footer.xhtml"/>

            </div>
        </div>
    </ui:define>
    <ui:define name="headJs">
        <script type="text/javascript" src="../js/jquery.validate.js?#{startup.time}"></script>
        <script type="text/javascript" src="https://sdk.accountkit.com/vi_VN/sdk.js?#{startup.time}"></script>
        <script type="text/javascript">
            //<![CDATA[
            function saveNicknameFinish(data) {
                if (data) {
                    showErrorAlert(data);
                } else {
                    showSuccessAlert("Cập nhật thành công");
                    //Set nickname to header
                    var nickname = $('input[id="nickname:nickname"]').val();
                    $("#nickname_header").text(nickname);
                }
            }

            function saveNewPwdFinish(data) {
                if (data) {
                    showErrorAlert(data);
                } else {
                    showSuccessAlert("Cập nhật thành công");
                    $('input[id="password:Pwd"]').val('');
                    $('input[id="password:newPwd1"]').val('');
                    $('input[id="password:newPwd2"]').val('');
                }
            }

            function saveCheckPwdFinish(data) {
                if (data) {
                    showErrorAlert(data);
                } else {
                    showSuccessAlert("Cập nhật thành công");
                    $('input[id="checkPassword:checkPwd"]').val('');
                    $('input[id="checkPassword:newCheckPwd1"]').val('');
                    $('input[id="checkPassword:newCheckPwd2"]').val('');
                }
            }

            function saveFinish(data) {
                if (data) {
                    showErrorAlert(data);
                } else {
                    showSuccessAlert("Cập nhật thành công");
                }
            }

            function confirmNumPhonefinish(data) {
                if (data) {
                    showErrorAlert(data);
                } else {
                    showSuccessAlert("Cập nhật thành công");
                    window.location.href = "/page/PersonPwd.shtml";
                }
            }

            function saveQuestionFinish(data) {
                if (data) {
                    showErrorAlert(data);
                } else {
                    layer.msg('Update thành công.', {
                        shade: 0.3,
                        closeBtn: true,
                        icon: 1, // 1: icon success, 2: icon error, 3: warning question, 4: lock, 5: face sad, 6: face funny, 7: warning
                        time: 1500
                    }, function () {
                        if (!$('span[id="question:changeQuestion"]').length) {
                            //has question or not
                            location.reload()
                        }
                    });
                }
            }

            function validateNickname() {
                var obj = {};
                obj.nickname = $('input[id="nickname:nickname"]').val();
                return validate(obj);
            }

            function validatePwd() {
                var obj = {};
                obj.password = $('input[id="password:Pwd"]').val();
                obj.newPassowrd1 = $('input[id="password:newPwd1"]').val();
                obj.newPassowrd2 = $('input[id="password:newPwd2"]').val();
                return validate(obj);
            }

            function validateNewPwd() {
                var obj = {};
                obj.password = $('input[id="checkPassword:checkPwd"]').val();
                obj.newPassowrd1 = $('input[id="checkPassword:newCheckPwd1"]').val();
                obj.newPassowrd2 = $('input[id="checkPassword:newCheckPwd2"]').val();
                return validate(obj);
            }

            function validateQuestion() {
                var obj = {};
                obj.anwser = $('input[id="question:answer"]').val();
                obj.newAnwser = $('input[id="question:newAnswer"]').val();
                return validate(obj);
            }
            var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
            var eventer = window[eventMethod];
            var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";

            // Listen to message from child window
            eventer(messageEvent, function(e) {
                var key = e.message ? "message" : "data";
                var data = e[key];
                if (data && data.trim !== '') {
                    confirmNumPhone(data);
                }
            },false);

            //]]>
        </script>
    </ui:define>
</ui:composition>
</body>
</html>
