<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
<ui:composition template="/templates/common/layout.xhtml">
    <ui:define name="headCss">
    </ui:define>
    <ui:define name="content">
        <div id="container">
            <!-- InstanceBeginEditable name="EditRegion2" -->
            <div class="dashboard">
                <div class="dashboard__wrapper">
                    <div class="dashboard__wrapper--inner clearfix">
                        <ui:include src="/templates/common/leftMenu.xhtml" />
                        <div class="dashboard__mana">
                            <div class="dashboard__mana--inner">
                                <div class="tabs_framed">
                                    <div class="inner">
                                        <ul class="tabs clearfix">
                                            <li class="active"><a href="">Câu hỏi thường gặp</a></li>
                                        </ul>

                                        <div class="tab-content boxed">
                                            <div id="question">
                                                <div class="qa__item">
                                                    <a href="">
                                                        <span class="num__qa">1</span>
                                                        <p>Làm sao để đăng ký thành viên Loto188?</p>
                                                    </a>
                                                    <div class="content__wrap">
                                                        <div class="qa__content">
                                                            <p>Bạn có thể liên hệ trực tuyến với Loto188 để được gửi liên kết đăng ký. Bạn cũng có thể thông qua đại lý của LOTO188</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="qa__item">
                                                    <a href="">
                                                        <span class="num__qa">2</span>
                                                        <p>Làm sao để đặt cược tại Loto188?</p>
                                                    </a>
                                                    <div class="content__wrap">
                                                        <div class="qa__content">
                                                            <p>Bạn có thể đăng ký tại trang chủ của Loto188 sau đó đặt cược theo các quy định cá cược của chúng tôi.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="qa__item">
                                                    <a href="">
                                                        <span class="num__qa">3</span>
                                                        <p>Khi nào thì tôi có thể đặt cược?</p>
                                                    </a>
                                                    <div class="content__wrap">
                                                        <div class="qa__content">
                                                            <p>Bạn có thể nạp tiền vào tài khoản, sau đó đăng nhập và đặt cược.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="qa__item">
                                                    <a href="">
                                                        <span class="num__qa">4</span>
                                                        <p>Loto188 cung cấp các loại cược nào?</p>
                                                    </a>
                                                    <div class="content__wrap">
                                                        <div class="qa__content">
                                                            <p>Chúng tôi cung cấp cược xổ số truyền thống Việt Nam, xổ số theo giờ, xổ số theo phút...</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="qa__item">
                                                    <a href="">
                                                        <span class="num__qa">5</span>
                                                        <p>Tôi có thể hủy phiếu cược không?</p>
                                                    </a>
                                                    <div class="content__wrap">
                                                        <div class="qa__content">
                                                            <p>Bạn có thể hủy phiếu cược trước khi hệ thống bắt đầu mở thưởng, nếu sau thời gian này thì phiếu cược không thể hủy nữa.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="qa__item">
                                                    <a href="">
                                                        <span class="num__qa">6</span>
                                                        <p>Làm sao chuyển tiền thắng cược cho tôi?</p>
                                                    </a>
                                                    <div class="content__wrap">
                                                        <div class="qa__content">
                                                            <p>Tiền thắng của bạn sẽ được chuyển về tài khoản ngân hàng của bạn qua internet banking.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="qa__item">
                                                    <a href="">
                                                        <span class="num__qa">7</span>
                                                        <p>Không đăng nhập được phải làm sao?</p>
                                                    </a>
                                                    <div class="content__wrap">
                                                        <div class="qa__content">
                                                            <p>Nếu bạn không đăng nhập được vui lòng liên hệ bộ phận Hỗ trợ trực tuyến để được hướng dẫn.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="qa__item">
                                                    <a href="">
                                                        <span class="num__qa">8</span>
                                                        <p>Làm thế nào để nạp tiền?</p>
                                                    </a>
                                                    <div class="content__wrap">
                                                        <div class="qa__content">
                                                            <p>Bạn có thể nạp qua nhiều cách, vui lòng liên hệ bộ phận Hỗ trợ trực tuyến để được hướng dẫn.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="qa__item">
                                                    <a href="">
                                                        <span class="num__qa">9</span>
                                                        <p>Nếu quên tên đăng nhập hoặc mật khẩu thì phải làm thế nào?</p>
                                                    </a>
                                                    <div class="content__wrap">
                                                        <div class="qa__content">
                                                            <p>Nếu bạn quên tên đăng nhập hoặc mật khẩu, bạn có thể lấy lại thông tin của mình qua email hoặc số điện thoại. Bạn vui lòng liên hệ bộ phận Hỗ trợ trực tuyến để được hướng dẫn thêm.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="qa__item">
                                                    <a href="">
                                                        <span class="num__qa">10</span>
                                                        <p>Có thể đăng nhập từ nhiều địa chỉ khác nhau không?</p>
                                                    </a>
                                                    <div class="content__wrap">
                                                        <div class="qa__content">
                                                            <p>Bạn có thể đăng nhập ở nhiều nơi khác nhau trừ các khu vực cấm đặt cược: đặc khu hành chính Hồng Kông của Cộng hòa Nhân dân Trung Hoa, Hoa Kỳ hoặc vùng lãnh thổ của Hoa Kỳ, Pháp, Thổ Nhĩ Kỳ, Đài Loan, Singapore, Cộng hòa Philippines, Hong Kong, Israel, Italy, Cyprus or Estonia, Tây ba nha, Thụy sĩ, Bulgaria, Antigua and Barbuda, Curacao (gọi chung là "bị nghiêm cấm khu vực pháp lý").</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="qa__item">
                                                    <a href="">
                                                        <span class="num__qa">11</span>
                                                        <p>Giới hạn tiền thưởng là gì? Trang cá cược LOTO188 giới hạn tiền thưởng là bao nhiêu?</p>
                                                    </a>
                                                    <div class="content__wrap">
                                                        <div class="qa__content">
                                                            <p>
                                                                1. Giới hạn tiền thưởng là số tiền trúng thưởng cao nhất được quy định đối với một tài khoản đặt cược trong cùng một loại xổ số và trong cùng một kỳ mở thưởng. <br/>
                                                                2.Tất cả loại xổ số, số tiền thưởng trong cùng 1 kỳ giới hạn cao nhất là 1.000.000.000 VND. <br/>
                                                                3. Trong một kỳ mở thưởng của một loại sổ xố nếu người chơi có đặt cược theo phương thức đánh đơn tổng giải thưởng cao nhất sẽ là 200.000.000 VND. Để hiểu hơn về quy định đánh đơn vui lòng liên hệ CSKH. LOTO188 có quyền giải thích cuối cùng đối với quy định này.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="qa__gotit">
                                                    <div class="line"></div>
                                                    <a onclick="window.open('#{LiveChatUrlProvider.liveChatUrl}','chatwindow','height=510,width=850');"><span class="icons2 icon__live"></span>Liên hệ</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ui:include src="/templates/common/footer.xhtml" />

            </div>
        </div>
    </ui:define>
    <ui:define name="headJs">
        <script type="text/javascript">
            //<![CDATA[
            $('.qa__item>a').on('click', function(e){
                e.preventDefault();
                var _this = $(this),
                    $parent = _this.parent(),
                    $wrap = $parent.find('.content__wrap'),
                    $content = $wrap.find('.qa__content'),
                    hContent = $content.outerHeight();
                if ( _this.hasClass('active') ) {
                    _this.removeClass('active');
                    $wrap.removeClass('qa__show');
                    setTimeout(function() {
                        $wrap.css({height: '0px',overflow: 'hidden'});
                    }, 250);
                }else {
                    $('.qa__item>a').removeClass('active');
                    $('.qa__item .content__wrap').removeClass('qa__show');
                    $('.qa__item .content__wrap').css({height: '0px',overflow: 'hidden'});

                    _this.addClass('active');
                    $wrap.css({height: hContent+'px',overflow:'visible'});
                    $wrap.addClass('qa__show');
                }
            });
            //]]>
        </script>
    </ui:define>
</ui:composition>
</body>
</html>
