<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
<ui:composition template="/templates/common/layout.xhtml">
    <ui:define name="headCss">
    </ui:define>
    <ui:define name="content">
        <div id="container">
            <!-- InstanceBeginEditable name="EditRegion2" -->
            <div class="dashboard">
                <div class="dashboard__wrapper">
                    <div class="dashboard__wrapper--inner clearfix">
                        <ui:include src="/templates/common/leftMenu.xhtml" />
                        <div class="dashboard__mana">
                            <div class="dashboard__mana--inner">
                                <div class="tabs_framed">
                                    <div class="inner">
                                        <ul class="tabs clearfix">
                                            <li><a href="/page/DWDeposit.shtml">Nạp tiền</a></li>
                                            <li><a href="/page/DWDepositRecord.shtml">Lịch sử nạp tiền</a></li>
                                            <li><a href="/page/DWWithDrawl.shtml">Rút tiền</a></li>
                                            <li><a href="/page/DWWithDrawlRecord.shtml">Lịch sử rút tiền</a></li>
                                            <li class="active"><a href="/page/RechargeInstructions.shtml">Hướng dẫn nạp tiền</a></li>
                                        </ul>
                                        <div class="tab-content boxed">
                                            <f:view>
                                                <div class="rechargeIns">
                                                    <h1>Các Phương Thức và hướng dẫn chi tiết các cách nạp tiền vào tài khoản Loto188.</h1>
                                                    <div class="tabs-collap">
                                                        <div class="block-tab">
                                                            <a href="#ckng">CHUYỂN KHOẢN NGÂN HÀNG<div class="arrow-down"></div></a>
                                                            <div class="tab-collap" id="ckng">
                                                                <h2>CHUYỂN KHOẢN NGÂN HÀNG</h2>
                                                                <p class="note"><span class="color-red">*</span>Chuyển khoản ngân hàng là hình thức chuyển khoản trực tiếp từ ngân hàng của quý khách vào tài khoản ngân hàng của Loto188. Thời gian xử lý trong vòng 5 phút kể từ sau khi quý khách chuyển khoản thành công. </p>
                                                                <p class="step">Click vào "Nạp Tiền"</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/1.png" alt=""/>
                                                                </div>
                                                                <p class="step">Chọn ngân hàng -> click vào "Nạp tiền"</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/2.png" alt=""/>
                                                                </div>
                                                                <p class="step">Chuyển khoản sử dụng mã UIDT: Quý khách thực hiện chuyển khoản, điền mã UIDT vào nội dung chuyển khoản (Xem hướng dẫn trên màn hình)</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/4.png" alt=""/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="block-tab">
                                                            <a href="#atmonline">ATM ONLINE<div class="arrow-down"></div></a>
                                                            <div class="tab-collap" id="atmonline">
                                                                <h2>ATM ONLINE</h2>
                                                                <p>Hình thức ATM ONLINE là hình thức nạp tiền bằng số thẻ ATM. Thẻ ATM của quý khách yêu cầu là thẻ ATM nội địa và đã đăng ký dịch vụ Internet banking.</p>
                                                                <p class="step">Step1: Đăng nhập vào tài khoản -> Nạp tiền ->Chuyển khoản nhanh -> ATM Online -> Chọn ATM -> Nạp tiền.</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/6.png" alt=""/>
                                                                </div>
                                                                <p class="step">Step2: Chọn ngân hàng cùng hệ thống ngân hàng của quý khách -> Nhập số tiền muốn nạp -> Gửi đi.</p>
                                                                <p class="note">(Lưu ý: Tiền nạp tối thiểu là 200.000 VND và tối đa là 100.000.000 VND)</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/7.png" alt=""/>
                                                                </div>
                                                                <p class="step">Step3: Nhập thông tin thẻ ATM nội địa</p>
                                                                <p class="note">(Tùy từng ngân hàng giao diện thanh toán khác nhau. Dưới đây là giao diện mẫu của 2 ngân hàng)</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/8.png" alt=""/>
                                                                </div>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/9.png" alt=""/>
                                                                </div>
                                                                <p class="step">Step 4: Nhập mật khẩu giao dịch 1 lần được gửi từ ngân hàng tới số điện thoại đăng ký của quý khách. --> Chuyển khoản thành công.</p>
                                                            </div>
                                                        </div>
                                                        <div class="block-tab">
                                                            <a href="#ebankhelp2pay">EBANK Help2pay<div class="arrow-down"></div></a>
                                                            <div class="tab-collap" id="ebankhelp2pay">
                                                                <h2>EBANK Help2pay</h2>
                                                                <p>Là hình thức chuyển khoản nhanh, số tiền quý khách nạp sẽ được cập nhật ngay lập tức vào tài khoản của quý khách. Để sử dụng hình thức nạp tiền này quý khách cần có tài khoản ngân hàng đã đăng ký dịch vụ internet banking.</p>
                                                                <p class="step">Step 1: Đăng nhập vào tài khoản -> Nạp tiền -> Chuyển khoản nhanh ->Ebank ->Chọn Help2pay -> Nạptiền.</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/13.png" alt=""/>
                                                                </div>
                                                                <p class="step">Step 2: Chọn ngân hàng cùng hệ thống ngân hàng của quý khách ->Nhập số tiền cần nạp -> Gửi đi.</p>
                                                                <p class="note">(Lưu ý: Tiền nạp tối thiểu là 300.000 VND và tối đa là 300.000.000 VND.)</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/14.png" alt=""/>
                                                                </div>
                                                                <p class="step">Step 3: Nhập thông tin tài khoản của khách hàng để đăng nhập vào Internet Banking ->Tiếp tục.</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/15.png" alt=""/>
                                                                </div>
                                                                <p class="step">Step 4: Kiểm tra lại thông tin giao dịch. </p>
                                                                <p class="step">Step 5: Nhập mã OTP được gửi từ ngân hàng vào số điện thoại đăng ký.</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/16.png" alt=""/>
                                                                </div>
                                                                <p class="step">Step6: Giao dịch thành công</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/17.png" alt=""/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="block-tab">
                                                            <a href="#fastpay">FAST PAY<div class="arrow-down"></div></a>
                                                            <div class="tab-collap" id="fastpay">
                                                                <h2>FAST PAY</h2>
                                                                <p>Để nạp tiền bằng hình thức FAST PAY, tài khoản ngân hàng cần đăng ký dịch vụ Internet Banking.</p>
                                                                <h5 style="font-size: 20px;">Trên Điện Thoại:</h5>
                                                                <p><strong>Đăng nhập tài khoản chơi ,tiếp theo chọn mục Nạp tiền Để vào mục FAST PAY.</strong></p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/29.png" alt=""/>
                                                                </div>
                                                                <h5 style="font-size: 20px;">Trên Máy Tính:</h5>
                                                                <p><strong>Đăng nhập tài khoản chơi ,tiếp theo chọn mục Nạp tiền Để vào mục FAST PAY.</strong></p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/30.png" alt=""/>
                                                                </div>
                                                                <p class="step">Bước 1: Chọn một trong những ngân hàng có trên trang để nạp tiền - nhập số tiền nạp và bấm Gửi Đi</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/31.png" alt=""/>
                                                                </div>
                                                                <p class="step">Bước 2: Đăng nhập tài khoản Internet Banking và nhập mã OTP đã báo về tin nhắn điện thoại vào mục nhập OTP và ấn tiếp tục để hoàn tất giao dịch.</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/32.png" alt=""/>
                                                                </div>
                                                                <p class="step">Bước 3: Giao dịch chuyển tiền được hoàn tất và thông báo nạp tiền thành công.</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/33.png" alt=""/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="block-tab">
                                                            <a href="#smartpay">SMART PAY<div class="arrow-down"></div></a>
                                                            <div class="tab-collap" id="smartpay">
                                                                <h2>SMART PAY</h2>
                                                                <p>Để nạp tiền bằng hình thức SMART PAY, tài khoản ngân hàng cần đăng ký dịch vụ Internet Banking.</p>
                                                                <h5 style="font-size: 20px;">Trên Điện Thoại:</h5>
                                                                <p><strong>Đăng nhập tài khoản chơi ,tiếp theo chọn mục Nạp tiền Để vào mục SMART PAY.</strong></p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/34.png" alt=""/>
                                                                </div>
                                                                <h5 style="font-size: 20px;">Trên Máy Tính:</h5>
                                                                <p><strong>Đăng nhập tài khoản chơi ,tiếp theo chọn mục Nạp tiền Để vào mục SMART PAY.</strong></p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/35.png" alt=""/>
                                                                </div>
                                                                <p class="step">Bước 1: Chọn một trong những ngân hàng có trên trang để nạp tiền - nhập số tiền nạp và bấm Gửi Đi</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/31.png" alt=""/>
                                                                </div>
                                                                <p class="step">Bước 2: Đăng nhập tài khoản Internet Banking bấm Next và chọn tài khoản chuyển tiền.</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/36.png" alt=""/>
                                                                </div>
                                                                <p class="step">Bước 3: Sau khi chọn tài khoản chuyển bấm Next để nhập mã kiểm tra phái bên dưới ô Nhập Mã Kiểm Tra vào.</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/37.png" alt=""/>
                                                                </div>
                                                                <p class="step">Bước 4: Sau khi nhập mã kiểm tra sẽ có tin nhắn gửi mã OTP, nhập mã OTP vào để hoàn tất giao dịch.</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/38.png" alt=""/>
                                                                </div>
                                                                <p class="step">Bước 5: Giao dịch chuyển tiền đã thành công</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/39.png" alt=""/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="block-tab">
                                                            <a href="#zalopay">ZALO PAY<div class="arrow-down"></div></a>
                                                            <div class="tab-collap" id="zalopay">
                                                                <h2>ZALO PAY</h2>
                                                                <p>Chuyển khoản bằng Zalo Pay là hình thức Quý khách chỉ cần có tài khoản Zalo là có thể đăng nhập vào ứng dụng ZaloPay.</p>
                                                                <h5 style="font-size: 20px;">Trên Điện Thoại:</h5>
                                                                <p><strong>Đăng nhập tài khoản chơi ,tiếp theo chọn mục Nạp tiền Để vào mục Zalo Pay.</strong></p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/24.png" alt=""/>
                                                                </div>
                                                                <h5 style="font-size: 20px;">Trên Máy Tính:</h5>
                                                                <p><strong>Đăng nhập tài khoản chơi ,tiếp theo chọn mục Nạp tiền Để vào mục Zalo Pay.</strong></p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/25.png" alt=""/>
                                                                </div>
                                                                <p class="step">Bước 1: Khởi động ví điện tử ZaloPay, sau đó chọn vào Thanh toán</p>
                                                                <p>Ấn vào OK  cho phép ứng dụng truy cập Camera sử dụng chức năng quét mã QR.</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/26.png" alt=""/>
                                                                </div>
                                                                <p class="step">Bước 2: Nhập Số tiền cần chuyển và Nội dung chuyển tiền ( Nội dung chuyển tiền là mã nạp tiền của tài khoản chơi ) , sau đó ấn vào mục Xác nhận chuyển tiền .</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/27.png" alt=""/>
                                                                </div>
                                                                <p class="step">Bước 3: Sau khi bấm vào Xác Nhận Chuyển Tiền Qúy khách vui lòng Nhập mật khẩu để xác nhận thanh toán  hoàn tất việc chuyển tiền, sau đó tiền sẽ được chuyển đi thành công.</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/28.png" alt=""/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="block-tab">
                                                            <a href="#momopay">MOMO PAY<div class="arrow-down"></div></a>
                                                            <div class="tab-collap" id="momopay">
                                                                <h2>MOMO PAY</h2>
                                                                <p>Chuyển khoản bằng Ví MOMO là hình thức Quý khách chỉ cần có tài khoản MOMO  là có thể đăng nhập vào ứng dụng VÍ MOMO.</p>
                                                                <p>Đầu tiên Đăng nhập tài khoản chơi LOTO188 ,tiếp theo chọn mục Nạp tiền Để vào mục VÍ MOMO mở ra để lấy mã QR ví MOMO của LOTO188.</p>
                                                                <p class="step">Bước 1: Khởi động ứng dụng ví điện tử MOMO sau đó chọn vào mục “  QUÉT MÃ “ cho phép ứng dụng truy cập Camera sử dụng chức năng quét mã QR.</p>
                                                                <p>Tiếp theo nhập số tiền muốn chuyển và Nội dung chuyển tiền ( Nội dung chuyển tiền là Mã nạp tiền ở tài khoản chơi loto188 ), sau đó ấn vào mục “ Tiếp tục “ chuyển tiền .</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/momo-setep-1.png" alt=""/>
                                                                </div>
                                                                <p class="step">Bước 2: Kiểm tra lại thông tin và Số tiền chuyển sau đó ấn “Xác nhận “ để sang mục nhập mật khẩu thanh toán chuyển tiền để hoàn tất giao dịch chuyển tiền .</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/momo-setep-2.png" alt=""/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="block-tab">
                                                            <a href="#intelpay">INTELPAY<div class="arrow-down"></div></a>
                                                            <div class="tab-collap" id="intelpay">
                                                                <h2>INTELPAY</h2>
                                                                <p>Là hình thức chuyển khoản nhanh, số tiền quý khách nạp sẽ được cập nhật ngay lập tức vào tài khoản của quý khách. Để sử dụng hình thức nạp tiền này quý khách cần có tài khoản ngân hàng đã đăng ký dịch vụ internet banking.</p>
                                                                <p>Đăng nhập tài khoản chơi ,tiếp theo chọn mục NẠP TIỀN  Để vào mục INTELPAY .</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/intel-pay-1.png" alt=""/>
                                                                </div>
                                                                <p class="step">BƯỚC 1 : Chọn 1 trong những ngân hàng có trên trang để nạp tiền tiếp theo nhập số tiền VÀ BẤM “ GỬI ĐI “</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/intel-pay-2.png" alt=""/>
                                                                </div>
                                                                <p class="step">BƯỚC 2: Đăng nhập tên đăng nhập và mật khẩu của tài khoản internet banking sau đó nhập số tiền và mã OTP để thực hiện thao tác chuyển tiền.</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/intel-pay-3.png" alt=""/>
                                                                </div>
                                                                <p>Sau khi thực thiện xác nhận chuyển tiền thành công thì sẽ có thông báo GIAO DỊCH THÀNH CÔNG.</p>
                                                                <div class="img">
                                                                    <img src="/images/huongdannaptien/intel-pay-4.png" alt=""/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </f:view>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ui:include src="/templates/common/footer.xhtml" />

            </div>
            <!-- InstanceEndEditable -->
        </div>
    </ui:define>
    <ui:define name="headJs">
        <script type="text/javascript">
            //<![CDATA[
            $(document).ready(function() {
                $('.tabs-collap .block-tab>a').on('click', function(event) {
                    event.preventDefault();
                    var _this = $(this);
                    var getID = _this.attr('href');
                    var elID = $(getID);
                    var elBlock = $('.tabs-collap .block-tab');
                    var elBlockThis = _this.parent();
                    
                    if (elBlockThis.hasClass('active')) {
                        elBlock.removeClass('active');
                    }else {
                        elBlock.removeClass('active');
                        setTimeout(function(){
                        	elBlockThis.addClass('active');
                        }, 210);
                    }
                });
            });
            //]]>
        </script>
    </ui:define>
</ui:composition>
</body>
</html>