﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
	<ui:composition template="/templates/common/layout.xhtml">
		<ui:define name="headCss">
			<link rel="stylesheet" href="../css/jquery-ui.css" />
			<link rel="stylesheet"
				href="../css/jquery-ui-timepicker-addon.min.css" />
		</ui:define>
		<ui:define name="content">
			<div id="container">
				<!-- InstanceBeginEditable name="EditRegion2" -->
				<div class="dashboard">
					<div class="dashboard__wrapper">
						<div class="dashboard__wrapper--inner clearfix">
							<ui:include src="/templates/common/leftMenu.xhtml" />
							<div class="dashboard__mana">
								<div class="dashboard__mana--inner">
									<div class="tabs_framed">
										<div class="inner">
											<ul class="tabs clearfix">
												<li class="active"><a href="/page/ReportZb.shtml">Biến
														động số dư</a></li>
												<li><a href="/page/BonusReport.shtml">Chi tiết tặng quà</a></li>
												<li><a href="/page/BetRecord.shtml">Lịch sử cược</a></li>
												<li><a href="/page/TraceRecord.shtml">Lịch sử nuôi</a></li>
											</ul>
											<div class="tab-content boxed">
												<f:view>
													<h:form id="GameRecordForm">
														<div class="filter__dashboard">
															<div class="row">
																<div class="col-sm-4">
																	<div class="frm__item">
																		<label for=""
																			class="font-400 w-100 color-8e8071 fs-15">Loại
																			biến động số dư</label>
																		<div class="slect__box w-100">
																			<h:selectOneMenu styleClass="h-40 w-100"
																				value="#{BalanceChangeBean.type}">
																				<f:selectItems value="#{BalanceChangeBean.typelist}"></f:selectItems>
																			</h:selectOneMenu>
																			<span class="icon-keyboard_arrow_down"></span>
																		</div>
																	</div>
																</div>
																<div class="col-sm-8">
																	<div class="frm__item date__rangeinline">
																		<label for=""
																			class="font-400 w-100 color-8e8071 fs-15">Thời
																			gian từ</label>
																		<div class="row">
																			<div class="col-sm-6">
																				<div class="date__from datetime">
																					<h:inputText value="#{BalanceChangeBean.starttime}"
																						styleClass="w-100 h-40" />
																					<span class="icon-calendar"></span>
																				</div>
																			</div>
																			<span class="totxt__date">Đến</span>
																			<div class="col-sm-6">
																				<div class="date__to datetime">
																					<h:inputText value="#{BalanceChangeBean.endtime}"
																						styleClass="w-100 h-40" />
																					<span class="icon-calendar"></span>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-sm-4">
																	<div class="frm__item">
																		<label for=""
																			class="font-400 w-100 color-8e8071 fs-15">Mã
																			số</label>
																		<h:inputText value="#{BalanceChangeBean.wid}"
																			styleClass="w-100 h-40"></h:inputText>
																	</div>
																</div>
																<div class="col-sm-4">
																	<div class="frm__item">
																		<label for=""
																			class="font-400 w-100 color-8e8071 fs-15">Mã
																			số biến động</label>
																		<h:inputText value="#{BalanceChangeBean.id}"
																			styleClass="w-100 h-40"></h:inputText>
																	</div>
																</div>
																<div class="col-sm-4">
																	<div class="frm__item frm__btn">
																		<a4j:commandLink value="Tìm kiếm"
																			onclick="loadingSearch()" status="normalStatus"
																			styleClass="btn__primary w--120 lh-40 h-40 d-ib"
																			action="#{BalanceChangeBean.btnSearch}"
																			reRender="pgData" data="#{BalanceChangeBean.msg}"
																			oncomplete="searchfinish(data)" />
																	</div>
																</div>
															</div>
														</div>

														<div class="tbl__record">
															<h:panelGroup id="pgData">
																<div class="wrap__tbl">
																	<table>
																		<tr class="title">
																			<td class="w-14"><span>Mã số biến động</span></td>
																			<td class="w-12"><span>Thành viên</span></td>
																			<td class="w-11"><span>Thời gian</span></td>
																			<td class="w-15"><span>Loại</span></td>
																			<td class="w-10"><span>Thu nhập</span></td>
																			<td class="w-10"><span>Chi</span></td>
																			<td class="w-11"><span>Số dư trước</span></td>
																			<td class="w-12"><span>Số dư sau</span></td>
																			<td class="w-5"><span>Xem</span></td>
																		</tr>
																		<a4j:repeat value="#{BalanceChangeBean.reslist}"
																			var="list" id="dblist" rowKeyVar="keys">
																			<tr>
																				<td><span>#{list.id}</span></td>
																				<td><span>#{ReportWinLossBean.ruitem.loginname}</span></td>
																				<td><span>#{list.inserttime.substring(0,5)} #{list.inserttime.substring(11,16)}</span></td>
																				<td><span>#{list.opttypename}</span></td>
																				<td><span><h:outputText
																							style="color:#275717" value="#{list.income}"
																							rendered="#{list.income!=0?'true':'false'}">
																							<f:convertNumber pattern="###,###"
																								type="currency" />
																						</h:outputText>
																						<h:outputText value=""
																							rendered="#{list.income!=0?'true':'false'}" /> </span></td>
																				<td><span><h:outputText
																							style="color:#c91810" value="#{list.pay}"
																							rendered="#{list.pay!=0?'true':'false'}">
																							<f:convertNumber pattern="###,###"
																								type="currency" />
																						</h:outputText>
																						<h:outputText value=""
																							rendered="#{list.pay!=0?'true':'false'}" /> </span></td>
																				<td><span><h:outputText
																							value="#{list.beforebalance}">
																							<f:convertNumber pattern="###,###" type="currency" />
																						</h:outputText></span></td>
																				<td><span><h:outputText
																							value="#{list.afterbalance}">
																							<f:convertNumber pattern="###,###"
																								type="currency" />
																						</h:outputText></span></td>
																				<td><span> <h:panelGroup
																							rendered="#{list.wid.substring(0,1)=='B'?'true':'false'}">
																							<a href="javascript:;"
																								onclick="viewOpt('#{list.wid}');"
																								class="color-f49e1d fs-16 notification noti__center--top">
																								<span class="icon__eye icons2"></span> <span
																								class="wrap__noti w--70"> <span
																									class="wrap__noti--inner"> <span>Chi
																											tiết</span></span>
																							</span>
																							</a>
																						</h:panelGroup>
																				</span></td>
																			</tr>
																		</a4j:repeat>
																	</table>
																</div>

																<div class="tbl__record--bottom">
																	<div class="tbl__pagi clearfix">
																		<div class="pull-right pagi__wrap">
																			<a4j:region>
																				<h:panelGroup
																					rendered="#{BalanceChangeBean.totalrecord==0?'false':'true'}">
																					<a4j:commandLink
																						styleClass="#{BalanceChangeBean.curpage==1?'btn__disable':''}"
																						status="normalStatus"
																						action="#{BalanceChangeBean.firstPage}"
																						data="#{BalanceChangeBean.msg}" reRender="pgData"
																						title="Đầu tiên" value="Đầu tiên" />
																					<a4j:commandLink
																						styleClass="#{BalanceChangeBean.curpage==1?'btn__disable':''}"
																						status="normalStatus"
																						action="#{BalanceChangeBean.proPage}"
																						data="#{BalanceChangeBean.msg}" reRender="pgData"
																						title="Trang trước" value="Trang trước" />
																					<input type="text" class="pagi__iput"
																						value="#{BalanceChangeBean.curpage}"
																						onkeypress="if(pageKeyDown(this.value))return false;" />
																					<span class="fs-12 color-999 d-ib">của</span>
																					<span class="fs-12 color-999 d-ib mgR-5"><h:outputText
																							value="of #{BalanceChangeBean.totalpage}" /></span>
																					<a4j:commandLink
																						styleClass="#{BalanceChangeBean.curpage==BalanceChangeBean.totalpage?'btn__disable':''}"
																						status="normalStatus"
																						data="#{BalanceChangeBean.msg}" reRender="pgData"
																						title="Trang sau" value="Trang sau"
																						action="#{BalanceChangeBean.nextPage}" />
																					<a4j:commandLink
																						styleClass="#{BalanceChangeBean.curpage==BalanceChangeBean.totalpage?'btn__disable':''}"
																						status="normalStatus"
																						data="#{BalanceChangeBean.msg}" reRender="pgData"
																						title="Sau cùng" value="Sau cùng"
																						action="#{BalanceChangeBean.lastPage}" />
																					<span class="fs-12 color-999 d-ib mgR-5">Tổng
																						số： <span class="orange-color">#{BalanceChangeBean.totalrecord}</span>
																					</span>
																				</h:panelGroup>
																			</a4j:region>
																		</div>
																		<p class="fs-13">
																			Tổng thu: <span class="color-red"><h:outputText
																					value="#{BalanceChangeBean.income}">
																					<f:convertNumber pattern="###,###" type="currency" />
																				</h:outputText> </span> VND, Tổng chi: <span class="color-red"><h:outputText
																					value="#{BalanceChangeBean.pay}" /></span> VND
																		</p>
																	</div>
																</div>
																<a4j:region>
																	<a4j:jsFunction name="pageKeyDownOPT"
																		status="normalStatus"
																		action="#{BalanceChangeBean.inputPage}"
																		data="#{BalanceChangeBean.msg}"
																		oncomplete="searchfinish(data)" reRender="pgData">
																		<f:param name="num" />
																	</a4j:jsFunction>
																</a4j:region>
															</h:panelGroup>
														</div>
													</h:form>
												</f:view>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<ui:include src="/templates/common/footer.xhtml" />

				</div>
			</div>
		</ui:define>
		<ui:define name="headJs">
			<!-- InstanceBeginEditable name="EditRegion3" -->

			<script type="text/javascript"
				src="../js/lib/jquery-ui-1.11.0.min.js"></script>
			<script type="text/javascript"
				src="../js/lib/jquery-ui-timepicker-addon.min.js"></script>
			<!-- InstanceEndEditable -->
			<script type="text/javascript">
				//<![CDATA[
			 	$(window).on('load', function() {
					$('.date__rangeinline').each(function() {
						var _this = $(this),
							$dateFrom = _this.find('.date__from input'),
							$dateTo = _this.find('.date__to input');
		
						$dateFrom.datetimepicker({
							timeFormat: 'HH:mm:ss',
							dateFormat: 'dd-mm-yy',
							timeText: 'Thời gian',
							hourText: 'Giờ',
							minuteText: 'Phút',
							secondText: 'Giây',
							currentText: 'Hôm nay',
							closeText: 'Hoàn thành',
							prevText: '<span class="icon-arrow_back"></span>',
							nextText: '<span class="icon-arrow_forward"></span>',
							monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
							dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
							onClose: function(dateText, inst) {
								if ($dateTo.val() != '') {
									var testStartDate = $dateFrom.datetimepicker('getDate');
									var testEndDate = $dateTo.datetimepicker('getDate');
									if (testStartDate > testEndDate)
										$dateTo.datetimepicker('setDate', testStartDate);
								}
								else {
									$dateTo.val(dateText);
								}
							},
							onSelect: function (selectedDateTime){
								$dateTo.datetimepicker('option', 'minDate', $dateFrom.datetimepicker('getDate') );
							}
						});
		
						$dateTo.datetimepicker({
							timeFormat: 'HH:mm:ss',
							dateFormat: 'dd-mm-yy',
							timeText: 'Thời gian',
							hourText: 'Giờ',
							minuteText: 'Phút',
							secondText: 'Giây',
							currentText: 'Hôm nay',
							closeText: 'Hoàn thành',
							prevText: '<span class="icon-arrow_back"></span>',
							nextText: '<span class="icon-arrow_forward"></span>',
							monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
							dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
							onClose: function(dateText, inst) {
								if ($dateFrom.val() != '') {
									var testStartDate = $dateFrom.datetimepicker('getDate');
									var testEndDate = $dateTo.datetimepicker('getDate');
									if (testStartDate > testEndDate)
										$dateFrom.datetimepicker('setDate', testEndDate);
								}
								else {
									$dateFrom.val(dateText);
								}
							},
							onSelect: function (selectedDateTime){
								$dateFrom.datetimepicker('option', 'maxDate', $dateTo.datetimepicker('getDate') );
							}
						});
					});
		    	});
			 	function viewOpt(wid){
					_SCROLLINGJXF = "yes";
					layer.open({
					    type: 2,
					    title: 'Xem chi tiết',
					    shadeClose: true,
					    shade: 0.4,
					    area: ['900px', '650px'],
					    content: '/page/BetSubRecord.shtml?id='+wid //iframe的url
					}); 
				}
				function searchfinish(data){
					layer.closeAll("loading");
					if(data){
						showErrorAlert(data);
					}
				}
				function pageKeyDown(num){
					if(num.length>0){
						if(event.keyCode==13) {
							pageKeyDownOPT(num);
						}
					}
				}
				//]]>
			</script>
		</ui:define>
	</ui:composition>
</body>
</html>
