
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
	<ui:composition template="/templates/common/layout.xhtml">
		<ui:define name="headCss">
			<link rel="stylesheet" href="../css/jquery-ui.css" />
			<link rel="stylesheet" href="../css/jquery-ui-timepicker-addon.min.css" />
		</ui:define>
		<ui:define name="content">
			<div id="container">
				<!-- InstanceBeginEditable name="EditRegion2" -->
				<div class="dashboard">
					<div class="dashboard__wrapper">
						<div class="dashboard__wrapper--inner clearfix">
							<ui:include src="/templates/common/leftMenu.xhtml" />
							<div class="dashboard__mana">
								<div class="dashboard__mana--inner">
									<div class="tabs_framed">
										<div class="inner">
											<ul class="tabs clearfix">
												<li><a href="/page/ReportWL.shtml">Báo cáo đại lý</a></li>
												<li class="active"><a href="/page/ReportTD.shtml">Báo cáo nhóm</a></li>
												<li><a href="/page/ReportDay.shtml">Báo cáo hằng ngày</a></li>
											</ul>

											<div class="tab-content boxed">
												<f:view>
													<h:form id="ReportTDForm">
														<div class="filter__dashboard">
															<div class="row">
																<div class="col-sm-8">
																	<div class="frm__item date__rangeinline">
																		<label for="" class="font-400 w-100 color-8e8071 fs-15">Thời gian từ</label>
																		<div class="row">
																			<div class="col-sm-6">
																				<div class="date__from datetime">
																					<h:inputText value="#{ReportTDBean.stime2}"
																								 styleClass="w-100 h-40" />
																					<span class="icon-calendar"></span>
																				</div>
																			</div>
																			<span class="totxt__date">Đến</span>
																			<div class="col-sm-6">
																				<div class="date__to datetime">
																					<h:inputText value="#{ReportTDBean.etime2}"
																								 styleClass="w-100 h-40" />
																					<span class="icon-calendar"></span>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-sm-4">
																	<div class="frm__item frm__btn">
																		<a4j:commandLink onclick="loadingSearch()" styleClass="btn__primary lh-40 h-40 d-ib w--120" value="Tìm kiếm" status="normalStatus"
																						 action="#{ReportTDBean.mainSearch}"
																						 reRender="pgDataTD" data="#{ReportTDBean.msg}"
																						 oncomplete="searchfinish(data)">
																		</a4j:commandLink>
																	</div>
																</div>
															</div>
														</div>

														<h:panelGroup id="pgDataTD">
															<div class="tabs__sub">
																<div class="tabs__link">
																	<ul class="clearfix">
																		<li class="active"><a href="#overView" role="tab" data-toggle="tab">Tổng quan</a></li>
																		<li><a href="#lottery" role="tab" data-toggle="tab">Loại xổ số</a></li>
																		<li><a href="#mmclottery" role="tab" data-toggle="tab">Xổ số nhanh</a></li>
																		<li><a href="#gamedangian" role="tab" data-toggle="tab">Games Dân Gian</a></li>
																		<li><a href="#sport1" role="tab" data-toggle="tab">Thể Thao</a></li>
																		<li><a href="#sport2" role="tab" data-toggle="tab">Thể Thao 2</a></li>
																		<li><a href="#daga" role="tab" data-toggle="tab">Đá Gà</a></li>
																		<li><a href="#habagames" role="tab" data-toggle="tab">Trò chơi</a></li>
																		<li><a href="#livecasino" role="tab" data-toggle="tab">Live Casino</a></li>
																		<li><a href="#banca" role="tab" data-toggle="tab">Bắn Cá</a></li>
																	</ul>
																</div>
																<div class="tab-content">
																	<div class="tab-pane fade in active" id="overView">
																		<div class="tbl__record">
																			<div class="wrap__tbl">
																				<table>
																					<tr>
																						<td class="title w-25"><span>Tổng số thành viên</span></td>
																						<td class="w-25"><span>#{ReportTDBean.member}</span></td>
																						<td class="title w-25"><span>Số thành viên đăng ký</span></td>
																						<td class="w-25"><span>#{ReportTDBean.newreg}</span></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Nạp tiền</span></td>
																						<td><h:outputText value="#{ReportTDBean.res2list.dp}" converter="MoneyConverter" /></td>
																						<td class="title"><span>Rút tiền</span></td>
																						<td><h:outputText value="#{ReportTDBean.res2list.wd}" converter="MoneyConverter" /></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Đặt cược</span></td>
																						<td><h:outputText value="#{
																													ReportTDBean.res2list.tz +
																													ReportTDBean.game2lst.ibcsport +
																													ReportTDBean.game2lst.ibc2sport +
																													ReportTDBean.game2lst.haba +
																													ReportTDBean.game2lst.ebet +
																													ReportTDBean.game2lst.gg +
																													ReportTDBean.game2lst.dg
																												}" converter="MoneyConverter" /></td>
																						<td class="title"><span>Trúng</span></td>
																						<td><h:outputText value="#{
																													ReportTDBean.res2list.win +
																													ReportTDBean.game2lst.ibcsportwin +
																													ReportTDBean.game2lst.ibc2sportwin +
																													ReportTDBean.game2lst.habawin +
																													ReportTDBean.game2lst.ebetwin +
																													ReportTDBean.game2lst.ggwin +
																													ReportTDBean.game2lst.dgwin
																												}" converter="MoneyConverter" /></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Chiết khấu</span></td>
																						<td><h:outputText value="#{ReportTDBean.res2list.fd}" converter="MoneyConverter" /></td>
																						<td class="title"><span>Khuyến mãi</span></td>
																						<td><h:outputText value="#{ReportTDBean.res2list.bonus}" converter="MoneyConverter" /></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Giải may mắn</span></td>
																						<td><h:outputText value="#{ReportTDBean.res2list.luck}" converter="MoneyConverter" /></td>
																						<td class="title"><span>Khác</span></td>
																						<td><h:outputText value="#{ReportTDBean.res2list.others}" converter="MoneyConverter" /></td>
																					</tr>
																					<tr>
																						<td class="title">Lợi nhuận ròng</td>
																						<td><h:outputText value="#{
																													(ReportTDBean.res2list.saletz +
																													ReportTDBean.game2lst.ibcsportwin +
																													ReportTDBean.game2lst.ibc2sportwin +
																													ReportTDBean.game2lst.habawin +
																													ReportTDBean.game2lst.ebetwin +
																													ReportTDBean.game2lst.ggwin +
																													ReportTDBean.game2lst.dgwin) -
																													ReportTDBean.game2lst.ibcsport -
																													ReportTDBean.game2lst.ibc2sport -
																													ReportTDBean.game2lst.haba -
																													ReportTDBean.game2lst.ebet -
																													ReportTDBean.game2lst.gg -
																													ReportTDBean.game2lst.dg
																												}" converter="MoneyConverter" style="color:#{ReportTDBean.res2list.saletz>=0?'blue':'red'}"></h:outputText></td>
																						<td colspan="2"><b>Lợi nhuận ròng = Trúng + Chiết khấu + Khuyến mãi - Cược.</b></td>
																					</tr>
																				</table>
																			</div>
																		</div>
																	</div>
																	<div class="tab-pane fade" id="lottery">
																		<div class="tbl__record">
																			<div class="wrap__tbl">
																				<table>
																					<tr class="title">
																						<td class="w-25"><span>Loại xổ số</span></td>
																						<td class="w-25"><span>Đặt Cược/Trúng Cược</span></td>
																						<td class="w-25"><span>Loại xổ số</span></td>
																						<td class="w-25"><span>Đặt Cược/Trúng Cược</span></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Miền Bắc</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.mienbac}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.mienbacwin}"/></td>
																						<td class="title"><span>Đề đặc biệt Miền Bắc</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.demienbac}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.demienbacwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Hồ Chí Minh</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.hcm}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.hcmwin}"/></td>
																						<td class="title"><span>Cà Mau</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.camau}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.camauwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Đà Lạt</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.dalat}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.dalatwin}"/></td>
																						<td class="title"><span>Bến Tre</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.bentre}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.bentrewin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Vũng Tàu</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.vungtau}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.vungtauwin}"/></td>
																						<td class="title"><span>Bạc Liêu</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.baclieu}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.baclieuwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Đồng Nai</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.dongnai}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.dongnaiwin}"/></td>
																						<td class="title"><span>Cần Thơ</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.cantho}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.canthowin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Sóc Trăng</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.soctrang}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.soctrangwin}"/></td>
																						<td class="title"><span>Tây Ninh</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.tayninh}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.tayninhwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>An Giang</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.angiang}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.angiangwin}"/></td>
																						<td class="title"><span>Bình Thuận</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.binhthuan}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.binhthuanwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Vĩnh Long</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.vinglong}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.vinglongwin}"/></td>
																						<td class="title"><span>Bình Dương</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.binhduong}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.binhduongwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Trà Vinh</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.travinh}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.travinhwin}"/></td>
																						<td class="title"><span>Long An</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.longan}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.longanwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Bình Phước</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.binhphuoc}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.binhphuocwin}"/></td>
																						<td class="title"><span>Hậu Giang</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.haugiang}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.haugiangwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Tiền Giang</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.tiengiang}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.tiengiangwin}"/></td>
																						<td class="title"><span>Kiên Giang</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.kiengiang}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.kiengiangwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Thừa Thiên Huế</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.hue}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.huewin}"/></td>
																						<td class="title"><span>Phú Yên</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.phuyen}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.phuyenwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Đắc Lắc</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.daclac}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.daclacwin}"/></td>
																						<td class="title"><span>Quảng Nam</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.quangnam}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.quangnamwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Đà Nẵng</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.danang}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.danangwin}"/></td>
																						<td class="title"><span>Khánh Hòa</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.khanhhoa}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.khanhhoawin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Bình Định</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.binhdinh}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.binhdinhwin}"/></td>
																						<td class="title"><span>Quảng Trị</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.quangtri}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.quangtriwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Quảng Bình</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.quangbinh}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.quangbinhwin}"/></td>
																						<td class="title"><span>Gia Lai</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.gialai}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.gialaiwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Ninh Thuận</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.ninhthuan}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.ninhthuanwin}"/></td>
																						<td class="title"><span>Quảng Ngãi</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.quangngai}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.quangngaiwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Đắc Nông</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.dacnong}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.dacnongwin}"/></td>
																						<td class="title"><span>Kon Tum</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.kontum}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.kontumwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Đồng Tháp</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.dongthap}"/>/<h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.dongthapwin}"/></td>
																						<td class="title"><span>Tổng chiết khấu</span></td>
																						<td><h:outputText style="color:blue" converter="MoneyConverter" value="#{ReportTDBean.res2list.param1}"/></td>
																					</tr>
																					<tr>
																						<td class="title">Lợi nhuận ròng</td>
																						<td>
																							<h:outputText style="color:blue" converter="MoneyConverter" value="#{	(
																																									ReportTDBean.res2list.demienbacwin+
																																									ReportTDBean.res2list.mienbacwin+
																																									ReportTDBean.res2list.hcmwin+
																																									ReportTDBean.res2list.dongthapwin+
																																									ReportTDBean.res2list.camauwin+
																																									ReportTDBean.res2list.bentrewin+
																																									ReportTDBean.res2list.vungtauwin+
																																									ReportTDBean.res2list.baclieuwin+
																																									ReportTDBean.res2list.dongnaiwin+
																																									ReportTDBean.res2list.canthowin+
																																									ReportTDBean.res2list.soctrangwin+
																																									ReportTDBean.res2list.tayninhwin+
																																									ReportTDBean.res2list.angiangwin+
																																									ReportTDBean.res2list.binhthuanwin+
																																									ReportTDBean.res2list.vinglongwin+
																																									ReportTDBean.res2list.binhduongwin+
																																									ReportTDBean.res2list.travinhwin+
																																									ReportTDBean.res2list.longanwin+
																																									ReportTDBean.res2list.binhphuocwin+
																																									ReportTDBean.res2list.haugiangwin+
																																									ReportTDBean.res2list.tiengiangwin+
																																									ReportTDBean.res2list.kiengiangwin+
																																									ReportTDBean.res2list.dalatwin+
																																									ReportTDBean.res2list.huewin+
																																									ReportTDBean.res2list.phuyenwin+
																																									ReportTDBean.res2list.daclacwin+
																																									ReportTDBean.res2list.quangnamwin+
																																									ReportTDBean.res2list.danangwin+
																																									ReportTDBean.res2list.khanhhoawin+
																																									ReportTDBean.res2list.binhdinhwin+
																																									ReportTDBean.res2list.quangtriwin+
																																									ReportTDBean.res2list.quangbinhwin+
																																									ReportTDBean.res2list.gialaiwin+
																																									ReportTDBean.res2list.ninhthuanwin+
																																									ReportTDBean.res2list.quangngaiwin+
																																									ReportTDBean.res2list.dacnongwin+
																																									ReportTDBean.res2list.kontumwin+
																																									ReportTDBean.res2list.param1)
																																									-
																																									(
																																									ReportTDBean.res2list.mienbac+
																																									ReportTDBean.res2list.demienbac+
																																									ReportTDBean.res2list.hcm+
																																									ReportTDBean.res2list.dongthap+
																																									ReportTDBean.res2list.camau+
																																									ReportTDBean.res2list.bentre+
																																									ReportTDBean.res2list.vungtau+
																																									ReportTDBean.res2list.baclieu+
																																									ReportTDBean.res2list.dongnai+
																																									ReportTDBean.res2list.cantho+
																																									ReportTDBean.res2list.soctrang+
																																									ReportTDBean.res2list.tayninh+
																																									ReportTDBean.res2list.angiang+
																																									ReportTDBean.res2list.binhthuan+
																																									ReportTDBean.res2list.vinglong+
																																									ReportTDBean.res2list.binhduong+
																																									ReportTDBean.res2list.travinh+
																																									ReportTDBean.res2list.longan+
																																									ReportTDBean.res2list.binhphuoc+
																																									ReportTDBean.res2list.haugiang+
																																									ReportTDBean.res2list.tiengiang+
																																									ReportTDBean.res2list.kiengiang+
																																									ReportTDBean.res2list.dalat+
																																									ReportTDBean.res2list.hue+
																																									ReportTDBean.res2list.phuyen+
																																									ReportTDBean.res2list.daclac+
																																									ReportTDBean.res2list.quangnam+
																																									ReportTDBean.res2list.danang+
																																									ReportTDBean.res2list.khanhhoa+
																																									ReportTDBean.res2list.binhdinh+
																																									ReportTDBean.res2list.quangtri+
																																									ReportTDBean.res2list.quangbinh+
																																									ReportTDBean.res2list.gialai+
																																									ReportTDBean.res2list.ninhthuan+
																																									ReportTDBean.res2list.quangngai+
																																									ReportTDBean.res2list.dacnong+
																																									ReportTDBean.res2list.kontum)}" />
																						</td>
																						<td colspan="2"><b>(Lợi nhuận ròng = Trúng + Chiết khấu - Cược) Chú ý: không bao gồm khuyến mãi.</b></td>
																					</tr>
																				</table>
																			</div>
																		</div>
																	</div>
																	<div class="tab-pane fade" id="mmclottery">
																		<div class="tbl__record">
																			<div class="wrap__tbl">
																				<table>
																					<tr class="title">
																						<td class="w-25"><span>Loại xổ số</span></td>
																						<td class="w-25"><span>Đặt Cược/Trúng Cược</span></td>
																						<td class="w-25"><span>Loại xổ số</span></td>
																						<td class="w-25"><span>Đặt Cược/Trúng Cược</span></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Siêu tốc 1 giây</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.mmc}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.mmcwin}"/></td>
																						<td class="title"><span>Siêu tốc 45 giây</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.xs45s}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.xs45swin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Siêu tốc 1 phút</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.xs1m}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.xs1mwin}"/></td>
																						<td class="title"><span>Siêu tốc 1.5 phút</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.xs1m30s}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.xs1m30swin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Siêu tốc 2 phút</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.xs2m}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.xs2mwin}"/></td>
																						<td class="title"><span>Siêu tốc 5 phút</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.xs5m}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.xs5mwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title">Lợi nhuận ròng</td>
																						<td>
																							<h:outputText style="color:blue" converter="MoneyConverter" value="#{	(ReportTDBean.res2list.mmcwin +
																																									ReportTDBean.res2list.xs45swin +
																																									ReportTDBean.res2list.xs1mwin+
																																									ReportTDBean.res2list.xs1m30swin+
																																									ReportTDBean.res2list.xs2mwin+
																																									ReportTDBean.res2list.xs5mwin+
																																									ReportTDBean.res2list.param1)
																																									-
																																									(ReportTDBean.res2list.mmc+
																																									ReportTDBean.res2list.xs45s+
																																									ReportTDBean.res2list.xs1m+
																																									ReportTDBean.res2list.xs1m30s+
																																									ReportTDBean.res2list.xs2m+
																																									ReportTDBean.res2list.xs5m
																																									)}" />
																						</td>
																						<td colspan="2"><b>(Lợi nhuận ròng = Trúng + Chiết khấu - Cược) Chú ý: không bao gồm khuyến mãi.</b></td>
																					</tr>
																				</table>
																			</div>
																		</div>
																	</div>
																	<div class="tab-pane fade" id="gamedangian">
																		<div class="tbl__record">
																			<div class="wrap__tbl">
																				<table>
																					<tr class="title">
																						<td class="w-25"><span>Loại Trò Chơi</span></td>
																						<td class="w-25"><span>Đặt Cược/Trúng Cược</span></td>
																						<td class="w-25"><span>Loại Trò Chơi</span></td>
																						<td class="w-25"><span>Đặt Cược/Trúng Cược</span></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Tài xỉu 1 giây</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.k3}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.k3win}"/></td>
																						<td class="title"><span>Tài xỉu 1 phút</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.ffk3}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.ffk3win}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Xóc đĩa 1 giây</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.xd1s}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.xd1swin}"/></td>
																						<td class="title"><span>Xóc đĩa 1 phút</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.xd1m}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.xd1mwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Bầu cua 1 giây</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.bc1s}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.bc1swin}"/></td>
																						<td class="title"><span>Bầu cua 1 phút</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.bc1m}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.bc1mwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Oẳn Tù Tì</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.ott1s}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.ott1swin}"/></td>
																						<td class="title"></td>
																						<td></td>
																					</tr>
																					<tr>
																						<td class="title"><span>12 Con Giáp 1 Giây</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.ms1s}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.ms1swin}"/></td>
																						<td class="title"><span>12 Con Giáp 1 Phút</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.ms1m}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.ms1mwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title">Lợi nhuận ròng</td>
																						<td>
																							<h:outputText style="color:blue" converter="MoneyConverter" value="#{	(ReportTDBean.res2list.k3win +
																																									ReportTDBean.res2list.ffk3win +
																																									ReportTDBean.res2list.xd1swin+
																																									ReportTDBean.res2list.xd1mwin+
																																									ReportTDBean.res2list.bc1swin+
																																									ReportTDBean.res2list.bc1mwin+
																																									ReportTDBean.res2list.ms1swin+
																																									ReportTDBean.res2list.ms1mwin+
																																									ReportTDBean.res2list.ott1swin+
																																									ReportTDBean.res2list.param1)
																																									-
																																									(ReportTDBean.res2list.k3+
																																									ReportTDBean.res2list.ffk3+
																																									ReportTDBean.res2list.xd1s+
																																									ReportTDBean.res2list.xd1m+
																																									ReportTDBean.res2list.bc1s+
																																									ReportTDBean.res2list.bc1m+
																																									ReportTDBean.res2list.ms1s+
																																									ReportTDBean.res2list.ms1m+
																																									ReportTDBean.res2list.ott1s
																																									)}" />
																						</td>
																						<td colspan="2"><b>(Lợi nhuận ròng = Trúng + Chiết khấu - Cược) Chú ý: không bao gồm khuyến mãi.</b></td>
																					</tr>
																				</table>
																			</div>
																		</div>
																	</div>
																	<div class="tab-pane fade" id="sport1">
																		<div class="tbl__record">
																			<div class="wrap__tbl">
																				<table>
																					<tr class="title">
																						<td class="w-50"><span>Loại Trò Chơi</span></td>
																						<td class="w-50"><span>Đặt Cược/Trúng Cược</span></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Thể Thao</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.game2lst.ibcsport}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.game2lst.ibcsportwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Tổng chiết khấu</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.param1}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Lợi nhuận ròng</span></td>
																						<td>
																							<h:outputText style="color:blue" converter="MoneyConverter" value="#{ReportTDBean.res2list.param1+ReportTDBean.game2lst.ibcsportwin-
																								(ReportTDBean.game2lst.ibcsport)}" />
																						</td>
																					</tr>
																					<tr>
																						<td colspan="2"><b>(Lợi nhuận ròng = Trúng + Chiết khấu - Cược) Chú ý: không bao gồm khuyến mãi.</b></td>
																					</tr>
																				</table>
																			</div>
																		</div>
																	</div>
																	<div class="tab-pane fade" id="sport2">
																		<div class="tbl__record">
																			<div class="wrap__tbl">
																				<table>
																					<tr class="title">
																						<td class="w-50"><span>Loại Trò Chơi</span></td>
																						<td class="w-50"><span>Đặt Cược/Trúng Cược</span></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Thể Thao 2</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.game2lst.ibc2sport}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.game2lst.ibc2sportwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Tổng chiết khấu</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.param1}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Lợi nhuận ròng</span></td>
																						<td>
																							<h:outputText style="color:blue" converter="MoneyConverter" value="#{ReportTDBean.res2list.param1+ReportTDBean.game2lst.ibc2sportwin-
																								(ReportTDBean.game2lst.ibc2sport)}" />
																						</td>
																					</tr>
																					<tr>
																						<td colspan="2"><b>(Lợi nhuận ròng = Trúng + Chiết khấu - Cược) Chú ý: không bao gồm khuyến mãi.</b></td>
																					</tr>
																				</table>
																			</div>
																		</div>
																	</div>
																	<div class="tab-pane fade" id="daga">
																		<div class="tbl__record">
																			<div class="wrap__tbl">
																				<table>
																					<tr class="title">
																						<td class="w-50"><span>Loại Trò Chơi</span></td>
																						<td class="w-50"><span>Đặt Cược/Trúng Cược</span></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Đá Gà</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.game2lst.dg}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.game2lst.dgwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Tổng chiết khấu</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.param1}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Lợi nhuận ròng</span></td>
																						<td><h:outputText style="color:blue" converter="MoneyConverter" value="#{ReportTDBean.game2lst.dgwin + ReportTDBean.res2list.param1 - (ReportTDBean.game2lst.dg)}" /></td>
																					</tr>
																					<tr>
																						<td colspan="2"><b>(Lợi nhuận ròng = Trúng + Chiết khấu - Cược) Chú ý: không bao gồm khuyến mãi.</b></td>
																					</tr>
																				</table>
																			</div>
																		</div>
																	</div>
																	<div class="tab-pane fade" id="habagames">
																		<div class="tbl__record">
																			<div class="wrap__tbl">
																				<table>
																					<tr class="title">
																						<td class="w-50"><span>Loại Trò Chơi</span></td>
																						<td class="w-50"><span>Đặt Cược/Trúng Cược</span></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Trò chơi</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.game2lst.haba}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.game2lst.habawin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Tổng chiết khấu</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.param1}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Lợi nhuận ròng</span></td>
																						<td><h:outputText style="color:blue" converter="MoneyConverter" value="#{ReportTDBean.game2lst.habawin + ReportTDBean.res2list.param1 - (ReportTDBean.game2lst.haba)}" /></td>
																					</tr>
																					<tr>
																						<td colspan="2"><b>(Lợi nhuận ròng = Trúng + Chiết khấu - Cược) Chú ý: không bao gồm khuyến mãi.</b></td>
																					</tr>
																				</table>
																			</div>
																		</div>
																	</div>
																	<div class="tab-pane fade" id="livecasino">
																		<div class="tbl__record">
																			<div class="wrap__tbl">
																				<table>
																					<tr class="title">
																						<td class="w-50"><span>Loại Trò Chơi</span></td>
																						<td class="w-50"><span>Đặt Cược/Trúng Cược</span></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Live Casino</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.game2lst.ebet}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.game2lst.ebetwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Tổng chiết khấu</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.param1}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Lợi nhuận ròng</span></td>
																						<td><h:outputText style="color:blue" converter="MoneyConverter" value="#{ReportTDBean.game2lst.ebetwin + ReportTDBean.res2list.param1 - (ReportTDBean.game2lst.ebet)}" /></td>
																					</tr>
																					<tr>
																						<td colspan="2"><b>(Lợi nhuận ròng = Trúng + Chiết khấu - Cược) Chú ý: không bao gồm khuyến mãi.</b></td>
																					</tr>
																				</table>
																			</div>
																		</div>
																	</div>
																	<div class="tab-pane fade" id="banca">
																		<div class="tbl__record">
																			<div class="wrap__tbl">
																				<table>
																					<tr class="title">
																						<td class="w-50"><span>Loại Trò Chơi</span></td>
																						<td class="w-50"><span>Đặt Cược/Trúng Cược</span></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Bắn Cá</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.game2lst.gg}"/> / <h:outputText converter="MoneyConverter" value="#{ReportTDBean.game2lst.ggwin}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Tổng chiết khấu</span></td>
																						<td><h:outputText converter="MoneyConverter" value="#{ReportTDBean.res2list.param1}"/></td>
																					</tr>
																					<tr>
																						<td class="title"><span>Lợi nhuận ròng</span></td>
																						<td><h:outputText style="color:blue" converter="MoneyConverter" value="#{ReportTDBean.game2lst.ggwin + ReportTDBean.res2list.param1 - (ReportTDBean.game2lst.gg)}" /></td>
																					</tr>
																					<tr>
																						<td colspan="2"><b>(Lợi nhuận ròng = Trúng + Chiết khấu - Cược) Chú ý: không bao gồm khuyến mãi.</b></td>
																					</tr>
																				</table>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</h:panelGroup>
													</h:form>
												</f:view>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<ui:include src="/templates/common/footer.xhtml" />

				</div>
			</div>
		</ui:define>
		<ui:define name="headJs">
			<script type="text/javascript" src="../js/lib/jquery-ui-1.11.0.min.js"></script>
			<script type="text/javascript" src="../js/lib/jquery-ui-timepicker-addon.min.js"></script>
			<script type="text/javascript">
			//<![CDATA[
		 	$(window).on('load', function() {
				$('.date__rangeinline').each(function() {
					var _this = $(this),
						$dateFrom = _this.find('.date__from input'),
						$dateTo = _this.find('.date__to input');
	
					$dateFrom.datetimepicker({
						showTimepicker: false,
						dateFormat: 'dd-mm-yy',
						currentText: 'Hôm nay',
						closeText: 'Hoàn thành',
						prevText: '<span class="icon-arrow_back"></span>',
						nextText: '<span class="icon-arrow_forward"></span>',
						monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
						dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
						minDate: -34,
						onClose: function(dateText, inst) {
							if ($dateTo.val() != '') {
								var testStartDate = $dateFrom.datetimepicker('getDate');
								var testEndDate = $dateTo.datetimepicker('getDate');
								if (testStartDate > testEndDate)
									$dateTo.datetimepicker('setDate', testStartDate);
							}
							else {
								$dateTo.val(dateText);
							}
						},
						onSelect: function (selectedDateTime){
							$dateTo.datetimepicker('option', 'minDate', $dateFrom.datetimepicker('getDate') );
						}
					});
	
					$dateTo.datetimepicker({
						showTimepicker: false,
						dateFormat: 'dd-mm-yy',
						currentText: 'Hôm nay',
						closeText: 'Hoàn thành',
						prevText: '<span class="icon-arrow_back"></span>',
						nextText: '<span class="icon-arrow_forward"></span>',
						monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
						dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
						minDate: -34,
						onClose: function(dateText, inst) {
							if ($dateFrom.val() != '') {
								var testStartDate = $dateFrom.datetimepicker('getDate');
								var testEndDate = $dateTo.datetimepicker('getDate');
								if (testStartDate > testEndDate)
									$dateFrom.datetimepicker('setDate', testEndDate);
							}
							else {
								$dateFrom.val(dateText);
							}
						},
						onSelect: function (selectedDateTime){
							$dateFrom.datetimepicker('option', 'maxDate', $dateTo.datetimepicker('getDate') );
						}
					});
				});
	    		});
			 	function searchfinish(data){
			 		layer.closeAll("loading");
					if(data){
						showErrorAlert(data);
					} else {
						window.location.reload();
					}
				}
				//]]>
			</script>
		</ui:define>
	</ui:composition>
</body>
</html>

