<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
	<ui:composition template="/templates/common/layout.xhtml">
		<ui:define name="headCss">
			<link rel="stylesheet" href="../css/jquery-ui.css" />
			<link rel="stylesheet" href="../css/jquery-ui-timepicker-addon.min.css" />
		</ui:define>
		<ui:define name="content">
			<div id="container">
				<!-- InstanceBeginEditable name="EditRegion2" -->
				<div class="dashboard">
					<div class="dashboard__wrapper">
						<div class="dashboard__wrapper--inner clearfix">
							<ui:include src="/templates/common/leftMenu.xhtml" />
							<div class="dashboard__mana">
								<div class="dashboard__mana--inner">
									<div class="tabs_framed">
										<div class="inner">
											<ul class="tabs clearfix">
												<li><a href="/page/ReportWL.shtml">Báo cáo đại lý</a></li>
												<li><a href="/page/ReportTD.shtml">Báo cáo nhóm</a></li>
												<li class="active"><a href="/page/ReportDay.shtml">Báo cáo hằng ngày</a></li>
											</ul>

											<div class="tab-content boxed">
												<f:view>
													<h:form id="GameRecordForm">
														<div id="agentAccountChange">
															<div class="filter__dashboard">
																<div class="row">
																	<div class="col-sm-4">
																		<div class="frm__item date__rangeinline">
																			<label for="" class="font-400 w-100 color-8e8071 fs-15">Thời gian</label>
																			<div class="date__from datetime">
																				<h:inputText value="#{ReportWinLoss2Bean.dates}"
																							 styleClass="w-100 h-40" />
																				<span class="icon-calendar"></span>
																			</div>
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="frm__item">
																			<label for="" class="font-400 w-100 color-8e8071 fs-15">Sắp xếp</label>
																			<div class="slect__box w-100">
																				<h:selectOneMenu styleClass="h-40 w-100" value="#{ReportWinLoss2Bean.order}">
																					<f:selectItem itemValue="6" itemLabel="Lợi nhuận từ lớn đến nhỏ"></f:selectItem>
																					<f:selectItem itemValue="7" itemLabel="Tổn thất từ lớn tới nhỏ"></f:selectItem>

																					<f:selectItem itemValue="0" itemLabel="Đặt cược từ lớn tới nhỏ"></f:selectItem>
																					<f:selectItem itemValue="2" itemLabel="Trúng cược từ lớn tới nhỏ"></f:selectItem>
																					<f:selectItem itemValue="3" itemLabel="Khuyến mãi từ lớn tới nhỏ"></f:selectItem>
																					<f:selectItem itemValue="4" itemLabel="Nạp tiền từ lớn tới nhỏ"></f:selectItem>
																					<f:selectItem itemValue="5" itemLabel="Rút tiền từ lớn tới nhỏ"></f:selectItem>
																					<f:selectItem itemValue="1" itemLabel="Chiết khấu từ lớn tới nhỏ"></f:selectItem>
																				</h:selectOneMenu>
																				<span class="icon-keyboard_arrow_down"></span>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col-sm-4">
																		<div class="frm__item">
																			<label for="" class="font-400 w-100 color-8e8071 fs-15">Tên tài khoản</label>
																			<h:inputText styleClass="w-100 h-40" value="#{ReportWinLoss2Bean.loginname}"/>
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="frm__item frm__btn">
																			<a4j:commandLink onclick="loadingSearch()" value="Tìm kiếm" status="normalStatus" styleClass="btn__primary d-ib w--120 lh-40 h-40" action="#{ReportWinLoss2Bean.bntSearch}" reRender="pgData" data="#{ReportWinLoss2Bean.msg}" oncomplete="searchfinish(data)">
																			</a4j:commandLink>
																		</div>
																	</div>
																</div>
															</div>
															<div class="tbl__record">
																<h:panelGroup id="pgData">
																	<div class="wrap__tbl">
																		<table>
																			<tr class="title">
																				<td class="w-10"><span>Hội viên</span></td>
																				<td class="w-10"><span>Nạp tiền</span></td>
																				<td class="w-10"><span>Rút tiền</span></td>
																				<td class="w-10"><span>Cược</span></td>
																				<td class="w-12"><span>Chiết khấu</span></td>
																				<td class="w-12"><span>Trúng</span></td>
																				<td class="w-10"><span>Khuyến mãi</span></td>
																				<td class="w-14"><span>Lợi nhuận</span></td>
																				<td class="w-12"><span>Xem</span></td>
																			</tr>
																			<a4j:repeat value="#{ReportWinLoss2Bean.reslist}" var="list" rowKeyVar="keys">
																				<tr>
																					<td><a href="#" title="15 days last" style="color:blue;" onclick="report15day('#{list.loginname}')">#{list.loginname}</a></td>
																					<td><span><h:outputText value="#{list.dp}" converter="MoneyConverter"/></span></td>
																					<td><span><h:outputText value="#{list.wd}" converter="MoneyConverter"/></span></td>
																					<td><span><h:outputText value="#{list.tz}" converter="MoneyConverter"/></span></td>
																					<td><span><h:outputText value="#{list.fd}" converter="MoneyConverter"/></span></td>
																					<td><span><h:outputText value="#{list.win}" converter="MoneyConverter"/></span></td>
																					<td><span><h:outputText value="#{list.bonus}" converter="MoneyConverter"/></span></td>
																					<td><span><h:outputText value="#{list.win+list.fd+list.bonus-list.tz}" style="color:#{list.win+list.fd+list.bonus-list.tz>=0?'#444444':'red'}" converter="MoneyConverter"/></span></td>
																					<td>
																						<a href="" class="notification noti__center--top toggleViewReport" onclick="opentrees(this,'tr#{keys}')">
																							<span class="icon-add"></span>
																						</a>
																					</td>
																				</tr>
																				<tr style="display:none;" id="tr#{keys}">
																					<td colspan="9">
																						<table>
																							<tr class="title">
																								<td colspan="10">
																									Loại xổ số (Đặt cược/trúng cược)
																								</td>
																							</tr>
																							<tr>
																								<td class="w-13">
																									Siêu tốc 1 giây
																								</td>
																								<td class="w-20">
																									<div title="Difference：#{list.mmc-list.mmcwin}" style="color:#{list.mmc &gt;= list.mmcwin?'red':'blue'};display:#{list.mmc==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.mmc}"/> / <h:outputText converter="MoneyConverter" value="#{list.mmcwin}"/>
																									</div>
																								</td>
																								<td class="w-13">
																									Siêu tốc 45 giây
																								</td>
																								<td class="w-20">
																									<div title="Difference：#{list.xs45s-list.xs45swin}" style="color:#{list.xs45s &gt;= list.xs45swin?'red':'blue'};display:#{list.xs45s==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.xs45s}"/> / <h:outputText converter="MoneyConverter" value="#{list.xs45swin}"/>
																									</div>
																								</td>
																								<td class="w-13">
																									Siêu tốc 1 phút
																								</td>
																								<td class="w-21">
																									<div title="Difference：#{list.xs1m-list.xs1mwin}" style="color:#{list.xs1m &gt;= list.xs1mwin?'red':'blue'};display:#{list.xs1m==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.xs1m}"/> / <h:outputText converter="MoneyConverter" value="#{list.xs1mwin}"/>
																									</div>
																								</td>
																							</tr>

																							<tr>
																								<td>
																									Siêu tốc 1.5 phút
																								</td>
																								<td>
																									<div title="Difference：#{list.xs1m30s-list.xs1m30swin}" style="color:#{list.xs1m30s &gt;= list.xs1m30swin?'red':'blue'};display:#{list.xs1m30s==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.xs1m30s}"/> / <h:outputText converter="MoneyConverter" value="#{list.xs1m30swin}"/>
																									</div>
																								</td>
																								<td>
																									Siêu tốc 2 phút
																								</td>
																								<td>
																									<div style="color:#{list.xs2m &gt;= list.xs2mwin?'red':'blue'};display:#{list.xs2m==0?'none':'block'};">
																										<h:outputText converter="MoneyConverter" value="#{list.xs2m}"/> / <h:outputText converter="MoneyConverter" value="#{list.xs2mwin}"/>
																									</div>
																								</td>
																								<td>
																									Siêu tốc 5 phút
																								</td>
																								<td>
																									<div style="color:#{list.xs5m &gt;= list.xs5mwin?'red':'blue'};display:#{list.xs5m==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.xs5m}"/> / <h:outputText converter="MoneyConverter" value="#{list.xs5mwin}"/>
																									</div>
																								</td>

																							</tr>

																							<tr>
																								<td>
																									Miền Bắc
																								</td>
																								<td>
																									<div style="color:#{list.mienbac &gt;= list.mienbacwin?'red':'blue'};display:#{list.mienbac==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.mienbac}"/> / <h:outputText converter="MoneyConverter" value="#{list.mienbacwin}"/>
																									</div>
																								</td>
																								<td>
																									Hồ Chí Minh
																								</td>
																								<td>
																									<div style="color:#{list.hcm &gt;= list.hcmwin?'red':'blue'};display:#{list.hcm==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.hcm}"/> / <h:outputText converter="MoneyConverter" value="#{list.hcmwin}"/>
																									</div>
																								</td>
																								<td>
																									Cà Mau
																								</td>
																								<td>
																									<div style="color:#{list.camau &gt;= list.camauwin?'red':'blue'};display:#{list.camau==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.camau}"/> / <h:outputText converter="MoneyConverter" value="#{list.camauwin}"/>
																									</div>
																								</td>

																							</tr>
																							<tr>
																								<td>
																									Bến Tre
																								</td>
																								<td>
																									<div title="Difference：#{list.bentre-list.bentrewin}" style="color:#{list.bentre &gt;= list.bentrewin?'red':'blue'};display:#{list.bentre==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.bentre}"/> /
																										<h:outputText converter="MoneyConverter" value="#{list.bentrewin}"/>
																									</div>
																								</td>
																								<td>
																									Vũng Tàu
																								</td>
																								<td>
																									<div title="Difference：#{list.vungtau-list.vungtauwin}" style="color:#{list.vungtau &gt;= list.vungtauwin?'red':'blue'};display:#{list.vungtau==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.vungtau}"/> /
																										<h:outputText converter="MoneyConverter" value="#{list.vungtauwin}"/>
																									</div>
																								</td>
																								<td>
																									Bạc Liêu
																								</td>
																								<td>
																									<div title="Difference：#{list.baclieu-list.baclieuwin}" style="color:#{list.baclieu &gt;= list.baclieuwin?'red':'blue'};display:#{list.baclieu==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.baclieu}"/>
																										/
																										<h:outputText converter="MoneyConverter" value="#{list.baclieuwin}"/>
																									</div>
																								</td>
																							</tr>
																							<tr>
																								<td>
																									Đồng Nai
																								</td>
																								<td>
																									<div style="color:#{list.dongnai &gt;= list.dongnaiwin?'red':'blue'};display:#{list.dongnai==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.dongnai}"/> / <h:outputText converter="MoneyConverter" value="#{list.dongnaiwin}"/>
																									</div>
																								</td>
																								<td>
																									Cần Thơ
																								</td>
																								<td>
																									<div style="color:#{list.cantho &gt;= list.canthowin?'red':'blue'};display:#{list.cantho==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.cantho}"/> / <h:outputText converter="MoneyConverter" value="#{list.canthowin}"/>
																									</div>
																								</td>
																								<td>
																									Sóc Trăng
																								</td>

																								<td>
																									<div style="color:#{list.soctrang &gt;= list.soctrangwin?'red':'blue'};display:#{list.soctrang==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.soctrang}"/> / <h:outputText converter="MoneyConverter" value="#{list.soctrangwin}"/>
																									</div>
																								</td>
																							</tr>
																							<tr>
																								<td>
																									Tây Ninh
																								</td>
																								<td>
																									<div style="color:#{list.tayninh &gt;= list.tayninhwin?'red':'blue'};display:#{list.tayninh==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.tayninh}"/> / <h:outputText converter="MoneyConverter" value="#{list.tayninhwin}"/>
																									</div>
																								</td>
																								<td>
																									An Giang
																								</td>
																								<td>
																									<div style="color:#{list.angiang &gt;= list.angiangwin?'red':'blue'};display:#{list.angiang==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.angiang}"/> / <h:outputText converter="MoneyConverter" value="#{list.angiangwin}"/>
																									</div>
																								</td>
																								<td>
																									Bình Thuận
																								</td>
																								<td>
																									<div style="color:#{list.binhthuan &gt;= list.binhthuanwin?'red':'blue'};display:#{list.binhthuan==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.binhthuan}"/> / <h:outputText converter="MoneyConverter" value="#{list.binhthuanwin}"/>
																									</div>
																								</td>
																							</tr>

																							<tr>
																								<td>
																									Vĩnh Long
																								</td>
																								<td>
																									<div style="color:#{list.vinglong &gt;= list.vinglongwin?'red':'blue'};display:#{list.vinglong==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.vinglong}"/> / <h:outputText converter="MoneyConverter" value="#{list.vinglongwin}"/>
																									</div>
																								</td>
																								<td>
																									Bình Dương
																								</td>
																								<td>
																									<div style="color:#{list.binhduong &gt;= list.binhduongwin?'red':'blue'};display:#{list.binhduong==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.binhduong}"/> / <h:outputText converter="MoneyConverter" value="#{list.binhduongwin}"/>
																									</div>
																								</td>
																								<td>
																									Trà Vinh
																								</td>
																								<td>
																									<div style="color:#{list.travinh &gt;= list.travinhwin?'red':'blue'};display:#{list.travinh==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.travinh}"/> / <h:outputText converter="MoneyConverter" value="#{list.travinhwin}"/>
																									</div>
																								</td>
																							</tr>

																							<tr>
																								<td>
																									Long An
																								</td>
																								<td>
																									<div style="color:#{list.longan &gt;= list.longanwin?'red':'blue'};display:#{list.longan==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.longan}"/> / <h:outputText converter="MoneyConverter" value="#{list.longanwin}"/>
																									</div>
																								</td>
																								<td>
																									Bình Phước
																								</td>
																								<td>
																									<div style="color:#{list.binhphuoc &gt;= list.binhphuocwin?'red':'blue'};display:#{list.binhphuoc==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.binhphuoc}"/> / <h:outputText converter="MoneyConverter" value="#{list.binhphuocwin}"/>
																									</div>
																								</td>
																								<td>
																									Hậu Giang
																								</td>
																								<td>
																									<div style="color:#{list.haugiang &gt;= list.haugiangwin?'red':'blue'};display:#{list.haugiang==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.haugiang}"/> / <h:outputText converter="MoneyConverter" value="#{list.haugiangwin}"/>
																									</div>
																								</td>
																							</tr>

																							<tr>
																								<td>
																									Tiền Giang
																								</td>
																								<td>
																									<div style="color:#{list.tiengiang &gt;= list.tiengiangwin?'red':'blue'};display:#{list.tiengiang==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.tiengiang}"/> / <h:outputText converter="MoneyConverter" value="#{list.tiengiangwin}"/>
																									</div>
																								</td>
																								<td>
																									Kiên Giang
																								</td>
																								<td>
																									<div style="color:#{list.kiengiang &gt;= list.kiengiangwin?'red':'blue'};display:#{list.kiengiang==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.kiengiang}"/> / <h:outputText converter="MoneyConverter" value="#{list.kiengiangwin}"/>
																									</div>
																								</td>
																								<td>
																									Đà Lạt
																								</td>
																								<td>
																									<div style="color:#{list.dalat &gt;= list.dalatwin?'red':'blue'};display:#{list.dalat==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.dalat}"/> / <h:outputText converter="MoneyConverter" value="#{list.dalatwin}"/>
																									</div>
																								</td>
																							</tr>

																							<tr>
																								<td>
																									Thừa Thiên Huế
																								</td>
																								<td>
																									<div style="color:#{list.hue &gt;= list.huewin?'red':'blue'};display:#{list.hue==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.hue}"/> / <h:outputText converter="MoneyConverter" value="#{list.huewin}"/>
																									</div>
																								</td>
																								<td>
																									Phú Yên
																								</td>
																								<td>
																									<div style="color:#{list.phuyen &gt;= list.phuyenwin?'red':'blue'};display:#{list.phuyen==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.phuyen}"/> / <h:outputText converter="MoneyConverter" value="#{list.phuyenwin}"/>
																									</div>
																								</td>
																								<td>
																									Đắc Lắc
																								</td>
																								<td>
																									<div style="color:#{list.daclac &gt;= list.daclacwin?'red':'blue'};display:#{list.daclac==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.daclac}"/> / <h:outputText converter="MoneyConverter" value="#{list.daclacwin}"/>
																									</div>
																								</td>
																							</tr>

																							<tr>
																								<td>
																									Quảng Nam
																								</td>
																								<td>
																									<div style="color:#{list.quangnam &gt;= list.quangnamwin?'red':'blue'};display:#{list.quangnam==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.quangnam}"/> / <h:outputText converter="MoneyConverter" value="#{list.quangnamwin}"/>
																									</div>
																								</td>
																								<td>
																									Đà Nẵng
																								</td>
																								<td>
																									<div style="color:#{list.danang &gt;= list.danangwin?'red':'blue'};display:#{list.danang==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.danang}"/> / <h:outputText converter="MoneyConverter" value="#{list.danangwin}"/>
																									</div>
																								</td>
																								<td>
																									Khánh Hòa
																								</td>
																								<td>
																									<div style="color:#{list.khanhhoa &gt;= list.khanhhoawin?'red':'blue'};display:#{list.khanhhoa==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.khanhhoa}"/> / <h:outputText converter="MoneyConverter" value="#{list.khanhhoawin}"/>
																									</div>
																								</td>
																							</tr>

																							<tr>
																								<td>
																									Bình Định
																								</td>
																								<td>
																									<div style="color:#{list.binhdinh &gt;= list.binhdinhwin?'red':'blue'};display:#{list.binhdinh==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.binhdinh}"/> / <h:outputText converter="MoneyConverter" value="#{list.binhdinhwin}"/>
																									</div>
																								</td>
																								<td>
																									Quảng Trị
																								</td>
																								<td>
																									<div style="color:#{list.quangtri &gt;= list.quangtriwin?'red':'blue'};display:#{list.quangtri==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.quangtri}"/> / <h:outputText converter="MoneyConverter" value="#{list.quangtriwin}"/>
																									</div>
																								</td>
																								<td>
																									Quảng Bình
																								</td>
																								<td>
																									<div style="color:#{list.quangbinh &gt;= list.quangbinhwin?'red':'blue'};display:#{list.quangbinh==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.quangbinh}"/> / <h:outputText converter="MoneyConverter" value="#{list.quangbinhwin}"/>
																									</div>
																								</td>
																							</tr>

																							<tr>
																								<td>
																									Gia Lai
																								</td>
																								<td>
																									<div style="color:#{list.gialai &gt;= list.gialaiwin?'red':'blue'};display:#{list.gialai==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.gialai}"/> / <h:outputText converter="MoneyConverter" value="#{list.gialaiwin}"/>
																									</div>
																								</td>
																								<td>
																									Ninh Thuận
																								</td>
																								<td>
																									<div style="color:#{list.ninhthuan &gt;= list.ninhthuanwin?'red':'blue'};display:#{list.ninhthuan==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.ninhthuan}"/> / <h:outputText converter="MoneyConverter" value="#{list.ninhthuanwin}"/>
																									</div>
																								</td>
																								<td>
																									Quảng Ngãi
																								</td>
																								<td>
																									<div style="color:#{list.quangngai &gt;= list.quangngaiwin?'red':'blue'};display:#{list.quangngai==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.quangngai}"/> / <h:outputText converter="MoneyConverter" value="#{list.quangngaiwin}"/>
																									</div>
																								</td>
																							</tr>

																							<tr>
																								<td>
																									Đắc Nông
																								</td>
																								<td>
																									<div style="color:#{list.dacnong &gt;= list.dacnongwin?'red':'blue'};display:#{list.dacnong==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.dacnong}"/> / <h:outputText converter="MoneyConverter" value="#{list.dacnongwin}"/>
																									</div>
																								</td>
																								<td>
																									Kon Tum
																								</td>
																								<td>
																									<div style="color:#{list.kontum &gt;= list.kontumwin?'red':'blue'};display:#{list.kontum==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.kontum}"/> / <h:outputText converter="MoneyConverter" value="#{list.kontumwin}"/>
																									</div>
																								</td>
																								<td>
																									Đồng Tháp
																								</td>
																								<td>
																									<div style="color:#{list.dongthap &gt;= list.dongthapwin?'red':'blue'};display:#{list.dongthap==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.dongthap}"/> / <h:outputText converter="MoneyConverter" value="#{list.dongthapwin}"/>
																									</div>
																								</td>
																							</tr>
																							<tr>
																								<td>
																									Đặc biệt 18h25
																								</td>
																								<td>
																									<div style="color:#{list.demienbac &gt;= list.demienbacwin?'red':'blue'};display:#{list.demienbac==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.demienbac}"/> / <h:outputText converter="MoneyConverter" value="#{list.demienbacwin}"/>
																									</div>
																								</td>
																								<td>
																									Tài Xỉu 1 Giây
																								</td>
																								<td>
																									<div style="color:#{list.k3 &gt;= list.k3win?'red':'blue'};display:#{list.k3==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.k3}"/> / <h:outputText converter="MoneyConverter" value="#{list.k3win}"/>
																									</div>
																								</td>
																								<td>
																									Tài Xỉu 1 Phút
																								</td>
																								<td>
																									<div style="color:#{list.ffk3 &gt;= list.ffk3win?'red':'blue'};display:#{list.ffk3==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.ffk3}"/> / <h:outputText converter="MoneyConverter" value="#{list.ffk3win}"/>
																									</div>
																								</td>
																							</tr>
																							
																							<tr>
																								<td>
																									Xóc Đĩa 1 Giây
																								</td>
																								<td>
																									<div style="color:#{list.xd1s &gt;= list.xd1swin?'red':'blue'};display:#{list.xd1s==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.xd1s}"/> / <h:outputText converter="MoneyConverter" value="#{list.xd1swin}"/>
																									</div>
																								</td>
																								<td>
																									Xóc Đĩa 1 Phút
																								</td>
																								<td>
																									<div style="color:#{list.xd1m &gt;= list.xd1mwin?'red':'blue'};display:#{list.xd1m==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.xd1m}"/> / <h:outputText converter="MoneyConverter" value="#{list.xd1mwin}"/>
																									</div>
																								</td>
																								<td></td>
																								<td></td>
																							</tr>
																							
																							<tr>
																								<td>
																									Bầu Cua 1 Giây
																								</td>
																								<td>
																									<div style="color:#{list.bc1s &gt;= list.bc1swin?'red':'blue'};display:#{list.bc1s==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.bc1s}"/> / <h:outputText converter="MoneyConverter" value="#{list.bc1swin}"/>
																									</div>
																								</td>
																								<td>Bầu Cua 1 Phút</td>
																								<td>
																									<div style="color:#{list.bc1m &gt;= list.bc1mwin ? 'red' : 'blue'};display:#{list.bc1m == 0 ? 'none' : 'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.bc1m}"/> / <h:outputText converter="MoneyConverter" value="#{list.bc1mwin}"/>
																									</div>
																								</td>
																								<td></td>
																								<td></td>
																							</tr>
																							<tr>
																								<td>
																									12 Con Giáp 1 Giây
																								</td>
																								<td>
																									<div style="color:#{list.ms1s &gt;= list.ms1swin?'red':'blue'};display:#{list.ms1s==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.ms1s}"/> / <h:outputText converter="MoneyConverter" value="#{list.ms1swin}"/>
																									</div>
																								</td>
																								<td>12 Con Giáp Phút</td>
																								<td>
																									<div style="color:#{list.ms1m &gt;= list.ms1mwin ? 'red' : 'blue'};display:#{list.ms1m == 0 ? 'none' : 'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.ms1m}"/> / <h:outputText converter="MoneyConverter" value="#{list.ms1mwin}"/>
																									</div>
																								</td>
																								<td></td>
																								<td></td>
																							</tr>
																							
																							<tr>
																								<td>
																									Oẳn Tù Tì
																								</td>
																								<td>
																									<div style="color:#{list.ott1s &gt;= list.ott1swin?'red':'blue'};display:#{list.bc1s==0?'none':'block'}">
																										<h:outputText converter="MoneyConverter" value="#{list.ott1s}"/> / <h:outputText converter="MoneyConverter" value="#{list.ott1swin}"/>
																									</div>
																								</td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																							</tr>
																							
																							

																							<tr>
																								<td>
																									Tổng đặt cược
																								</td>
																								<td colspan="7">
																									<h:outputText converter="MoneyConverter"
																												  value="#{list.mmc+list.xs45swin+list.xs1mwin+list.xs1m30swin+list.xs2mwin+list.xs5mwin+list.mienbacwin+list.hcmwin+list.dongthapwin+list.camauwin+list.bentrewin+list.vungtauwin+list.baclieuwin+list.dongnaiwin+list.canthowin+list.soctrangwin+list.tayninhwin+list.angiangwin+list.binhthuanwin+list.vinglongwin+list.binhduongwin+list.travinhwin+list.longanwin+list.binhphuocwin+list.haugiangwin+list.tiengiangwin+list.kiengiangwin+list.dalatwin+list.huewin+list.phuyenwin+list.daclacwin+list.quangnamwin+list.danangwin+list.khanhhoawin+list.binhdinhwin+list.quangtriwin+list.quangbinhwin+list.gialaiwin+list.ninhthuanwin+list.quangngaiwin+list.dacnongwin+list.kontum+list.k3+list.ffk3+list.xd1s+list.xd1m+list.bc1s+list.bc1m+list.demienbac}"/>
																								</td>
																							</tr>
																							<tr>
																								<td>
																									Tổng chiết khấu
																								</td>
																								<td colspan="7">
																									<h:outputText converter="MoneyConverter" value="#{list.mmcwin+list.xs45swin+list.xs1mwin+list.xs1m30swin+list.xs2mwin+list.xs5mwin+list.mienbacwin+list.hcmwin+list.dongthapwin+list.camauwin+list.bentrewin+list.vungtauwin+list.baclieuwin+list.dongnaiwin+list.canthowin+list.soctrangwin+list.tayninhwin+list.angiangwin+list.binhthuanwin+list.vinglongwin+list.binhduongwin+list.travinhwin+list.longanwin+list.binhphuocwin+list.haugiangwin+list.tiengiangwin+list.kiengiangwin+list.dalatwin+list.huewin+list.phuyenwin+list.daclacwin+list.quangnamwin+list.danangwin+list.khanhhoawin+list.binhdinhwin+list.quangtriwin+list.quangbinhwin+list.gialaiwin+list.ninhthuanwin+list.quangngaiwin+list.dacnongwin+list.kontum+list.k3win+list.ffk3win+list.xd1swin+list.xd1mwin+list.bc1swin+list.bc1mwin+list.demienbacwin-
																										(list.mmc+list.xs45s+list.xs1m+list.xs1m30s+list.xs2m+list.xs5m+list.mienbac+list.hcm+list.dongthap+list.camau+list.bentre+list.vungtau+list.baclieu+list.dongnai+list.cantho+list.soctrang+list.tayninh+list.angiang+list.binhthuan+list.vinglong+list.binhduong+list.travinh+list.longan+list.binhphuoc+list.haugiang+list.tiengiang+list.kiengiang+list.dalat+list.hue+list.phuyen+list.daclac+list.quangnam+list.danang+list.khanhhoa+list.binhdinh+list.quangtri+list.quangbinh+list.gialai+list.ninhthuan+list.quangngai+list.dacnong+list.kontum+list.k3+list.ffk3+list.xd1s+list.xd1m+list.bc1s+list.bc1m+list.demienbac)}" />
																									(Lợi nhuận ròng = Thắng + Chiết khấu + Hoạt động - Cược) Chú ý: không bao gồm khuyến mãi.
																								</td>
																							</tr>
																						</table>
																					</td>
																				</tr>
																			</a4j:repeat>
																		</table>
																	</div>

																	<div class="tbl__record--bottom">
																		<div class="tbl__pagi clearfix">
																			<div class="pull-right pagi__wrap">
																				<a4j:region>
																					<h:panelGroup rendered="#{ReportWinLoss2Bean.totalrecord==0?'false':'true'}">
																						<a4j:commandLink styleClass="#{ReportWinLoss2Bean.curpage==1?'btn__disable':''}" status="normalStatus" action="#{ReportWinLoss2Bean.firstPage}" data="#{ReportWinLoss2Bean.msg}" title="Đầu tiên" value="Đầu tiên" reRender="pgData" />
																						<a4j:commandLink styleClass="#{ReportWinLoss2Bean.curpage==1?'btn__disable':''}" status="normalStatus" action="#{ReportWinLoss2Bean.proPage}" data="#{ReportWinLoss2Bean.msg}" title="Trang trước" value="Trang trước" reRender="pgData" />
																						<input type="text" onkeypress="if(pageKeyDown(this.value))return false;" class="pagi__iput" value="#{ReportWinLoss2Bean.curpage}" />
																						<span class="fs-12 color-999 d-ib">của </span>
																						<span class="fs-12 color-999 d-ib mgR-5">#{ReportWinLoss2Bean.totalpage}</span>
																						<a4j:commandLink styleClass="#{ReportWinLoss2Bean.curpage==ReportWinLoss2Bean.totalpage?'btn__disable':''}" status="normalStatus" data="#{ReportWinLoss2Bean.msg}" title="Trang sau" value="Trang sau" action="#{ReportWinLoss2Bean.nextPage}" reRender="pgData" />
																						<a4j:commandLink styleClass="#{ReportWinLoss2Bean.curpage==ReportWinLoss2Bean.totalpage?'btn__disable':''}" status="normalStatus" data="#{ReportWinLoss2Bean.msg}" title="Sau cùng" value="Sau cùng" action="#{ReportWinLoss2Bean.lastPage}" reRender="pgData" />
																						<span class="fs-12 color-999 d-ib mgR-5">Tổng số： <span class="orange-color">#{ReportWinLoss2Bean.totalrecord}</span></span>
																					</h:panelGroup>
																				</a4j:region>
																			</div>
																			<p class="fs-13">
																				<span class="color-red">Chú ý: </span>Phía trên là báo cáo dữ liệu cho<span style="color:blue;"> cá nhân cấp dưới</span>
																			</p>
																		</div>
																	</div>
																</h:panelGroup>
															</div>
														</div>
													</h:form>
												</f:view>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<ui:include src="/templates/common/footer.xhtml" />

				</div>
			</div>
		</ui:define>
		<ui:define name="headJs">
			<script type="text/javascript" src="../js/lib/jquery-ui-1.11.0.min.js"></script>
			<script type="text/javascript" src="../js/lib/jquery-ui-timepicker-addon.min.js"></script>
			<script type="text/javascript">
				//<![CDATA[
			 	$(window).on('load', function() {
					$('.date__rangeinline').each(function() {
						var _this = $(this),
							$dateFrom = _this.find('.date__from input'),
							$dateTo = _this.find('.date__to input');
		
						$dateFrom.datetimepicker({
							showTimepicker: false,
							dateFormat: 'dd-mm-yy',
							currentText: 'Hôm nay',
							closeText: 'Hoàn thành',
							prevText: '<span class="icon-arrow_back"></span>',
							nextText: '<span class="icon-arrow_forward"></span>',
							monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
							dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
							onClose: function(dateText, inst) {
								if ($dateTo.val() != '') {
									var testStartDate = $dateFrom.datetimepicker('getDate');
									var testEndDate = $dateTo.datetimepicker('getDate');
									if (testStartDate > testEndDate)
										$dateTo.datetimepicker('setDate', testStartDate);
								}
								else {
									$dateTo.val(dateText);
								}
							},
							onSelect: function (selectedDateTime){
								$dateTo.datetimepicker('option', 'minDate', $dateFrom.datetimepicker('getDate') );
							}
						});
					});
		    		});
					function searchfinish(data){
						layer.closeAll("loading");
						if(data){
							showErrorAlert(data);
						}
					}
					function opentrees(obj,rid){
						var _this = $(obj),
						$row = $('#'+rid);
						if( _this.find('span').hasClass('icon-add') ){
	                        _this.find('span').removeClass('icon-add').addClass('icon-remove');
	                        $row.show();
						}else if( _this.find('span').hasClass('icon-remove') ){
	                        _this.find('span').removeClass('icon-remove').addClass('icon-add');
	                        $row.hide();
						}
					}
					function pageKeyDown(num){
						if(num.length>0){
							if(event.keyCode==13) {
								pageKeyDownOPT(num);
							}
						}
					}
					function report15day(lname){
						layer.open({
						    type: 2,
						    title: 'Tình hình phát triển của 15 ngày gần đây',
						    shadeClose: true,
						    shade: 0.8,
						    area: ['900px', '500px'],
						    content: '/page/AgentReport15Day.shtml?lname='+lname //iframe的url
						});
					}
				//]]>
			</script>
		</ui:define>
	</ui:composition>
</body>
</html>
