<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
<ui:composition template="/templates/common/layout.xhtml">
    <ui:define name="headCss">
    </ui:define>
    <ui:define name="content">
        <div id="container">
        	<div class="test">
        		abc
        	</div>
            <ui:include src="/templates/common/footer.xhtml" />
        </div>
    </ui:define>
    <ui:define name="headJs">
        <script type="text/javascript">
            //<![CDATA[
            
            //]]>
        </script>
    </ui:define>
</ui:composition>
</body>
</html>
