﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,900&amp;subset=vietnamese" rel="stylesheet" />
<title>Document</title>

<link rel="stylesheet" href="../css/bootstrap.min.css" />
<link rel="stylesheet" href="../css/style.css" />
</head>
<body>
	<div id="traceHistoryTbl" class="frm__content">
		<div class="popup__content">
			<f:view>
				<h:form id="traceRecordForm">
					<div class="tbl__bder mgB-30 tbl__issuetrace">
						<table>
							<tr>
								<td class="w-20">Mã nuôi</td>
								<td class="w-40">#{TraceRecordBean.trace.id}</td>
								<td class="w-20">Thời gian</td>
								<td class="w-20">#{TraceRecordBean.trace.bettime.substring(8,10)}#{TraceRecordBean.trace.bettime.substring(4,8)}#{TraceRecordBean.trace.bettime.substring(0,4)} #{TraceRecordBean.trace.bettime.substring(11,19)}</td>
							</tr>
							<tr>
								<td>Xổ số</td>
								<td>#{TraceRecordBean.trace.lotteryname}</td>
								<td>Kiểu cược</td>
								<td>#{TraceRecordBean.trace.methodname}</td>
							</tr>
							<tr>
								<td>Số lượt nuôi</td>
								<td>#{TraceRecordBean.trace.tracenumber}</td>
								<td>Nội dung</td>
								<h:panelGroup rendered="#{TraceRecordBean.trace.lotteryid==60 or TraceRecordBean.trace.lotteryid==80?'true':'false'}">
									<td>-</td>
								</h:panelGroup>
								<h:panelGroup rendered="#{TraceRecordBean.trace.lotteryid!=60 and TraceRecordBean.trace.lotteryid!=80?'true':'false'}">
									<td>#{TraceRecordBean.trace.tracecontent}</td>
								</h:panelGroup>
							</tr>
							<tr>
								<td>Ngừng nuôi sau khi trúng</td>
								<td><h:outputText value="#{TraceRecordBean.trace.winstop=='yes'?'Có':'Không'}" /></td>
								<td>Tiền cược</td>
								<td><h:outputText value="#{TraceRecordBean.trace.amount}" converter="MoneyConverter" /> VND</td>
							</tr>
						</table>
					</div>

					<div class="tbl__bder">
						<table>
							<tr>
								<td class="w-20">Mã cược</td>
								<td class="w-20">Nội dung</td>
								<td class="w-10">Cấp số nhân</td>
								<td class="w-20">Lượt xổ</td>
								<td class="w-15">Trạng thái</td>
								<td class="w-10">Thao tác</td>
							</tr>
							<a4j:repeat value="#{TraceRecordBean.betlist}" var="list" id="dblist" rowKeyVar="keys">
								<tr>
									<td onclick="betRecordOpt('#{list.id}')">#{list.id}</td>
									<h:panelGroup rendered="#{list.lotteryid==60 or list.lotteryid==80?'true':'false'}">
										<td onclick="betRecordOpt('#{list.id}')">-</td>
									</h:panelGroup>
									<h:panelGroup rendered="#{list.lotteryid!=60 and list.lotteryid!=80?'true':'false'}">
										<td onclick="betRecordOpt('#{list.id}')">#{list.betcontent}</td>
									</h:panelGroup>
									<td onclick="betRecordOpt('#{list.id}')">#{list.multiple}</td>
									<td onclick="betRecordOpt('#{list.id}')">#{list.issue}</td>
									<td onclick="betRecordOpt('#{list.id}')">
										<h:outputText value="#{list.statusname}" styleClass="color-waitopenbonus" rendered="#{list.status==0?'true':'false'}" />
										<h:outputText value="#{list.statusname}" styleClass="color-waitopenbonus" rendered="#{list.status==1?'true':'false'}" />
										<h:outputText value="#{list.statusname}" styleClass="color-waitcalcubonus" rendered="#{list.status==2?'true':'false'}" />
										<h:outputText value="#{list.statusname}" styleClass="color-truot" rendered="#{list.status==3?'true':'false'}" />
										<h:outputText value="#{list.statusname}" styleClass="color-trung" rendered="#{list.status==4?'true':'false'}" />
										<h:outputText value="#{list.statusname}" styleClass="color-huy" rendered="#{list.status==5?'true':'false'}" />
										<h:outputText value="#{list.statusname}" styleClass="color-huy" rendered="#{list.status==6?'true':'false'}" />
									</td>
									<td>
										<h:panelGroup rendered="#{list.loginname==TraceRecordBean.curloginname?'true':'false'}">
											<h:panelGroup rendered="#{list.status==0?'true':'false'}">
												<a class="color-4f86c1" href="javascript:void(0);" title="Hủy" onclick="confirmOpt('#{list.id}');return false;">Hủy</a>
											</h:panelGroup>
											<h:panelGroup rendered="#{list.status==4||list.status==3?'true':'false'}">
												<a class="color-f49e1d fs-16" href="javascript:void(0);" onclick="betRecordOpt('#{list.id}');return false;"><span class="icon-visibility"></span></a>
											</h:panelGroup>
										</h:panelGroup>
									</td>
								</tr>
							</a4j:repeat>
						</table>
						<div class="text-center mgT-20">
							<h:panelGroup rendered="#{TraceRecordBean.haveCancelTraceFlag==1?'true':'false'}">
								<input type="button" value="Hủy toàn bộ" class="btn__cancel pdT-10 pdB-10 w--100" onclick="confirmOpt_All('#{TraceRecordBean.trace.id}','#{TraceRecordBean.curloginname}','#{TraceRecordBean.trace.lotteryid}','#{TraceRecordBean.trace.methodid}');return false;" />
							</h:panelGroup>
							<input type="button" value="Đóng" onclick="closePopup();" class="btn__primary pdT-10 pdB-10 w--100" style="margin: 10px auto;" />
						</div>
						<a4j:region>
							<a4j:jsFunction name="cancelOpt" status="normalStatus" data="#{GameRecordBean.msg}" oncomplete="saveFinish(data);" action="#{GameRecordBean.cancelBet}">
								<f:param name="id"></f:param>
							</a4j:jsFunction>
						</a4j:region>
						<a4j:region>
							<a4j:jsFunction name="cancelOpt_All" status="normalStatus" data="#{GameRecordBean.msg}" oncomplete="saveFinish(data);" action="#{GameRecordBean.cancelBetAll}">
								<f:param name="id"></f:param>
								<f:param name="curloginname"></f:param>
								<f:param name="lotteryid"></f:param>
								<f:param name="methodid"></f:param>
							</a4j:jsFunction>
						</a4j:region>
					</div>
				</h:form>
			</f:view>
		</div>
	</div>

	<script type="text/javascript" src="../js/build/lib.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/build/common.min.js"></script>

	<script type="text/javascript">
		function saveFinish(data){
			if(data == undefined){
    			parent.layer.msg("Hết thời gian hủy cược!", {
    				icon: 2,
    				time: 2000
    			}, function(){
    				parent.layer.closeAll();
    			})
    		}
			if(data=='success'){
				showSuccessAlert("Thành công: Thực hiện thành công!");
				closewin();
			}else{
				//showErrorAlert("Thất bại: "+data);
				parent.layer.msg(data, {
    				icon: 2,
    				time: 2000
    			}, function(){
    				parent.layer.closeAll();
    			})
			}
		}
		function closewin(){
			var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
			parent.layer.close(index);
		}
		function confirmOpt(sid) {
			layer.confirm('Xác nhận: Bạn có chắc chắn muốn hủy?', {
				btn: ['Có','Không'],
		        area: ['350px'],
		        icon: 3,
		    }, function(){ // Ok button
		        layer.load(2);
		        cancelOpt(sid);
		    }, function() { // Cancel button
		        
		    });
		}
		function confirmOpt_All(tid, curloginname, lotteryid, methodid) {
			layer.confirm('Xác nhận: Bạn có chắc chắn muốn thu hồi hóa đơn?', {
				btn: ['Có','Không'],
		        area: ['350px'],
		        icon: 3,
		    }, function(){ // Ok button
		        layer.load(2);
		        cancelOpt_All(tid, curloginname, lotteryid, methodid);
		    }, function() { // Cancel button
		        
		    });
		}
	
		function betRecordOpt(sid){
			_SCROLLINGJXF = "yes";
			parent.layer.open({
			    type: 2,
			    title: 'Xem lịch sử',
			    shadeClose: true,
			    shade: 0.8,
			    area: ['900px', '650px'],
			    content: '/page/BetSubRecord.shtml?id='+sid //iframe的url
			}); 
		}
	</script>
</body>
</html>
