<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
	<ui:composition template="/templates/common/layout.xhtml">
		<ui:define name="headCss">
			<link rel="stylesheet" href="../css/jquery-ui.css" />
			<link rel="stylesheet"
				href="../css/jquery-ui-timepicker-addon.min.css" />
		</ui:define>
		<ui:define name="content">
			<div id="container">
				<!-- InstanceBeginEditable name="EditRegion2" -->
				<div class="dashboard">
					<div class="dashboard__wrapper">
						<div class="dashboard__wrapper--inner clearfix">
						<ui:include src="/templates/common/leftMenu.xhtml" />
							<div class="dashboard__mana">
								<div class="dashboard__mana--inner">
									<div class="tabs_framed">
										<div class="inner">
											<ul class="tabs clearfix">
												<li><a href="/page/ReportZb.shtml">Biến động số dư</a></li>
												<li><a href="/page/BonusReport.shtml">Chi tiết tặng quà</a></li>
												<li><a href="/page/BetRecord.shtml">Lịch sử cược</a></li>
												<li class="active"><a href="/page/TraceRecord.shtml">Lịch sử nuôi</a></li>
											</ul>
											<div class="tab-content boxed">
												<div class="clearfix" id="agent__sub">
													<h:form id="GameRecordForm">
														<a4j:region>
															<div class="filter__dashboard">
																<div class="row">
																	<div class="col-sm-8">
																		<div class="date__rangeinline frm__item">
																			<label for="" class="font-400 w-100 color-8e8071 fs-15">Thời gian từ</label>
																			<div class="row">
																				<div class="col-sm-6">
																					<div class="date__from datetime">
																						<h:inputText value="#{TraceSearchBean.starttime}"
																									 id="dateFrom" styleClass="w-100 h-40" />
																						<span class="icon-calendar"></span>
																					</div>
																				</div>
																				<span class="totxt__date">Đến</span>
																				<div class="col-sm-6">
																					<div class="date__to datetime">
																						<h:inputText value="#{TraceSearchBean.endtime}"
																									 id="dateTo" styleClass="w-100 h-40" />
																						<span class="icon-calendar"></span>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col-sm-4">
																		<div class="frm__item">
																			<label for="" class="font-400 w-100 color-8e8071 fs-15">Mã số cược</label>
																			<h:inputText id="time02" value="#{TraceSearchBean.traceid}" styleClass="w-100 h-40"></h:inputText>
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="frm__item frm__btn">
																			<a4j:commandButton onclick="loadingSearch()" value="Tìm kiếm" status="normalStatus" styleClass="btn__primary h-40 lh-40 w--120 d-ib" action="#{TraceSearchBean.btnSearch}" data="#{TraceSearchBean.msg}" oncomplete="searchfinish(data)" reRender="pgData" />
																		</div>
																	</div>
																</div>
															</div>
														</a4j:region>
														<h:panelGroup id="pgData">
															<div class="tbl__record">
																<div class="wrap__tbl">
																	<table>
																		<tr class="title">
																			<td class="w-15">Mã số nuôi</td>
																			<td class="w-10">Thời gian</td>
																			<td class="w-12">Tên xổ số</td>
																			<td class="w-10">Cách chơi</td>
																			<td class="w-10">Lượt số nuôi</td>
																			<td class="w-12">Tiền cược</td>
		<!-- 																	<td class="w-12">Trạng thái</td> -->
																			<td class="w-8">Xem</td>
																		</tr>
																		<a4j:repeat value="#{TraceSearchBean.reslist}"
																			var="list" id="dblist" rowKeyVar="keys">
																			<tr style="">
																				<td>#{list.id}</td>
																				<td>#{list.inserttime.substring(8,10)}#{list.inserttime.substring(4,8)}#{list.inserttime.substring(0,4)} #{list.inserttime.substring(11,19)}</td>
																				<td>#{list.lotteryname}</td>
																				<td>#{list.methodname}</td>
																				<td>#{list.tracenumber}</td>
																				<td><h:outputText
																						value="#{list.amount}" converter="MoneyConverter" /></td>
		<!-- 																		<td align="center"><h:outputText value="【元】" -->
		<!-- 																				rendered="#{list.betmodle==1?'true':'false'}" /> <h:outputText -->
		<!-- 																				value="【角】" -->
		<!-- 																				rendered="#{list.betmodle==2?'true':'false'}" /> <h:outputText -->
		<!-- 																				value="【分】" -->
		<!-- 																				rendered="#{list.betmodle==3?'true':'false'}" /></td> -->
																				<td>
																					<a class="color-f49e1d fs-16 notification noti__center--top" href="#" onclick="viewOpt('#{list.id}');">
																						<span class="icon__eye icons2"></span>
																						<span class="wrap__noti w--70">
																							<span class="wrap__noti--inner"> <span>Chi tiết</span></span>
																						</span>
																					</a>
																				</td>
																			</tr>
																		</a4j:repeat>
																	</table>
																</div>

																<div class="tbl__record--bottom">
																	<div class="tbl__pagi clearfix">
																		<h:panelGroup rendered="#{TraceSearchBean.totalrecord==0?'false':'true'}">
																			<div class="pull-right pagi__wrap">
																				<a4j:commandLink
																					styleClass="#{TraceSearchBean.curpage==1?'btn__disable':''}"
																					status="normalStatus"
																					action="#{TraceSearchBean.firstPage}"
																					data="#{TraceSearchBean.msg}"
																					title="Đầu tiên"
																					value="Đầu tiên" reRender="pgData" />
																				<a4j:commandLink
																					styleClass="#{TraceSearchBean.curpage==1?'btn__disable':''}"
																					status="normalStatus"
																					action="#{TraceSearchBean.proPage}"
																					data="#{TraceSearchBean.msg}"
																					title="Trang trước"
																					value="Trang trước" reRender="pgData" />
																				<input type="text" class="pagi__iput"
																					value="#{TraceSearchBean.curpage}"
																					onkeypress="if(pageKeyDown(this.value))return false;" />
																				<span class="fs-12 color-999 d-ib">của</span> <span
																					class="fs-12 color-999 d-ib mgR-5">#{TraceSearchBean.totalpage}</span>
																				<a4j:commandLink
																					styleClass="#{TraceSearchBean.curpage==TraceSearchBean.totalpage?'btn__disable':''}"
																					status="normalStatus" data="#{TraceSearchBean.msg}"
																					title="Trang sau"
																					value="Trang sau" action="#{TraceSearchBean.nextPage}"
																					reRender="pgData" />
																				<a4j:commandLink
																					styleClass="#{TraceSearchBean.curpage==TraceSearchBean.totalpage?'btn__disable':''}"
																					status="normalStatus" data="#{TraceSearchBean.msg}"
																					title="Sau cùng"
																					value="Sau cùng" action="#{TraceSearchBean.lastPage}"
																					reRender="pgData" />
																				<span class="fs-12 color-999 d-ib mgR-5">Tổng
																					số tìm được: <span class="orange-color">#{TraceSearchBean.totalrecord}</span>
																				</span>
																			</div>
																		</h:panelGroup>
																	</div>
																</div>
															</div>
														</h:panelGroup>
													</h:form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<ui:include src="/templates/common/footer.xhtml" />

				</div>
			</div>
		</ui:define>
		<ui:define name="headJs">
			<script type="text/javascript"
				src="../js/lib/jquery-ui-1.11.0.min.js"></script>
			<script type="text/javascript"
				src="../js/lib/jquery-ui-timepicker-addon.min.js"></script>
			<script type="text/javascript">
				//<![CDATA[
				$(window).on('load', function() {
					$('.date__rangeinline').each(function() {
						var _this = $(this),
							$dateFrom = _this.find('.date__from input'),
							$dateTo = _this.find('.date__to input');
		
						$dateFrom.datetimepicker({
							timeFormat: 'HH:mm:ss',
							dateFormat: 'dd-mm-yy',
							timeText: 'Thời gian',
							hourText: 'Giờ',
							minuteText: 'Phút',
							secondText: 'Giây',
							currentText: 'Hôm nay',
							closeText: 'Hoàn thành',
							prevText: '<span class="icon-arrow_back"></span>',
							nextText: '<span class="icon-arrow_forward"></span>',
							monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
							dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
							onClose: function(dateText, inst) {
								if ($dateTo.val() != '') {
									var testStartDate = $dateFrom.datetimepicker('getDate');
									var testEndDate = $dateTo.datetimepicker('getDate');
									if (testStartDate > testEndDate)
										$dateTo.datetimepicker('setDate', testStartDate);
								}
								else {
									$dateTo.val(dateText);
								}
							},
							onSelect: function (selectedDateTime){
								$dateTo.datetimepicker('option', 'minDate', $dateFrom.datetimepicker('getDate') );
							}
						});
		
						$dateTo.datetimepicker({
							timeFormat: 'HH:mm:ss',
							dateFormat: 'dd-mm-yy',
							timeText: 'Thời gian',
							hourText: 'Giờ',
							minuteText: 'Phút',
							secondText: 'Giây',
							currentText: 'Hôm nay',
							closeText: 'Hoàn thành',
							prevText: '<span class="icon-arrow_back"></span>',
							nextText: '<span class="icon-arrow_forward"></span>',
							monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
							dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
							onClose: function(dateText, inst) {
								if ($dateFrom.val() != '') {
									var testStartDate = $dateFrom.datetimepicker('getDate');
									var testEndDate = $dateTo.datetimepicker('getDate');
									if (testStartDate > testEndDate)
										$dateFrom.datetimepicker('setDate', testEndDate);
								}
								else {
									$dateFrom.val(dateText);
								}
							},
							onSelect: function (selectedDateTime){
								$dateFrom.datetimepicker('option', 'maxDate', $dateTo.datetimepicker('getDate') );
							}
						});
					});
		    	});

				function viewOpt(wid) {
					_SCROLLINGJXF = "yes";
					layer.open({
						type : 2,
						title : 'Xem lịch sử nuôi số',
						shadeClose : true,
						shade : 0.8,
						area : [ '1000px', '600px' ],
						content : '/page/TraceSubRecord.shtml?id=' + wid //iframe的url
					});
				}
				function searchfinish(data) {
					layer.closeAll("loading");
					if (data) {
						alert(data);
					}
				}
				
				//]]>
			</script>
		</ui:define>
	</ui:composition>
</body>
</html>
