<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" lang="en">
<body>
<ui:composition template="/templates/common/layout.xhtml">
    <ui:define name="headCss">
    </ui:define>
    <ui:define name="content">
        <div id="container">
            <!-- InstanceBeginEditable name="EditRegion2" -->
            <div class="dashboard">
                <div class="dashboard__wrapper">
                    <div class="dashboard__wrapper--inner clearfix">
                        <ui:include src="/templates/common/leftMenu.xhtml" />
                        <div class="dashboard__mana">
                            <div class="dashboard__mana--inner">
                                <div class="tabs_framed">
                                    <div class="inner">
                                        <ul class="tabs clearfix">
                                            <li><a href="/page/PersonPwd.shtml">Thông tin cá nhân</a></li>
                                            <li><a href="/page/PersonMsg.shtml">Tin nhắn</a></li>
                                            <li><a href="/page/PersonBank.shtml">Tài khoản ngân hàng</a></li>
                                            <li class="active"><a href="">Chuyển quỹ</a></li>
                                        </ul>
                                        <div class="tab-content boxed">
                                            <div id="transferMoney">
                                                <div id="transferMoneyInner">
                                                    <div class="tbl__record">
                                                        <div class="wrap__tbl">
                                                            <table>
                                                                <tr class="title">
                                                                    <td><span>Tài Khoản</span></td>
                                                                    <td><span>Tài Khoản Chính</span></td>
                                                                    <!-- <td><span>Thể Thao</span></td> -->
                                                                    <td><span>Thể Thao</span></td>
                                                                    <td><span>Trò Chơi</span></td>
                                                                    <td><span>Đá Gà</span></td>
                                                                    <td><span>Live Casino</span></td>
                                                                    <td><span>Bắn Cá</span></td>
                                                                    <td><span>Tổng Số</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Số Dư (VNĐ)</td>
                                                                    <td id="balanceMain">0</td>
                                                                    <!-- <td id="balanceSport">0</td> -->
                                                                    <td id="balanceSport2">0</td>
                                                                    <td id="balanceHaba">0</td>
                                                                    <td id="balanceDaGa">0</td>
                                                                    <td id="balanceLiveCasino">0</td>
                                                                    <td id="balanceBanCa">0</td>
                                                                    <td id="totalMoneyHave">0</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="filter__dashboard">
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <div class="frm__item">
                                                                    <label class="font-400 w-100 color-8e8071 fs-15">Từ tài khoản</label>
                                                                    <div class="slect__box w-100">
                                                                        <select id="toAccount" class="h-40 w-100">
                                                                            <option value="1" data-option="taikhoanchinh">Tài khoản chính</option>
                                                                            <!-- <option value="0" data-option="thethao">Thể Thao</option> -->
                                                                            <option value="6" data-option="thethao2">Thể Thao</option>
                                                                            <option value="2" data-option="haba">Trò Chơi</option>
                                                                            <option value="3" data-option="ebet">Live Casino</option>
                                                                            <option value="4" data-option="banca">Bắn Cá</option>
                                                                            <option value="7" data-option="daga">Đá Gà</option>
                                                                        </select>
                                                                        <span class="icon-keyboard_arrow_down"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-1 text-center">
                                                                <span class="icon-arrow_forward"></span>
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <div class="frm__item">
                                                                    <label class="font-400 w-100 color-8e8071 fs-15">Tới</label>
                                                                    <div class="slect__box w-100">
                                                                        <select id="fromAccount" class="h-40 w-100"></select>
                                                                        <span class="icon-keyboard_arrow_down"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <div class="frm__item">
                                                                    <label class="font-400 w-100 color-8e8071 fs-15">Số tiền (VNĐ)</label>
                                                                    <input id="valTransferMoney" type="text" name="" class="w-100 h-40" placeholder="Ít nhất 100,000 VND, Nhiều nhất 1,000,000,000 VND" />
                                                                    <small class="noteTransfer"><span class="color-red">Lưu ý:</span> <span id="minMoneySend">1,000</span> vnđ [ tài khoản chính ] = 1 điểm [ cá cược <span class="color-red" id="typeGameBet"></span> ] khi cược.</small>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <div class="frm__item pdT-20 frm__btn">
                                                                    <a id="btnSubmitTransferMoney" class="btn__primary lh-40 h-40 d-ib w--120" href="#">Xác nhận</a>
                                                                    <span id="noteTransfer"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ui:include src="/templates/common/footer.xhtml" />

            </div>
            <!-- InstanceEndEditable -->
        </div>
    </ui:define>
    <ui:define name="headJs">
		
    </ui:define>
</ui:composition>
</body>
</html>
