@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,900&amp;subset=vietnamese");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css");
@import url("../app/theme/default/layer.css");
@import "theme";

#container {
    min-height: 100vh;
    visibility: hidden;
    position: relative;
    z-index: 2;
    opacity: 0;
    overflow: hidden;
}

$topLogo: 5%;
#wrapper {
    width: 1120px;
    position: absolute;
    top: 600px;
    left: 50%;
    margin-left: -560px;
    height: 660px;
    background-color: $bgGamePlay;
    @include borderRadius(15px);
    -webkit-box-shadow: 2px 6px 18px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 18px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 18px -1px rgba(0,0,0,0.75);

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &.wrapperMove {
        top: $topLogo+17%;
    }
}
.tooltipWrap {
    position: relative;
    .tooltip {
        position: absolute;
        bottom: 115%;
        left: 50%;
        @include transformAni(translateX(-50%));
        background-color: #000;
        padding: 5px 10px;
        @include borderRadius(4px);
        color: #fff;
        font-size: 13px;
        line-height: 1;
        white-space: nowrap;
        display: none;
        &:after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: transparent;
            border-top-color: #000;
            border-width: 5px;
            margin-left: -2px;
        }
    }
    &:hover {
        .tooltip {
            display: block;
        }
    }
}
@keyframes btnEffectHover {
    0%,100% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(.9);
    }
}
.btn-close-game {
    @include getScaleBgSpriteWH(894, 1500, 47, 48, 47, 36, 211);
}
.btn-guide-game {
    @include getScaleBgSpriteWH(894, 1500, 47, 48, 47, 103, 211);
}
.btn-history {
    @include getScaleBgSpriteWH(894, 1500, 47, 48, 47, 170, 211);
}
.btn-refresh {
    @include getScaleBgSpriteWH(894, 1500, 47, 48, 47, 237, 211);
}
.btn-audio {
    @include getScaleBgSpriteWH(894, 1500, 47, 48, 47, 304, 211);
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 22px;
        left: 0;
        width: 50px;
        height: 4px;
        transform: rotate(125deg);
        background-color: $bgGamePlay;
        @include borderRadius(10px);
        display: none;
    }
    &.toggle-audio {
        &:before {
            display: block;
        }
    }
}
.btn-close-game,
.btn-guide-game,
.btn-history,
.btn-refresh,
.btn-audio {
    &:active {
        -webkit-animation: btnEffectHover 2s infinite;
        animation: btnEffectHover 2s infinite;
    }
}
.icon-money {
    @include getScaleBgSpriteWH(894, 1500, 47, 48, 47, 371, 211);
}
.result-user1 {
    &-keo {
        @include getScaleBgSpriteWH(894, 1500, 63, 63, 25, 11, 27);
    }
    &-bua {
        @include getScaleBgSpriteWH(894, 1500, 63, 63, 25, 104, 27);
    }
    &-nap {
        @include getScaleBgSpriteWH(894, 1500, 63, 63, 25, 193, 25);
    }
}

.result-user2 {
    &-keo {
        @include getScaleBgSpriteWH(894, 1500, 63, 63, 25, 185, 93);
    }
    &-bua {
        @include getScaleBgSpriteWH(894, 1500, 63, 63, 25, 13, 95);
    }
    &-nap {
        @include getScaleBgSpriteWH(894, 1500, 63, 63, 25, 107, 95);
    }
}

.user-left {
    &-keo {
        @include getScaleBgSpriteWH(894, 1500, 95, 96, 95, 121, 267);
    }
    &-bua {
        @include getScaleBgSpriteWH(894, 1500, 95, 96, 95, 121, 379);
    }
    &-nap {
        @include getScaleBgSpriteWH(894, 1500, 95, 96, 95, 121, 489);
    }
}

.user-left-small {
    &-keo {
        @include getScaleBgSpriteWH(894, 1500, 95, 96, 50, 121, 267);
    }
    &-bua {
        @include getScaleBgSpriteWH(894, 1500, 95, 96, 50, 121, 379);
    }
    &-nap {
        @include getScaleBgSpriteWH(894, 1500, 95, 96, 50, 121, 489);
    }
}

.user-right {
    &-keo {
        @include getScaleBgSpriteWH(894, 1500, 95, 96, 95, 223, 273);
    }
    &-bua {
        @include getScaleBgSpriteWH(894, 1500, 95, 96, 95, 223, 384);
    }
    &-nap {
        @include getScaleBgSpriteWH(894, 1500, 95, 96, 95, 223, 495);
    }
}

.user-right-small {
    &-keo {
        @include getScaleBgSpriteWH(894, 1500, 95, 96, 50, 223, 273);
    }
    &-bua {
        @include getScaleBgSpriteWH(894, 1500, 95, 96, 50, 223, 384);
    }
    &-nap {
        @include getScaleBgSpriteWH(894, 1500, 95, 96, 50, 223, 495);
    }
}

.chip {
    &-5 {
        @include getScaleBgSpriteWH(894, 1500, 98, 98, 98, 9, 697);
    }
    &-10 {
        @include getScaleBgSpriteWH(894, 1500, 98, 98, 98, 113, 697);
    }
    &-25 {
        @include getScaleBgSpriteWH(894, 1500, 98, 98, 98, 216, 802);
    }
    &-50 {
        @include getScaleBgSpriteWH(894, 1500, 98, 98, 98, 216, 697);
    }
    &-100 {
        @include getScaleBgSpriteWH(894, 1500, 98, 98, 98, 322, 697);
    }
    &-200 {
        @include getScaleBgSpriteWH(894, 1500, 98, 98, 98, 423, 697);
    }
    &-300 {
        @include getScaleBgSpriteWH(894, 1500, 98, 98, 98, 522, 697);
    }
    &-400 {
        @include getScaleBgSpriteWH(894, 1500, 98, 98, 98, 11, 802);
    }
    &-500 {
        @include getScaleBgSpriteWH(894, 1500, 98, 98, 98, 113, 802);
    }
    &-custom {
        @include getScaleBgSpriteWH(894, 1500, 98, 98, 98, 318, 802);
    }
}

.chip-custom-icon {
    &.chip-clone-moved {
        .icon {
            @include getScaleBgSpriteWH(894, 1500, 78, 78, 78, 328, 363);
        }
    }
}
.chip-clone-moved {
    .icon {
        color: red;
        font-weight: 700;
    }
}
.chip-clone {
    &-5 {
        @include getScaleBgSpriteWH(894, 1500, 78, 78, 78, 328, 363);
    }
    &-10 {
        @include getScaleBgSpriteWH(894, 1500, 78, 78, 78, 329, 273);
    }
    &-25 {
        @include getScaleBgSpriteWH(894, 1500, 78, 78, 78, 513, 804);
    }
    &-50 {
        @include getScaleBgSpriteWH(894, 1500, 78, 78, 78, 329, 456);
    }
    &-100 {
        @include getScaleBgSpriteWH(894, 1500, 78, 78, 78, 331, 550);
    }
    &-200 {
        @include getScaleBgSpriteWH(894, 1500, 78, 78, 78, 206, 595);
    }
    &-300 {
        @include getScaleBgSpriteWH(894, 1500, 78, 78, 78, 420, 382);
    }
    &-400 {
        @include getScaleBgSpriteWH(894, 1500, 78, 78, 78, 425, 804);
    }
    &-500 {
        @include getScaleBgSpriteWH(894, 1500, 78, 78, 78, 544, 458);
    }
}

.chip-clone-moved {
    &.chip {
        @include transformAni(scale(.5));
    }
}

.figure-girl {
    &-1 {
        @include getScaleBgSpriteWH(1000, 359, 115, 135, 90, 14, 15);
    }
    &-2 {
        @include getScaleBgSpriteWH(1000, 359, 91, 159, 90, 241, 3);
    }
    &-3 {
        @include getScaleBgSpriteWH(1000, 359, 103, 155, 90, 475, 3);
    }
    &-4 {
        @include getScaleBgSpriteWH(1000, 359, 143, 150, 100, 123, 189);
    }
    &-5 {
        @include getScaleBgSpriteWH(1000, 359, 127, 153, 100, 398, 189);
    }
    &-6 {
        @include getScaleBgSpriteWH(1000, 359, 149, 143, 120, 781, 200);
    }
    &-7 {
        @include getScaleBgSpriteWH(1000, 359, 79, 157, 70, 867, 3);
    }
    &-8 {
        @include getScaleBgSpriteWH(1000, 359, 92, 140, 80, 661, 196);
    }
}

.figure-boy {
    &-1 {
        @include getScaleBgSpriteWH(1000, 359, 87, 155, 80, 359, 5);
    }
    &-2 {
        @include getScaleBgSpriteWH(1000, 359, 113, 155, 90, 605, 3);
    }
    &-3 {
        @include getScaleBgSpriteWH(1000, 359, 92, 149, 90, 747, 9);
    }
    &-4 {
        @include getScaleBgSpriteWH(1000, 359, 79, 159, 70, 33, 169);
    }
    &-5 {
        @include getScaleBgSpriteWH(1000, 359, 103, 154, 80, 281, 185);
    }
    &-6 {
        @include getScaleBgSpriteWH(1000, 359, 79, 158, 70, 553, 184);
    }
    &-7 {
        @include getScaleBgSpriteWH(1000, 359, 76, 156, 70, 140, 5);
    }
}

.user-hoa {
    @include getScaleBgSpriteWH(894, 1500, 96, 95, 96, 11, 429);
}

.icon-hoa-small {
    @include getScaleBgSpriteWH(894, 1500, 96, 95, 50, 11, 429);
}

.icon-wrap-user {
    @include getScaleBgSpriteWH(894, 1500, 95, 95, 95, 12, 278);
}

.icon-txt-win {
    @include getScaleBgSpriteWH(894, 1500, 83, 43, 83, 19, 381);
}

.icon-hand {
    &-left {
        @include getScaleBgSpriteWH(894, 1500, 96, 55, 35, 773, 1054);
    }
    &-right {
        @include getScaleBgSpriteWH(894, 1500, 108, 55, 40, 770, 982);
    }
}

.user-left-win {
    @include getScaleBgSpriteWH(894, 1500, 95, 95, 95, 10, 1300);
}

.user-right-win {
    @include getScaleBgSpriteWH(894, 1500, 95, 95, 95, 438, 1201);
}

.user-win {
    position: relative;
    .figure {
        position: absolute;
        top: -20px;
        left: 50%;
        z-index: 1;
        @include transformAni(translateX(-50%));
    }
    .icon-txt-win {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 2;
        @include transformAni(translateX(-50%));
    }
    &.win-big {
        .figure-girl {
            &-1 {
                @include getScaleBgSpriteWH(1000, 359, 115, 135, 70, 14, 15);
                top: 0;
            }
            &-2 {
                @include getScaleBgSpriteWH(1000, 359, 91, 159, 60, 241, 3);
            }
            &-3 {
                @include getScaleBgSpriteWH(1000, 359, 103, 155, 70, 475, 3);
            }
            &-4 {
                @include getScaleBgSpriteWH(1000, 359, 143, 150, 70, 123, 189);
                top: 0;
            }
            &-5 {
                @include getScaleBgSpriteWH(1000, 359, 127, 153, 70, 398, 189);
                top: 0;
            }
            &-6 {
                @include getScaleBgSpriteWH(1000, 359, 149, 143, 80, 781, 200);
                top: 0;
            }
            &-7 {
                @include getScaleBgSpriteWH(1000, 359, 79, 157, 60, 867, 3);
                top: -30px;
            }
            &-8 {
                @include getScaleBgSpriteWH(1000, 359, 92, 140, 50, 661, 196);
                top: 0;
            }
        }

        .figure-boy {
            &-1 {
                @include getScaleBgSpriteWH(1000, 359, 87, 155, 60, 359, 5);
            }
            &-2 {
                @include getScaleBgSpriteWH(1000, 359, 113, 155, 70, 605, 3);
            }
            &-3 {
                @include getScaleBgSpriteWH(1000, 359, 92, 149, 70, 747, 9);
            }
            &-4 {
                @include getScaleBgSpriteWH(1000, 359, 79, 159, 50, 33, 169);
            }
            &-5 {
                @include getScaleBgSpriteWH(1000, 359, 103, 154, 70, 281, 185);
            }
            &-6 {
                @include getScaleBgSpriteWH(1000, 359, 79, 158, 50, 553, 184);
            }
            &-7 {
                @include getScaleBgSpriteWH(1000, 359, 76, 156, 50, 140, 5);
            }
        }
    }
    &.win-small {
        @include getScaleBgSpriteWH(894, 1500, 95, 95, 50, 12, 278);
        .icon-txt-win {
            @include getScaleBgSpriteWH(894, 1500, 83, 43, 50, 19, 381);
        }
        .figure-girl {
            &-1 {
                @include getScaleBgSpriteWH(1000, 359, 115, 135, 40, 14, 15);
                top: 0;
            }
            &-2 {
                @include getScaleBgSpriteWH(1000, 359, 91, 159, 35, 241, 3);
                top: -13px;
            }
            &-3 {
                @include getScaleBgSpriteWH(1000, 359, 103, 155, 40, 475, 3);
                top: -12px;
            }
            &-4 {
                @include getScaleBgSpriteWH(1000, 359, 143, 150, 40, 123, 189);
                top: 0;
            }
            &-5 {
                @include getScaleBgSpriteWH(1000, 359, 127, 153, 40, 398, 189);
                top: 0;
            }
            &-6 {
                @include getScaleBgSpriteWH(1000, 359, 149, 143, 50, 781, 200);
                top: 0;
            }
            &-7 {
                @include getScaleBgSpriteWH(1000, 359, 79, 157, 30, 867, 3);
                top: -15px;
            }
            &-8 {
                @include getScaleBgSpriteWH(1000, 359, 92, 140, 30, 661, 196);
                top: 0;
            }
        }

        .figure-boy {
            &-1 {
                @include getScaleBgSpriteWH(1000, 359, 87, 155, 30, 359, 5);
                top: -5px;
            }
            &-2 {
                @include getScaleBgSpriteWH(1000, 359, 113, 155, 35, 605, 3);
                top: -5px;
            }
            &-3 {
                @include getScaleBgSpriteWH(1000, 359, 92, 149, 30, 747, 9);
                top: -6px;
            }
            &-4 {
                @include getScaleBgSpriteWH(1000, 359, 79, 159, 30, 33, 169);
                top: -10px;
            }
            &-5 {
                @include getScaleBgSpriteWH(1000, 359, 103, 154, 30, 281, 185);
                top: -5px;
            }
            &-6 {
                @include getScaleBgSpriteWH(1000, 359, 79, 158, 30, 553, 184);
                top: -10px;
            }
            &-7 {
                @include getScaleBgSpriteWH(1000, 359, 76, 156, 25, 140, 5);
                top: -5px;
            }
        }
    }
}

@keyframes zoomInZoomOut {
    0%,100% {
        -webkit-transform: scale(.95);
        transform: scale(.95)
    }

    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }
}
.icon-vstui {
    @include getScaleBgSpriteWH(894, 1500, 169, 169, 169, 458, 210);
}
#actionPlay {
    .icon-vstui {
        position: relative;
        z-index: 2;
    }
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -85px;
    -webkit-animation: zoomInZoomOut 1s infinite linear;
    animation: zoomInZoomOut 1s infinite linear;
    cursor: pointer;
    &:hover {
        opacity: .9;
    }
    &:active {
        -webkit-transform: scale(.9);
        transform: scale(.5);
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 169px;
        height: 169px;
        @include borderRadius(50%);
        z-index: 1;
        @include boxShadow(0px 0px 25px 5px rgba(255, 0, 0, 0.8));
        opacity: 0;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    &:hover {
        &:before {
            opacity: 1;
        }
    }
}
@keyframes slideAppendHis {
    0%, 100% {
        -webkit-transform: scale(.95);
        -moz-transform: scale(.95);
        -ms-transform: scale(.95);
        -o-transform: scale(.95);
        transform: scale(.95);
        opacity: .5;
    }
    50% {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1;
    }
}
@keyframes effectBalance {
    0%, 100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 1;
    }
}
.area-header {
    @include flexCenterAlign();
    padding: 7px 10px;
    position: relative;
    z-index: 2;
    .tooltipWrap {
        margin-right: 20px;
    }
    .balance {
        @include borderRadius(100px);
        @include flexCenterAlign();
        background-color: $bgBalance;
        color: #fff;
        margin-right: 20px;
        div {
            width: 200px;
            text-align: center;
            font-weight: 700;
            font-size: 20px;
            @include flexCenterCenter();
            span {
                color: $bgGamePlay;
            }
            #balance {
                color: #fff;
                margin-right: 10px;
                display: block;
                &.effectBalance {
                    -webkit-animation: effectBalance .3s linear;
                    animation: effectBalance .3s linear;
                    -webkit-animation-iteration-count: 2;
                    animation-iteration-count: 2;
                }
            }
        }
    }
    .show-history {
        flex: 1;
        @include flexNormal();
        justify-content: flex-end;
        .result-type {
            margin-right: 15px;
            @include flexNormal();
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            span {
                margin: 5px 0;
            }
        }
        .icon-person-play {
            span {
                display: block;
            }
            .icon-person {
                margin-bottom: 10px;
            }
        }
        #history-result {
            min-width: 300px;
            max-width: 310px;
            height: 60px;
            @include borderRadius(10px);
            background-color: $bgBalance;
            .history-wrap {
                height: 100%;
                padding: 0 20px;
                position: relative;
            }
            .swiper-container {
                height: 100%;
            }
            .swiper-slide {
                @include flexCenterAlign();
                .typebet-results {
                    border-left: 1px solid $bgGamePlay;
                    padding: 0 3px;
                    &:last-child {
                        border-right: 1px solid $bgGamePlay;
                    }
                    &:hover {
                        background-color: #005b7d;
                    }
                    &.appendEffect {
                        -webkit-animation: slideAppendHis .2s linear;
                        animation: slideAppendHis .2s linear;
                        -webkit-animation-iteration-count: 3;
                        animation-iteration-count: 3;
                    }
                }
                &.no-data {
                    @include flexCenterCenter();
                    color: #fff;
                    font-size: 15px;
                }
                .icon {
                    display: block;
                    margin: 3px auto;
                }
            }
            .history-button-prev,
            .history-button-next {
                position: absolute;
                top: 50%;
                margin-top: -20px;
                cursor: pointer;
            }
            .history-button-prev {
                left: 5px;
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-right: 10px solid $bgGamePlay;
                &.swiper-button-disabled {
                    border-right-color: #8a9da1;
                }
            }
            .history-button-next {
                right: 5px;
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 10px solid $bgGamePlay;
                &.swiper-button-disabled {
                    border-left-color: #8a9da1;
                }
            }
        }
    }
}
.area-game {
    overflow: hidden;
}
.area-game-play {
    margin: 0 3px;
    height: 555px;
    @include borderRadius(10px);
    background: url("#{$srcImg}bg-main.jpg");
    position: relative;
    z-index: 1;
}
@keyframes blink {
    0% { box-shadow: 1px 1px 25px 10px #daff0a; }
    50% { box-shadow: none; }
    100% { box-shadow: 1px 1px 25px 10px #daff0a; }
}

@-webkit-keyframes blink {
    0% { box-shadow: 1px 1px 25px 10px #daff0a; }
    50% { box-shadow: none; }
    100% { box-shadow: 1px 1px 25px 10px #daff0a; }
}
$size: 180px;
.user-play {
    position: absolute;
    top: 23%;
    z-index: 5;
    .block-play {
        position: relative;
        z-index: 2;
        @include flexCenterCenter();
        .typebet {
            position: absolute;
            top: 50%;
            @include transformAni(translateY(-50%));
            .icon {
                position: relative;
                z-index: 2;
                display: block;
                margin: 13px 0;
                cursor: pointer;
                -webkit-transition: transform .2s ease-in-out;
                -moz-transition: transform .2s ease-in-out;
                -ms-transition: transform .2s ease-in-out;
                -o-transition: transform .2s ease-in-out;
                transition: transform .2s ease-in-out;
                &:hover {
                    @include transformAni(scale(1.2));
                }
            }
            .effectTypeBetWin {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    @include borderRadius(50%);
                    z-index: 1;
                    -webkit-animation: blink 1.0s linear infinite;
                    -moz-animation: blink 1.0s linear infinite;
                    -ms-animation: blink 1.0s linear infinite;
                    -o-animation: blink 1.0s linear infinite;
                    animation: blink 1.0s linear infinite;
                }
            }
        }
    }
    .figure-ratio {
        width: 100%;
        text-align: center;
        .ratio {
            color: #fff;
            font-size: 20px;
            font-weight: 900;
            background-color: #000;
            display: inline-block;
            padding: 3px 15px;
            @include borderRadius(20px);
            line-height: 1;
            margin-top: 10px;
            max-width: 100px;
        }
    }
}
.user-play-left {
    left: 3px;
    .block-play {
        background-color: $bgGamePlay;
        width: $size;
        height: $size*2;
        border-bottom-right-radius: $size * 2;
        border-top-right-radius: $size * 2;
        -webkit-box-shadow: 18px 5px 17px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: 18px 5px 17px -9px rgba(0,0,0,0.75);
        box-shadow: 18px 5px 17px -9px rgba(0,0,0,0.75);
        .typebet {
            left: -47px;
        }
    }
    .figure-ratio {
        padding-left: 25px;
    }
}

@keyframes rotarHandRight{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-35deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes rotarHandLeft{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-20deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(35deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.user-play-right {
    right: 3px;
    .block-play {
        background-color: #fff;
        width: $size;
        height: $size*2;
        border-bottom-left-radius: $size * 2;
        border-top-left-radius: $size * 2;
        -webkit-box-shadow: -18px 5px 17px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: -18px 5px 17px -9px rgba(0,0,0,0.75);
        box-shadow: -18px 5px 17px -9px rgba(0,0,0,0.75);
        .typebet {
            right: -47px;
        }
    }
    .figure-ratio {
        padding-right: 40px;
    }
}
.hand-start {
    &-play {
        position: absolute;
        top: 0;
        z-index: 1;
    }
    &-left {
        left: 100px;
        @include getScaleBgSpriteWH(894, 1500, 248, 219, 248, 70, 927);
    }
    &-right {
        right: 100px;
        @include getScaleBgSpriteWH(894, 1500, 248, 218, 248, 409, 927);
    }
}
.hand-result-right {
    &-bua {
        right: 100px;
        @include getScaleBgSpriteWH(894, 1500, 248, 218, 248, 409, 927);
    }
    &-keo {
        @include getScaleBgSpriteWH(894, 1500, 137, 308, 137, 661, 338);
        transform: rotate(-60deg);
        right: 190px;
        top: -45px;
    }
    &-nap {
        @include getScaleBgSpriteWH(894, 1500, 252, 308, 252, 626, 11);
        transform: rotate(-62deg);
        right: 133px;
        top: -60px;
    }
}
.hand-result-left {
    &-bua {
        left: 100px;
        @include getScaleBgSpriteWH(894, 1500, 248, 219, 248, 70, 927);
    }
    &-keo {
        @include getScaleBgSpriteWH(894, 1500, 137, 308, 137, 684, 660);
        transform: rotate(60deg);
        left: 190px;
        top: -45px;
    }
    &-nap {
        @include getScaleBgSpriteWH(894, 1500, 252, 308, 252, 622, 1146);
        transform: rotate(62deg);
        left: 133px;
        top: -60px;
    }
}
@-webkit-keyframes spinChip {
    0%,100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spinChip {
    0%,100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes spinChipHide {
    0% {
        -webkit-transform: scale(1.05) rotate(0);
        transform: scale(1.05) rotate(0);
    }

    100% {
        -webkit-transform: scale(.9) rotate(360deg);
        transform: scale(.9) rotate(360deg);
    }
}

@-ms-keyframes spinChipHide {
    0%,100% {
        -webkit-transform: scale(1.05) rotate(0);
        transform: scale(1.05) rotate(0);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(.9) rotate(360deg);
        transform: scale(.9) rotate(360deg);
        opacity: 0
    }
}

@keyframes spinChipHide {
    0%,100% {
        -webkit-transform: scale(1.05) rotate(0);
        transform: scale(1.05) rotate(0);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(.9) rotate(360deg);
        transform: scale(.9) rotate(360deg);
        opacity: 0
    }
}

.area-footer {
    position: relative;
    z-index: 10;
    .view-his-current {
        position: relative;
        width: 30%;
        overflow: hidden;
        &.active {
            .total-money {
                background-color: $cl01;
                border-color: $cl02;
            }
            .arrow-up {
                transform: rotate(180deg);
            }
        }
        .total-money {
            color: $bgBalance;
            font-weight: 500;
            font-size: 18px;
            @include borderRadius(5px 5px 5px 15px);
            line-height: 1;
            padding: 7px 20px 4px 14px;
            cursor: pointer;
            border: 1px solid transparent;
            position: relative;
            z-index: 2;
            background-color: $bgGamePlay;
            text-align: center;
            &:hover {
                background-color: $cl01;
                border-color: $cl02;
            }
            .money-bet {
                color: #fff;
                display: inline-block;
                margin: 0 5px 0 3px;
            }
        }
        .arrow-up {
            position: absolute;
            top: 50%;
            right: 10px;
            width: 0px;
            height: 0px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 15px solid #000;
            margin-top: -7px;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            z-index: 3;
        }
        .popup-his-current {
            position: absolute;
            bottom: -170px;
            left: 0;
            z-index: 1;
            width: 100%;
            background-color: $cl03;
            @include flexNormal();
            @include borderRadius(20px 20px 0 0);
            padding: 0 5px;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            opacity: 0;
            .block-his {
                width: 33.33333%;
            }
            .item-his {
                @include flexCenterAlign();
                color: #fff;
                font-size: 12px;
                margin: 10px 0;
                .icon {
                    margin-right: 10px;
                }
            }
        }
        &.active {
            overflow: visible;
            .popup-his-current {
                opacity: 1;
                bottom: 100%;
            }
        }
    }
}

.area-chips {
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70%;
    padding: 0 50px;
    .bg-area-chips {
        position: absolute;
        bottom: 1px;
        left: 0;
        width: 100%;
        z-index: 1;
        height: 70px;
        background-color: $bgGamePlay;
        @include borderRadius(50px 0 15px 0);
    }
    .swiper-container {
        padding: 20px 0;
        z-index: 2;
        top: 5px;
        @include borderRadius(300px);
    }
    .swiper-slide {
        text-align: center;
    }
    .chip-button {
        &-next, &-prev {
            width: 0px;
            height: 0px;
            position: absolute;
            bottom: 12px;
            z-index: 5;
            outline: none;
            cursor: pointer;
        }
        &-next {
            right: 10px;
            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent;
            border-left: 25px solid white;
        }
        &-prev {
            left: 15px;
            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent;
            border-right: 25px solid white;
        }
    }
    .swiper-button-disabled {
        cursor: not-allowed;
        opacity: .5;
    }
}

.chip {
    margin: 0 4px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #333;
    &#chip-custom {
        position: relative;
        .chip-custom-input {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.6705882352941176);
            z-index: 10;
            @include borderRadius(50%);
            @include flexCenterCenter();
            flex-wrap: wrap;
            input {
                width: 75px;
                border: none;
                @include borderRadius(4px);
                font-size: 11px;
                height: 25px;
                padding: 5px;
                text-align: center;
                font-weight: 700;
            }
            .btnsChip {
                margin-top: 3px;
                a {
                    display: inline-block;
                    background-color: #bfbfbf;
                    color: #333;
                    @include borderRadius(3px);
                    text-decoration: none;
                    margin: 0 3px;
                    font-size: 11px;
                    font-weight: 700;
                    padding: 0px 5px;
                    height: 20px;
                    line-height: 20px;
                    &:hover {
                        opacity: .8;
                    }
                    &:active {
                        opacity: .95;
                    }
                    &#addChipCustom {
                        background-color: #2196F3;
                        color: #fff;
                    }
                }
            }
        }
    }
    &.chip-custom {
        cursor: default;
    }
    &.chip-custom-icon {
        .chip-custom {
            @include getScaleBgSpriteWH(894, 1500, 98, 98, 98, 9, 697);
        }
    }
    .icon {
        @include flexCenterCenter();
        font-weight: 900;
        font-size: 20px;
        z-index: 2;
        position: relative;
        &.icon-edit {
            width: 36px;
            height: 36px;
            background-position: -488px -471px;
            position: absolute;
            right: 0;
            bottom: 0;
            cursor: pointer;
            &:hover {
                opacity: .9;
            }
        }
    }
    .chip-highlight {
        display: none;
        width: 142px;
        height: 142px;
        background-position: -442px -538px;
        position: absolute;
        top: -22px;
        left: -22px;
        z-index: 1;
        -webkit-animation: spinChip 5s infinite linear;
        animation: spinChip 5s infinite linear;
    }
    &:hover,
    &.active {
        z-index: 2;
        .chip-highlight {
            display: block;
        }
    }
}

.chipEmbed {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 1;
    font-size: 23px;
    @include boxShadow(2px 2px 2px black);
    @include borderRadius(50%);
    &.chipEmbedHideGroup {
        opacity: 0;
    }
}

.typebet-person {
    position: absolute;
    bottom: 135px;
    width: 100%;
    left: 0;
    @include flexCenterCenter();
    .item-bet {
        margin: 0 25px;
        .ratio {
            background-color: #000;
            text-align: center;
            max-width: 70px;
            margin: 0 auto 20px;
            color: #fff;
            line-height: 1;
            @include borderRadius(20px);
            padding: 3px 0;
            font-weight: 900;
            font-size: 18px;
        }
        .user-hoa,
        .user-win {
            cursor: pointer;
            -webkit-transition: transform .2s ease-in-out;
            -moz-transition: transform .2s ease-in-out;
            -ms-transition: transform .2s ease-in-out;
            -o-transition: transform .2s ease-in-out;
            transition: transform .2s ease-in-out;
            &:hover {
                @include transformAni(scale(1.05));
            }
        }
        .effectTypeBetWin {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                @include borderRadius(50%);
                z-index: 1;
                -webkit-animation: blink 1.0s linear infinite;
                -moz-animation: blink 1.0s linear infinite;
                -ms-animation: blink 1.0s linear infinite;
                -o-animation: blink 1.0s linear infinite;
                animation: blink 1.0s linear infinite;
            }
        }
    }
}

.bgoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
}

@-webkit-keyframes loader {
    0% {-webkit-transform: translateX(-30px); opacity: 0;}
    25% {opacity: 1;}
    50% {-webkit-transform: translateX(30px); opacity: 0;}
    100% {opacity: 0;}
}

@-moz-keyframes loader {
    0% {-moz-transform: translateX(-30px); opacity: 0;}
    25% {opacity: 1;}
    50% {-moz-transform: translateX(30px); opacity: 0;}
    100% {opacity: 0;}
}

@-keyframes loader {
    0% {-transform: translateX(-30px); opacity: 0;}
    25% {opacity: 1;}
    50% {-transform: translateX(30px); opacity: 0;}
    100% {opacity: 0;}
}

@-ms-keyframes loader {
    0% {-ms-transform: translateX(-30px); opacity: 0;}
    25% {opacity: 1;}
    50% {-ms-transform: translateX(30px); opacity: 0;}
    100% {opacity: 0;}
}

#logo {
    position: fixed;
    width: 200px;
    margin: 0 auto 0;
    -webkit-transition: all .7s cubic-bezier(0.74, -0.41, 0.36, 1);
    -moz-transition: all .7s cubic-bezier(0.74, -0.41, 0.36, 1);
    -ms-transition: all .7s cubic-bezier(0.74, -0.41, 0.36, 1);
    -o-transition: all .7s cubic-bezier(0.74, -0.41, 0.36, 1);
    transition: all .7s cubic-bezier(0.74, -0.41, 0.36, 1);
    top: 37%;
    left: 50%;
    z-index: 2;
    @include transformAni(translateX(-50%));
    img {
        display: block;
        margin: 0 auto;
        position: relative;
        animation-iteration-count: infinite;
        animation-duration: 1.8s;
        animation-fill-mode: both;
        max-width: 100%;
    }
    &.logoMove {
        top: $topLogo;
        width: 280px;
        img {
            animation-play-state: paused;
        }
    }
}

#bgPage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("#{$srcImg}bg-loading.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    visibility: hidden;
    z-index: 1;
}

#loadingGame {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @include flexCenterCenter();
    background-color: transparent;
    z-index: 2;
    .loadingAni {
        text-align: center;
        margin-top: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        height: 20px;
        @include flexCenterCenter();
        span {
            height: 6px;
            width: 6px;
            background: #000;
            display: inline-block;
            margin: 0 9px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-animation: loader 4s infinite;
            -webkit-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
            -webkit-animation-fill-mode: both;
            -moz-animation: loader 4s infinite;
            -moz-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
            -moz-animation-fill-mode: both;
            -ms-animation: loader 4s infinite;
            -ms-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
            -ms-animation-fill-mode: both;
            animation: loader 4s infinite;
            animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
            animation-fill-mode: both;
            line-height: 100%;
        }
        .l-1 {-webkit-animation-delay: 1s;animation-delay: 1s;-ms-animation-delay: 1s;-moz-animation-delay: 1s; background-color: #03A9F4;}
        .l-2 {-webkit-animation-delay: 0.8s;animation-delay: 0.8s;-ms-animation-delay: 0.8s;-moz-animation-delay: 0.8s; background-color: #4CAF50;}
        .l-3 {-webkit-animation-delay: 0.6s;animation-delay: 0.6s;-ms-animation-delay: 0.6s;-moz-animation-delay: 0.6s; background-color: #d22d2d;}
        .l-4 {-webkit-animation-delay: 0.4s;animation-delay: 0.4s;-ms-animation-delay: 0.4s;-moz-animation-delay: 0.4s; background-color: #010e43;}
        .l-5 {-webkit-animation-delay: 0.2s;animation-delay: 0.2s;-ms-animation-delay: 0.2s;-moz-animation-delay: 0.2s; background-color: #01677c;}
        .l-6 {-webkit-animation-delay: 0;animation-delay: 0;-ms-animation-delay: 0;-moz-animation-delay: 0;}
    }
}

@-webkit-keyframes effectMoneyStatusLoss {
    0% {@include transformAni(translateY(-100px));opacity:1;}
    50% {@include transformAni(translateY(-50px));opacity:1;}
    100% {@include transformAni(translateY(0px));opacity:0;}
}
@-ms-keyframes effectMoneyStatusLoss {
    0% {@include transformAni(translateY(-100px));opacity:1;}
    50% {@include transformAni(translateY(-50px));opacity:1;}
    100% {@include transformAni(translateY(0px));opacity:0;}
}
@keyframes effectMoneyStatusLoss {
    0% {@include transformAni(translateY(-100px));opacity:1;}
    50% {@include transformAni(translateY(-50px));opacity:1;}
    100% {@include transformAni(translateY(0px));opacity:0;}
}
@-webkit-keyframes effectMoneyStatusWin {
    0% {@include transformAni(translateY(0px));opacity:1;}
    50% {@include transformAni(translateY(-50px));opacity:1;}
    100% {@include transformAni(translateY(-100px));opacity:0;}
}
@-ms-keyframes effectMoneyStatusWin {
    0% {@include transformAni(translateY(0px));opacity:1;}
    50% {@include transformAni(translateY(-50px));opacity:1;}
    100% {@include transformAni(translateY(-100px));opacity:0;}
}
@keyframes effectMoneyStatusWin {
    0% {@include transformAni(translateY(0px));opacity:1;}
    50% {@include transformAni(translateY(-50px));opacity:1;}
    100% {@include transformAni(translateY(-100px));opacity:0;}
}
#effectMoneyBet {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -999;
    display: flex;
    display: -ms-flex;
    align-items: center;
    justify-content: center;
    &.showMoneyEffectBet {
        z-index: 999999;
    }
    &.lossMoney {
        .moneyStatusBet {
            color: $colorLossMoney;
            -webkit-animation: effectMoneyStatusLoss 1s ease-out;
            animation: effectMoneyStatusLoss 1s  ease-out;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }
    }
    &.winMoney {
        .moneyStatusBet {
            color: #00ff2d;
            -webkit-animation: effectMoneyStatusWin 1.5s ease-out;
            animation: effectMoneyStatusWin 1.5s ease-out;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }
    }
    .moneyStatusBet {
        font-weight: 700;
        opacity: 0;
        position: relative;
        font-size: 115px;
        line-height: 1;
        white-space: nowrap;
    }
}

.iconTitleGuider {
    @include getScaleBgSpriteWH(894, 1500, 314, 177, 180, 288, 11);
}
.iconKeoBuaBao {
    @include getScaleBgSpriteWH(894, 1500, 100, 81, 60, 7, 1201);
}
.iconDemoKeo {
    @include getScaleBgSpriteWH(894, 1500, 96, 96, 50, 127, 1194);
}
.iconDemoBua {
    @include getScaleBgSpriteWH(894, 1500, 96, 96, 50, 232, 1194);
}
.iconDemoBao {
    @include getScaleBgSpriteWH(894, 1500, 96, 96, 50, 333, 1194);
}
.layui-layer {
    &.inforQuestion {
        overflow: visible;
        @include borderRadius(15px);
        .inner {
            padding: 5px 20px 20px;
        }
        .content {
            .tblRule {
                border: 1px dashed #949494;
                @include borderRadius(5px);
                height: 350px;
                overflow-y: scroll;
            }
            h1 {
                text-align: center;
                padding: 0;
                margin-bottom: 10px;
                font-size: 25px;
            }
            ul {
                li {
                    list-style: decimal;
                    line-height: 20px;
                    font-size: 14px;
                }
            }
            .user-win {
                display: inline-block;
            }
            .rule {
                @include flexNormal();
                border-bottom: 1px dashed #949494;
                padding: 10px 0;
                .img {
                    width: 120px;
                    @include flexCenterCenter();
                }
                .contentRule {
                    flex: 1;
                    @include flexCenterAlign();
                    >div {
                        border-right: 1px dashed #949494;
                        width: 30%;
                        height: 100%;
                        @include flexCenterAlign();
                        &:last-child {
                            border: none;
                            flex: 1;
                            padding-left: 20px;
                        }
                    }
                }
            }
        }
        .layui-layer-content {
            overflow: visible;
        }
        .iconTitleGuider {
            position: absolute;
            top: -105px;
            left: 50%;
            margin-left: -90px;
        }
        .layui-layer-title {
            border: none;
            background-color: inherit;
            text-indent: -9999px;
            @include borderRadius(15px 15px 0 0);
        }
        .layui-layer-setwin {
            padding: 0;
            width: 35px;
            height: 35px;
            @include borderRadius(50%);
            border: 1px solid #d2d2d2;
            background-color: #e0e0e0;
            @include flexCenterCenter();
            top: 10px;
            right: 10px;
            a {
                margin: 0;
                width: 14px;
                height: 14px;
            }
        }
    }
    #historyBetUser {
        height: 100%;
        position: relative;
        h1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            text-align: center;
            padding: 0;
            margin-bottom: 10px;
            font-size: 25px;
        }
    }
    .tblScroll {
        position: relative;
        padding-top: 90px;
        height: 100%;
        .titleTbl {
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            padding-right: 17px;
        }
        .content {
            overflow-y: scroll;
            height: 100%;
        }
        table, tr, td, th {
            text-align: center;
            border: 1px solid #000;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        tr {
            th {
                font-weight: 700;
                padding: 10px;
                font-size: 16px;
            }
            td, th {
                &:nth-child(1) {
                    width: 22%;
                }
                &:nth-child(2) {
                    width: 20%
                }
                &:nth-child(3) {
                    width: 25%
                }
                &:nth-child(4) {
                    width: 20%
                }
                &:nth-child(5) {
                    width: 13%
                }
            }
            td {
                padding: 0 10px;
                .detailBetUser {
                    line-height: 1;
                    margin: 10px 0;
                    text-align: left;
                    @include flexNormal();
                    justify-content: space-between;
                    .winMoney {
                        color: $bgBalance;
                        font-weight: 900;
                    }
                }
                .typebet-results {
                    padding: 5px 0;
                    span {
                        margin: 0 5px;
                    }
                }
                &.status_4 {
                    color: #152f9d;
                    font-weight: 700;
                }
                &.status_3 {
                    color: red;
                }
            }
        }
    }
    .user-hoa {
        @include getScaleBgSpriteWH(894, 1500, 96, 95, 30, 11, 429);
    }
    .user-left {
        &-win {
            @include getScaleBgSpriteWH(894, 1500, 95, 95, 30, 10, 1300);
        }
        &-keo {
            @include getScaleBgSpriteWH(894, 1500, 95, 96, 30, 121, 267);
        }
        &-bua {
            @include getScaleBgSpriteWH(894, 1500, 95, 96, 30, 121, 379);
        }
        &-nap {
            @include getScaleBgSpriteWH(894, 1500, 95, 96, 30, 121, 489);
        }
    }
    .user-right {
        &-win {
            @include getScaleBgSpriteWH(894, 1500, 95, 95, 30, 438, 1201);
        }
        &-keo {
            @include getScaleBgSpriteWH(894, 1500, 95, 96, 30, 223, 273);
        }
        &-bua {
            @include getScaleBgSpriteWH(894, 1500, 95, 96, 30, 223, 384);
        }
        &-nap {
            @include getScaleBgSpriteWH(894, 1500, 95, 96, 30, 223, 495);
        }
    }
}

@media (max-height: 768px) {
    #wrapper {
        height: 545px;
        &.wrapperMove {
            top: $topLogo+12%;
        }
    }
    #logo {
        &.logoMove {
            width: 180px;
        }
    }
    .area-game-play {
        height: 450px;
    }
    .user-play {
        top: 18%;
    }
    #actionPlay {
        top: 10%;
        &:before {
            width: 150px;
            height: 150px;
        }
    }
    .icon-vstui {
        @include getScaleBgSpriteWH(894, 1500, 169, 169, 150, 458, 210);
    }
    .typebet-person {
        bottom: 100px;
    }
}