*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
body , html {
    font-size: 14px;
    font-weight: 400;
    color: #282c35;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto",sans-serif;
    line-height: 1.2;
}
@mixin flexNormal() {
    display: flex;
    display: -ms-flex;
}

@mixin flexCenterAlign() {
    @include flexNormal();
    align-items: center;
}

@mixin flexCenterCenter() {
    @include flexNormal();
    align-items: center;
    justify-content: center;
}

@mixin flexBetween() {
    @include flexNormal();
    justify-content: space-between;
}
@mixin borderRadius($val) {
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    -o-border-radius: $val;
    -ms-border-radius: $val;
    border-radius: $val;
}
@mixin boxShadow($val) {
    -webkit-box-shadow: $val;
    -moz-box-shadow: $val;
    -o-box-shadow: $val;
    -ms-box-shadow: $val;
    box-shadow: $val;
}
@mixin transformAni($val) {
    -webkit-transform: $val;
    -moz-transform: $val;
    -o-transform: $val;
    -ms-transform: $val;
    transform: $val;
}
// args: $wReal, $hReal, $wDesire, $psXReal, $psYReal
@mixin getScaleBgSpriteWH($realBgSpriteW, $realBgSpriteH, $wReal, $hReal, $wDesire, $psXReal, $psYReal) {
    $hDesire: ($wDesire*$hReal)/$wReal;
    $bgSizeW: ($wDesire*$realBgSpriteW)/$wReal;
    $bgSizeH: ($hDesire*$realBgSpriteH)/$hReal;
    $psXDesire: ($psXReal*$bgSizeW)/$realBgSpriteW;
    $psYDesire: ($psYReal*$bgSizeH)/$realBgSpriteH;
    width: $wDesire+px;
    height: $hDesire+px;
    background-size: $bgSizeW+px $bgSizeH+px;
    background-position: -$psXDesire+px +" "+ -$psYDesire+px;
}

// args: $wReal, $hReal, $wDesire, $psXReal, $psYReal
@mixin getScaleBgSpriteFigure($realBgSpriteW, $realBgSpriteH, $wReal, $hReal, $wDesire, $psXReal, $psYReal) {
    $hDesire: ($wDesire*$hReal)/$wReal;
    $bgSizeW: ($wDesire*$realBgSpriteW)/$wReal;
    $bgSizeH: ($hDesire*$realBgSpriteH)/$hReal;
    $psXDesire: ($psXReal*$bgSizeW)/$realBgSpriteW;
    $psYDesire: ($psYReal*$bgSizeH)/$realBgSpriteH;
    width: $wDesire+px;
    height: $hDesire+px;
    background-size: $bgSizeW+px $bgSizeH+px;
    background-position: -$psXDesire+px +" "+ -$psYDesire+px;
}
$srcImg: "../images/";
.icon {
    display: inline-block;
    background-image: url("#{$srcImg}sprite.png");
    background-repeat: no-repeat;
}
.figure {
    display: inline-block;
    background-image: url("#{$srcImg}figure.png");
    background-repeat: no-repeat;
}
$bgGamePlay: #0d95b2;
$bgBalance: #003b51;
$cl01: #08758c;
$cl02: #00b2d8;
$cl03: rgba(13, 149, 178, 0.47);
$colorLossMoney: red;